/* ==================== styles reset ======================= */
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================== fonts ======================= */
/*
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";

@font-face {
	font-family: "ProximaNovaLight";
	src: url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.woff") format('woff'),
	url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
*/
body {
  color: red;
}

/* ==================== variables ======================= */
/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/
/* ==================== mixines ======================= */
/* ==================== common styles ======================= */
html {
  font-size: 10px;
  /*used for rem-units*/
}

body {
  min-width: 320px;
  overflow-x: hidden;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.flex {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  outline: none;
  border: none;
}

h2 {
  font-size: 26px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

input,
input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

::-ms-input-placeholder {
  color: #888;
}

::placeholder {
  color: #888;
}

section {
  position: relative;
  padding: 3% 0 1%;
}

.wrapper {
  position: relative;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  background: rgba(0, 0, 0, 0.7);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #372db4;
  -webkit-box-shadow: 0 1px 25px 10px #fff;
          box-shadow: 0 1px 25px 10px #fff;
  z-index: 800;
}

.header .wrapper {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 98%;
}

.header a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #b5b0f7;
  padding: 20px 30px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size: 20px;
}

.header a:hover, .header a.active {
  background: #645AE3;
}

.header a.active {
  color: #fff;
}

.header a:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
}

.nav_link {
  color: #b5b0f7;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size: 20px;
}

.nav_link:hover, .nav_link.active {
  background: #645AE3;
}

.nav_link.active {
  color: #fff;
}

nav {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -32px;
  width: 22px;
  height: 22px;
}

.about:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -64px;
  width: 21px;
  height: 22px;
}

.portfolio:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -96px;
  width: 24px;
  height: 22px;
}

.contacts:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px 0px;
  width: 21px;
  height: 22px;
}

.mob_nav_btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #372db4;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 5px;
  display: none;
  z-index: 999;
}

.mob_nav_btn span {
  display: block;
  background: #fff;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  border: none;
}

.mob_nav_btn span:before, .mob_nav_btn span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.mob_nav_btn span:before {
  top: -10px;
}

.mob_nav_btn span:after {
  top: 10px;
}

.mob_nav_container {
  position: fixed;
  width: 320px;
  min-height: 100vh;
  top: 0;
  left: -320px;
  bottom: 0;
  background: #645AE3;
  padding: 5vh 10vh;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1000;
}

.mob_nav_container.active {
  left: 0;
}

.mob_nav_container ul {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.mob_nav_container li {
  width: 100%;
}

.mob_nav_container a {
  display: block;
  width: 100%;
  padding: 25px 0;
}

.mob_nav_container a:before {
  display: none;
}

.mob_nav_container .mob_close_btn {
  position: absolute;
  font-size: 25px;
  top: 15px;
  right: 15px;
  color: #b5b0f7;
}

/* ==================== home section ======================= */
.greeting {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #35373e;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.greeting .wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.greeting h1,
.greeting h2,
.greeting h3 {
  width: 100%;
  text-align: center;
  color: #fff;
}

.greeting h1 {
  font-size: 100px;
  margin-bottom: 9vh;
  text-transform: uppercase;
}

.greeting h2 {
  font-size: 50px;
  margin-bottom: 6vh;
  text-transform: uppercase;
}

.greeting h3 {
  font-size: 30px;
}

.greeting_bg,
.greeting_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.greeting_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  z-index: -2;
}

.greeting_overlay {
  background: rgba(0, 0, 30, 0.7);
}

/* ==================== about me section ======================= */
.decor_header {
  position: relative;
  border-bottom: 2px solid #f0f0f0;
}

.decor_header:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #372db4;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.description {
  padding: 3% 0;
}

.photo {
  max-width: 220px;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.desc_text {
  padding: 0 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 300px;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.desc_text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #5a5a5a;
}

.skills_wrapper {
  padding: 3% 0 1%;
  background: #f6f6f6;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.skills_list {
  padding: 3% 0;
}

.skill_item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 48%;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  margin: 0px 12px 25px;
}

.skill_img {
  height: 60px;
  background: url(../img/skills_sprite1.png) no-repeat;
  margin: 0 auto 10px;
  display: block;
  overflow: hidden;
}

.skill_item.html_css .skill_img {
  width: 114px;
  background-position: 0 0;
}

.skill_item.js_jquery .skill_img {
  width: 138px;
  background-position: -143px 0;
}

.skill_item.gulp .skill_img {
  width: 32px;
  background-position: -303px 0;
}

.skill_item.ps .skill_img {
  width: 60px;
  background-position: -363px 0;
}

.skill_text {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

/* ==================== portfolio section ======================= */
.works_list {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 3% 0;
}

.work_wrapper {
  -webkit-box-shadow: 0 0 9px rgba(100, 100, 150, 0.8);
          box-shadow: 0 0 9px rgba(100, 100, 150, 0.8);
  width: 100%;
  max-width: 310px;
  margin: 3.8vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work_item {
  position: relative;
  display: block;
  max-width: 100%;
  min-height: 380px;
  -webkit-box-shadow: inset 0 -12px 15px #fff;
          box-shadow: inset 0 -12px 15px #fff;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  font-weight: 700;
  overflow: hidden;
}

.work_item:hover .work_item_bg {
  left: 0;
}

.work_item p a {
  color: #0ff;
  text-decoration: underline;
}

.work_item .accent {
  text-decoration: underline;
}

.bargain {
  background-image: url(../img/previews/bargain_prev.jpg);
}

.bikeclub {
  background-image: url(../img/previews/bikeclub_prev.jpg);
}

.bars {
  background-image: url(../img/previews/bars_prev.jpg);
}

.aditii {
  background-image: url(../img/previews/aditii_prev.jpg);
}

.newyear {
  background-image: url(../img/previews/newyear_prev.jpg);
}

.cat {
  background-image: url(../img/previews/grumpycat_prev.jpg);
}

.shopy {
  background-image: url(../img/previews/shopy_prev.jpg);
}

.onetwothree {
  background-image: url(../img/previews/onetwothree_prev.jpg);
}

.tanatos {
  background-image: url(../img/previews/tanatos_prev.jpg);
}

.work_item_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: rgba(55, 45, 180, 0.8);
  padding: 15% 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.work_open_btn {
  display: inline;
  border: 3px solid rgba(255, 255, 255, 0.7);
  background: transparent;
  padding: 10px 40px 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.work_open_btn:hover {
  border-color: white;
}

.work_item_mob {
  display: none;
  border-top: 2px solid #fff;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5%;
  background: rgba(55, 45, 180, 0.8);
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}

.work_item_mob p {
  margin-bottom: 5%;
}

.work_item_mob p a {
  color: #0ff;
}

.work_open_btn_mob {
  display: block;
  margin: 0 auto;
  padding: 7px 25px;
  width: 80%;
  max-width: 170px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

/* ==================== contacts section ======================= */
.contacts-section {
  padding-bottom: 0;
}

.contacts_list_container {
  padding: 3% 0;
}

.contacts_list_container h3 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3%;
}

.contacts_wrapper {
  background: #f6f6f6;
  padding-top: 3%;
}

.contacts_list li {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contacts_list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 18px;
}

.contacts_list a span {
  font-weight: 700;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contacts_list a span:hover {
  border-bottom-color: #5a5a5a;
}

.contacts_list a:before {
  content: "";
  display: inline-block;
  margin-right: 2%;
  width: 40px;
  height: 40px;
  background-image: url(../img/contacts.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.vk:before {
  background-position: 0 0;
}

.fb:before {
  background-position: 0 -45px;
}

.mail:before {
  background-position: 0 -135px;
}

.skype:before {
  background-position: 0 -90px;
}

/* ==================== footer ======================= */
.footer {
  background: #372db4;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.footer p {
  padding: 2% 0;
}

/* ==================== Addictional styles ======================= */
/* ==================== Media queries ======================= */
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .greeting h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1024px) {
  .header .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .desktop_nav a {
    font-size: 14px;
  }
  .work_item_bg {
    display: none;
  }
  .work_item_mob {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .greeting_bg {
    background-image: url(../img/bg_md.jpg);
  }
  .contacts_list li {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .shopy_wrapper {
    display: none !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .home {
    padding-top: 0;
  }
  .header {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .desktop_nav {
    display: none;
  }
  .mob_nav_btn {
    display: block;
  }
  .greeting h1 {
    font-size: 55px;
  }
  .greeting h2 {
    font-size: 35px;
  }
  .greeting h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .greeting h1 {
    font-size: 45px;
  }
  .greeting h2 {
    font-size: 30px;
  }
  .description {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desc_text {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .desc_text p {
    font-size: 15px;
    line-height: 1.5;
  }
  .skill_text {
    font-size: 18px;
  }
  .contacts_list a {
    font-size: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {
  .skill_text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .greeting h1 {
    font-size: 35px;
  }
  .greeting h2 {
    font-size: 23px;
  }
  .greeting h3 {
    font-size: 18px;
  }
  .greeting_bg {
    background-image: url(../img/bg1_sm.jpg);
  }
}

@media only screen and (max-width: 400px) {
  .skill_text {
    font-size: 15px;
  }
  .contacts_list a {
    font-size: 12px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .greeting h1 {
    font-size: 25px;
  }
  .greeting h2 {
    font-size: 20px;
  }
  .greeting h3 {
    font-size: 17px;
  }
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .greeting_bg {
    background-image: url(../img/bg1.jpg);
  }
}

/* Large Devices, Wide Screens */

/*# sourceMappingURL=main.css.map */
