/*-------------------------------
preloader
--------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  overflow: hidden;
  z-index: 999;
}

.loader_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 60px;
}

.loader_line_wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  overflow: hidden;
  -webkit-animation: preloader_anim 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  animation: preloader_anim 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.loader_line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  border-radius: 100%;
  margin: 0 auto;
}

.loader_line_wrap:nth-child(1) {
  -webkit-animation-delay: -50ms;
  animation-delay: -50ms;
}

.loader_line_wrap:nth-child(2) {
  -webkit-animation-delay: -100ms;
  animation-delay: -100ms;
}

.loader_line_wrap:nth-child(3) {
  -webkit-animation-delay: -150ms;
  animation-delay: -150ms;
}

.loader_line_wrap:nth-child(4) {
  -webkit-animation-delay: -200ms;
  animation-delay: -200ms;
}

.loader_line_wrap:nth-child(5) {
  -webkit-animation-delay: -250ms;
  animation-delay: -250ms;
}

.loader_line_wrap:nth-child(1) .loader_line {
  border-color: #9D0F17;
  height: 90px;
  width: 90px;
  top: 7px;
}

.loader_line_wrap:nth-child(2) .loader_line {
  border-color: #E4B200;
  height: 76px;
  width: 76px;
  top: 14px;
}

.loader_line_wrap:nth-child(3) .loader_line {
  border-color: #00912C;
  height: 62px;
  width: 62px;
  top: 21px;
}

.loader_line_wrap:nth-child(4) .loader_line {
  border-color: #00BCDB;
  height: 48px;
  width: 48px;
  top: 28px;
}

.loader_line_wrap:nth-child(5) .loader_line {
  border-color: #0000FF;
  height: 34px;
  width: 34px;
  top: 35px;
}

@-webkit-keyframes preloader_anim {
  0%, 15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes preloader_anim {
  0%, 15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*-------------------------------
scss variables
--------------------------------*/
/*-------------------------------
reset and common styles
--------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  /*used for rem-units*/
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: HelveticaNeueCyr, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.hidden {
  display: none;
}

.clear {
  width: 0;
  height: 0;
  display: block;
  position: relative;
  clear: both;
}

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section {
  position: relative;
}

.wrapper {
  position: relative;
  max-width: 990px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 100%;
}

h1 {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

h1 span {
  text-transform: uppercase;
}

h2 {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
}

img {
  outline: none;
  border: none;
}

p {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 18px;
  line-height: 21.4px;
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #656565;
}

::-moz-placeholder {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #656565;
}

:-ms-input-placeholder {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #656565;
}

::placeholder {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #656565;
}

input[type="submit"],
.order-form-button,
.alt-order-btn {
  display: block;
  margin: 0.6rem auto 0;
  padding: 5.8%;
  outline: none;
  border: none;
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #fff;
  background: url(../img/bg-red.jpg) 50% 50%/cover;
  cursor: pointer;
}

input[type="submit"]:hover,
.order-form-button:hover,
.alt-order-btn:hover {
  -webkit-box-shadow: 0 0 3px 2px #f00;
  box-shadow: 0 0 3px 2px #c00;
}

#to-top {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 35px;
  color: #fc0;
  background-color: rgba(4, 50, 99, 0.5);
  border: 2px solid #fc0;
  outline: none;
  border-radius: 3px;
  padding: 0px 5px;
  cursor: pointer;
}

/*-------------------------------
header
--------------------------------*/
header {
  padding-top: 10px;
}

.logo {
  width: 8.2rem;
  height: 8rem;
  background: url(../img/logo.png) no-repeat 50% 50%/contain;
}

header .flex {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

header h1 {
  text-align: center;
  margin: 0 2.6rem;
}

.phone-cont {
  color: #333;
  font-size: 3rem;
}

.phone-cont img {
  vertical-align: sub;
  margin-right: 5px;
}

.phone-cont span {
  font-weight: 900;
}

.phone-cont button {
  width: 100%;
  height: 35px;
  font-size: 2.2rem;
  font-family: HelveticaNeueCyr, sans-serif;
  color: #fff;
  background: #090;
  cursor: pointer;
  border: 0;
  margin-top: 15px;
}

.phone-cont button:hover {
  -webkit-box-shadow: 0px 0px 3px 2px #0f0;
  box-shadow: 0px 0px 3px 2px #0f0;
}

/*-------------------------------
form-section
--------------------------------*/
.form-section {
  margin-top: 1rem;
  background: url(../img/bg-gray.jpg) repeat;
}

.form-section > .flex {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.form-section .pic-container {
  position: relative;
  width: 63.4%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 540px;
  -ms-flex: 1 540px;
  flex: 1 540px;
  margin-top: 1.3rem;
}

.form-section .pic-container > img {
  vertical-align: bottom;
}

.form-section img {
  max-width: 100%;
}

.form-section .change-price {
  visibility: hidden;
  position: absolute;
  bottom: 74%;
  left: 29.2%;
  width: 12.7rem;
  height: 12.7rem;
  border-radius: 50%;
  background: url(../img/bg-yellow.jpg) repeat;
}

.form-section .old-price {
  color: #333;
  font-size: 2.2rem;
  margin: 29% 0 5%;
  width: 100%;
  text-align: center;
}

.form-section .old-price span {
  text-decoration: line-through;
}

.form-section .new-price {
  color: #cb0000;
  font-size: 3rem;
  font-family: HelveticaNeueCyrBold, sans-serif;
  width: 100%;
  text-align: center;
}

.form-section .rotate {
  position: absolute;
  bottom: 6.2%;
  left: 0;
  width: 50%;
}

.form-section .rotate img {
  float: left;
  margin: 9px 18px 0 0;
}

.form-section .rotate div {
  color: #333;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-left: 10px;
}

.form-section .rotate div span {
  font-weight: 900;
}

.form-section .form-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 36.4%;
  -ms-flex: 1 36.4%;
  flex: 1 36.4%;
  max-width: 350px;
  min-width: 250px;
  padding: 2rem 0 1rem;
}

.form-section .catch {
  padding: 8px 8px 7px;
  background: url(../img/bg-yellow.jpg);
}

.form-section .catch h3 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.form-section .catch div {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.form-section form {
  background: #fff;
  padding: 12px;
}

.form-section input[type="text"],
.form-section input[type="phone"],
.form-section input[type="email"] {
  display: block;
  width: 100%;
  margin: 0 auto 12px;
  padding: 0.8rem 1.2rem;
  font-size: 18px;
  background: #f5f5f5;
}

.form-section .options-container {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.form-section label {
  width: calc(100% - 28px);
  float: left;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.form-section .label {
  font-size: 14px;
  color: #656565;
  display: inline-block;
  vertical-align: middle;
}

.form-section .label span {
  color: #900;
}

.form-section .checkbox {
  display: none;
}

.form-section .checkbox-custom {
  position: relative;
  display: inline-block;
  margin-right: 11px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.form-section .checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #900;
}

.form-section .space {
  height: 10px;
}

.form-section .action {
  position: relative;
  width: 28%;
  padding: 1.5rem;
  background: #fccd0f;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-section .action h4 {
  color: #000;
  font-family: HelveticaNeueCyrBold, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.form-section .action .disc {
  color: #000;
  font-size: 18px;
  margin-bottom: 0.6rem;
}

.form-section .action .perc {
  color: #980000;
  font-family: HelveticaNeueCyrBold, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.form-section .action-container {
  margin-top: 2rem;
}

.form-section .action:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  border-bottom-color: #fccd0f;
  border-width: 12px;
  margin-left: -12px;
}

.form-section .countdown {
  width: 71.9%;
  min-height: 10rem;
  background: #fff;
  float: right;
}

/*-------------------------------
features-section
--------------------------------*/
.features-section {
  background: url(../img/bg-blue.jpg) repeat;
}

.features-section .wrapper.flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1.4rem;
}

.features-section .feature {
  margin-bottom: 2.7rem;
  padding: 0 5px;
  -webkit-flex-basis: 320px;
  -ms-flex-preferred-size: 310px;
  flex-basis: 320px;
}

.features-section .feature-img {
  width: 120px;
  height: 80px;
  margin: 0 auto;
  background: url(../img/sprite.png) no-repeat;
  background-size: cover;
}

.features-section .satisfied .feature-img {
  background-position: 0 0;
}

.features-section .load .feature-img {
  background-position: 15.7% 0;
}

.features-section .warranty .feature-img {
  background-position: 33.4% 0;
}

.features-section .return .feature-img {
  background-position: 52.6% 0;
}

.features-section .delivery .feature-img {
  background-position: 74.5% 0;
}

.features-section .installation .feature-img {
  background-position: 95.6% 0;
}

.features-section h3 {
  color: #fff;
  font-family: HelveticaNeueCyrBold, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.2rem;
}

.features-section h3 span {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/*-------------------------------
specifications-section
--------------------------------*/
.specifications-section {
  padding: 4.8rem 0 2.9rem;
  background: url(../img/bg-gray.jpg) repeat;
}

.specifications-section h2 {
  margin-bottom: 4.4rem;
}

.specif-container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pics-container {
  max-width: 100%;
  /*overflow: hidden;*/
}

.char-price {
  position: relative;
  padding-left: 1.5rem;
  background: url(../img/bg-blue.jpg) repeat;
  font-size: 2.2rem;
  height: 6rem;
  line-height: 6rem;
  color: #fff;
  overflow: hidden;
}

.char-price .char-change span {
  display: inline-block;
}

.char-price .char-pr,
.char-price .char-new-price {
  font-family: HelveticaNeueCyrBold, sans-serif;
}

.char-price .char-old-price {
  text-decoration: line-through;
}

.char-price .char-new-price {
  font-size: 3rem;
}

.char-disc {
  position: absolute;
  right: -2px;
  top: 0;
  text-align: right;
  padding: 0 1.7rem 0 1rem;
  background: url(../img/yellow-angle.png) no-repeat;
  background-size: auto 100%;
  font-family: HelveticaNeueCyrBold, sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.big-pic-box {
  max-width: 410px;
  max-height: 273px;
  margin-bottom: 6px;
}

.big-pic-box .big-pic-item {
  outline: none;
}

.big-pic-box img {
  max-width: 100%;
  cursor: pointer;
}

.nav-pic-item {
  display: inline-block;
  width: 17% !important;
  outline: none;
  margin: 5px 1.5% 10px;
}

.nav-pic-item:last-child {
  margin-right: 0;
}

.nav-pic-item img {
  width: 100%;
  cursor: pointer;
}

.param-box {
  padding: 0 4.5%;
}

.param-box h3 {
  font-size: 2.4rem;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin-bottom: 2.33rem;
}

.param-box ul {
  font-size: 18px;
  margin-bottom: 2.6rem;
}

.param-box li {
  line-height: 22px;
}

.param-box li:before {
  content: "-";
  padding-right: 5px;
}

/*-------------------------------
order-section
--------------------------------*/
.order-section {
  background: url(../img/bg-yellow.jpg) repeat;
}

.order-form-container {
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -9px;
}

.order-form-container::before {
  content: "";
  position: absolute;
  bottom: 98%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 2.7rem;
  height: 1rem;
  background: url(../img/angle.png) no-repeat 50% 50%;
}

.order-form-container input {
  margin: 2rem 0.9rem;
  padding: 1.2rem 1.5rem;
  line-height: 1rem;
  min-width: 220px;
}

.order-form-container input[type="submit"],
.order-form-container .alt-order-btn {
  height: 6rem;
  text-align: center;
  margin: 2rem 0.9rem;
  padding: 1.2rem 1.5rem;
  line-height: 3.6rem;
  min-width: 220px;
}

/*-------------------------------
description-section
--------------------------------*/
.description-section {
  background: url(../img/bg-blue.jpg) repeat;
  color: #fff;
  padding: 4.6rem 0 3.1rem;
}

.description-section h2 {
  margin-bottom: 4.6rem;
}

/*-------------------------------
accompany-section
--------------------------------*/
.accompany-section {
  padding: 4.7rem 0 2.2rem;
  background: url(../img/bg-gray.jpg) repeat;
}

.accompany-section .accomp-item {
  margin-bottom: 3rem;
}

.accompany-section h2 {
  margin-bottom: 5rem;
}

.accompany-section .accomp-item-img {
  position: relative;
  -webkit-flex-basis: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  height: 225px;
  background-size: cover;
}

.accompany-section .accomp-item-img.hooks-img {
  background: url(../img/hooks.jpg) no-repeat;
}

.accompany-section .accomp-item-img.loops-img {
  background: url(../img/loops.jpg) no-repeat;
}

.accompany-section .accomp-item-img h4 {
  position: absolute;
  top: 0;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: center;
  width: 100%;
  color: #fff;
  background: #333;
}

.accompany-section .accomp-item-text {
  -webkit-flex-basis: 620px;
  -ms-flex-preferred-size: 620px;
  flex-basis: 640px;
  padding-left: 1.9rem;
}

.accompany-section .accomp-item-text b {
  font-family: HelveticaNeueCyrBold, sans-serif;
}

.accompany-section .accomp-item-text li {
  font-size: 18px;
  line-height: 22px;
}

.accompany-section .accomp-item-text li:before {
  content: "-";
  margin-right: 5px;
}

.accompany-section p {
  margin: -3px 0 0;
  line-height: 22px;
}

/*-------------------------------
.video-section
--------------------------------*/
.video-section {
  padding: 4.6rem 0 3.5rem;
  background: url(../img/bg-dark.jpg) repeat;
}

.video-section h2 {
  color: #fff;
  margin-bottom: 5.4rem;
}

.video-container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pullups-img {
  -webkit-flex-basis: 430px;
  -ms-flex-preferred-size: 430px;
  flex-basis: 430px;
  min-width: 300px;
  min-height: 350px;
  background: url(../img/pullups.png) no-repeat;
  background-size: 100% auto;
  opacity: 0.7;
}

.videos {
  /*margin-left: 1rem;*/
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 480px;
  overflow: hidden;
}

.video-item {
  margin-bottom: 4.6rem;
  max-width: 100%;
}

.video-item h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 3rem;
}

.video-screen {
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 30px;*/
  height: 0;
  overflow: hidden;
}

.video-screen iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------------
testimonials-section
--------------------------------*/
.testimonials-section {
  padding: 4.7rem 0 3.7rem;
  background: url(../img/bg-gray.jpg) repeat;
  color: #333;
}

.testimonials-section h2 {
  margin-bottom: 4.2rem;
}

.testimonials-section p {
  font-family: HelveticaNeueCyrLightItalic, sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}

.testimonials-section p.sign {
  font-family: HelveticaNeueCyr, sans-serif;
  text-align: right;
}

.testimonials-section p.sign a {
  color: #036;
}

.testimonials-section p b {
  font-family: HelveticaNeueCyrBold, sans-serif;
}

.testimonials-section img {
  width: 130px;
  height: 130px;
}

.testimonials-section .testim-item {
  margin-bottom: 3rem;
}

.testimonials-section .testim-item:nth-child(even) img {
  float: left;
  margin-right: 17px;
}

.testimonials-section .testim-item:nth-child(odd) img {
  float: right;
  margin-left: 17px;
}

/*-------------------------------
before-after-section
--------------------------------*/
.before-after-section {
  padding: 4.7rem 0 2.5rem;
  background: url(../img/bg-blue.jpg) repeat;
  color: #fff;
}

.before-after-section h2 {
  margin-bottom: 2.6rem;
}

.changes-pics-container {
  max-width: 825px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.changes-item {
  position: relative;
  margin: 2.8%;
  max-width: 43.9%;
}

.changes-item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.changes-item img {
  max-width: 100%;
}

.changes-item .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.capt-bef,
.capt-aft {
  width: 49.9%;
  font-size: 24px;
  text-align: center;
  line-height: 207%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.capt-bef {
  color: #ffe400;
  background: #333;
}

.capt-aft {
  color: #333;
  background: #ffe400;
}

/*-------------------------------
footer-form-section
--------------------------------*/
.footer-form-section .pic-container {
  margin-top: 0;
}

.footer-form-section .form-container {
  padding: 1rem 0;
}

/*-------------------------------
callback-section
--------------------------------*/
.callback-section {
  background: #fff;
  padding: 1rem 0;
}

.callback-section > .wrapper {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.callback-section h3 {
  font-size: 2.4rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

.callback-section h4 {
  font-size: 2.4rem;
  color: #333;
}

/*-------------------------------
.modals
--------------------------------*/
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 5, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

.callback,
.order-modal {
  padding: 0.8rem;
  width: 300px;
  position: fixed;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 910;
}

.callback {
  background: #090;
}

.callback input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 0.8rem;
}

.callback input[type="submit"] {
  outline: 1px solid #fff;
  background: #090;
  margin: 15px 0;
}

.callback input[type="submit"]:hover {
  text-decoration: underline;
}

.callback button.callback-close {
  display: block;
  margin: 0 auto;
  color: #050;
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.callback button.callback-close:hover {
  text-decoration: underline;
}

.order-modal {
  background: url(../img/bg-red.jpg);
}

.order-modal div {
  width: 100%;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.order-modal button {
  margin: 0.5rem;
  -webkit-flex-basis: 130px;
  -ms-flex-preferred-size: 130px;
  flex-basis: 100px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  line-height: 3rem;
  color: #fff;
  background: url(../img/bg-red.jpg) repeat;
  border: none;
  outline: 1px solid #fff;
  cursor: pointer;
}

.order-modal button:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */