
/* ==================== common styles ======================= */


html {
  font-size: 10px;
  /*used for rem-units*/
}

body {
  min-width: 320px;
  overflow-x: hidden;
  color: #000;
  font-family: $fontRegular;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}



.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.flex {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color:#000;
}

img {
  outline: none;
  border: none;
}

h2 {
  font-size: 26px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

input,
input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

::placeholder {
  color: #888;
}

section {
  position: relative;
  padding: 3% 0 1%;
}

.wrapper {
  position: relative;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  background: rgba(0,0,0,.7);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $colorBrightBg;
  box-shadow: 0 1px 25px 10px #fff;
  z-index: 800;
  .wrapper {
    justify-content: flex-end;
    max-width: 98%;
  }
  a {
    display: inline-flex;
    align-items: flex-end;
    color: $colorFontLight;
    padding: 20px 30px;
    font-family: $fontRegular;
    transition: 1s;
    font-size: 20px;
    &:hover,
    &.active {
      background: $colorLightBg;
    }
    &.active {
      color: $colorFontLightActive;
    }
    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
    }

  }
}

.nav_link {
  color: $colorFontLight;
  font-family: $fontRegular;
  transition: 1s;
  font-size: 20px;
  &:hover,
  &.active {
    background: $colorLightBg;
  }
  &.active {
    color: $colorFontLightActive;
  }
}

nav {
  justify-content: flex-end;
}

.home {
  &:before {
    @include sprite($s-home);
  }
}

.about {
  &:before {
    @include sprite($s-person);
  }
}

.portfolio {
  &:before {
    @include sprite($s-portfolio);
  }
}

.contacts {
  &:before {
    @include sprite($s-contact);
  }
}

.mob_nav_btn {
  //float: right;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: $colorBrightBg;
  border: 1px solid #fff;
  //border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  display: none;
  z-index: 999;
  span {
    display: block;
    background: #fff;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    border: none;
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
    }
    &:before {
      top: -10px;
    }
    &:after {
      top: 10px;
    }
  }
}

.mob_nav_container {
  position: fixed;
  width: 320px;
  min-height: 100vh;
  top: 0;
  left: -320px;
  bottom: 0;
  background: $colorLightBg;
  padding: 5vh 10vh;
  transition: 0.3s;
  z-index: 1000;
  &.active {
    left: 0;
  }
  ul {
    align-content: center;
  }
  li {
    width: 100%;
  }
  a {
    display: block;
    width: 100%;
    padding: 25px 0;
    &:before {
      display: none;
    }
  }
  .mob_close_btn {
    position: absolute;
    font-size: 25px;
    top: 15px;
    right: 15px;
    color: $colorFontLight;
  }
}

/* ==================== home section ======================= */

.greeting {
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #35373e;
  font-family: $fontRegular;
  min-height: 100vh;
  .wrapper {
    justify-content: center;
  }
  h1,
  h2,
  h3 {
    width: 100%;
    text-align: center;
    color: #fff;
  }
  h1 {
    font-size: 100px;
    margin-bottom: 9vh;
    text-transform: uppercase;
  }
  h2 {
    font-size: 50px;
    margin-bottom: 6vh;
    text-transform: uppercase;
  }
  h3 {
    font-size: 30px;
  }
}

.greeting_bg,
.greeting_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.greeting_bg {

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  z-index: -2;
}

.greeting_overlay {
  background: rgba(0, 0, 30, 0.7);
}
/* ==================== about me section ======================= */

.decor_header {
  position: relative;
  border-bottom: 2px solid $colorMiddleGray;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $colorBrightBg;
    bottom: -16px;
    left: 50%;
    transform: translateY(-50%);
  }
}

.description {
  padding: 3% 0;
}

.photo {
  max-width: 220px;
  flex: 0;
}

.desc_text {
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  flex: 1 1 300px;
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: $colorDarkGray;
  }
}

.skills_wrapper {
  padding: 3% 0 1%;
  background: $colorLightGray;
  justify-content: space-around;
}

.skills_list {
  padding: 3% 0;
}

.skill_item {
  flex: 1 1 48%;
  margin: 0px 12px 25px;

}

.skill_img {
  height: 60px;
  background: url(../img/skills_sprite1.png) no-repeat;
  margin: 0 auto 10px;
  display: block;
  overflow: hidden;
}

.skill_item.html_css {
  .skill_img {
    width: 114px;    background-position: 0 0;
  }
}

.skill_item.js_jquery {
  .skill_img {
    width: 138px;
    background-position: -143px 0;
  }
}

.skill_item.gulp {
  .skill_img {
    width: 32px;
    background-position: -303px 0;
  }
}

.skill_item.ps {
  .skill_img {
    width: 60px;
    background-position: -363px 0;
  }
}

.skill_text {
  font-family: $fontRegular;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

/* ==================== portfolio section ======================= */
.works_list {
  justify-content: space-around;
  padding: 3% 0;
}

.work_wrapper {
  box-shadow: 0 0 9px rgba(100,100,150, 0.8);
  width: 100%;
  max-width: 310px;
  margin: 3.8vh;
  overflow: hidden;
  flex-direction: column;
}

.work_item {
  position: relative;
  display: block;
  max-width: 100%;
  min-height: 380px;
  box-shadow: inset 0 -12px 15px #fff;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  font-weight: 700;
  overflow: hidden;
  &:hover {
    .work_item_bg {
      left: 0;
    }
  }
  p a {
    color: #0ff;
    text-decoration: underline;
  }
  .accent {
    text-decoration: underline;
  }
}

.bargain {
  background-image: url(../img/previews/bargain_prev.jpg);
}

.bikeclub {
  background-image: url(../img/previews/bikeclub_prev.jpg);
}

.bars {
  background-image: url(../img/previews/bars_prev.jpg);
}

.aditii {
  background-image: url(../img/previews/aditii_prev.jpg);
}

.newyear {
  background-image: url(../img/previews/newyear_prev.jpg);
}

.cat {
  background-image: url(../img/previews/grumpycat_prev.jpg);
}

.shopy {
  background-image: url(../img/previews/shopy_prev.jpg);
}

.onetwothree {
  background-image: url(../img/previews/onetwothree_prev.jpg);
}

.tanatos {
  background-image: url(../img/previews/tanatos_prev.jpg);
}

.work_item_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: rgba(55,45,180, 0.8);
  padding: 15% 10%;
  justify-content: center;
  align-content: space-between;
  transition: .2s;
}

.work_open_btn {
  display: inline;
  border: 3px solid rgba(255,255,255, 0.7);
  background: transparent;
  padding: 10px 40px 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
  &:hover {
    border-color: rgba(255,255,255, 1);
  }
}

.work_item_mob {
  display: none;
  border-top: 2px solid #fff;
  flex-grow: 1;
  padding: 5%;
  background: rgba(55,45,180, 0.8);
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  align-content: space-between;

  p {
    margin-bottom: 5%;
  }
  p a {
    color: #0ff;
  }
}

.work_open_btn_mob {
  display: block;
  margin: 0 auto;
  padding: 7px 25px;
  width: 80%;
  max-width: 170px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

/* ==================== contacts section ======================= */
.contacts-section {
  padding-bottom: 0;
}

.contacts_list_container {
  padding: 3% 0;
  h3 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3%;
  }
}

.contacts_wrapper {
  background: $colorLightGray;
  padding-top: 3%;
}

.contacts_list {
  li {
    flex-basis: 50%;
    flex-grow: 1;
  }
  a {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    span {
      font-weight: 700;
      border: 2px solid transparent;
      transition: 0.3s;
      &:hover {
        border-bottom-color: $colorDarkGray;
      }
    }
    &:before {
      content: "";
      display: inline-block;
      margin-right: 2%;
      width: 40px;
      height: 40px;
      background-image: url(../img/contacts.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
}

.vk:before {
  background-position: 0 0;
}

.fb:before {
  background-position: 0 -45px;
}

.mail:before {
  background-position: 0 -135px;
}

.skype:before {
  background-position: 0 -90px;
}

/* ==================== footer ======================= */

.footer {
  background: $colorBrightBg;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  p {
    padding: 2% 0;
  }
}
