    $s-contact: 0px 0px 0px 0px 21px 22px 24px 118px 'sprite.png';
    $s-home: 0px 32px 0px -32px 22px 22px 24px 118px 'sprite.png';
    $s-person: 0px 64px 0px -64px 21px 22px 24px 118px 'sprite.png';
    $s-portfolio: 0px 96px 0px -96px 24px 22px 24px 118px 'sprite.png';
