
/* ==================== variables ======================= */

/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/

$colorBrightBg: #372db4;
$colorLightBg: #645AE3;
$colorFontLight: #b5b0f7;
$colorFontLightActive: #fff;
$colorDarkGray: #5a5a5a;
$colorMiddleGray: #f0f0f0;
$colorLightGray: #f6f6f6;


$fontRegular: 'Montserrat', sans-serif;
