/*-------------------------------
reset and common styles
--------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------
common styles
--------------------------------*/

html {
	font-size: 10px;
	/*used for rem-units*/
}

body {
	min-width: 320px;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.hidden {
	display: none;
}

.clear {
	width: 0;
	height: 0;
	display: block;
	position: relative;
	clear: both;
}

.flex {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

img,
input,
textarea {
	outline: none;
	border: none;
}

::-webkit-input-placeholder {
	font-size: 18px;
	color: #888;
}

:-ms-input-placeholder {
	font-size: 18px;
	color: #888;
}

::-moz-placeholder {
	font-size: 18px;
	color: #888;
}

::placeholder {
	font-size: 18px;
	color: #888;
}

section {
	position: relative;
	overflow: hidden;
}

.wrapper {
	position: relative;
	max-width: 1170px;
	padding: 0 15px;
	/*1140px*/
	margin: 0 auto;
	height: 100%;
}

#to-top {
	position: fixed;
	right: 10px;
	bottom: 20px;
	font-size: 3rem;
	color: #fff;
	background-color: rgba(59, 67, 76, 0.9);
	border: 2px solid #fff;
	outline: 0;
	border-radius: 10px;
	padding: 0rem 0.8rem;
	cursor: pointer;
}

/*-------------------------------

--------------------------------*/
body {
	background: #84dbd7;
	overflow: hidden;
}

.h_half, .v_half {
	position: absolute;
	background: red;
}

.h_half {
	height: 1px;
	width: 100%;
}

.v_half {
	height: 100%;
	width: 1px;
}

.scene {
	border: 5px solid lime;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 100px solid #342a2a;
	overflow: hidden;
	height: 800px;
}

.scene>div {
	position: absolute;
	bottom: 0;
}

.ground {
	width: 100%;
	height: 30px;
	background: #1d1818;
	z-index: 999;
}

.scene div.clouds {
	width: 895px;
	left: 50%;
	margin-left: -447px;
	height: 340px;
	bottom: 250px;
	background: url(../img/clouds.png) no-repeat 50% 50%;
}

.scene div.trees {
	width: 908px;
	height: 174px;
	background: url(../img/trees.png);
	z-index: 100;
	left: 50%;
	bottom: 20px;
	margin-left: -454px;
}

.scene div.grass {
	width: 964px;
	height: 350px;
	left: 50%;
	bottom: 20px;
	margin-left: -482px;
	background: url(../img/grass.png);
	z-index: 200;
}

.scene div.buildings {
	width: 793px;
	height: 303px;
	left: 50%;
	margin-left: -400px;
	background: url(../img/buildings.png);
}


