/* ==================== styles reset ======================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================== fonts ======================= */
@font-face {
  font-family: "AcromRegular";
  src: url("../fonts/acrom/Acrom-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AcromMedium";
  src: url("../fonts/acrom/Acrom-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AcromExtrabold";
  src: url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

/* ==================== common styles ======================= */
html {
  font-size: 10px;
  /*used for rem-units*/
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  color: #000;
  font-family: "AcromRegular", sans-serif;
  font-size: 15px;
  line-height: 1.67;
  padding-top: 116px;
}

.pattern {
  background-image: url(../img/common/pattern.png);
  background-repeat: repeat;
}

.common-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 50, 0.2);
  z-index: 10;
}

.z-reduced {
  z-index: 9 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  white-space: nowrap;
}

button {
  display: inline-block;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

input[type="file"] {
  display: none;
}

img,
input,
input:focus {
  outline: none;
  border: none;
}

input::-ms-clear,
textarea::-ms-clear {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  display: block;
  resize: vertical;
  height: 50px;
  min-height: 50px;
  max-height: 300px;
  line-height: 1.1;
  overflow: hidden;
  border: none;
  outline: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

textarea:focus {
  height: 120px;
}

section {
  position: relative;
  padding: 55px 0 55px;
}

b,
strong {
  font-family: "AcromExtrabold", sans-serif;
}

.wrapper {
  width: 96%;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  display: block;
  position: relative;
  overflow: hidden;
  width: 196px;
  height: 50px;
  line-height: 50px;
  font-family: "AcromExtrabold", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 1;
}

.btn:before {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  background: -webkit-gradient(linear, left top, right top, from(#4975F3), color-stop(50%, #2750C3), to(#4975F3));
  background: -webkit-linear-gradient(left, #4975F3, #2750C3 50%, #4975F3);
  background: -o-linear-gradient(left, #4975F3, #2750C3 50%, #4975F3);
  background: linear-gradient(90deg, #4975F3, #2750C3 50%, #4975F3);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: -1;
}

.btn:hover {
  -webkit-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.7);
}

.btn:hover:before {
  left: 0;
}

.btn.red:before {
  background: -webkit-gradient(linear, left top, right top, from(#FF3C3C), color-stop(50%, #C72525), to(#FF3C3C));
  background: -webkit-linear-gradient(left, #FF3C3C, #C72525 50%, #FF3C3C);
  background: -o-linear-gradient(left, #FF3C3C, #C72525 50%, #FF3C3C);
  background: linear-gradient(90deg, #FF3C3C, #C72525 50%, #FF3C3C);
}

h1,
h2,
h3,
h4 {
  font-family: "AcromExtrabold", sans-serif;
  line-height: 1.4;
}

h1 {
  margin-bottom: 24px;
}

h1,
h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin: 0 auto 40px;
}

h3 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 20px 0;
}

h4 {
  font-size: 18px;
  margin: 20px 0;
}

p,
ul,
ol {
  margin-bottom: 25px;
}

.compensate-for-scrollbar {
  margin-right: 0 !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #25304B;
  color: #fff;
  padding: 27px 0 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header.fixed {
  padding: 10px 0;
}

.header a {
  white-space: nowrap;
}

.header.white {
  background-color: #fff;
  color: #000;
}

.h-wrapper,
.logo,
.h-nav,
.h-nav ul,
.h-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo > img {
  padding-right: 16px;
}

.logo > span {
  display: inline-block;
  position: relative;
  padding: 12px 20px 0 12px;
  font-family: "AcromMedium", sans-serif;
  font-size: 13px;
  letter-spacing: -.9px;
}

.logo > span:before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #fff;
}

.h-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 10px 0;
}

.h-nav ul {
  margin-bottom: 0;
}

.h-nav li {
  padding: 0 12px;
}

.h-nav a {
  display: inline-block;
  position: relative;
  padding: 6px 0;
  font-family: "AcromExtrabold", sans-serif;
}

.h-nav a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.h-nav a:hover:after {
  background-color: #cf2d2d;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.h-right {
  text-align: right;
  -ms-flex-negative: 10;
      flex-shrink: 10;
  font-size: 0;
}

.h-right .btn {
  min-width: 146px;
  width: 146px;
  text-transform: initial;
  margin-left: 12px;
}

.h-right a {
  display: inline-block;
  position: relative;
  line-height: 1;
  font-size: 13px;
  white-space: nowrap;
}

.h-right a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.h-right a:hover:after {
  background-color: #cf2d2d;
}

a.h-phone {
  font-family: "AcromExtrabold", sans-serif;
  font-size: 15px;
  margin: 7px 0;
}

a.h-phone span {
  color: #3963dc;
}

.vi,
.wa {
  display: inline-block;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #3963dc;
  margin-left: 7px;
  background-color: transparent;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: middle;
}

.vi:hover,
.wa:hover {
  background-color: #3963dc;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.7);
}

.vi:after,
.wa:after {
  display: none !important;
}

.h-right .vi,
.h-right .wa {
  margin-bottom: 0;
}

.vi {
  background-image: url(../img/icons/vi.png);
}

.vi:hover {
  background-image: url(../img/icons/vi-w.png);
}

.wa {
  background-image: url(../img/icons/wa.png);
}

.wa:hover {
  background-image: url(../img/icons/wa-w.png);
}

.top-slider-section {
  padding-top: 55px;
  background-color: #3963dc;
  background-image: url(../img/common/bg1.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.top-slider-wr {
  position: relative;
  padding: 150px 0 40px;
  margin-bottom: -100px;
}

.top-slider-wr:before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 84px;
  height: 80%;
  border: 6px solid rgba(255, 255, 255, 0.1);
}

.top-slider-wr .btn {
  margin: 34px auto 10px;
}

.top-slider {
  font-size: 20px;
  opacity: 0;
}

.top-slider .slick-slide {
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.top-slider .slick-slide.slick-active {
  opacity: 1;
}

.slick-slide {
  outline: none !important;
}

.slide-heading {
  font-size: 36px;
  margin-bottom: 6px;
}

.top-slide-img {
  display: block;
  height: 284px;
  margin: 90px auto 0;
  opacity: 0;
  -webkit-transform: translateX(100vw);
      -ms-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 3s cubic-bezier(0.07, 1.47, 0.75, 0.95);
  -o-transition: all 3s cubic-bezier(0.07, 1.47, 0.75, 0.95);
  transition: all 3s cubic-bezier(0.07, 1.47, 0.75, 0.95);
  margin-bottom: -50px;
}

.slick-active .top-slide-img {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.top-slider .slick-list {
  overflow: visible;
}

.slider-controls {
  position: absolute;
  height: 16px;
  bottom: 115px;
  right: 40px;
  white-space: nowrap;
}

.slider-btn {
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-left: 10px;
  background-image: url(../img/icons/arrblue.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider-btn:hover {
  background-image: url(../img/icons/arrwhite.png);
}

#top-slider-prev {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.basic-links-section {
  padding-top: 80px;
}

.basic-links-section > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basic-links-section .e1 {
  bottom: 200px;
  left: 163px;
  width: 50px;
  height: 50px;
}

.basic-links-section .e2 {
  bottom: -80px;
  right: 100px;
  width: 44px;
  height: 44px;
}

.prlx {
  -webkit-transition: all 3s cubic-bezier(0.53, 1.9, 0.35, 0.89);
  -o-transition: all 3s cubic-bezier(0.53, 1.9, 0.35, 0.89);
  transition: all 3s cubic-bezier(0.53, 1.9, 0.35, 0.89);
  z-index: 0;
}

.e1,
.e2,
.e3,
.e4 {
  position: absolute;
  display: block;
  background-color: #F3F6FB;
  z-index: -1;
}

.e1,
.e3 {
  -webkit-transition-duration: 8s;
       -o-transition-duration: 8s;
          transition-duration: 8s;
}

.e2,
.e4 {
  -webkit-transition-duration: 4s;
       -o-transition-duration: 4s;
          transition-duration: 4s;
}

.basic-link {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 48.2%;
  position: relative;
  line-height: 1.1;
  font-family: "AcromExtrabold", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  min-height: 190px;
  border-radius: 8px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 8px 16px rgba(190, 70, 70, 0);
          box-shadow: 0px 8px 16px rgba(190, 70, 70, 0);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.basic-link img {
  display: block;
  width: 100%;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  z-index: 0;
}

.basic-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(57, 99, 220, 0.8);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  z-index: 1;
}

.basic-link > span,
.basic-link > p,
.basic-link > h3,
.basic-link > h4 {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  padding: 0 16px;
  font-family: inherit !important;
  font-size: inherit !important;
  z-index: 2;
}

.basic-link > span:before,
.basic-link > p:before,
.basic-link > h3:before,
.basic-link > h4:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 42px;
  height: 2px;
  background-color: #fff;
}

.basic-link:hover {
  -webkit-box-shadow: 0px 16px 15px -10px rgba(190, 70, 70, 0.8);
          box-shadow: 0px 16px 15px -10px rgba(190, 70, 70, 0.8);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.basic-link:hover:before {
  background-color: rgba(190, 70, 70, 0.8);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.basic-link:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.brands-section {
  padding-top: 14px;
}

.brands-section .e1 {
  left: 260px;
  bottom: -50px;
  width: 70px;
  height: 70px;
}

.decored {
  position: relative;
  text-align: center;
  padding-bottom: 38px;
}

.decored:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 159px;
  height: 20px;
  background-image: url(../img/icons/flame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.brands-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  max-width: 970px;
  margin: 0 auto 50px;
}

.brands-wr > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  max-width: 25%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 6px;
}

.brands-wr:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 3px;
  background-color: #fff;
  z-index: 1;
}

.defects-section {
  background-color: #F3F6FB;
}

.defects-section h2 {
  text-align: left;
  margin-bottom: -60px;
}

.defects-section h2 span {
  display: block;
  font-family: "AcromRegular", sans-serif;
  font-size: .67em;
}

.defect-ex-wr {
  text-align: right;
  margin-bottom: 35px;
  position: relative;
}

.defect-ex-wr .prlx {
  position: absolute;
  left: -6px;
  bottom: -55px;
  display: block;
  width: 114px;
  height: 80%;
  border: 6px solid #fff;
}

.defect-ex {
  display: inline-block;
  position: relative;
}

.defect-ex img {
  display: block;
  width: 51vw;
  max-width: 595px;
  min-width: 307px;
}

.defect-text {
  position: absolute;
  top: 57%;
  left: 0;
  width: 567px;
  max-width: 100%;
  text-align: left;
  border: 8px solid #fff;
  background-color: #fff;
  padding: 50px 15px 65px 40px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.defect-text p,
.defect-text ul,
.defect-text ol {
  margin-bottom: 0;
}

.defect-text p:last-of-type,
.defect-text ul:last-of-type,
.defect-text ol:last-of-type {
  margin-bottom: 30px;
}

.defect-text:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #F3F6FB;
  z-index: -1;
}

.defect-text h3,
.defect-text h4 {
  margin-bottom: 7px;
}

.defect-ex-wr:nth-child(even) {
  text-align: left;
}

.defect-ex-wr:nth-child(even) .defect-text {
  left: auto;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.defect-ex-wr:nth-child(even) .defect-text:after {
  left: auto;
  right: 0;
}

.defect-ex-wr:nth-child(even) .prlx {
  left: auto;
  right: -6px;
}

.btn-wr {
  padding: 15px 0;
  text-align: center;
}

.btn-wr .btn {
  margin: 0 auto;
}

.advantages-section {
  padding-top: 60px;
  font-family: "AcromExtrabold", sans-serif;
  font-size: 14px;
  text-align: center;
}

.advantages-section h4,
.advantages-section h5,
.advantages-section h6 {
  font-family: inherit;
  font-size: inherit;
}

.advantages-section .e1 {
  width: 16px;
  height: 16px;
  left: 315px;
  top: 350px;
}

.advantages-section .e2 {
  width: 48px;
  height: 48px;
  left: 100px;
  bottom: 30px;
}

.advantages-section .e3 {
  width: 70px;
  height: 70px;
  right: 125px;
  bottom: 250px;
}

.adv-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 1.4;
  padding-top: 45px;
  margin-bottom: 55px;
}

.adv-wr > div {
  padding: 0 10px;
}

.adv-wr .img-wr {
  height: 70px;
  margin-bottom: 10px;
}

.attent-el {
  width: 326px;
  max-width: 90%;
  height: 80px;
  line-height: 70px;
  white-space: nowrap;
  border: 5px solid #F5F5F5;
  padding: 0 6px;
  margin: 0 auto;
}

.stages-section {
  padding-top: 100px;
  background-color: #F3F6FB;
  text-align: center;
}

.stages-section .rect1 {
  display: block;
  position: absolute;
  left: -7px;
  bottom: -50px;
  width: 70px;
  height: 400px;
  border: 7px solid #fff;
  z-index: 0;
}

.stages-section .rect2 {
  display: block;
  position: absolute;
  right: -8px;
  bottom: -120px;
  width: 116px;
  height: 300px;
  border: 8px solid #fff;
  -webkit-transition-duration: 7s;
       -o-transition-duration: 7s;
          transition-duration: 7s;
  z-index: 0;
}

.stages-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
  counter-reset: num;
}

.stages-wr > div {
  position: relative;
  padding: 0 10px;
  z-index: 1;
}

.stages-wr > div:before {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "0" counter(num);
  counter-increment: num;
  font-family: "AcromExtrabold", sans-serif;
  font-size: 130px;
  letter-spacing: -10px;
  line-height: .5;
  color: #fff;
  z-index: -1;
}

.stages-wr > div:after {
  content: "";
  position: absolute;
  top: 14%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -6px;
  display: block;
  width: 12px;
  height: 8px;
  background-image: url(../img/icons/arrgray.png);
  background-repeat: no-repeat;
}

.stages-wr > div:last-child:after {
  display: none;
}

.stages-wr h4,
.stages-wr h5 {
  font-family: "AcromExtrabold", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.stages-wr p {
  font-size: 12px;
  margin-bottom: 0;
}

.stages-wr .img-wr {
  height: 66px;
  margin-bottom: 10px;
}

.stages-wr .modal-call {
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.stages-wr .modal-call:hover {
  color: #3963dc;
}

.adv-wr > div,
.stages-wr > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 24.5%;
  margin-bottom: 25px;
}

.portfolio-section .e1 {
  width: 70px;
  height: 70px;
  left: 115px;
  bottom: 30px;
}

.portfolio-section .e2 {
  width: 28px;
  height: 28px;
  right: 160px;
  top: 400px;
}

.portfolio-section .e3 {
  width: 37px;
  height: 37px;
  right: 135px;
  bottom: 5px;
}

.broken-grid {
  outline: 2px solid lime;
  opacity: 0;
  padding: 20px 0;
  margin: 0 auto 20px;
}

.broken-grid.loaded {
  opacity: 1;
}

.grid-i {
  position: relative;
  display: block;
  max-width: 275px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 0;
}

.grid-i img {
  display: block;
}

.grid-i-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 101%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(190, 70, 70, 0.8);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.grid-i-text > span {
  display: block;
  text-align: center;
  min-width: 100%;
}

.grid-i:hover .grid-i-text {
  top: 0;
}

.fancy {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.grid-i-title {
  font-family: "AcromExtrabold", sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
}

.form-section {
  padding: 0;
  background-image: url(../img/common/bg2.jpg);
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.form-section .wrapper {
  position: relative;
  padding: 200px 0 120px;
  text-align: right;
}

.form-wr {
  display: inline-block;
  max-width: 960px;
  padding: 50px 45px 40px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  padding-left: 290px;
  text-align: left;
}

.form-wr h2,
.form-wr h3,
.form-wr p {
  text-align: left;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.main-form .input-wr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 49%;
}

.main-form .input-wr.wide {
  max-width: 100%;
}

.main-form textarea {
  height: 80px;
}

.main-form textarea:focus {
  height: 120px;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

.bottom-row span {
  line-height: 1.1;
}

.bottom-row a {
  white-space: nowrap;
  text-decoration: underline;
}

.bottom-row a:hover {
  text-decoration: none;
}

.bottom-row .btn {
  margin-left: 15px;
}

.bottom-row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-img {
  position: absolute;
  bottom: -20px;
  left: 60px;
}

.map-section {
  padding: 0;
}

.map {
  height: 680px;
  max-height: 100vh;
  background-color: #ccc;
}

.footer {
  font-size: 13px;
  color: #fff;
}

.footer-top {
  padding: 24px 0 35px;
  background-color: #25304B;
}

.footer-bottom {
  padding: 40px 0;
  background-color: #12151E;
  text-align: center;
}

.footer-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom .wrapper > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 30%;
}

.footer-bottom .wrapper > div:first-child {
  text-align: left;
}

.footer-bottom .wrapper > div:last-child {
  text-align: right;
}

.footer-bottom p {
  margin-bottom: 0;
}

.crumbs {
  padding: 50px 50px 0 0;
  margin-bottom: 0;
}

.crumbs li {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 4px;
}

.crumbs li:after {
  content: "/";
  margin: 0 7px 0 11px;
}

.crumbs li:last-child:after {
  display: none;
}

.crumbs a {
  color: #3963dc;
  border-bottom: 1px solid #3963dc;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.crumbs a:hover {
  border-bottom-color: transparent;
}

.price-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 440px;
}

.price-wr > div,
.price-wr img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 49%;
}

.price-wr img {
  display: block;
  width: 585px;
  max-height: 100%;
}

.table-wr {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 20px;
}

table {
  border: 4px solid #E4EAF1;
  counter-reset: num;
}

th,
td {
  padding: 14px 8px;
  font-size: 14px;
  line-height: 1.7;
}

th:first-child,
td:first-child {
  text-align: center;
}

th:last-child,
td:last-child {
  font-family: "AcromExtrabold", sans-serif;
  white-space: nowrap;
}

tbody td:first-child:before {
  content: counter(num);
  counter-increment: num;
  line-height: 1;
}

td:last-child {
  text-align: right;
}

thead {
  background-color: #E4EAF1;
}

th {
  vertical-align: middle;
  font-family: "AcromExtrabold", sans-serif;
  text-transform: uppercase;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #F3F6FA;
}

.spares-section {
  padding: 10px 0 110px;
}

.spares-section h2 {
  max-width: 640px;
}

.spares-block {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 6px solid #E4EAF1;
  margin-top: 90px;
  font-size: 13px;
}

.spares-block > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 80px 60px 70px;
}

.spares-block > div:first-of-type {
  text-align: right;
  padding-right: 178px;
}

.spares-block > div:first-of-type > * {
  width: 100%;
  margin-bottom: 15px;
}

.spares-block > div:last-of-type {
  padding-left: 160px;
  background-color: #F3F6FB;
}

.spares-block > div:last-of-type > p {
  width: 100%;
  margin-bottom: 0;
}

.phone-link {
  display: inline-block;
  width: auto;
  font-family: "AcromExtrabold", sans-serif;
  font-size: 24px;
  line-height: 1;
  border-bottom: 1px solid transparent;
  margin: 7px 0 10px;
  white-space: nowrap;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.phone-link:hover {
  border-bottom-color: #3963dc;
}

.phone-link span {
  color: #3963dc;
}

.spares-block .phone-link {
  margin-left: auto;
  margin-right: auto;
}

.btns-wr {
  white-space: nowrap;
  font-size: 0;
  position: relative;
  z-index: 2;
}

.btns-wr .btn {
  display: inline-block;
  width: 150px;
  font-size: 14px;
  text-transform: initial;
  vertical-align: middle;
}

.spares-img {
  position: absolute;
  top: 67%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 423px;
  z-index: 1;
}

.about-section {
  padding: 20px 0 30px;
}

.about-section h1 {
  margin-bottom: 50px;
}

.about-block {
  position: relative;
  text-align: left;
}

.about-block img {
  display: block;
  width: 73.3%;
}

.about-text {
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px 25px 55px 30px;
  background-color: #fff;
}

.about-text:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 53.4%;
  border: 8px solid #E4EAF1;
  border-left: none;
  z-index: -1;
}

.about-text p:last-child {
  margin-bottom: 0;
}

.team-section {
  padding-bottom: 40px;
}

.team-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 20px;
}

.team-i {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 23.7%;
  margin-bottom: 30px;
  font-size: 14px;
}

.team-i img {
  display: block;
  margin: 0 auto 14px;
}

.person {
  font-family: "AcromExtrabold", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.contacts-section {
  padding: 25px 0 0;
}

.contacts-section h2 {
  margin-bottom: 60px;
}

.contact-i {
  position: relative;
  min-height: 40px;
  font-size: 16px;
  margin-bottom: 43px;
  padding-left: 92px;
}

.contact-i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 64px;
  height: 64px;
  border: 6px solid #E4EAF1;
}

.contact-i:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 44px;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.phone-i {
  margin: 75px 0 37px;
}

.phone-i:before {
  top: -20px;
}

.phone-i:after {
  top: 0;
  background-image: url(../img/icons/phone-blue.png);
}

.mail-i {
  padding-top: 35px;
}

.mail-i:before {
  top: 11px;
}

.mail-i:after {
  top: 30px;
  background-image: url(../img/icons/mail-blue.png);
}

.address-i:before {
  top: 23px;
}

.address-i:after {
  top: 42px;
  background-image: url(../img/icons/pin-blue.png);
}

.contact-i .phone-link {
  font-size: 18px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-block > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 49%;
}

.contacts-block p {
  max-width: 525px;
}

.map-half-wr {
  position: relative;
  height: 560px;
  max-height: 100vh;
}

.map-offset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 560px;
  max-height: 100vh;
  width: 50vw;
  background-color: #ccc;
}

.r-tabs-tab {
  margin-right: 16px !important;
  margin-bottom: 18px !important;
}

.r-tabs-anchor {
  display: inline-block;
  padding: 0;
  font-family: "AcromExtrabold", sans-serif;
  color: #3963dc;
  font-size: 14px;
  border-bottom: 1px dashed #3963dc;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

.r-tabs-anchor:hover {
  color: #cf2d2d;
  border-bottom-color: #cf2d2d;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.r-tabs-state-active .r-tabs-anchor {
  color: #cf2d2d;
  border-bottom-color: #cf2d2d;
}

.r-tabs-accordion-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.service-block {
  padding: 0 25px;
  border: 6px solid #E4EAF1;
  margin-bottom: 24px;
}

.service-block.mt {
  margin-top: 45px;
}

.service-block ul {
  padding-left: 15px;
  list-style-type: disc;
}

.service-title {
  position: relative;
  font-family: "AcromExtrabold", sans-serif;
  font-size: 18px;
  text-transform: initial;
  text-align: left;
  padding: 25px 30px 23px 0;
  margin-bottom: 0;
  cursor: pointer;
}

.service-title:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 13px;
  height: 8px;
  background-image: url(../img/icons/shevron.jpg);
  background-repeat: no-repeat;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.service-title.active:after {
  -webkit-transform: translateY(-50%) rotateX(180deg);
          transform: translateY(-50%) rotateX(180deg);
}

.service-content {
  display: none;
  padding-top: 10px;
  margin-bottom: 25px;
}

.service-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-grid:after,
.service-grid:before {
  content: "";
  display: block;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 1px;
}

.service-grid:after,
.service-grid:before,
.service-subitem {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 23.7%;
}

.service-subitem {
  display: block;
  font-family: "AcromExtrabold", sans-serif;
  line-height: 1.4;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.service-subitem img {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.service-subitem p,
.service-subitem h3,
.service-subitem h4,
.service-subitem h5,
.service-subitem h6 {
  max-width: 194px;
  margin: 0 auto;
}

.service-subitem:hover {
  color: #3963dc;
  text-decoration: underline;
}

.service-subitem:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.img-wr {
  display: block;
  overflow: hidden;
  margin-bottom: 14px;
  overflow: hidden;
}

.article-content {
  padding-top: 20px;
}

.article-content img {
  float: right;
  margin: 0 0 24px 24px;
  max-width: calc(50% - 12px);
}

.article-content img.even {
  float: left;
  margin: 0 24px 24px 0;
}

.article-content ul {
  list-style-type: disc;
  padding-left: 15px;
}

.article-content:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  height: 1px;
}

.section-404 {
  padding: 0;
  font-size: 15px;
}

.section-404 > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}

.section-404 h5 {
  font-family: "AcromExtrabold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.section-404 img {
  margin-bottom: 30px;
}

.section-404 .btn {
  margin-top: 20px;
  text-transform: initial;
}

/*mobile navigation*/
.btn-menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 5px;
  width: 36px;
  height: 36px;
  background: #3963dc;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 12;
}

.btn-menu span {
  display: block;
  background: #fff;
  position: absolute;
  top: 16px;
  left: 6px;
  right: 6px;
  height: 2px;
  border: none;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.btn-menu span > i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.btn-menu span:before, .btn-menu span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.4s .4s;
  -o-transition: all 0.4s .4s;
  transition: all 0.4s .4s;
}

.btn-menu span:before {
  top: -9px;
}

.btn-menu span:after {
  top: 9px;
}

.btn-menu.active span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .4s .4s;
  -o-transition: all .4s .4s;
  transition: all .4s .4s;
}

.btn-menu.active span > i {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .4s .4s;
  -o-transition: all .4s .4s;
  transition: all .4s .4s;
}

.btn-menu.active span:before, .btn-menu.active span:after {
  top: 0;
  -webkit-transition: all .4s 0s;
  -o-transition: all .4s 0s;
  transition: all .4s 0s;
}

.btn-menu.reduced {
  z-index: 9;
}

/**/
.mob-cont {
  position: fixed;
  width: 320px;
  background-color: #fefefe;
  top: 0;
  bottom: 0;
  right: -350px;
  overflow-y: auto;
  padding: 20px 40px 50px 16px;
  color: #000;
  -webkit-box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 11;
}

.mob-cont.active {
  right: 0;
}

.mob-cont ul {
  padding-left: 0;
}

.mob-cont li {
  display: block;
  margin-bottom: 26px;
  white-space: nowrap;
}

.mob-cont a {
  display: inline-block;
  position: relative;
  font-family: "AcromMedium", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.mob-cont a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.mob-cont a:hover:after, .mob-cont a.active:after {
  background-color: #cf2d2d;
}

.mob-cont a[href^="mailto"] {
  text-transform: lowercase;
}

.mob-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.mob-logo {
  display: block;
  max-width: 175px;
}

.mob-nav {
  margin-bottom: 40px;
}

/*modal window*/
.modal-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 98vh;
  overflow-y: auto;
  -webkit-box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.5);
  width: 480px;
  max-width: 96%;
  padding: 20px 20px 35px;
  background: #fff;
  z-index: 11;
}

.modal-cont input[type="text"],
.modal-cont input[type="email"],
.modal-cont input[type="tel"],
.modal-cont input[type="number"],
.modal-cont textarea {
  border: 1px solid #888;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.modal-cont input[type="text"]:hover,
.modal-cont input[type="email"]:hover,
.modal-cont input[type="tel"]:hover,
.modal-cont input[type="number"]:hover,
.modal-cont textarea:hover {
  border-color: #cf2d2d;
}

.modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.modal-logo {
  display: block;
  max-width: 120px;
}

.modal-close {
  font-size: 36px;
  color: #3963dc;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.modal-close:hover {
  color: #cf2d2d;
}

.modal-cont .btn {
  display: block;
  margin: 0 auto;
}

.modal-cont .input-wr {
  width: 100%;
}

.input-wr {
  display: inline-block;
  position: relative;
  margin-bottom: 16px;
  background-color: #fff;
  overflow: hidden;
  z-index: 1;
}

.input-wr label {
  position: absolute;
  top: 14px;
  left: 18px;
  font-size: 14px;
  font-family: "AcromMedium", sans-serif;
  white-space: nowrap;
  color: #777;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: -1;
}

textarea:focus + label,
textarea.non-empty + label,
input:focus + label,
input.non-empty + label {
  left: 110%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  height: 50px;
  line-height: 50%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  font-family: "AcromMedium", sans-serif;
  font-size: 14px;
  color: #000;
  background-color: transparent;
  padding-left: 18px;
  padding-right: 30px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

input[type="text"] {
  background-image: url(../img/icons/user.png);
}

input[type="email"] {
  background-image: url(../img/icons/mail.png);
}

input[type="tel"] {
  background-image: url(../img/icons/phone.png);
}

textarea {
  background-position: 100% 20px;
  background-image: url(../img/icons/chat.png);
}

input.no-icon {
  background-image: none;
}

textarea {
  padding-top: 20px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-color: #cf2d2d;
  margin-right: 8px;
  margin-bottom: 4px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  background-image: url(../img/icons/check.png);
}

.modal-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 16px;
}

.modal-agree label {
  margin-bottom: 0;
}

.modal-agree span {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.modal-agree a {
  white-space: nowrap;
  text-decoration: underline;
}

.modal-agree a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  font-family: "AcromMedium", sans-serif;
  font-size: 14px;
  color: #555;
  opacity: 1;
}

::-ms-input-placeholder {
  font-family: "AcromMedium", sans-serif;
  font-size: 14px;
  color: #555;
  opacity: 1;
}

::placeholder {
  font-family: "AcromMedium", sans-serif;
  font-size: 14px;
  color: #555;
  opacity: 1;
}

/* ==================== Media queries ======================= */
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1900px) {
  .basic-links-section .e1 {
    width: 30px;
    height: 30px;
    left: 10px;
  }
  .basic-links-section .e2 {
    width: 24px;
    height: 24px;
    right: 10px;
  }
  .brands-section .e1 {
    width: 40px;
    height: 40px;
    left: 10px;
  }
  .rect1,
  .rect2,
  .defect-ex-wr .prlx {
    width: 50px !important;
  }
  .advantages-section .e1 {
    left: 15px;
  }
  .portfolio-section .e1,
  .advantages-section .e2 {
    width: 24px;
    height: 24px;
    left: 8px;
  }
  .portfolio-section .e2,
  .advantages-section .e3 {
    width: 30px;
    height: 30px;
    right: 10px;
  }
  .portfolio-section .e3 {
    width: 20px;
    height: 20px;
    right: 8px;
  }
}

/*max 1900*/
@media only screen and (max-width: 1599px) {
  body {
    padding-top: 94px;
  }
  .header {
    padding: 20px 0;
  }
  .top-slider-section {
    padding-top: 0;
  }
  .top-slider-wr {
    padding-top: 50px;
  }
  .top-slide-img {
    margin-top: 45px;
  }
  .slider-controls {
    bottom: 75px;
  }
}

/*max 1599*/
@media only screen and (max-width: 1299px) {
  body {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 0;
  }
  p,
  ul,
  ol {
    margin-bottom: 10px;
  }
  .header {
    position: static !important;
    padding: 10px 0;
  }
  .h-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .h-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 100%;
  }
  .footer .h-nav {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    padding-top: 0;
    margin-bottom: 16px;
  }
  ul {
    margin-left: auto;
    margin-right: auto;
  }
  .slide-heading,
  h1,
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .basic-link,
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .top-slider {
    font-size: 16px;
  }
  .broken-grid {
    max-width: 868px;
  }
  .grid-i-text {
    position: static;
  }
  .grid-i img {
    display: inline;
  }
  .prlx {
    display: none !important;
  }
  .form-section .wrapper {
    padding: 50px 0;
  }
  .form-wr {
    padding-left: 240px;
  }
  .form-img {
    left: -20px;
    max-width: 240px;
  }
  .overlay {
    background: rgba(0, 0, 50, 0.8);
  }
  th, td {
    padding: 10px 8px;
    line-height: 1.2;
  }
  .spares-block > div {
    padding: 30px;
  }
  .spares-block > div br {
    display: none;
  }
  .advantages-section,
  .stages-section {
    padding-top: 55px;
  }
  .spares-section {
    padding-bottom: 55px;
  }
  .crumbs {
    padding-top: 20px;
  }
  .brands-wr {
    margin-bottom: 30px;
  }
  .about-text {
    padding: 20px 15px;
    line-height: 1.2;
  }
  .about-section h1 {
    margin-bottom: 30px;
  }
  .contacts-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts-block > div {
    max-width: 100%;
  }
  .map-offset {
    width: 100%;
    position: static;
  }
  .contact-i {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .phone-i {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mail-i {
    padding-top: 15px;
  }
  .mail-i:before {
    top: -12px;
  }
  .mail-i:after {
    top: 9px;
  }
  .map-half-wr {
    margin-top: 30px;
  }
  .contacts-section h2 {
    margin-bottom: 30px;
  }
}

/*max 1299*/
@media only screen and (max-width: 991px) {
  .header {
    display: none;
  }
  .btn-menu {
    display: block;
  }
  .slide-heading,
  h1,
  h2 {
    font-size: 22px;
  }
  .basic-link,
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 15px;
  }
  section {
    padding: 40px 0 30px;
  }
  .top-slider {
    font-size: 15px;
  }
  .basic-links-section > .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .basic-link {
    min-height: 60px;
    max-width: 360px;
    width: 100%;
    margin: 0 10px 20px;
  }
  .defect-text {
    padding: 20px 15px;
    line-height: 1.2;
  }
  .defect-text h3 {
    margin-top: 0;
  }
  .defect-text p:last-of-type,
  .defect-text ul:last-of-type,
  .defect-text ol:last-of-type {
    margin-bottom: 16px;
  }
  .adv-wr {
    padding-top: 10px;
  }
  .adv-wr,
  .stages-wr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adv-wr > div,
  .stages-wr > div {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    max-width: 40%;
    margin: 0 10px 40px;
  }
  .stages-wr > div:after {
    display: none;
  }
  .adv-wr {
    margin-bottom: 0;
  }
  .btn-wr {
    padding: 10px 0;
  }
  .spares-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 24px;
  }
  .spares-block > div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    text-align: center !important;
    padding: 20px 10px !important;
  }
  .spares-block .phone {
    display: block;
    min-width: 100%;
    border: none;
    margin: 20px auto;
  }
  .btns-wr {
    margin-left: auto;
    margin-right: auto;
  }
  .spares-img {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: auto;
    margin-right: auto;
    max-height: 220px;
  }
  .spares-block > div:first-of-type > p {
    margin-bottom: 0;
  }
  .about-text {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 100%;
    padding-top: 100px;
    border: 5px solid #E4EAF1;
  }
  .about-text:after {
    display: none;
  }
  .about-block img {
    width: auto;
    max-width: 86%;
    margin: 0 auto -80px;
  }
  .team-wr {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team-i {
    max-width: 48%;
  }
  .service-grid:after,
  .service-grid:before,
  .service-subitem {
    max-width: 32%;
  }
  .article-content img {
    max-width: 45%;
    margin: 0 0 10px 10px;
  }
  .article-content img.even {
    margin: 0 10px 10px 0;
  }
}

/*max 991*/
@media only screen and (max-width: 930px) {
  .broken-grid {
    max-width: 573px;
  }
}

/*<=930px*/
@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .slide-heading,
  h1,
  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 15px;
  }
  .modal-top {
    margin-bottom: 15px;
  }
  .modal-form .input-wr {
    margin-bottom: 10px;
  }
  .modal-form input[type="text"],
  .modal-form input[type="email"],
  .modal-form input[type="tel"],
  .modal-form input[type="number"] {
    height: 36px;
    line-height: 34px;
  }
  .modal-form textarea {
    height: 36px;
  }
  .modal-form textarea:focus {
    height: 120px;
  }
  .input-wr label {
    top: 9px;
  }
  textarea {
    padding-top: 10px;
    background-position: 100% 15px;
    min-height: 36px;
  }
  .top-slider {
    font-size: 13px;
  }
  .slider-controls {
    right: 0;
  }
  .slider-btn {
    border: 1px solid #3963dc;
  }
  .defects-section h2 {
    margin-bottom: 20px;
  }
  .defect-ex img {
    margin: 0 auto -20px;
    z-index: 1;
  }
  .defect-ex-wr:nth-child(even) .defect-text,
  .defect-text {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 100%;
    padding-top: 30px;
  }
  .defect-text:after {
    display: none;
  }
  .adv-wr > div,
  .stages-wr > div {
    max-width: 100%;
  }
  .form-img {
    display: none;
  }
  .form-wr {
    padding: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"] {
    height: 36px;
  }
  .footer .h-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .h-right {
    min-width: 100%;
    margin: 20px 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-bottom .wrapper > div {
    min-width: 100%;
    margin-bottom: 10px;
    text-align: center !important;
  }
  .policy-wr {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-top,
  .footer-bottom {
    padding: 20px 0;
  }
  .basic-links-section {
    padding-top: 110px;
  }
  .price-wr {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-wr > div,
  .price-wr img {
    width: 100%;
    max-width: 100%;
  }
  .price-wr > div {
    min-width: 100%;
    margin: 20px 0;
    padding-right: 0;
  }
  td, th {
    padding: 10px 5px;
    font-size: 13px;
  }
  .contact-i {
    padding-left: 60px;
  }
  .contact-i:before {
    width: 40px;
    height: 40px;
    top: 0 !important;
  }
  .contact-i:after {
    top: 10px !important;
    left: 15px !important;
  }
  .mail-i {
    padding-top: 15px;
  }
  .service-grid:after,
  .service-grid:before {
    display: none;
  }
  .service-subitem {
    max-width: 48%;
  }
  .service-subitem {
    font-size: 13px;
    line-height: 1.2;
  }
}

/*max 767*/
@media only screen and (max-width: 600px) {
  .broken-grid {
    max-width: 275px;
  }
}

@media only screen and (max-width: 580px) {
  .main-form .input-wr {
    max-width: 100%;
  }
  .bottom-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom-row .btn {
    margin: 20px auto 10px;
  }
  .footer .h-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  .footer .h-nav ul li {
    display: list-item;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .form-wr {
    padding: 10px;
  }
  .team-i {
    max-width: 100%;
  }
}

/*max 580*/
@media only screen and (max-width: 480px) {
  .footer .h-right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .h-right > div {
    width: 100%;
    min-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .service-subitem {
    max-width: 100%;
  }
}

/*max 480*/
@media only screen and (max-width: 350px) {
  .contact-i .btns-wr {
    margin-top: 20px;
    -webkit-transform: translateX(-37px);
        -ms-transform: translateX(-37px);
            transform: translateX(-37px);
  }
}

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 1300px) {
  .blur {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

/*min 1300*/

/*# sourceMappingURL=main.css.map */
