
/* ==================== fonts ======================= */

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans/opensans.eot");
    src: url("../fonts/OpenSans/opensans.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/opensans.woff") format("woff"),
    url("../fonts/OpenSans/opensans.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSans/opensanssemibold.eot");
    src: url("../fonts/OpenSans/opensanssemibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/opensanssemibold.woff") format("woff"),
    url("../fonts/OpenSans/opensanssemibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSan/opensansbold.eot");
    src: url("../fonts/OpenSans/opensansbold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/opensansbold.woff") format("woff"),
    url("../fonts/OpenSans/opensansbold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

// @font-face {
//     font-family: "OpenSansExtraBold";
//     src: url("../fonts/OpenSan/opensansextrabold.eot");
//     src: url("../fonts/OpenSans/opensansextrabold.eot?#iefix")format("embedded-opentype"),
//     url("../fonts/OpenSans/opensansextrabold.woff") format("woff"),
//     url("../fonts/OpenSans/opensansextrabold.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 900;
// }

@font-face {
    font-family: "GaramoundBold";
    src: url("../fonts/Garamound/EBGaramond-Bold.eot");
    src: url("../fonts/Garamound/EBGaramond-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Garamound/EBGaramond-Bold.woff") format("woff"),
    url("../fonts/Garamound/EBGaramond-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

// @font-face {
//     font-family: "GaramoundExtraBold";
//     src: url("../fonts/Garamound/EBGaramond-ExtraBold.eot");
//     src: url("../fonts/Garamound/EBGaramond-ExtraBold.eot?#iefix")format("embedded-opentype"),
//     url("../fonts/Garamound/EBGaramond-ExtraBold.woff") format("woff"),
//     url("../fonts/Garamound/EBGaramond-ExtraBold.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 900;
// }