/* $lig_col:#fff;*/

$osreg: OpenSansRegular, sans-serif;
$ossb: OpenSansSemiBold, sans-serif;
$osb: OpenSansBold, sans-serif;
// $osxb: OpenSansExtraBold, sans-serif;
$gb: GaramoundBold, serif;
// $gxb: GaramoundExtraBold, serif;

$gray: #ebebeb;
$blue: #353f68;
$darktext: #252525;

$bsh1: 0 0 20px rgba(50,50,50,.5);
