
/* ==================== css-animations ======================= */

@keyframes blink {
  0% {
    filter: brightness(50%);
  }
  20% {
    filter: brightness(50%);
  }
  50% {
    filter: brightness(150%);
  }
  80% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(50%);
  }
}
