
/* ==================== variables ======================= */

/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/


$cond-bold: ArialNovaCondencedBold, sans-serif;
$cond: ArialNovaCondenced, sans-serif;
$reg: ArialNovaRegular, sans-serif;
$bold: ArialNovaBold, sans-serif;
$cond-light: ArialNovaCondencedLight, sans-serif;

$fff: #ffffff;
$dark: #030303;
$blue: #005b9c;
$graybg: #f0f0f0;
$lightbg: #fbfbfb;
