
/* ==================== fonts ======================= */

/*
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";

@font-face {
    font-family: "ProximaNovaLight";
    src: url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.woff") format('woff'),
    url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
*/

@font-face {
    font-family: "HelveticaNeueCyrRom";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "HelveticaNeueCyrHeavy";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot");
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "HelveticaNeueCyrBold";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot");
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "HelveticaNeueCyrMedium";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot");
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}