
/* ==================== variables ======================= */

/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/

$regcolor: #555;
$dark: #202020;
$gray: #f5f5f5;
$red: #ff0024;

$font-reg: HelveticaNeueCyrRom, sans-serif;
$heavy: HelveticaNeueCyrHeavy, sans-serif;
$bold: HelveticaNeueCyrBold, sans-serif;
$medium: HelveticaNeueCyrMedium, sans-serif;