/*------------------------------ styles reset ------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------ fonts ------------------------------*/
@font-face {
  font-family: "PT-mono";
  src: url("../fonts/PTMono-Regular.eot");
  src: url("../fonts/PTMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "rodchenkoctt";
  src: url("../fonts/RodchenkoCTT.eot");
  src: url("../fonts/RodchenkoCTT.eot?#iefix") format("embedded-opentype"), url("../fonts/RodchenkoCTT.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*------------------------------ common styles ------------------------------*/
html {
  font-size: 18px;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #fff;
  color: #383838;
  font-family: "PT-mono", serif;
  font-size: 18px;
  position: relative;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
button {
  outline: none;
  border: none;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

input,
textarea {
  outline: none;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-mono", serif;
}

:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-mono", serif;
}

::-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-mono", serif;
}

::placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-mono", serif;
}

section {
  position: relative;
  padding: 6% 0 1.5%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 96%;
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  color: #191919;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

.button {
  display: block;
  width: 220px;
  height: 55px;
  line-height: 55px;
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.button:hover, .button:active {
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}

.button-light {
  color: #191919;
  background: #fff;
}

.button-bright {
  color: #fff;
  background: #fd322b;
}

.heading {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heading h2 {
  margin-right: 20px;
}

.loading-button__container {
  width: 100%;
  padding-bottom: 10px;
}

.loading-button__container .button {
  margin: 0 auto;
}

/*------------------------------ Header ------------------------------*/
.header {
  position: relative;
  background: #555;
  overflow: hidden;
  color: #fff;
  overflow: hidden;
}

.slide-item {
  display: block;
  width: 100vw;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.slider-controls .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prev,
.next {
  display: block;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -410px;
  width: 18px;
  height: 31px;
}

.next {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -451px;
  width: 18px;
  height: 31px;
}

.header-content,
.header-content .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.header-content {
  width: 100%;
}

.header-content .wrapper {
  padding: 1% 0 5%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-top__contacts,
.header-nav {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header-social {
  white-space: nowrap;
}

.header-social li,
.header-social a {
  display: inline-block;
}

.header-social li {
  margin-right: 4px;
}

.header-social a {
  opacity: 0.8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header-social a:hover {
  opacity: 1;
}

.header-social__link--tw {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -592px;
  width: 40px;
  height: 40px;
}

.header-social__link--ig {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -542px;
  width: 40px;
  height: 40px;
}

.header-social__link--fb {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -492px;
  width: 40px;
  height: 40px;
}

.header-top__contacts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header-contacts li,
.header-contacts a {
  display: inline-block;
  white-space: nowrap;
}

.header-contacts li {
  margin-left: 30px;
}

.header-contacts a:before {
  content: "";
  display: inline-block;
  margin-right: 21px;
  vertical-align: middle;
}

.header-contacts__link--map:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -250px;
  width: 21px;
  height: 30px;
}

.header-contacts__link--phone:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -370px;
  width: 30px;
  height: 30px;
}

.header-contacts__link--mail:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -130px;
  width: 26px;
  height: 30px;
}

/*main navigation*/
.header-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo {
  width: 19%;
}

.header-logo .logo {
  width: 100%;
}

.nav-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-links li {
  padding: 0 1%;
}

.nav-links a {
  position: relative;
  font-size: 17px;
  display: inline-block;
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 0;
  white-space: nowrap;
}

.nav-links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: #fd322b;
}

.nav-links a:hover:before, .nav-links a:active:before, .nav-links a.active:before {
  width: 100%;
}

/*------------------------------ mobile navigation ------------------------------*/
.mob-nav__btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #fd322b;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  display: none;
  z-index: 5;
}

.mob-nav__btn span {
  display: block;
  background: #fff;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  border: none;
}

.mob-nav__btn span:before, .mob-nav__btn span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.mob-nav__btn span:before {
  top: -10px;
}

.mob-nav__btn span:after {
  top: 10px;
}

/*mobile menu*/
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -320px;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 20px 20px;
  background: rgba(253, 50, 43, 0.8);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 10;
}

.mobile-nav.active {
  left: 0;
}

.mobile-nav .nav-links {
  padding-bottom: 20px;
}

.mobile-nav .nav-links a:before {
  background: #fff;
}

.mobile-nav__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}

.mobile-contacts {
  position: relative;
  padding-top: 20px;
}

.mobile-contacts:before {
  content: "";
  display: block;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: 1px;
  background: #fff;
}

.mobile-contacts li,
.footer-contacts li {
  margin-bottom: 19px;
}

.mobile-contacts a,
.footer-contacts a {
  display: inline-block;
  position: relative;
  line-height: 1.5;
}

.mobile-contacts a:before,
.footer-contacts a:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.mobile-contacts__link--map:before,
.footer-contacts__link--map:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -330px;
  width: 21px;
  height: 30px;
}

.mobile-contacts__link--phone:before,
.footer-contacts__link--phone:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -90px;
  width: 30px;
  height: 30px;
}

.mobile-contacts__link--mail:before,
.footer-contacts__link--mail:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -210px;
  width: 26px;
  height: 30px;
}

.gallery-section.services-section__index {
  padding: 6% 0 2%;
}

/*------------------------------ works and services image galleries on different pages------------------------------*/
.col-2-container,
.col-3-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.6%;
}

.col-2-container .item,
.col-3-container .item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-bottom: 34px;
  /*can not be set in percents, FF bug */
}

.col-2-container .item a,
.col-3-container .item a {
  display: block;
}

.col-2-container .item img,
.col-3-container .item img {
  display: block;
  width: 100%;
}

.col-2-container .item {
  max-width: 48.7%;
}

.col-2-container .item .description p {
  max-width: 430px;
  margin-bottom: 13%;
}

.col-3-container .item {
  max-width: 31.6%;
}

.col-3-container .description p {
  max-height: 92px;
}

.item {
  color: #fff;
  position: relative;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.item h3 {
  color: #fff;
}

.item > h3 {
  position: absolute;
  bottom: 40px;
  left: 5%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 2;
}

.item p {
  max-width: 430px;
}

.item__hover-descripted:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #383838;
  opacity: .7;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 1;
}

.item__hover-descripted:hover:after, .item__hover-descripted:active:after {
  top: -100%;
  bottom: 100%;
}

.item__hover-descripted:hover > h3, .item__hover-descripted:active > h3 {
  opacity: 0;
}

.item__hover-descripted:hover .description, .item__hover-descripted:active .description {
  top: 0;
  bottom: 0;
}

.item.item__compact-styled > h3 {
  left: 7%;
}

.item.item__compact-styled .description {
  padding-top: 16%;
  padding-left: 8%;
}

.item.item__compact-styled .description h3 {
  margin-bottom: 5%;
}

.item.item__compact-styled .description p {
  max-width: 230px;
}

.description {
  padding: 29% 5% 5%;
  position: absolute;
  background: rgba(253, 50, 43, 0.9);
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 2;
}

.description h3 {
  margin-bottom: 7px;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.description a {
  position: absolute;
  bottom: 40px;
  font-size: 16px;
  text-decoration: underline;
}

.description a:hover {
  text-decoration: none;
}

.gallery-section {
  padding-top: 3.2%;
  padding-bottom: 5%;
}

.gallery-section h2 {
  margin-bottom: 3%;
}

.gallery-bordered {
  position: relative;
}

.gallery-bordered:before, .gallery-bordered:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 96%;
  height: 2px;
  max-width: 1110px;
  background: #d1d1d1;
}

.gallery-bordered:before {
  top: 0;
}

.gallery-bordered:after {
  bottom: 0;
}

/*------------------------------action banner section (pages: index, actions)------------------------------*/
.banner-section {
  padding: 0;
  background-color: #fd322b;
  background-image: url(../img/banners/index-page-banner.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.banner-section .wrapper {
  height: 100vh;
  min-height: 370px;
  max-height: 645px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3%;
}

.banner-content {
  max-width: 540px;
  position: relative;
  z-index: 3;
  color: #fff;
}

.banner-content h2 {
  width: 100%;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 3%;
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 11%;
}

/*------------------------------ about section (pages: index, about, single work, single service) ------------------------------*/
.about {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.5%;
}

.about-text {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  margin-bottom: 5%;
  padding-top: 5px;
}

.about-text h2 {
  margin-bottom: 18px;
}

.about-text h4 {
  font-size: 20px;
  max-width: 470px;
  line-height: 1.4;
  margin-bottom: 18px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 4.4%;
}

.about-text p:last-of-type {
  margin-bottom: 8%;
}

.about-text .price {
  font-size: 24px;
}

.about-calculate {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.about-calculate:after {
  content: "";
  display: inline-block;
  height: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.about-calculate span {
  display: inline-block;
  padding: 10px 0;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.about-button {
  color: #fff;
  background: #fd322b;
}

.about-img {
  -ms-flex-preferred-size: 540px;
      flex-basis: 540px;
}

.about-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
}

.about-section__index .about-text {
  margin-bottom: 1%;
}

/*------------------------------ news section (page: index) ------------------------------*/
.news-section {
  position: relative;
  overflow: hidden;
  padding: 1.8% 0 4.7%;
}

.news-section:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: -15%;
  width: 52vw;
  height: 52vw;
  background-image: url(../img/newspapers.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: cover;
  z-index: -1;
}

.news-block h2 {
  margin-bottom: 8.3%;
  text-align: center;
}

.news-list {
  max-width: 735px;
}

.news-item {
  margin-bottom: 28px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news-img {
  -ms-flex-preferred-size: 255px;
      flex-basis: 255px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 160px;
  overflow: hidden;
}

.news-img img {
  width: 100%;
}

.news-content {
  position: relative;
  -ms-flex-preferred-size: 480px;
      flex-basis: 480px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 4%;
}

.news-content h3 {
  margin-bottom: 3%;
}

.news-text {
  margin-bottom: 1%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5;
  margin-bottom: 15px;
}

.news-text.compact {
  height: 60px;
}

.news-text p {
  margin-bottom: 0;
}

.js-read-more {
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.js-read-more:after {
  content: "";
  display: inline-block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px 0px;
  width: 21px;
  height: 13px;
  margin-left: 10px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.js-read-more.expanded:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*------------------------------ map section (pages: index, contacts) ------------------------------*/
.map-section {
  padding: 0;
}

.map {
  height: 80vh;
  min-height: 240px;
  max-height: 480px;
  background: #888;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/*------------------------------ 'our works' page ------------------------------*/
.works-gallery-section {
  padding: 6.7% 0 5.2%;
}

.select-container {
  width: 100%;
  max-width: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.car-make-select,
.work-type-select {
  width: 220px;
}

/*------------------------------ services page ------------------------------*/
.services-section {
  padding-bottom: 6%;
}

/*------------------------------ 'about company' page ------------------------------*/
.about-section {
  padding-top: 6.5%;
}

.gallery-section.gallery-section__about {
  padding-bottom: 6%;
}

.gallery-section.gallery-section__about:after {
  display: none;
}

/*prides*/
.prides-section {
  padding: 2.6% 0;
}

.prides-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prides-container h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
  margin-bottom: 3%;
}

.prides-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 730px;
          flex: 0 1 730px;
  padding-top: 10px;
}

.prides-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  margin-bottom: 43px;
}

.prides-img {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #fd322b;
  margin-top: 5px;
  margin-right: 8%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.prides-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
}

.prides-text h3 {
  margin-bottom: 7px;
}

.prides-text p {
  font-size: 16px;
  line-height: 1.2;
}

/*------------------------------ video page ------------------------------*/
.video-section {
  padding: 6.5% 0;
}

.video-section .heading {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.period-select__container {
  margin-right: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.period-select {
  width: 190px;
  border: 1px solid #000;
}

.period-select .selecter-options {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #000;
  border-top-width: 0;
  left: -1px;
}

.video-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-item {
  margin-bottom: 2.6%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-wrapper {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.player-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-description {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 30px 10px;
  overflow: hidden;
}

.video-description h3 {
  margin: 0 0 6%;
  width: 100%;
}

.video-description p {
  width: 85%;
  font-size: 16px;
}

/*------------------------------ actions page ------------------------------*/
.action-info-section {
  padding: 3% 0 5%;
}

.action-info-section p {
  font-size: 16px;
  margin-bottom: 4.4%;
}

.actions-heading {
  text-align: center;
  margin: 8.7% 0 2%;
}

.banner-section__actions {
  padding: 2% 0;
}

.banner-section__actions .wrapper {
  background-image: url(../img/banners/action-page-banner.jpg);
  background-repeat: repeat;
  background-position: 50% 50%;
  height: 100vh;
  min-height: 255px;
  max-height: 355px;
  overflow: hidden;
}

.banner-section__actions .wrapper p {
  line-height: 1.2;
}

.banner-section__actions .banner-content {
  max-width: 635px;
  padding-top: 5.5%;
  padding-left: 8%;
}

.banner-section__actions h2 {
  margin-bottom: 3%;
}

.banner-section__actions p {
  margin-bottom: 7%;
}

.action-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 13px;
}

.action-info-section
.action-presentation {
  text-align: center;
  max-width: 85%;
  margin: 0 auto 5.6%;
}

.action-details {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.7%;
}

.action-details__text,
.action-details__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 410px;
          flex: 1 1 410px;
}

.action-details__text {
  margin-right: 10px;
}

.action-details__img {
  padding-top: 5px;
  margin-left: 10px;
}

.action-details__img img {
  width: 100%;
}

/*------------------------------ contacts page ------------------------------*/
.contacts-section {
  padding-top: 11.5%;
  padding-bottom: 7%;
}

.contacts-section .heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-section .heading h2 {
  position: relative;
  top: -6px;
}

.contacts-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 450px;
}

.contacts-list li {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.contacts__link--phone,
.contacts__link--map,
.contacts__link--mail {
  position: relative;
  display: inline-block;
  padding-left: 45px;
  font-size: 16px;
}

.contacts__link--phone:before,
.contacts__link--map:before,
.contacts__link--mail:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  margin-right: 20px;
}

.contacts__link--map {
  max-width: 190px;
  padding-top: 2px;
  padding-bottom: 0;
  line-height: 1.4;
}

.contacts__link--map:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -50px;
  width: 21px;
  height: 30px;
}

.contacts__link--phone {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

.contacts__link--phone:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -290px;
  width: 30px;
  height: 30px;
}

.contacts__link--mail {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

.contacts__link--mail:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -170px;
  width: 26px;
  height: 30px;
}

/*------------------------------ contact form (page: index, contacts) ------------------------------*/
form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid #000000;
  padding: 14px 25px;
  margin-bottom: 30px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border: 1px solid #fd322b;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  -ms-flex-preferred-size: 48.6%;
      flex-basis: 48.6%;
  max-width: 48.6%;
  /*for IE10, 11 fix*/
}

textarea {
  resize: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  height: 145px;
}

input[type="submit"] {
  margin: 0 auto;
}

/*------------------------------ single work and single service page ------------------------------*/
.back-button__container {
  padding: 3.4% 0 1.1%;
}

.back-button {
  display: inline-block;
  font-size: 18px;
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
}

.back-button:hover {
  text-decoration: underline;
}

.back-button:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #e8e8e8;
  background-image: url(../img/back.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.about-section__work,
.about-section__service {
  padding-top: 2%;
}

.about-section__work .about-text,
.about-section__service .about-text {
  margin-bottom: 1%;
}

.about-section__work {
  padding-bottom: 5%;
}

.about-section__service {
  padding-bottom: 1.4%;
}

.about-section__service .about {
  margin-bottom: 25px;
}

.about-section__work .about {
  margin-bottom: 7px;
}

.about .work-name {
  margin-bottom: 32px;
}

.about .service-name {
  margin-bottom: 26px;
}

.similar-section {
  padding-bottom: 2.2%;
}

.similar-section h2 {
  margin-bottom: 4.7%;
}

.finished-section {
  padding-bottom: 4%;
}

.finished-section h2 {
  margin-bottom: 4.6%;
}

.associated-section {
  padding-bottom: 4.7%;
}

.associated-section h2 {
  margin-bottom: 6%;
}

.about-text__service {
  margin-bottom: .2%;
}

/*------------------------------ footer ------------------------------*/
.footer {
  background: #fd322b;
  color: #fff;
  font-size: 16px;
  padding: 4.2% 0 3%;
}

/*footer top*/
.footer-top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  max-width: 275px;
}

.footer-logo .logo {
  margin: 5px 0 22px;
  width: 160px;
  height: 160px;
}

.footer-logo p {
  margin-bottom: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 400px;
}

.footer-nav__links {
  padding: 0 10px;
  max-width: 190px;
}

.footer-nav__links li {
  margin-bottom: 10px;
}

.footer-nav__links a {
  display: inline-block;
  position: relative;
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 8px;
  padding-top: 0;
}

.footer-nav__links a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.footer-nav__links a:hover:after, .footer-nav__links a:active:after, .footer-nav__links a.active:after {
  width: 100%;
}

.footer-contacts {
  max-width: 255px;
}

/*footer bottom*/
.footer-bottom {
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.footer-bottom:after {
  content: "";
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  height: 0;
}

.footer-social {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
}

.footer-social li {
  display: inline-block;
  margin-right: 6px;
}

.footer-social a {
  opacity: .8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.footer-social a:hover {
  opacity: 1;
}

.footer-social__link--tw {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -592px;
  width: 40px;
  height: 40px;
}

.footer-social__link--ig {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -542px;
  width: 40px;
  height: 40px;
}

.footer-social__link--fb {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -492px;
  width: 40px;
  height: 40px;
}

.copy {
  position: relative;
  top: -9px;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-align: center;
}

.copy span {
  font-size: 20px;
}

/*------------------------------ Media queries  ------------------------------*/
@media only screen and (max-width: 1024px) {
  /*works and services img galleries*/
  .description {
    padding-top: 5% !important;
  }
  .description a {
    bottom: 30px !important;
  }
  .description p {
    line-height: 1.2;
  }
}

@media only screen and (max-width: 992px) {
  /*header and navigations*/
  .header-logo {
    width: 15%;
  }
  .header-contacts a {
    font-size: 13px;
  }
  .header-contacts a:before {
    margin-right: 10px;
  }
  .header-nav__links a {
    font-size: 15px;
  }
  /*works and services img galleries*/
  .item h3 {
    font-size: 20px;
  }
  /*news section*/
  .about-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .news-section:after {
    opacity: .4;
  }
  .about-button {
    margin-bottom: 5%;
  }
  /*video*/
  .video-description {
    padding-top: 1%;
  }
  .video-description h3 {
    margin-bottom: 2%;
  }
  .video-description p {
    font-size: 13px;
  }
  /*single service page*/
  .about-text__service.about-text p:last-of-type,
  .about-text__work.about-text p:last-of-type {
    margin-bottom: 1%;
  }
}

@media only screen and (max-width: 868px) {
  /*footer*/
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-logo {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .footer-logo p {
    padding: 0 20px;
  }
  .footer-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom .copy {
    width: 100%;
  }
  .footer-social {
    text-align: center;
    margin-bottom: 20px;
  }
  .contacts-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    max-width: 100%;
  }
  .contacts-list li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    white-space: nowrap;
    margin: 10px 0px;
  }
  .contacts-list .contacts__link--map {
    padding-top: 0;
    height: 30px;
    line-height: 30px;
    max-width: 100%;
  }
  /*action page*/
  .action-details__img {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  /*header and navigations*/
  .header-content .wrapper {
    padding-top: 2%;
  }
  .header-nav .nav-links {
    display: none;
  }
  .mob-nav__btn {
    display: block;
  }
  .header-logo {
    position: absolute;
    bottom: 5%;
  }
  .header-contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
    width: auto;
  }
  .header-contacts li {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
  .header-social {
    width: 100%;
    margin-bottom: 20px;
  }
  .header-social li {
    margin: 0 2px;
  }
  .header-contacts li {
    margin: 6px 0;
  }
  .slider-controls {
    display: none;
  }
  /*news section*/
  .news-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-section:after {
    background-image: url(../img/newspapers-sm.jpg);
  }
  /*contacts form*/
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    margin-bottom: 15px;
  }
  /*works and services img galleries*/
  .col-2-container .item,
  .col-3-container .item {
    margin-bottom: 20px;
  }
  .col-3-container .item {
    max-width: 49%;
  }
  .description p {
    font-size: 14px;
  }
  /*video page*/
  .video-description {
    padding-left: 10px;
    padding-right: 10px;
  }
  .video-description p {
    width: 100%;
  }
  /*single service page*/
  .about-calculate {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-calculate span {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 10px;
  }
  .associated-section .associated-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .associated-section .item {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    max-width: 450px;
  }
  /*footer*/
  .footer-nav,
  .footer-contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer-nav {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px;
  }
  .footer-contacts {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  /*common on different pages*/
  .button:hover, .button:active {
    -webkit-box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.5);
  }
  h2 {
    font-size: 30px;
  }
  p {
    line-height: 1.2;
  }
}

@media only screen and (max-width: 700px) {
  /*works and services img galleries*/
  .col-2-container .item {
    max-width: 450px;
    margin: 0 auto 20px;
  }
  .item p {
    margin-bottom: 4%;
  }
}

@media only screen and (max-width: 480px) {
  /*header*/
  .header-top__contacts .header-contacts {
    display: none;
  }
  /*works and services img galleries*/
  .col-3-container .item {
    max-width: 100%;
  }
  .col-3-container .item .description p {
    max-width: 100%;
    max-height: 190px;
  }
  /*about section*/
  .about-text p {
    font-size: 14px;
  }
  /*contacts form*/
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    /*for IE10, 11 fix*/
    max-width: 100%;
  }
  /*action banner*/
  .banner-content {
    padding-left: 5%;
  }
  .banner-content h2 {
    font-size: 45px;
  }
  .banner-section {
    background-position: 52% 50%;
  }
  .banner-section__actions .wrapper {
    background-position: 65% 50%;
  }
  /*footer*/
  .footer-logo .logo {
    width: 100px;
    height: 100px;
  }
}

