/* ==================== styles reset ======================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================== fonts ======================= */
@font-face {
  font-family: "PT-moto";
  src: url("../fonts/pt-mono_allfont_ru.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "rodchenkoctt";
  src: url("../fonts/rodchenkoctt_allfont_ru.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* ==================== common styles ======================= */
html {
  font-size: 18px;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #fff;
  color: #383838;
  font-family: "PT-moto", serif;
  font-size: 18px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
button {
  outline: none;
  border: none;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

input,
input:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-moto", serif;
}

:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-moto", serif;
}

::-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-moto", serif;
}

::placeholder {
  color: #333;
  font-size: 16px;
  font-family: "PT-moto", serif;
}

section {
  position: relative;
  padding: 5% 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 96%;
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  color: #191919;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

.button {
  display: block;
  width: 220px;
  height: 55px;
  line-height: 55px;
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.button:hover {
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}

.button-light {
  color: #191919;
  background: #fff;
}

.button-bright {
  color: #fff;
  background: #fd322b;
}

.banner-button {
  position: relative;
  top: 0;
  margin-bottom: 8%;
}

.banner-button:hover {
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  top: -1px;
}

/*------------------------------ Header ------------------------------*/
.header {
  position: relative;
  background: #555;
  overflow: hidden;
  color: #fff;
  overflow: hidden;
}

.slide-item {
  display: block;
  width: 100vw;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.slider-controls .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prev,
.next {
  display: block;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -410px;
  width: 18px;
  height: 31px;
}

.next {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -451px;
  width: 18px;
  height: 31px;
}

.header-content,
.header-content .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.header-content {
  width: 100%;
}

.header-content .wrapper {
  padding: 1% 0 5%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-top__contacts,
.header-nav {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header-social {
  white-space: nowrap;
}

.header-social li,
.header-social a {
  display: inline-block;
}

.header-social li {
  margin-right: 4px;
}

.header-social a {
  opacity: 0.8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header-social a:hover {
  opacity: 1;
}

.header-social__link--tw {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -592px;
  width: 40px;
  height: 40px;
}

.header-social__link--ig {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -542px;
  width: 40px;
  height: 40px;
}

.header-social__link--fb {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -492px;
  width: 40px;
  height: 40px;
}

.header-top__contacts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header-contacts li,
.header-contacts a {
  display: inline-block;
  white-space: nowrap;
}

.header-contacts li {
  margin-left: 30px;
}

.header-contacts a:before {
  content: "";
  display: inline-block;
  margin-right: 21px;
  vertical-align: middle;
}

.decorated {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.decorated:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.decorated:hover:after, .decorated:active:after {
  width: 100%;
}

.header-contacts__link--map:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -250px;
  width: 21px;
  height: 30px;
}

.header-contacts__link--phone:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -370px;
  width: 30px;
  height: 30px;
}

.header-contacts__link--mail:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -130px;
  width: 26px;
  height: 30px;
}

/*main navigation*/
.header-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo {
  width: 20%;
}

.header-logo .logo {
  width: 100%;
}

.nav-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-links li {
  padding: 0 1%;
}

.nav-links a {
  position: relative;
  font-size: 17px;
  display: inline-block;
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 0;
}

.nav-links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: #fd322b;
}

.nav-links a:hover:before, .nav-links a:active:before, .nav-links a.active:before {
  width: 100%;
}

.mobile-nav .nav-links a:before {
  background: #fff;
}

/*mobile menu button*/
.mob-nav__btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #fd322b;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  display: none;
  z-index: 5;
}

.mob-nav__btn span {
  display: block;
  background: #fff;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  border: none;
}

.mob-nav__btn span:before, .mob-nav__btn span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.mob-nav__btn span:before {
  top: -10px;
}

.mob-nav__btn span:after {
  top: 10px;
}

/*mobile menu*/
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -320px;
  width: 320px;
  height: 100vh;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 20px 20px;
  background: rgba(253, 50, 43, 0.8);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 10;
}

.mobile-nav.active {
  left: 0;
}

.mobile-nav .nav-links {
  padding-bottom: 20px;
}

.mobile-nav__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}

.mobile-contacts {
  position: relative;
  padding-top: 20px;
}

.mobile-contacts:before {
  content: "";
  display: block;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: 1px;
  background: #fff;
}

.mobile-contacts li,
.footer-contacts li {
  margin-bottom: 19px;
}

.mobile-contacts a,
.footer-contacts a {
  display: inline-block;
  position: relative;
}

.mobile-contacts a:before,
.footer-contacts a:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.mobile-contacts__link--map:before,
.footer-contacts__link--map:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -330px;
  width: 21px;
  height: 30px;
}

.mobile-contacts__link--phone:before,
.footer-contacts__link--phone:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -90px;
  width: 30px;
  height: 30px;
}

.mobile-contacts__link--mail:before,
.footer-contacts__link--mail:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -210px;
  width: 26px;
  height: 30px;
}

/*------------------------------ services-list ------------------------------*/
.services-section {
  padding-bottom: 6%;
}

.services-list,
.works-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.services-list h3,
.works-list h3 {
  color: #fff;
}

.service-item {
  max-width: 350px;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  height: 265px;
}

.works-item {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  min-height: 280px;
  height: 410px;
  max-width: 540px;
}

.service-item,
.works-item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.service-item:after,
.works-item:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #383838;
  opacity: .7;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 1;
}

.service-item > h3,
.works-item > h3 {
  position: absolute;
  bottom: 40px;
  left: 28px;
  font-size: 24px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 2;
}

.service-item .description,
.works-item .description {
  position: absolute;
  opacity: 0.9;
  background: #fd322b;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  top: 101%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.service-item:hover:after,
.works-item:hover:after {
  top: 100%;
  bottom: -100%;
}

.service-item:hover > h3,
.works-item:hover > h3 {
  opacity: 0;
}

.service-item:hover .description,
.works-item:hover .description {
  top: 0;
}

.description {
  padding: 54px 25px;
}

.description h3 {
  font-size: 24px;
  margin-bottom: 17px;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 230px;
}

.description a {
  font-size: 16px;
  text-decoration: underline;
}

.description a:hover {
  text-decoration: none;
}

.powder-painting {
  background-image: url(../img/servicesPreviews/service-1.jpg);
}

.immersion-print {
  background-image: url(../img/servicesPreviews/service-2.jpg);
}

.chemical-metallization {
  background-image: url(../img/servicesPreviews/service-3.jpg);
}

.sandblasting {
  background-image: url(../img/servicesPreviews/service-4.jpg);
}

.shot-blasting {
  background-image: url(../img/servicesPreviews/service-5.jpg);
}

.spraygun-painting {
  background-image: url(../img/servicesPreviews/service-6.jpg);
}

.candy-painting {
  background-image: url(../img/servicesPreviews/service-7.jpg);
}

.aerography {
  background-image: url(../img/servicesPreviews/service-8.jpg);
}

.tire-fitting {
  background-image: url(../img/servicesPreviews/service-9.jpg);
}

/*------------------------------ banner section ------------------------------*/
.banner-section {
  padding: 0;
  background-image: url(../img/bannerBg.jpg);
  background-repeat: repeat;
  background-position: 50% 50%;
}

.banner-section .wrapper {
  height: 100vh;
  min-height: 370px;
  max-height: 645px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content {
  max-width: 540px;
  position: relative;
  z-index: 3;
  color: #fff;
}

.banner-content h2 {
  width: 100%;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 3%;
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 11%;
}

/*------------------------------ news section ------------------------------*/
.news-section {
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}

.news-section:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 45vw;
  height: 45vw;
  background-image: url(../img/newspapers.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: cover;
  z-index: -1;
}

.about {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.about-text {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  margin-bottom: 5%;
  padding-top: 5px;
}

.about-text h2 {
  font-size: 48px;
  margin-bottom: 18px;
}

.about-text h4 {
  font-size: 20px;
  max-width: 470px;
  line-height: 1.4;
  margin-bottom: 18px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 27px;
}

.about-text p:last-of-type {
  margin-bottom: 43px;
}

.about-button {
  color: #fff;
  background: #fd322b;
}

.about-img {
  -ms-flex-preferred-size: 540px;
      flex-basis: 540px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
}

.news-block h2 {
  font-size: 48px;
  margin-bottom: 93px;
  text-align: center;
}

.news-list {
  max-width: 735px;
}

.news-item {
  margin-bottom: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-img {
  -ms-flex-preferred-size: 255px;
      flex-basis: 255px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 160px;
  overflow: hidden;
}

.news-img img {
  width: 100%;
}

.news-content {
  -ms-flex-preferred-size: 480px;
      flex-basis: 480px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 11px 4%;
}

.news-content h3 {
  font-size: 24px;
  margin-bottom: 13px;
}

.news-content p {
  line-height: 1.5;
  margin-bottom: 18px;
}

.read-more {
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  font-size: 19px;
  letter-spacing: 1px;
}

.read-more:after {
  content: "";
  display: inline-block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px 0px;
  width: 21px;
  height: 13px;
  margin-left: 10px;
}

/*------------------------------ map section ------------------------------*/
.map-section {
  padding: 0;
}

.map {
  height: 100vh;
  min-height: 240px;
  max-height: 480px;
  background: #888;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/*------------------------------ footer  ------------------------------*/
.footer {
  background: #fd322b;
  color: #fff;
  font-size: 16px;
  padding: 57px 0 53px;
}

/*footer top*/
.footer-top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  max-width: 275px;
}

.footer-logo .logo {
  margin: 5px 0 22px;
  width: 160px;
  height: 160px;
}

.footer-logo p {
  margin-bottom: 14px;
}

.footer-nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 400px;
}

.footer-nav__links {
  padding: 0 10px;
  max-width: 190px;
}

.footer-nav__links li {
  margin-bottom: 10px;
}

.footer-nav__links a {
  display: inline-block;
  position: relative;
  font-family: "rodchenkoctt", "Arial Black", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 8px;
  padding-top: 0;
}

.footer-nav__links a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.footer-nav__links a:hover:after, .footer-nav__links a:active:after, .footer-nav__links a.active:after {
  width: 100%;
}

.footer-contacts {
  max-width: 255px;
}

/*footer bottom*/
.footer-bottom {
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.footer-social li {
  display: inline-block;
  margin-right: 6px;
}

.footer-social a {
  opacity: .8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.footer-social a:hover {
  opacity: 1;
}

.footer-social__link--tw {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -592px;
  width: 40px;
  height: 40px;
}

.footer-social__link--ig {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -542px;
  width: 40px;
  height: 40px;
}

.footer-social__link--fb {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -492px;
  width: 40px;
  height: 40px;
}

.copy {
  position: relative;
  top: -9px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.copy span {
  font-size: 20px;
}

.empty {
  width: 70px;
}

/*works*/
.works-section .works-item {
  margin-bottom: 30px;
}

.works-section .description {
  padding-top: 29%;
}

.works-section .description p {
  max-width: 80%;
}

.works-section .loading-button {
  margin-top: 1.5%;
}

.heading {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heading h2 {
  font-size: 48px;
  margin-right: 20px;
}

.select-container {
  width: 100%;
  max-width: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.car-make-select,
.work-type-select {
  width: 220px;
}

.loading-button {
  width: 100%;
}

.loading-button .button {
  margin: 0 auto;
}

/*video*/
.video-section {
  padding: 6% 0 7%;
}

.video-section .heading {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.period-select__container {
  margin-right: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.period-select {
  width: 190px;
  border: 1px solid #000;
}

.period-select .selecter-options {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #000;
  border-top-width: 0;
  left: -1px;
}

.video-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-item {
  margin-bottom: 3.3%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-wrapper {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.player-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-description {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 30px;
  overflow: hidden;
}

.video-description h3 {
  margin: 0 32px 20px;
  width: 100%;
}

.video-description p {
  width: 85%;
  font-size: 16px;
}

/*contacts*/
.contacts-section {
  padding-top: 11.5%;
  padding-bottom: 7%;
}

.contacts-section .heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4%;
}

.contacts-section .heading h2 {
  position: relative;
  top: -6px;
}

.contacts-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 450px;
}

.contacts-list li {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.contacts__link--phone,
.contacts__link--map,
.contacts__link--mail {
  position: relative;
  display: inline-block;
  padding-left: 45px;
  font-size: 16px;
}

.contacts__link--phone:before,
.contacts__link--map:before,
.contacts__link--mail:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  margin-right: 20px;
}

.contacts__link--map {
  max-width: 190px;
  padding-top: 2px;
  padding-bottom: 0;
  line-height: 1.4;
}

.contacts__link--map:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -50px;
  width: 21px;
  height: 30px;
}

.contacts__link--phone {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

.contacts__link--phone:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -290px;
  width: 30px;
  height: 30px;
}

.contacts__link--mail {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

.contacts__link--mail:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -170px;
  width: 26px;
  height: 30px;
}

form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="phone"] {
  -ms-flex-preferred-size: 48.6%;
      flex-basis: 48.6%;
  border: 1px solid #000000;
  padding: 14px 25px;
  margin-bottom: 30px;
}

textarea {
  resize: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 145px;
  border: 1px solid #000000;
  padding: 14px 25px;
  margin-bottom: 30px;
}

input[type="submit"] {
  margin: 0 auto;
}

/*------------------------------ actions ------------------------------*/
.action-info-section {
  padding-top: 3%;
}

.action-info-section p {
  font-size: 16px;
}

.actions-heading {
  text-align: center;
  margin: 8.7% 0 2%;
}

.action-banner-section {
  padding: 2% 0;
}

.action-banner-section .wrapper {
  background-image: url(../img/bannerBg.jpg);
  background-repeat: repeat;
  background-position: 50% 50%;
  height: 100vh;
  min-height: 255px;
  max-height: 355px;
  overflow: hidden;
}

.action-banner-section .wrapper p {
  line-height: 1.2;
}

.action-banner-section .banner-content {
  max-width: 635px;
  padding-top: 5.5%;
  padding-left: 8%;
}

.action-banner-section h2 {
  margin-bottom: 2%;
}

.action-banner-section p {
  margin-bottom: 7%;
}

.action-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 13px;
}

.action-presentation {
  text-align: center;
  max-width: 85%;
  margin: 0 auto 5.6%;
}

.action-details {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.5%;
}

.action-details__text,
.action-details__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 410px;
          flex: 1 1 410px;
}

.action-details__text {
  margin-right: 10px;
}

.action-details__img {
  padding-top: 5px;
  margin-left: 10px;
}

.action-details__img img {
  width: 100%;
}

/*------------------------------ end actions ------------------------------*/
/*------------------------------ prides ------------------------------*/
.prides-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prides-container h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 320px;
          flex: 1 0 320px;
}

.prides-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 730px;
          flex: 1 1 730px;
}

.prides-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.prides-img {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fd322b;
  margin-top: 5px;
  margin-right: 8%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.prides-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
}

/*------------------------------ end prides ------------------------------*/
/*------------------------------ gallery ------------------------------*/
.gallery-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*------------------------------ end gallery ------------------------------*/
/* ==================== Media queries ======================= */
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-logo {
    width: 15%;
  }
  .header-contacts a {
    font-size: 13px;
  }
  .header-contacts a:before {
    margin-right: 10px;
  }
  .header-nav__links a {
    font-size: 15px;
  }
  .services-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .service-item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .news-section:after {
    opacity: .4;
  }
  .works-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
  }
  .works-item .description {
    padding-top: 10%;
  }
  .works-item .description p {
    max-width: 100%;
  }
  .video-description p {
    width: 100%;
  }
}

@media only screen and (max-width: 868px) {
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-logo {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .footer-logo p {
    padding: 0 20px;
  }
  .contacts-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    max-width: 100%;
  }
  .contacts-list li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    white-space: nowrap;
    margin: 10px 0px;
  }
  .contacts-list .contacts__link--map {
    padding-top: 0;
    height: 30px;
    line-height: 30px;
    max-width: 100%;
  }
  .action-details__img {
    margin: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .header-content .wrapper {
    padding-top: 2%;
  }
  .header-nav .nav-links {
    display: none;
  }
  .mob-nav__btn {
    display: block;
  }
  .header-contacts {
    margin-bottom: 20px;
  }
  .header-social {
    width: 100%;
    margin-bottom: 20px;
  }
  .header-social li {
    margin: 0 2px;
  }
  .header-contacts li {
    margin: 0 15px;
  }
  .slider-controls {
    display: none;
  }
  .service-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .news-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-nav,
  .footer-contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer-nav {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px;
  }
  .footer-contacts {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .footer-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-social {
    margin-bottom: 20px;
  }
  .empty {
    display: none;
  }
  p {
    line-height: 1.2;
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .header-contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    text-align: left;
    padding: 0 20px;
  }
  .header-contacts li {
    display: block;
    width: 100%;
  }
  .header-top__contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-social {
    width: auto;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-top__contacts .header-contacts {
    display: none;
  }
  .footer-logo .logo {
    width: 100px;
    height: 100px;
  }
  input[type="text"],
  input[type="email"],
  input[type="phone"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .banner-content {
    padding-left: 5%;
  }
  .banner-content h2 {
    font-size: 45px;
  }
}

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=main.css.map */
