/*-------------------------------
reset and common styles
--------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------
common styles
--------------------------------*/

html {
  font-size: 10px;
  /*used for rem-units*/
}

body {
  min-width: 320px;
  overflow-x: hidden;
}


.hidden {
  display: none;
}

.clear {
  width: 0;
  height: 0;
  display: block;
  position: relative;
  clear: both;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

img,
input,
textarea {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  font-size: 18px;
  color: #888;
}

:-ms-input-placeholder {
  font-size: 18px;
  color: #888;
}

::-ms-input-placeholder {
  font-size: 18px;
  color: #888;
}

::placeholder {
  font-size: 18px;
  color: #888;
}

section {
  position: relative;

}

.wrapper {
  position: relative;
  max-width: 1170px;
  padding: 0 15px;
  /*1140px*/
  margin: 0 auto;
  height: 100%;
}



/*-------------------------------

--------------------------------*/

section {
  height: 100vh;
  min-height: 600px;

  position: relative;
  overflow: hidden;
}

.sect_1 .bg{
  background-image: url(../img/pic1.jpg);
}

.sect_2 .bg{
  background-image: url(../img/pic2.jpg);
}

.sect_3 .bg{
  background-image: url(../img/pic3.jpg);
}

.header_text {
  position: absolute;
  left: 20%;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  width: 50%;
  color: #fff;
  text-shadow: 0px 0px 2px  #0f0;
}

.header_text_1 {
  top: 50%;
}

.header_text_2 {
  top: 30%;
}

.header_text_3 {
  top: 10%;
}


.header_text p {
  transition: transform .5s cubic-bezier(.17,.67,.41,5.01);
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

.sect_4 {
  height: 600px;
}
