*::-webkit-input-placeholder {
	color: #aaa;
	opacity: 1;
}
*:-moz-placeholder {
	color: #aaa;
	opacity: 1;
}
*::-moz-placeholder {
	color: #aaa;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #aaa;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: 3px solid #f00;
}
body input:required:valid,
body textarea:required:valid {
	border: 3px solid #0f0;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
}

.header-topline {
	background-color: #43484c;
	padding: 15px 0;
	color: #fff;
}

.header-topline a {
	color: #fff;
	text-decoration: underline;
}

.header-topline a:hover {
	text-decoration: none;
}

.top-links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}

.soc-buttons {
	float: right;
}

.soc-buttons > a {
	font-size: 26px;
	margin-left: 6px;
} 

.auth-button,
.main-menu-button {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1.6em;
}

.logo {
	display: block;
	cursor: pointer;
	padding: 15px 0;
	font-family: "NautilusPompiliusRegular";
	color: #fff;
	font-size: 3.2em;
	text-align: center;
}

.top-header {
	background-color: #4aaad2;
}

.main-menu  {
	background-color: #3797bf;
	margin-bottom: 20px;
	border-radius: 8px;
}

.main-menu ul {
	list-style-type: none;
	float: left;
	z-index: 10;
}

.main-menu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}

.main-menu a:hover {
	background-color: #2787af;
	border-radius: 8px;
}

.main-menu ul li {
	display: inline-block;
}

.main-menu-button {
	padding: 8px 15px 0;
}

.top-contacts {
	float: right;
	color: #fff;
	font-size: 32px;
	padding: 0 15px;
	background-color: #2787af;
	line-height: 53px;
	border-radius: 8px;
}

h1 {
	color: #fff;
	text-align: center;
	font-size: 2em;
	padding: 2em;
	font-family: "RobotoCondensedLight";
}

.slider_container img {
	max-width: 100%;
}

.slider_container {
	position: relative;
	margin-bottom: 15px;
}

.next_button, .prev_button {
	color: #fff;
	font-size: 2.9em;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 42%;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10em;
	line-height: 100%;
}

.next_button {
	right: 0;
	padding: 4px 8px 0 15px;
}

.prev_button {
	left: 0;
	padding: 4px 15px 0 8px;
}

section.order {
	background-color: #e3e3e3;
	padding: 25px 0;
}

.slogan {
	font-size: 22px;
	padding-top: 5px;
}

.button {
	display: block;
	border: none;
	background-color: #2bc6a4;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	max-width: 250px;
}

.button:hover {
	background-color: #44dfbd;
}

.button:active {
	background-color: #08a381;
}

.button {
	float: right;
}

.hidden {
	display: none;
}

.pop_form input[type="text"] {
	display: block;
	line-height: 24px;
	width: 90%;
	margin: 0 auto 12px;
	border: 3px solid #999;
	border-radius: 9px;
	padding: 0 8px;
}

.pop_form .button {
	margin: auto;
	float: none;
}

.pop_form h3 {
	text-align: center;
	text-transform: uppercase;
	font-family: "RobotoCondensedBold";
	font-weight: normal;
	margin: 10px auto 15px;
}

.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
}

.blog_item h3 {
	font: bold 1.1em "RobotoCondensedRegular", sans-serif;
	color: #337ab7;
	text-transform: uppercase;
	margin: 15px auto 8px;
}

.blog_item p {
	margin-top: 0px;
}

.blog_item a {
	color: #000;
}

.right_aside {
	background-color: #e3e3e3;
	border-radius: 5px;
	margin-top: 30px;
	padding: 15px 35px;
}


#top {
	position: fixed;
	right: 2px;
	bottom: 20px;
	outline: 0;
	font-size: 2.3em;
	color: #2787af;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #2787af;
	border-radius: 50%;
	padding: 0 11px 2px;
}

footer {
	padding: 15px;
	background-color: #4aaad2;
	color: #fff;
}

.md {
	font: 1.4em NautilusPompiliusRegular, serif;

}