
/* ==================== common styles ======================= */

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: $regular;
  color: $maintext;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background: $xlight;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .5);
}

.flex {
  display: flex;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  outline: none;
  border: none;
  width: 100%;
}

input,
textarea {
  outline: none;
}

::-webkit-input-placeholder {
  color: #cecece;
  font-size: 10px;
  font-family: $regular;
}

::-moz-placeholder {
  color: #cecece;
  font-size: 10px;
  font-family: $regular;
}

:-ms-input-placeholder {
  color: #cecece;
  font-size: 10px;
  font-family: $regular;
}

::placeholder {
  color: #cecece;
  font-size: 10px;
  font-family: $regular;
}

section {
  position: relative;
  padding: 20px 0;
}

.wrapper {
  position: relative;
  width: 94%;
  max-width: 1110px;
  outline: 1px solid cyan;
  margin: 0 auto;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $bold;
  color: $xdark;
}

h2 {
  font-size: 35px;
  margin-bottom: 35px;
}

h3 {
  font-size: 26px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  position: relative;
  width: 255px;
  height: 54px;
  line-height: 48px;
  text-align: center;
  border-radius: 27px;
  // text-transform: uppercase;
  font-family: $bold;
  font-size: 18px;
  overflow: hidden;
  outline: none;
  transition: all .6s;
}

.button-bright {
  background: $bright;
  color: $xlight;
  border: 4px solid $bright;
  &:hover,
  &:active {
    color: $bright;
    box-shadow: inset 280px 40px 60px $xlight
  }
}

.button-light {
  background: $xlight;
  color: $bright;
  border: 4px solid $bright;
  &:hover,
  &:active {
    color: $xlight;
    box-shadow: inset 280px 50px 60px $bright;
  }
}


/*------------------------------ header ------------------------------*/
.header {
  position: relative;
  overflow: hidden;
  background: #9b9b9b;
  //min-height: 900px;
}

.js-mainSlider {
  img {
    //min-height: 950px;
    //width: auto !important;
  }
}

.slide_item {
  position: relative;
  min-height: 950px;
  img {

    //outline: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    //min-height: 950px;
    //margin: 0 auto;
    //width: auto;
    height: 100%;
    transition: all .4s;
    //opacity: 0;
    z-index: 1;
  }
}

.slide_item.slick-current.slick-active {
  z-index: 2;
  img {
    //opacity: 1;
    outline: 1px solid red;
  }
}

.header_content {
  //display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: stretch;
  .wrapper {
    position: relative;
    flex-wrap: wrap;
    align-content: space-between;
    color: $mlight;
    &:after { /*for vertical justifying*/
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: gold;
    }
  }
}

.header_content-top {
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo_container {
  padding: 3% 0;
}

.logo {
  display: inline-block;
  font-size: 32px;
  font-family: $bold;
  text-transform: uppercase;
  color: $xlight;
  span {
    color: $bright;
  }
}

.logo-text {
  display: inline-block;
  max-width: 270px;
  padding: 0 30px;
  font-size: 12px;
  line-height: 1.5;
}

.menu-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $bold;
  background: $bright;
  color: $xlight;
  vertical-align: middle;
  cursor: pointer;
}

.header-phone {
  display: inline-block;
  font-family: $medium;
  font-size: 17px;
  padding: 5px 0 5px 33px;
  outline: 1px solid red;
  letter-spacing: .5px;

  &:before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 9px;
    @include sprite($s-phone);
  }
}

.header_content-main {
  p {
    margin-bottom: 2%;
  }
  .turnkey {
    font-size: 16px;
    text-transform: uppercase;
    font-family: $light;
    margin-bottom: 9.2%;
  }
}

.heading_lg {
  color: $xlight;
  font-size: 90px;
  line-height: 0.9;
  max-width: 540px;
  font-family: $bold;
  margin-left: -5px;
  margin-bottom: 4.5%;
}

.form_bg {
  position: absolute;

  outline: 1px solid black;
  left: 47%;
  bottom: 0;
  width: 1200px;
  height: 754px;
  background-image: url(../img/arm-white-clipped2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form_container {
  outline: 1px solid red;
  //display: flex;
  //flex-wrap: wrap;
  //align-content: center;
  //justify-content: center;
  position: absolute;
  width: 260px;

  text-align: center;
  outline: 1px solid lime;
  left: 104px;
  top: 0;
  padding: 130px 5px 10px;
  .logo {
    color: $xdark;
    margin-bottom: 44px;
    letter-spacing: -1px;
  }

  h3,
  p {
    text-align: center;
  }

  h3 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
  }

  p{
    margin-bottom: 9px;
    font-size: 10.2px;
  }
}

.callback-form {
  flex-basis: 100%;
  text-align: center;
  padding-top: 15px;

  input,
  textarea {
    outline: none;
    width: 210px;
    height: 37px;
    line-height: 37px;
    padding: 0px 24px;
    border-radius: 17px;
    border: 2px solid #e1e1e1;
    margin-bottom: 20px;
  }
  textarea {
    resize: none;
    overflow: hidden;
    margin-bottom: 16px;
  }
}

input[type="submit"] {
  display: inline-block;
  height: 40px;
  border-radius: 20px;
  font-family: $bold;
  // background: $bright;
  // color: $xlight;
  border: 2px solid $bright;
  transition: all .6s;
  cursor: pointer;
}

// .slick-arrow {
//   position: relative;
//   z-index: 20;
// }

/*------------------------------ calculator section ------------------------------*/

.calculator-section {
  padding: 9% 0 8.5%;
  //min-height: 515px;
  background-image: url(../img/ruler.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: ruler 60s linear infinite;
}

@keyframes ruler {
  0% {background-position: 0 0;}
  100% {background-position: 100% 0;}
}

.calculator-heading {
  text-align: right;
  margin: 0 27px;
  font-size: 35px;
}

.calculator-content {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.calculator-square {
  outline: 1px solid red;
  justify-content: center;
  max-width: 555px;
  flex-wrap: wrap;
}

.square-scale {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-basis: 100%;
}

.scale-down,
.scale-up {
  flex-grow: 1;
  flex-basis: 200px;
  text-align: center;
  span {
    font-family: $medium;
    font-size: 36px;
    color: $xdark;
    min-width: 83px;
  }
}

.scale-down {
  span {
    width: 50%;
    &:after {
      content: "-";
      margin: 0 5px;
    }
  }
}

.scale-up {
  span {
    &:before {
      content: "-";
      margin: 0 10px;
    }
  }
}

.scale-actual {
  width: 220px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  background: #e5e5e5;
  color: $bright;
  font-family:  $bold;
  font-size: 110px; 
  margin: 0 5px;
  box-shadow: inset 1px 2px 4px rgba(0,0,0,.3), inset -1px 0px 3px rgba(0,0,0,.2);
}

.square-square_control {
  white-space: nowrap;
}

.scale-btn {
  display: inline-block;  
  width: 30px;  
  height: 30px; 
  line-height: 30px;  
  background:   $xlight;
  font-size: 22px;  
  font-family:  $bold;
  text-align: center; 
  border-radius:  50%;
  box-shadow: -5px 5px 20px rgba(0,0,0,.2);
  transition: all .4s;
  cursor: pointer;
  &:hover,
  &:active {
    box-shadow: -7px 7px 30px rgba(0,0,0,.4);
  }
}

.scale-btn_text {
  font-size: 22px;
  padding: 0 25px;
}

sup {
  font-size: 9px;
  vertical-align: super;
}

.calculator-valuation {
  max-width: 445px;
  outline: 1px solid red;
  padding: 6% 0% 1%;
}

.approximate-cost {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13%;
}

.approximate-cost_text {
  font-size: 18px;
  line-height: 1.5;
  max-width: 250px;
}

.approximate-cost_value {
  font-family: $bold;
  font-size: 23px;
  padding: 10px 32px 10px 40px;
  white-space: nowrap;
}

.approximate-cost_calculated {
  display: inline-block;
  min-width: 80px;
  text-align: right;
}

.accurate-cost {
  //justify-content: space-between;
}

.button.accurate-cost_btn {
  //flex-basis: 50%;
  box-shadow: 0px 3px 20px rgba(0,0,0,.3);
  &:hover,
  &:active {
    color: $bright;
    box-shadow: 0px 3px 20px rgba(0,0,0,.3), inset 280px 20px 30px $xlight
  }
}

.accurate-consist_btn {
  //display: inline-block;
  flex-basis: 50%;
  position: relative;
  font-size: 17px;
  line-height: 1.4;
  max-width: 160px;
  padding-left: 40px;
  margin-left: 27px;
  &:before {
    content: "?";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-family: $medium;
    margin-right: 15px;
    border-radius: 50%;
    background: #e8e8e8;
    text-align: center;
  }
}

/*------------------------------ advantages section ------------------------------*/

.advantages-section {
  padding: 12% 0 6%;
}

.trust-container {
  margin-bottom: 9.7%;
}

.trust-counter {
  display: inline-block;
  //justify-content: center;
  //align-content: center;
  //flex-wrap: wrap;
  padding: 45px 40px 20px;
  margin: 0 8.4% 20px;
  width: 255px;
  height: 255px;
  background: $bright;
  color: $xlight;
  vertical-align: top;
  p {
    //flex-basis: 100%;
    font-family: $bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    &:first-child {
      line-height: 1.5;
      margin-bottom: 18px;
    }
  }
  .trust-counter_value{
    font-size: 72px;
    margin-bottom: 10px;
  }
}



.trust-text {
  padding: 0 2%;
  display: inline-block;
  width: 100%;
  max-width: 58%;
  .heading {
    font-family: $bold;
    font-size: 72px;
    margin-top: -8px;
    margin-bottom: 3%;
  }
  p {
    //font-family: $light;
    font-size: 18px;
    line-height: 1.5;
    max-width: 350px;
    margin-bottom: 6.3%;
    b {
      font-family: $bold;
    }
  }
}

.advantages-list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {

  //flex-basis: 32%;
  max-width: 350px;
  position: relative;
  padding: 147px 30px 90px;
  text-align: center;
  margin-bottom: 3.7%;
  box-shadow: inset 0px 0px 0px $bright, 0px 5px 20px rgba(0,0,0,.2);
  transition: all .4s;
  .advantage-img_bottom,
  .advantage-img_top {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s;
  }
  .advantage-img_top {
    opacity: 1;
  }
  .advantage-img_bottom {
    opacity: 0;
  }
  h4 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: $medium;
    margin-bottom: 22px;
    transition: all .4s;
  }
  p {
    font-size: 17px;
    line-height: 1.41;
  }

  &:hover,
  &:active {
    color: $xlight;
    box-shadow: inset 350px 350px 70px $bright, 0px 0px 0px rgba(0,0,0,.2);
    h4 {
      color: $xlight;
    }
    .advantage-img_bottom {
      opacity: 1;
    }

    .advantage-img_top {
      opacity: 0;
    }
  }
}

.advantages-item_fresh {
  .advantage-img_top {
    @include sprite($s-fresh-bright);
  }
  .advantage-img_bottom {
    @include sprite($s-fresh-light);
  }
}

.advantages-item_price {
  .advantage-img_top {
    @include sprite($s-piggy-bright);
  }
  .advantage-img_bottom {
    @include sprite($s-piggy-light);
  }
}

.advantages-item_manufacture {
  .advantage-img_top {
    @include sprite($s-house-bright);
  }
  .advantage-img_bottom {
    @include sprite($s-house-light);
  }
}

.advantages-item_noise {
  .advantage-img_top {
    @include sprite($s-noise-bright);
  }
  .advantage-img_bottom {
    @include sprite($s-noise-light);
  }
}

.advantages-item_original {
  .advantage-img_top {
    @include sprite($s-original-bright);
  }
  .advantage-img_bottom {
    @include sprite($s-original-light);
  }
}

.advantages-item_montage {
  .advantage-img_top {
    @include sprite($s-percents-bright);
  }
  .advantage-img_bottom {
    @include sprite($s-percents-light);
  }
}

/*------------------------------ catalog section ------------------------------*/
.catalog-section {
  padding: 1% 0 2%;
}

.categories-list {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  li {
    position: relative;
    font-family: $medium;
    font-size: 16px;
    padding: 10px 5px;
    color: #d1d1d1;
    cursor: pointer;
    transition: all .4s;
    &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 4px;
      background: $bright;
      box-shadow: 0px 4px 20px rgba(0,0,0,.2);
      transition: all .4s;
    }
    &:hover,
    &:active,
    &.active {
      color: #003942;
      &:after {
        width: 100%;
      }
    }
  }
}

.heading {
  font-size: 35px;
  text-align: center;
  margin-bottom: 1.5%;
}

.heading-notation {
  font-family: $medium;
  font-size: 20px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 2%;
}

.slider-container {
  position: relative;
  padding: 0 !important;
}

.slick-list {
  overflow: visible !important;
}

.category-slide-item {
  position: relative;
  padding: 60px 0 0 65px;
  width: 100%;
  img {
    max-width: 760px;
    box-shadow: 0px -1px 50px 2px rgba(0,0,0,.2), 5px 20px 30px rgba(0,0,0, .2) ;
    margin-bottom: 30px;
  }
}

.slide-description {
  position: absolute;
  background: $xlight;
  max-width: 445px;
  right: 0;
  bottom: 30px;
  padding: 4.4% 5.5% 6.8% 5.5%;
  box-shadow: 3px 7px 40px  rgba(0,0,0,.3);
  z-index: 1;
  h4 {
    font-family: $bold;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 13px;
    letter-spacing: -0.5px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 52px;
  }
  .slide-price_title {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .slide-price_value {
    font-family: $bold;
    font-size: 22px;
    color: $xdark;
    margin-bottom: 32px;
    sup {
      vertical-align: top;
      font-size: 16px;
    }
  }
  .slide-order-button {
    width: 100%;
  }
}

.slider-arrows {
  position: absolute;
  width: 130px;
  height: 65px;
  background: $xlight;
  box-shadow: -3px 5px 30px rgba(0,0,0,.2);
}

.slider-arrows {
  top: 27%;
  right: 0;
}


.slider-prev,
.slider-next {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  transition: all .4s;
  cursor: pointer;
  filter: grayscale(100%);
  opacity: .2;
  &:hover,
  &:active {
    filter: none;
    opacity: 1;
  }
}

.slider-prev {
  @include sprite($s-prev-bright-arrow);
  left: 18px;
}

.slider-next {
  @include sprite($s-next-bright-arrow);
  right: 18px;
}

.decor-dots {
  background-image: url(../img/dots.jpg);
  background-repeat: repeat;
}

.decor-dots_slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 32%;
  height: 43%;
}

/*------------------------------ gifts section ------------------------------*/
.gifts-section {
  position: relative;

  outline: 3px solid gold;
  padding: 5% 0 7%;
  margin-bottom: 120vh;
}

.bag-container {
  position: relative;
  min-width: 50%;
  outline: 1px solid red;
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60vw;
    background: #e8e8e8;
    z-index: -1;
  }
  .gift-logo {
    outline: 1px solid lime;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    .logo {
      font-size: 90px;
    }
  }
  img {
    width: 100%;
  }
}

.gifts-text {
  padding: 15% 2% 4% 8.7%;
  h2 {
    margin-bottom: 5%;

  }
  p {
    font-size: 20px;
    line-height: 1.75;
    margin-bottom: 10%;
  }
  .button {
    margin-bottom: 10px;
  }
}

.present-box {
  position: absolute;
}

.present-box-1 {
  width: 600px;
  left: 0;
  top: 70%;
}

.present-box-2 {
  width: 483px;
  right: 0%;
  bottom: -200px;
  z-index: -1;
}

.present-box-3 {
  width: 286px;
  right: -3%;
  bottom: 364px;
  z-index: -2;
}