    $s-dr: 0px 24px 0px -24px 16px 16px 40px 831px 'sprite.png';
    $s-fb: 0px 76px 0px -76px 16px 16px 40px 831px 'sprite.png';
    $s-fresh-bright: 0px 641px 0px -641px 30px 40px 40px 831px 'sprite.png';
    $s-fresh-light: 0px 741px 0px -741px 30px 40px 40px 831px 'sprite.png';
    $s-house-bright: 0px 411px 0px -411px 40px 36px 40px 831px 'sprite.png';
    $s-house-light: 0px 503px 0px -503px 40px 36px 40px 831px 'sprite.png';
    $s-ig: 0px 102px 0px -102px 16px 16px 40px 831px 'sprite.png';
    $s-next-bright-arrow: 0px 128px 0px -128px 30px 20px 40px 831px 'sprite.png';
    $s-next-gray-arrow: 0px 158px 0px -158px 30px 20px 40px 831px 'sprite.png';
    $s-noise-bright: 0px 281px 0px -281px 40px 32px 40px 831px 'sprite.png';
    $s-noise-light: 0px 323px 0px -323px 40px 32px 40px 831px 'sprite.png';
    $s-original-bright: 0px 791px 0px -791px 40px 40px 40px 831px 'sprite.png';
    $s-original-light: 0px 691px 0px -691px 40px 40px 40px 831px 'sprite.png';
    $s-percents-bright: 0px 365px 0px -365px 38px 36px 40px 831px 'sprite.png';
    $s-percents-light: 0px 457px 0px -457px 38px 36px 40px 831px 'sprite.png';
    $s-phone: 0px 248px 0px -248px 23px 23px 40px 831px 'sprite.png';
    $s-pi: 0px 50px 0px -50px 16px 16px 40px 831px 'sprite.png';
    $s-piggy-bright: 0px 595px 0px -595px 38px 36px 40px 831px 'sprite.png';
    $s-piggy-light: 0px 549px 0px -549px 38px 36px 40px 831px 'sprite.png';
    $s-prev-bright-arrow: 0px 218px 0px -218px 30px 20px 40px 831px 'sprite.png';
    $s-prev-gray-arrow: 0px 188px 0px -188px 30px 20px 40px 831px 'sprite.png';
    $s-tw: 0px 0px 0px 0px 17px 14px 40px 831px 'sprite.png';
