

/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/

$regular: GothamProRegular, sans-serif;
$medium: GothamProMedium, sans-serif;
$bold: GothamProBold, sans-serif;
$light: GothamProLight, sans-serif;

$bright: #ee0e09;
$maintext: #505050;
$xlight: #fff;
$mlight: #ddd;
$dark: #525252;
$xdark: #202020;


