/* ==================== styles reset ======================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main,
aside,
.main,
.aside {
  display: block;
}

/* ==================== fonts ======================= */
@font-face {
  font-family: "ArialNovaCondencedBold";
  src: url("../fonts/arial-nova/ArialNovaCond-Bold.eot");
  src: url("../fonts/arial-nova/ArialNovaCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/arial-nova/ArialNovaCond-Bold.woff") format("woff"), url("../fonts/arial-nova/ArialNovaCond-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "ArialNovaCondenced";
  src: url("../fonts/arial-nova/ArialNovaCond.eot");
  src: url("../fonts/arial-nova/ArialNovaCond.eot?#iefix") format("embedded-opentype"), url("../fonts/arial-nova/ArialNovaCond.woff") format("woff"), url("../fonts/arial-nova/ArialNovaCond.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ArialNovaRegular";
  src: url("../fonts/arial-nova/ArialNova.eot");
  src: url("../fonts/arial-nova/ArialNova.eot?#iefix") format("embedded-opentype"), url("../fonts/arial-nova/ArialNova.woff") format("woff"), url("../fonts/arial-nova/ArialNova.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ArialNovaBold";
  src: url("../fonts/arial-nova/ArialNova-Bold.eot");
  src: url("../fonts/arial-nova/ArialNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/arial-nova/ArialNova-Bold.woff") format("woff"), url("../fonts/arial-nova/ArialNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "ArialNovaCondencedLight";
  src: url("../fonts/arial-nova/ArialNovaCond-Light.eot");
  src: url("../fonts/arial-nova/ArialNovaCond-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/arial-nova/ArialNovaCond-Light.woff") format("woff"), url("../fonts/arial-nova/ArialNovaCond-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* ==================== variables ======================= */
/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/
/* ==================== common styles ======================= */
html {
  font-size: 10px;
  /*used for rem-units*/
  overflow-x: hidden;
}

body {
  min-width: 320px;
  overflow: hidden;
  color: #000;
  font-family: ArialNovaRegular, sans-serif;
  font-size: 18px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
input,
input:focus,
textarea {
  outline: none;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #555;
}

:-ms-input-placeholder {
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #555;
}

::-ms-input-placeholder {
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #555;
}

::placeholder {
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #555;
}

section {
  position: relative;
  padding: 12rem 0 6rem;
}

.wrapper {
  position: relative;
  width: 94%;
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper-wide {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 4rem;
  color: #000;
}

h2 {
  font-size: 72px;
  color: #fff;
  font-family: ArialNovaCondencedBold, sans-serif;
}

.heading {
  position: relative;
  font-size: 60px;
  color: #030303;
  text-align: center;
  margin-bottom: 7rem;
}

.heading-decored {
  padding-bottom: 38px;
  margin-bottom: 7rem;
}

.heading-decored:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90px;
  height: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(33.333%, #fff), color-stop(33.334%, #005b9c), color-stop(66.667%, #005b9c), color-stop(66.668%, #f10018), to(#f10018));
  background: -webkit-linear-gradient(left, #fff, #fff 33.333%, #005b9c 33.334%, #005b9c 66.667%, #f10018 66.668%, #f10018);
  background: -o-linear-gradient(left, #fff, #fff 33.333%, #005b9c 33.334%, #005b9c 66.667%, #f10018 66.668%, #f10018);
  background: linear-gradient(90deg, #fff, #fff 33.333%, #005b9c 33.334%, #005b9c 66.667%, #f10018 66.668%, #f10018);
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
}

.flex-elem-fourth {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.button {
  display: inline-block;
  position: relative;
  min-width: 200px;
  height: 46px;
  line-height: 46px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: ArialNovaCondencedBold, sans-serif;
  text-align: center;
  border-radius: 23px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.button-color {
  background: #005b9c;
  color: #ffffff;
}

.button-color:hover {
  -webkit-box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.3);
}

.button-light {
  background: #fff;
  color: #010101;
}

.button-light:hover {
  -webkit-box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.5);
}

/*------------------------------ header ------------------------------*/
.header h2 {
  text-transform: uppercase;
}

.header-wrapper {
  position: relative;
}

.main-slide {
  position: relative;
}

.main-slide h2 {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: ArialNovaCondencedBold, sans-serif;
  text-transform: uppercase;
  font-size: 72px;
  color: #ffffff;
  line-height: 1.2;
  max-width: 980px;
}

.header-top {
  width: 100%;
  position: absolute;
  top: 0;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.6rem 3.2rem 3rem 5rem;
}

.header-top.header-top-light {
  position: static;
  background: #ffffff;
  color: #0a0a0a;
}

.header-top.header-top-dark-text {
  color: #0a0a0a;
}

.header-top.header-top-dark-text .menu-btn,
.header-top.header-top-dark-text .menu-btn:before,
.header-top.header-top-dark-text .menu-btn:after {
  background: #0a0a0a;
}

.header-top-left {
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-right: 10%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-nav {
  font-family: ArialNovaCondenced, sans-serif;
}

.header-nav li {
  padding: 0 20.5px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header-nav a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 0;
  white-space: nowrap;
  overflow: hidden;
}

.header-nav a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 4px;
  background: #005b9c;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header-nav a:hover:after, .header-nav a.active:after {
  right: 0;
}

.lang-btns {
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.lang-btns li {
  display: inline-block;
}

.lang-btns a {
  padding: 5px 10px;
  opacity: .8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.lang-btns a:hover, .lang-btns a.active {
  opacity: 1;
}

.top-menu-btn {
  text-transform: uppercase;
  font-size: 20px;
  font-family: ArialNovaCondenced, sans-serif;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.top-menu-btn span:first-child {
  margin-right: 30px;
}

.top-menu-btn:hover .menu-btn,
.top-menu-btn:hover .menu-btn:before,
.top-menu-btn:hover .menu-btn:after {
  -webkit-box-shadow: inset -30px 0px 0px #005b9c;
          box-shadow: inset -30px 0px 0px #005b9c;
}

.menu-btn {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 2px;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px #005b9c;
          box-shadow: inset 0px 0px 0px #005b9c;
  -webkit-transition: all .4s .2s;
  -o-transition: all .4s .2s;
  transition: all .4s .2s;
}

.menu-btn:before, .menu-btn:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px #005b9c;
          box-shadow: inset 0px 0px 0px #005b9c;
}

.menu-btn:before {
  top: -10px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.menu-btn:after {
  top: 10px;
  -webkit-transition: all .4s .4s;
  -o-transition: all .4s .4s;
  transition: all .4s .4s;
}

.header-top-light .menu-btn,
.header-top-light .menu-btn:before,
.header-top-light .menu-btn:after {
  background: #3b3b3b;
}

.scroll-down {
  position: absolute;
  bottom: 7.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scroll-down span {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: ArialNovaCondenced, sans-serif;
}

.scroll-down span:before, .scroll-down span:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.scroll-down span:before {
  bottom: -32px;
}

.scroll-down span:after {
  bottom: -42px;
}

.aside-nav-container {
  position: fixed;
  top: 0;
  right: -768px;
  min-height: 100vh;
  width: 768px;
  max-width: 100vw;
  background: #ffffff;
  padding: 3.2vh 5vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #292929;
  -webkit-transition: right .8s;
  -o-transition: right .8s;
  transition: right .8s;
  z-index: 10;
}

.aside-nav-container:after {
  content: "";
  display: block;
  height: 0px;
  width: 100%;
}

.aside-nav-container.active {
  right: 0;
  -webkit-box-shadow: -3px 3px 25px rgba(0, 0, 0, 0.4);
          box-shadow: -3px 3px 25px rgba(0, 0, 0, 0.4);
}

.aside-controls {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 3vh;
}

.aside-lang-btns a {
  margin-right: 22px;
  font-size: 18px;
}

.close {
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close span {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url(../img/common/close.png);
  margin-left: 21px;
}

.aside-nav ul {
  text-align: right;
}

.aside-nav a {
  display: inline-block;
  position: relative;
  font-size: 36px;
  font-family: ArialNovaCondencedBold, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 1.4vh 0;
  overflow: hidden;
}

.aside-nav a:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #292929;
  position: absolute;
  bottom: 0;
  left: 100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.aside-nav a:hover:after, .aside-nav a.active:after {
  left: 0;
}

/*------------------------------ last news section ------------------------------*/
.last-news-section {
  background: #f0f0f0;
}

.news-prev-container {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2.6rem;
}

.news-prev-item {
  position: relative;
  margin-bottom: 7.5rem;
}

.news-prev-text {
  padding: 3rem 4rem 70px;
  color: #0a0a0a;
}

.news-prev-date {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 14px;
}

.news-prev-heading {
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.read-more-link {
  position: absolute;
  bottom: 10px;
  color: #005b9c;
  text-transform: uppercase;
  font-size: 18px;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read-more-link:hover .read-more-text:after {
  right: 0;
}

.read-more-arrow {
  display: inline-block;
  width: 57px;
  height: 57px;
  border: 3px solid #005b9c;
  border-radius: 50%;
  background-image: url(../img/common/more-arr.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25px 17px;
  margin-right: 20px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.read-more-text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.read-more-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #005b9c;
  position: absolute;
  bottom: 0;
  right: 100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.load-more-container {
  text-align: center;
}

.load-more {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  font-size: 18px;
  font-family: ArialNovaCondencedBold, sans-serif;
  color: #030303;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.load-more:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200%;
  height: 1px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: -webkit-gradient(linear, right top, left top, from(#030303), color-stop(49.99%, #030303), color-stop(50%, #005b9c), to(#005b9c));
  background: -webkit-linear-gradient(right, #030303, #030303 49.99%, #005b9c 50%, #005b9c);
  background: -o-linear-gradient(right, #030303, #030303 49.99%, #005b9c 50%, #005b9c);
  background: linear-gradient(-90deg, #030303, #030303 49.99%, #005b9c 50%, #005b9c);
}

.load-more:hover {
  color: #005b9c;
}

.load-more:hover:after {
  right: -100%;
}

/*------------------------------ products-section ------------------------------*/
.products-section {
  background: #fbfbfb;
  padding-bottom: 7.5rem;
}

.product-prev-container {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -5rem;
}

.product-prev-item {
  position: relative;
  margin-bottom: 15rem;
}

.product-prev-text {
  padding: 3.75rem 4.5rem 58px;
  color: #0a0a0a;
}

.product-prev-text .button {
  position: absolute;
  bottom: 10px;
}

.product-prev-heading {
  font-family: ArialNovaCondencedBold, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 1.25;
}

.product-prev-desc {
  font-size: 18px;
  font-family: ArialNovaCondencedLight, sans-serif;
  margin-bottom: 5.5rem;
  line-height: 1.25;
  max-width: 340px;
}

/*------------------------------ services-section ------------------------------*/
.services-section {
  background: #efefef;
  padding: 9rem 0 0;
}

.services-prev-container {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service-prev-item {
  position: relative;
  overflow: hidden;
}

.service-prev-item img {
  display: block;
  width: 100%;
}

.service-prev-content {
  position: absolute;
  top: 0;
  bottom: -1%;
  left: 0;
  right: 0;
  width: 100%;
  height: 101%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  color: #fff;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 29% 9.6% 16.8%;
  overflow: hidden;
}

.service-prev-content:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(49.99%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 91, 156, 0.5)), to(rgba(0, 91, 156, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.service-prev-content:hover:after {
  top: -100%;
}

.service-prev-content .button {
  z-index: 2;
}

.service-prev-text {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  z-index: 2;
}

.service-prev-heading span {
  display: block;
}

.service-prev-heading {
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2;
  max-width: 330px;
}

.service-prev-heading .lowercase-part {
  font-family: ArialNovaCondencedLight, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-transform: lowercase;
  color: #fff;
  max-width: 280px;
  margin-top: 10px;
}

.service-prev-heading .upp-exclusion {
  text-transform: uppercase;
}

/*------------------------------ clients-section ------------------------------*/
.clients-section {
  background: #fbfbfb;
  padding-bottom: 0;
}

.map {
  height: 100vh;
  max-height: 1080px;
  background: #ccc;
}

.contact-map {
  height: 100vh;
}

.balloon-text {
  display: block;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-family: ArialNovaCondencedBold, sans-serif;
}

.balloon-address-text {
  display: block;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-family: ArialNovaCondencedBold, sans-serif;
}

.clients-prev-container {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clients-prev-item {
  position: relative;
  overflow: hidden;
}

.clients-prev-item img {
  display: block;
}

.flex-elem-third {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  max-width: 33.333%;
}

.clients-prev-content {
  position: absolute;
  top: 0;
  bottom: -1%;
  left: 0;
  right: 0;
  width: 100%;
  height: 101%;
  padding: 9% 5%;
  overflow: hidden;
}

.clients-prev-content:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(49.99%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 91, 156, 0.5)), to(rgba(0, 91, 156, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 0;
}

.clients-prev-content:hover:after {
  top: -100%;
}

.clients-prev-heading {
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-family: ArialNovaCondencedBold, sans-serif;
  max-width: 310px;
  position: relative;
  z-index: 2;
}

.read-more-link-light {
  z-index: 3;
  color: #fff;
  bottom: 6rem;
}

.read-more-link-light .read-more-arrow {
  border-color: #fff;
  background-image: url(../img/common/more-arr-light.png);
}

.read-more-link-light .read-more-text:after {
  background-color: #fff;
}

/*------------------------------ footer ------------------------------*/
.footer {
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  background: #005b9c;
  color: #ffffff;
  line-height: 1.2;
}

.footer.footer-light {
  background: #fff;
  color: #0a0a0a;
}

.footer-content {
  padding: 4.6% 2.6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  text-transform: uppercase;
}

.development {
  text-align: right;
}

/*------------------------------ services.html page ------------------------------*/
.services-section.non-padding {
  padding-top: 0;
}

/*------------------------------ products.html page ------------------------------*/
.catalog-section {
  padding: 11rem 0 11rem;
  background: #efefef;
  font-family: ArialNovaCondencedBold, sans-serif;
  color: #0a0a0a;
}

.category-heading {
  padding: 0 15px;
  margin-bottom: 5rem;
  font-size: 48px;
  color: #030303;
}

.category-list {
  position: relative;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.category-item {
  margin: 15px 15px 5.4rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  max-width: 33.33%;
}

.product-link {
  display: block;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.product-link img {
  margin-bottom: 3.5rem;
}

.product-name {
  display: block;
  text-transform: uppercase;
}

.product-desc {
  display: block;
}

/*------------------------------ news.html page ------------------------------*/
.news-section {
  padding: 10rem 0 1rem;
  margin-bottom: 4.7rem;
}

.news-section > .wrapper {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 600px;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 72px;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}

.page-heading span {
  display: block;
  font-family: ArialNovaCondencedLight, sans-serif;
  text-transform: lowercase;
  font-size: 30px;
  margin-top: 3rem;
}

.page-heading-upper {
  text-transform: uppercase;
  text-align: center;
}

.page-heading-left {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1340px;
  max-width: 90%;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 72px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
}

.page-heading-left span {
  display: block;
  max-width: 780px;
}

.news-adv {
  margin: 15px 15px 10rem 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  max-width: 33.33%;
}

.news-adv .news-prev-text {
  padding: 3rem 0 65px;
}

/*------------------------------ bottom links section ------------------------------*/
.bottom-links-section {
  padding: 0;
}

.bottom-links-section .wrapper-wide {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button-link {
  position: relative;
  overflow: hidden;
}

.button-link img {
  display: block;
}

.button-link .read-more-link {
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button-link:first-child .read-more-link {
  left: 40%;
}

.button-link:last-child .read-more-link {
  left: 9%;
}

.button-link .read-more-text:after {
  height: 4px;
}

.button-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(49.99%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 91, 156, 0.5)), to(rgba(0, 91, 156, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 49.99%, rgba(0, 91, 156, 0.5) 50%, rgba(0, 91, 156, 0.5));
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 0;
}

.button-link:hover .read-more-text:after {
  right: 0;
}

.button-link:hover:after {
  top: -100%;
}

.flex-elem-half {
  display: block;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.flex-elem-half img {
  display: block;
}

/*------------------------------ about.html page ------------------------------*/
.about-section {
  padding: 4rem 0 6rem;
}

.product-content-section p,
.product-content-section ul,
.news-content-section p,
.news-content-section ul,
.main p,
.main ul {
  margin-bottom: 2.6rem;
}

.product-content-section p,
.product-content-section li,
.news-content-section p,
.news-content-section li,
.main p,
.main li {
  font-family: ArialNovaRegular, sans-serif;
  font-size: 16px;
  line-height: 1.69;
  color: #000;
}

.product-content-section li,
.news-content-section li,
.main li {
  list-style-position: inside;
}

.product-content-section li:before,
.news-content-section li:before,
.main li:before {
  content: "\2013";
  margin-right: 6px;
}

.about-section main {
  padding-top: 7rem;
}

.main {
  max-width: 850px;
}

.aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 292px;
          flex: 0 0 292px;
  margin: 0 15px;
}

.aside-heading {
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 24px;
}

.aside-news-container {
  padding: 0 12px;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-news-item {
  position: relative;
  max-width: 100%;
  min-height: 415px;
  padding: 4.3rem 4rem;
  overflow: hidden;
  margin-bottom: 30px;
}

.aside-news-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.aside-news-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: auto;
  z-index: -1;
}

.aside-news-item .news-prev-text {
  padding: 0;
}

.aside-news-item .news-prev-date,
.aside-news-item .news-prev-heading {
  position: relative;
  color: #fff;
  z-index: 1;
}

.aside-news-item .news-prev-date {
  font-size: 14px;
  margin-bottom: 10px;
}

.aside-news-item .news-prev-heading {
  font-size: 22px;
  font-family: ArialNovaCondencedBold, sans-serif;
  margin-bottom: 60px;
}

.aside-news-item .read-more-link {
  bottom: 4.6rem;
}

.aside-news-item .read-more-text {
  font-size: 16px;
}

.aside-news-item .read-more-arrow {
  width: 38px;
  height: 38px;
  background-size: 16px 12px;
  margin-right: 16px;
}

/*------------------------------ service detailed page ------------------------------*/
.page-heading-container {
  position: absolute;
  top: 56.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1300px;
  max-width: 90%;
  text-align: center;
}

.page-heading-container .page-heading {
  font-family: ArialNovaCondencedBold, sans-serif;
  position: static;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  text-align: center;
  max-width: 100%;
}

.page-heading-container .button {
  width: 285px;
  height: 64px;
  line-height: 64px;
  border-radius: 37px;
  margin-top: 7rem;
  color: #005b9c;
}

.service-section {
  padding: 12.2rem 0 5rem;
}

.service-section .main {
  padding-top: 2rem;
}

.service-section img {
  margin-bottom: 2.5rem;
}

.service-heading {
  color: #000;
  text-align: left;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 40px;
  line-height: 1.1;
  max-width: 1030px;
  margin-bottom: 1.8rem;
}

/*------------------------------  ------------------------------*/
.form-section {
  padding: 9rem 0 18rem;
  background-image: url(../img/contactsPageImgs/contactsBg.jpg);
  background-size: cover;
}

.emails-list {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11.5rem;
}

.email-item {
  width: 100%;
  max-width: 259px;
  min-height: 210px;
  margin: 15px;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 6rem 3rem 6.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}

.email-item h5 {
  width: 100%;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  margin: 0 auto;
}

.email-item h5 span {
  display: block;
  font-family: ArialNovaBold, sans-serif;
  font-size: 14px;
  margin-top: 2.5rem;
}

.email-link {
  font-family: ArialNovaBold, sans-serif;
  font-size: 14px;
  color: #595959;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.email-link:hover {
  color: #000;
}

.main-form h2 {
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 36px;
  color: #000;
  margin-bottom: 17px;
}

.main-form p {
  font-size: 18px;
  line-height: 1.67;
  max-width: 290px;
  color: #030303;
  margin-bottom: 73px;
}

.main-form .button {
  text-transform: capitalize;
  width: 255px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 18px;
}

.inputs-half,
.submit-half {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.inputs-half {
  text-align: right;
  padding-right: 4.5%;
}

.submit-half {
  padding-left: 9.7%;
}

label,
input:not([type="submit"]),
textarea {
  position: relative;
  display: inline-block;
  width: 320px;
  text-align: left;
  max-width: 90vw;
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #000;
}

label {
  position: relative;
  font-family: ArialNovaRegular, sans-serif;
  font-size: 16px;
  color: #030303;
  height: 30px;
  line-height: 30px;
  padding-left: 38px;
  margin-bottom: 22px;
}

label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.name-label:before {
  background-image: url(../img/contactsPageImgs/name.png);
}

.mail-label:before {
  background-image: url(../img/contactsPageImgs/mail.png);
}

.message-label:before {
  background-image: url(../img/contactsPageImgs/message.png);
}

input:not([type="submit"]),
textarea {
  border-bottom: 2px solid #e3e3e3;
  overflow: hidden;
  background: transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

input:not([type="submit"]):focus,
textarea:focus {
  border-bottom-color: #005b9c;
}

input:not([type="submit"]) {
  padding-bottom: 20px;
  margin-bottom: 22px;
}

textarea {
  resize: none;
}

/*------------------------------ news item page ------------------------------*/
.news-content-section {
  padding: 8.5rem 0 6rem;
}

.news-content-section .heading {
  text-align: left;
  line-height: 1.2;
  margin-bottom: 2.7rem;
}

.news-content-section p,
.news-content-section ul {
  max-width: 850px;
}

.news-content-section p {
  margin-bottom: 0;
}

.back-link {
  display: inline-block;
  position: relative;
  margin-top: 5rem;
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 18px;
  color: #030303;
  overflow: hidden;
}

.back-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #030303;
  left: -100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.back-link:hover:after {
  left: 0;
}

/*------------------------------ clients list section ------------------------------*/
.clients-list-section {
  padding: 0;
  margin-bottom: -20px;
}

.clients-list-container {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  top: -90px;
}

.clients-list-container .partner-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 30.77%;
}

.partner-item {
  padding: 2% 4% 5%;
  margin: 15px 1.28% 15px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.3);
}

.logo-container {
  height: 115px;
  line-height: 115px;
  margin: 0 auto 18px;
  text-align: center;
}

.logo-container img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.partner-name {
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #030303;
  margin-bottom: 21px;
}

.partner-location {
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #030303;
  margin-bottom: 10px;
}

.partner-link {
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #595959;
}

/*------------------------------ partners list section  ------------------------------*/
.partners-list-section {
  padding: 2rem 0 1rem;
  margin-bottom: -5rem;
}

.partner-item-container {
  margin-bottom: 8rem;
}

.partner-item-container .partner-item {
  position: relative;
  top: -100px;
  width: 90%;
  max-width: 360px;
}

.partner-desc {
  font-size: 16px;
  line-height: 1.69;
  padding: 5rem 0 1rem 16px;
  color: #000;
  width: 90%;
  max-width: 765px;
}

/*------------------------------ product content section ------------------------------*/
.product-content-section {
  padding: 12rem 0 17rem;
}

.product-detail-img {
  width: 100%;
  max-width: 850px;
  margin-bottom: 3rem;
}

.product-heading {
  margin-bottom: 4.4rem;
  font-size: 40px;
  color: #030303;
}

.product-content-section p {
  margin-bottom: 0;
}

.product-content-section p:first-of-type {
  width: 100%;
  max-width: 850px;
  margin-bottom: 2.6rem;
}

.product-content-section ul {
  margin-bottom: 6rem;
}

/*------------------------------ product item page ------------------------------*/
.product-info-section {
  padding: 9rem 0 9rem;
}

.product-info-section .product-heading {
  max-width: 875px;
  line-height: 1.15;
  margin-bottom: 3.4rem;
}

.product-info-section p {
  margin-bottom: 2.9rem;
}

.product-info-section .product-info-price {
  font-family: ArialNovaCondencedBold, sans-serif;
  font-size: 24px;
  color: #005b9c;
  margin-bottom: 3.5rem;
}

.product-info-tab {
  max-width: 845px;
}

.product-info-tab img {
  margin-bottom: 5.3rem;
}

.product-info-tab h4 {
  font-family: ArialNovaBold, sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  margin-top: 5rem;
}

td,
th {
  height: 9rem;
  line-height: 1.6;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-family: ArialNovaBold, sans-serif;
  font-size: 18px;
  color: #000;
}

th {
  background: #e8e8e8;
}

td:first-child {
  max-width: 160px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-slider-container {
  margin-bottom: 1.4rem;
}

.js-product-slider {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: 500px;
  position: relative;
  clear: both;
  overflow: hidden;
  background: #FFF;
}

.js-product-slider img {
  visibility: hidden;
}

/* ==================== Media queries ======================= */
@media only screen and (max-width: 1700px) {
  .service-prev-content {
    padding: 9%;
  }
  .product-prev-heading {
    font-size: 22px;
  }
  .button-link:first-child .read-more-link {
    left: 9%;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 7px;
  }
  .main-slide h2,
  .page-heading {
    font-size: 50px;
  }
  .flex-elem-fourth {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .header-logo {
    margin-right: 2%;
  }
  .header-nav li {
    padding: 0 12px;
  }
  .header-nav a,
  .lang-btns a {
    font-size: 15px;
  }
  .email-item {
    max-width: 200px;
  }
  .partner-item-container {
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partner-item-container .partner-item {
    top: 0;
  }
  .partners-list-section {
    margin-bottom: 2rem;
  }
  .page-heading-left {
    font-size: 48px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
  .main-slide h2,
  .page-heading {
    font-size: 40px;
  }
  .page-heading span {
    font-size: 20px;
  }
  .slick-dots li {
    margin: 30px auto;
  }
  .flex-elem-fourth,
  .flex-elem-third {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .category-item,
  .news-adv {
    max-width: 50%;
  }
  .about-wrapper {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main {
    max-width: 100%;
  }
  .aside {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
  .aside-news-container {
    padding: 0;
  }
  .aside-news-item {
    width: 48%;
  }
  .email-item {
    max-width: 45%;
    min-height: 180px;
  }
  .clients-list-container .partner-item {
    max-width: 47%;
  }
}

@media only screen and (max-width: 900px) {
  .footer-content {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .copy,
  .development {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: left;
  }
  .copy {
    margin-bottom: 20px;
  }
  .development a {
    text-decoration: underline;
  }
  .category-item,
  .news-adv {
    -ms-flex-preferred-size: 320px;
        flex-basis: 320px;
  }
  .page-heading-left {
    font-size: 35px;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 3px;
  }
  .header {
    background: #afafaf;
  }
  .header-top {
    padding: 3rem 2rem;
  }
  .heading {
    font-size: 40px;
  }
  .aside-nav a {
    font-size: 24px;
    padding: 2.4vh 0;
  }
  .main-slide h2,
  .page-heading,
  .page-heading-container,
  .page-heading-left {
    position: static;
    font-size: 30px;
    padding: 10px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .page-heading-container {
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .page-heading {
    max-width: 100%;
  }
  .page-heading span {
    font-size: 16px;
  }
  .js-main-slider .slick-dots {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    white-space: nowrap;
  }
  .js-main-slider .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }
  .scroll-down {
    display: none;
  }
  .top-menu-btn span:first-child {
    display: none;
  }
  .flex-elem-fourth,
  .flex-elem-third {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .read-more-arrow {
    width: 45px;
    height: 45px;
  }
  .product-prev-desc {
    max-width: 100%;
  }
  .service-prev-heading {
    max-width: 100%;
  }
  .category-item,
  .news-adv {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .category-heading {
    padding: 0;
    margin-bottom: 2rem;
    font-size: 38px;
  }
  .flex-elem-half {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .aside-news-item {
    min-height: auto;
    width: 100%;
  }
  .email-item {
    max-width: 100%;
    min-height: auto;
  }
  .email-item h5 {
    margin-bottom: 25px;
  }
  .email-item h5 span {
    margin-top: 0;
  }
  .main-form {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .inputs-half,
  .submit-half {
    padding: 20px 0;
  }
  .inputs-half {
    margin: 0 auto;
  }
  .submit-half {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .main-form h2,
  .main-form p {
    display: none;
  }
  .clients-list-section {
    padding: 2rem 0;
    margin-bottom: 0;
  }
  .clients-list-container {
    top: 0;
  }
  .clients-list-container .partner-item {
    max-width: 100%;
  }
  .partner-item-container {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .product-heading {
    font-size: 36px;
  }
  td, th {
    font-size: 14px;
    font-family: ArialNovaRegular, sans-serif;
    padding: 5px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  td:first-child {
    max-width: 120px;
    padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .header-logo {
    max-width: 120px;
  }
  .aside-nav a,
  .close {
    font-size: 16px;
  }
  .main-slide h2 {
    font-size: 20px;
  }
  .heading {
    font-size: 24px;
  }
  .product-prev-heading,
  .service-prev-heading,
  .news-prev-heading {
    font-size: 18px;
  }
  .news-prev-text,
  .news-adv .news-prev-text {
    padding-bottom: 45px;
  }
  .footer-content {
    font-size: 12px;
  }
  .category-heading {
    font-size: 28px;
  }
  .product-link {
    font-size: 20px;
  }
  .product-link img {
    margin-bottom: 1.5rem;
  }
  .button-link .read-more-link {
    font-size: 20px;
    left: 3% !important;
  }
  .service-heading {
    font-size: 24px;
  }
  .page-heading-container .button {
    width: 190px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    margin-top: 5rem;
  }
  .page-heading-left {
    font-size: 24px;
  }
  .partner-item {
    padding-bottom: 12%;
  }
  .product-heading {
    font-size: 28px;
  }
  .js-product-slider {
    height: 310px;
  }
  td, th {
    font-size: 13px;
  }
}

@media only screen and (max-width: 375px) {
  .js-product-slider {
    height: 270px;
  }
}

@media only screen and (max-width: 320px) {
  .js-product-slider {
    height: 250px;
  }
}

@media only screen and (min-width: 1024px) {
  .button-link .read-more-arrow {
    width: 100px;
    height: 100px;
    border-width: 3px;
    margin-right: 45px;
    background-size: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .scroll-down span:before,
  .scroll-down span:after {
    -webkit-animation: blink 2s infinite;
            animation: blink 2s infinite;
  }
  .scroll-down span:after {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  .carousel-center {
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
  }
}

/*# sourceMappingURL=main.css.map */
