/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.top {
		height: 80vh;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-webkit-transition-property: none !important;
		-o-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		animation: none !important;
	}

	nav {
		display: none;
	}

	.menu-bar-wrapper {
		display: block;
	}

	.portfolio .wrapper div {
		width: 100%;
	}

	.portfolio-img {
		margin-bottom: 1.5rem;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	html {
		font-size: 7px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


