    $s-arrNext: 0px 21px 0px -21px 8px 14px 56px 522px 'sprite.png';
    $s-arrPrev: 0px 45px 0px -45px 9px 14px 56px 522px 'sprite.png';
    $s-calendar: 0px 297px 0px -297px 46px 43px 56px 522px 'sprite.png';
    $s-en: 0px 69px 0px -69px 21px 15px 56px 522px 'sprite.png';
    $s-gears: 0px 466px 0px -466px 56px 56px 56px 522px 'sprite.png';
    $s-location: 0px 119px 0px -119px 12px 16px 56px 522px 'sprite.png';
    $s-mail: 0px 0px 0px 0px 16px 11px 56px 522px 'sprite.png';
    $s-phone: 0px 145px 0px -145px 12px 16px 56px 522px 'sprite.png';
    $s-pin: 0px 246px 0px -246px 31px 41px 56px 522px 'sprite.png';
    $s-puzzle: 0px 350px 0px -350px 48px 48px 56px 522px 'sprite.png';
    $s-quality: 0px 197px 0px -197px 46px 39px 56px 522px 'sprite.png';
    $s-ru: 0px 94px 0px -94px 21px 15px 56px 522px 'sprite.png';
    $s-search: 0px 171px 0px -171px 16px 16px 56px 522px 'sprite.png';
    $s-wallet: 0px 408px 0px -408px 46px 48px 56px 522px 'sprite.png';
