/* ==================== styles reset ======================= */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==================== fonts ======================= */
/*
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";

@font-face {
	font-family: "ProximaNovaLight";
	src: url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.woff") format('woff'),
	url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
*/
/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/
/* ==================== mixines ======================= */
/* ==================== common styles ======================= */
html {
  font-size: 10px;
  overflow-x: hidden;
  /*used for rem-units*/ }

body {
  min-width: 320px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: #050505;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.hidden {
  display: none; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }

.flex {
  display: -webkit-flex;
  display: flex; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

a {
  text-decoration: none;
  color: inherit; }

img
input:focus,
textarea:focus {
  outline: none;
  border: none; }

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 12px; }

::-moz-placeholder {
  color: #ccc;
  font-size: 12px; }

:-ms-input-placeholder {
  color: #ccc;
  font-size: 12px; }

::placeholder {
  color: #ccc;
  font-size: 12px; }

section {
  position: relative;
  padding: 63px 0 20px;
  outline: 1px solid gold; }

.wrapper {
  outline: 1px solid blue;
  position: relative;
  width: 97%;
  max-width: 1140px;
  margin: 0 auto; }

h1,
h2,
h3 {
  font-weight: 700; }

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: .8px; }

.glare {
  position: absolute; }

/*------------------------------ header ------------------------------*/
.headerTop {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2.9rem 0 1.6rem; }

#animation_container {
  width: 210px;
  height: 45px; }

#canvas {
  width: 210px;
  height: 45px;
  position: absolute;
  display: block; }

#dom_overlay_container {
  display: block;
  pointer-events: none;
  overflow: hidden;
  width: 210px;
  height: 45px;
  left: 0;
  top: 0; }

.headerTop_contacts {
  font-weight: 300;
  letter-spacing: .3px; }
  .headerTop_contacts span {
    color: #029402; }

.contacts_links,
.headerTop_lang-list {
  display: inline-block; }
  .contacts_links li,
  .headerTop_lang-list li {
    display: inline-block;
    margin-bottom: 10px; }

.contacts_links li {
  padding: 0 14px;
  border-right: 1px solid #029402; }
  .contacts_links li:last-child {
    border-right: 0; }

.phoneLink,
.mailLink {
  display: inline-block; }

.phoneLink:first-of-type:before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -145px;
  width: 12px;
  height: 16px; }

.mailLink {
  font-size: 13px;
  font-weight: 400; }
  .mailLink:before {
    content: "";
    display: inline-block;
    margin-right: 7px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0px 0px;
    width: 16px;
    height: 11px; }

.lang_ru {
  display: inline-block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -94px;
  width: 21px;
  height: 15px;
  transition: all .4s;
  opacity: .7; }
  .lang_ru:hover {
    opacity: 1; }

.lang_en {
  display: inline-block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -69px;
  width: 21px;
  height: 15px;
  transition: all .4s;
  margin-left: 23px;
  opacity: .7; }
  .lang_en:hover {
    opacity: 1; }

.headerNav {
  background: #029402;
  font-size: 14px; }
  .headerNav .wrapper {
    position: relative;
    min-height: 30px; }

.headerNav_list {
  justify-content: center;
  align-items: center;
  letter-spacing: 1px; }
  .headerNav_list li {
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .headerNav_list a {
    display: block;
    padding: 15px 14.2%;
    transition: all .4s;
    text-transform: uppercase;
    white-space: nowrap;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    transition: all .5s; }
    .headerNav_list a:hover {
      background-color: rgba(0, 0, 0, 0.7);
      background-image: url(../img/geometryForms/corners-w.png);
      background-size: 80% 70%;
      color: #0f0; }

.searchBtn {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 16px;
  right: 0; }
  .searchBtn:hover {
    background-color: rgba(0, 0, 0, 0.7); }
  .searchBtn .searchBtn-trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/commonImgs/search.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
    transition: all .4s;
    cursor: pointer; }

.form-wrap {
  width: 500px;
  height: 50px;
  outline: 1px solid red; }

.search-form {
  display: block;
  width: 0px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  padding-right: 0px !important;
  z-index: 10;
  opacity: 1;
  border: 1px solid transparent;
  transition: width .5s, border 1s; }
  .search-form.active {
    width: 245px;
    padding-right: 16px;
    border: 1px solid #029402; }
    .search-form.active .search-close {
      opacity: 1; }
  .search-form .search-close {
    opacity: 0;
    position: absolute;
    top: 9px;
    right: 2px;
    transition: all 1s;
    cursor: pointer; }
  .search-form input {
    height: 28px;
    line-height: 28px;
    width: 300px;
    padding: 3px 5px;
    background: transparent;
    color: #fff;
    opacity: 1;
    border: none !important;
    outline: none !important; }

.mob-nav-btn {
  position: fixed;
  top: 75px;
  right: 30px;
  width: 35px;
  height: 35px;
  background: #050505;
  border: 1px solid #029402;
  cursor: pointer;
  z-index: 10;
  display: none; }
  .mob-nav-btn span {
    display: block;
    background: #029402;
    position: absolute;
    top: 16px;
    left: 5px;
    right: 5px;
    height: 2px;
    border: none; }
    .mob-nav-btn span:before, .mob-nav-btn span:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background: #029402; }
    .mob-nav-btn span:before {
      top: -8px; }
    .mob-nav-btn span:after {
      top: 8px; }

.mob-nav-cont {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -320px;
  width: 320px;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  padding: 40px 15px;
  z-index: 11;
  transition: all .7s; }
  .mob-nav-cont.active {
    left: 0; }

.mob-logo {
  width: 150px;
  display: block;
  margin: 0 auto 25px; }

.mobNav_list li {
  margin: 20px 0; }
  .mobNav_list li a {
    text-transform: uppercase;
    font-size: 15px; }

.mob-nav-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer; }

/*------------------------------ banner section ------------------------------*/
.banner-section {
  padding: 0; }
  .banner-section img {
    width: 100%; }

/*------------------------------ works slider section ------------------------------*/
.worksSlider-section {
  padding-bottom: 3px; }

.heading-container {
  position: relative; }

.heading {
  height: 80px;
  line-height: 80px;
  padding-left: 27px; }

.works-heading {
  margin-bottom: 2px; }

.hex-container {
  display: block;
  width: 57px;
  height: 59px;
  position: absolute;
  left: -11px;
  top: 9%; }

.hex {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 1s; }

.sliderContainer {
  position: relative;
  max-width: 1920px;
  margin: 0 auto; }

.bx-wrapper {
  border: 0 !important; }

.sliderArrowsContainer {
  background: #050505;
  position: absolute;
  right: -5%;
  bottom: 0;
  height: 51px;
  width: 35%;
  transform: skew(-30deg);
  padding: 18px 10px 0px 34px; }

.sliderArrow {
  display: inline-block;
  width: 66px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #029402;
  cursor: pointer;
  transition: all .4s;
  box-shadow: 0px 0px 0px #029402; }
  .sliderArrow:hover {
    filter: brightness(200%);
    box-shadow: 0px 0px 10px #029402; }
  .sliderArrow span {
    display: inline-block;
    transform: skew(30deg); }

.sliderArrow_prev span {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -45px;
  width: 9px;
  height: 14px; }

.sliderArrow_next span {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -21px;
  width: 8px;
  height: 14px; }

/*------------------------------ geography section ------------------------------*/
.geography-section {
  padding: 6px 0 5px; }

.mapContainer {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url(../img/earth.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: auto 100%; }

.pinsContainer {
  position: relative;
  width: 550px;
  height: 100vh;
  min-height: 380px;
  max-height: 380px;
  margin: 0 auto; }

.mapPin {
  display: block;
  position: absolute;
  transition: all .4s;
  cursor: pointer; }
  .mapPin:hover {
    transform: scale(1.2);
    color: white;
    filter: brightness(200%);
    animation: none; }
    .mapPin:hover .pin-img-container:before {
      box-shadow: 0px 0px 10px #029402;
      animation: pinrotate 1.5s linear infinite; }

.map-link {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  transition: all .4s;
  cursor: pointer; }
  .map-link:hover {
    transform: scale(1.2);
    color: white;
    filter: brightness(200%);
    animation: none; }

.pin-img-container {
  display: inline-block;
  position: relative;
  padding: 5px;
  transition: all .4s;
  border-radius: 50%; }
  .pin-img-container:hover {
    box-shadow: 0 0 5px #029402; }
  .pin-img-container img {
    position: relative;
    display: block;
    margin: 0 auto; }
  .pin-img-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px transparent;
    transition: all .4s; }
  .pin-img-container:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 22px;
    background-image: url(../img/commonImgs/pinlight.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: rotation 2s linear infinite;
    transform-origin: 0% 50%; }

.map-title {
  font-size: 14px;
  display: block; }

.mob-locations-list {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px; }
  .mob-locations-list > li {
    flex-basis: 50%;
    position: relative;
    padding-left: 31px; }
    .mob-locations-list > li:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 18%;
      left: 0;
      width: 31px;
      height: 42px;
      -webkit-background-size: contain;
      background-size: contain;
      background-image: url(../img/commonImgs/pin-mob.png);
      background-repeat: no-repeat;
      background-position: 50%; }
    .mob-locations-list > li a {
      display: block;
      padding: 15px 10px; }

.mob-locations-cont {
  display: none; }

.mob-portfolio-link {
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 350px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #fff;
  margin-bottom: 25px; }

/*------------------------------ about section ------------------------------*/
.about-section {
  padding-top: 7.5rem;
  background-image: url(../img/geometryForms/ceil.png);
  background-repeat: repeat; }

.about-heading {
  margin-bottom: 5.2rem; }

.advantages-list {
  padding-left: 1.25%;
  flex-basis: 53%; }
  .advantages-list li {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 4rem;
    animation: blink1 10s infinite; }
    .advantages-list li:nth-child(2n) {
      animation-delay: 2s; }
    .advantages-list li:nth-child(3n) {
      animation-delay: 4s; }
    .advantages-list li:nth-child(4n) {
      animation-delay: 6s; }
    .advantages-list li:nth-child(5n) {
      animation-delay: 8s; }

.adv-hex-container {
  display: flex;
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  width: 128px;
  height: 103px;
  line-height: 103px;
  text-align: center;
  background-image: url(../img/geometryForms/hex-simple.png);
  background-repeat: no-repeat;
  margin-right: 5.5%;
  transition: all .4s;
  min-width: 130px; }

.rombs-img {
  margin-bottom: 2px; }

.adv-icon {
  display: inline-block;
  position: absolute;
  top: 47%;
  left: 45%;
  transform: translate(-50%, -50%);
  transform-origin: 50%; }

.adv-icon.gears {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -466px;
  width: 56px;
  height: 56px; }

.adv-icon.calendar {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -297px;
  width: 46px;
  height: 43px; }

.adv-icon.puzzle {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -350px;
  width: 48px;
  height: 48px; }

.adv-icon.quality {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -197px;
  width: 46px;
  height: 39px; }

.adv-icon.wallet {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -408px;
  width: 46px;
  height: 48px; }

.advantages-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  line-height: 1.5; }

.about-text {
  position: relative;
  flex-basis: 50%;
  padding: 2.5% .4% 1% 8.9%; }
  .about-text p {
    margin-bottom: 4%; }

.lines-decor-cont {
  position: absolute;
  top: -9px;
  left: 0;
  width: 30px;
  height: 54%;
  max-height: 70vh; }

.wide-decor-cont,
.narrow-decor-cont {
  position: absolute;
  background-repeat: no-repeat; }
  .wide-decor-cont:after,
  .narrow-decor-cont:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: skewY(12deg); }

.narrow-decor-cont {
  top: 0;
  left: 0;
  width: 8px;
  height: 70%;
  background-image: url(../img/geometryForms/linesSmall.png); }
  .narrow-decor-cont:after {
    animation: lines2 20s .3s infinite; }

.wide-decor-cont {
  bottom: 0;
  right: 0;
  width: 18px;
  height: 65%;
  background-image: url(../img/geometryForms/linesBig.png); }
  .wide-decor-cont:after {
    animation: lines2 20s infinite; }

.about-glare-l-1 {
  top: 11.3%;
  right: 104.5%; }

.about-glare-l-2 {
  top: 13.3%;
  right: 104%; }

.about-glare-r-1 {
  top: 97.4%;
  left: 103.4%;
  filter: blur(1px); }

.about-glare-r-2 {
  top: 104.3%;
  left: 102.4%; }

/*------------------------------ contacts-section ------------------------------*/
.contacts-section {
  position: relative; }

.contacts-links-part {
  position: relative;
  flex-basis: 50%;
  padding: 2.3% 3% 3% 9%; }
  .contacts-links-part h4 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #029402;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
  .contacts-links-part .lines-decor-cont {
    height: 95%; }
    .contacts-links-part .lines-decor-cont .narrow-decor-cont {
      height: 80%; }
    .contacts-links-part .lines-decor-cont .wide-decor-cont {
      height: 85%; }

.contacts-phones,
.contacts-mail,
.contacts-adress {
  position: relative;
  padding-left: 28px;
  margin-bottom: 40px; }
  .contacts-phones:before,
  .contacts-mail:before,
  .contacts-adress:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0; }

.contacts-phones:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -145px;
  width: 12px;
  height: 16px; }

.contacts-mail:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px 0px;
  width: 16px;
  height: 11px; }

.contacts-adress:before {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -119px;
  width: 12px;
  height: 16px; }

.contact-item {
  display: block;
  font-weight: 300;
  line-height: 25px; }

.tel-item {
  letter-spacing: 1px;
  font-weight: 100; }

.contacts-form-part {
  position: relative;
  flex-grow: 1;
  padding: 3.1% 0% 3% 21%; }
  .contacts-form-part .main-form {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
    align-content: space-around;
    width: 100%; }
    .contacts-form-part .main-form > div {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      -ms-align-items: center;
      align-items: center;
      padding-top: 17px;
      flex-basis: 100%;
      width: 100%; }
  .contacts-form-part h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-bottom: 27px; }
  .contacts-form-part input[type="text"],
  .contacts-form-part input[type="tel"],
  .contacts-form-part input[type="email"] {
    flex-basis: 45%;
    flex-grow: 0;
    border: none;
    padding: 3px 5px 0;
    width: 255px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background: transparent;
    margin-bottom: 27px;
    border-bottom: 1px solid #fff;
    transition: all .4s; }
    .contacts-form-part input[type="text"]:focus,
    .contacts-form-part input[type="tel"]:focus,
    .contacts-form-part input[type="email"]:focus {
      outline: none;
      border-bottom-color: #029402; }
  .contacts-form-part input[type="submit"] {
    color: #029402;
    min-width: 165px;
    max-width: 165px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    margin-right: 20px;
    background-color: transparent;
    background-image: url(../img/geometryForms/btnContur.png);
    background-repeat: no-repeat;
    transition: all .4s;
    cursor: pointer;
    animation: blink1 10s infinite; }
    .contacts-form-part input[type="submit"]:hover {
      animation: none;
      box-shadow: 0px 0px 20px #029402;
      text-shadow: 0px 0px 20px #029402;
      filter: brightness(200%); }

.captcha {
  display: inline-block;
  flex-basis: 48%;
  min-width: 300px;
  max-width: 300px;
  height: 75px;
  border-radius: 3px;
  background-image: url(../img/captchaDummy.jpg); }

.form-decor {
  position: absolute;
  z-index: -1;
  top: -7.4%;
  left: 7%;
  animation: blink1 5s infinite; }

.map-section {
  height: 435px;
  max-height: 70vh;
  max-width: 100%; }

.contacts-glare-t-1 {
  top: 10%;
  right: 103%;
  opacity: .8; }

.contacts-glare-t-2 {
  top: 12.6%;
  right: 100.5%; }

.contacts-glare-b-1 {
  top: 69.3%;
  right: 103%; }

.contacts-glare-b-2 {
  top: 82%;
  right: 104.3%; }

/*------------------------------ footer ------------------------------*/
.footer {
  padding-bottom: 5.5%; }

.footer-top {
  justify-content: space-between;
  padding: 3.4% 0 1%; }

.footer-logo {
  width: 265px;
  filter: grayscale(100%);
  margin-right: 20px;
  margin-bottom: 25px;
  transition: all .4s; }
  .footer-logo:hover {
    filter: grayscale(0%); }

.footer-links-cont {
  margin-top: 4px;
  margin-bottom: 20px; }

.footer-pages-links {
  margin-bottom: 33px;
  justify-content: space-between; }
  .footer-pages-links li {
    padding-right: 3.4%; }
    .footer-pages-links li:last-child {
      padding-right: 0; }
  .footer-pages-links a {
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    transition: all .4s; }
    .footer-pages-links a:hover {
      border-bottom-color: #fff; }

.footer-contacts_links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 100;
  letter-spacing: .5px; }
  .footer-contacts_links li {
    flex-grow: 1;
    text-align: center; }
    .footer-contacts_links li:first-child {
      padding-left: 0;
      text-align: left; }
      .footer-contacts_links li:first-child:before {
        margin: 0 11px 0 0; }
    .footer-contacts_links li:last-child {
      text-align: right;
      padding-right: 0; }
    .footer-contacts_links li:nth-last-child(2) {
      border-right: none; }

.footer-bottom {
  justify-content: space-between; }

.copy,
.creator {
  font-size: 12px;
  letter-spacing: .5px;
  color: #7d7d7d; }

/* ==================== css-animations ======================= */
@keyframes blink1 {
  0% {
    filter: brightness(75%); }
  30% {
    filter: brightness(500%); }
  70% {
    filter: brightness(75%); }
  100% {
    filter: brightness(75%); } }
@keyframes lines2 {
  0% {
    bottom: 0%; }
  5% {
    bottom: 30%; }
  10% {
    bottom: 38%; }
  15% {
    bottom: 28%; }
  20% {
    bottom: 48%; }
  25% {
    bottom: 35%; }
  30% {
    bottom: 45%; }
  35% {
    bottom: 30%; }
  40% {
    bottom: 50%; }
  45% {
    bottom: 55%; }
  50% {
    bottom: 50%; }
  55% {
    bottom: 57%; }
  60% {
    bottom: 50%; }
  65% {
    bottom: 62%; }
  70% {
    bottom: 60%; }
  75% {
    bottom: 68%; }
  80% {
    bottom: 88%; }
  85% {
    bottom: 100%; }
  90% {
    bottom: 42%; }
  95% {
    bottom: 50%; }
  100% {
    bottom: 0%; } }
@keyframes brightness {
  0% {
    filter: brightness(100%); }
  80% {
    filter: brightness(100%); }
  50% {
    filter: brightness(300%); }
  80% {
    filter: brightness(100%); }
  100% {
    filter: brightness(100%); } }
@keyframes rotation {
  0% {
    transform: rotate(0deg) translateX(-50%);
    opacity: 1; }
  50% {
    transform: rotate(180deg) translateX(-50%);
    opacity: 0; }
  100% {
    transform: rotate(360deg) translateX(-50%);
    opacity: 1; } }
@keyframes pinrotate {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }
@keyframes huerotate {
  0% {
    filter: grayscale(100%); }
  100% {
    filter: grayscale(0%); } }
/* ==================== Addictional styles ======================= */
/* ==================== Media queries ======================= */
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 8px; }

  .headerNav_list a {
    padding: 10px 5px; }

  .advantages-list,
  .about-text {
    flex-basis: 100%; }

  .lines-decor-cont {
    height: 100%; }

  .sliderArrowsContainer {
    padding: 10px 10px 0px 10px; }

  .sliderArrowsContainer {
    height: 42px;
    width: 20%; }

  .sliderArrow {
    height: 26px;
    line-height: 26px; }

  .contacts-links-part {
    flex-basis: 100%; }

  .contacts-container {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .form-decor {
    display: none; }

  .contacts-form-part {
    padding: 3%; }

  .footer-top {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .footer-links-cont {
    width: 100%; } }
@media only screen and (max-width: 1024px) {
  p {
    font-size: 14px; }

  .headerTop {
    flex-wrap: wrap; }

  .headerTop_contacts {
    order: 2;
    flex-basis: 100%;
    text-align: center;
    margin-top: 15px; }

  .heading {
    height: 70px;
    line-height: 62px; }

  h2 {
    font-size: 23px; }

  .hex-container {
    width: 42px;
    height: 44px;
    left: 0; }

  .sliderArrowsContainer {
    width: 115px;
    right: -20px; }

  .sliderArrow {
    width: 45px; }

  .about-content {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .footer-pages-links {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-pages-links li {
      flex-basis: 50%;
      margin-bottom: 20px;
      padding: 0 10px !important; }

  .footer-contacts_links {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center; }
    .footer-contacts_links li {
      flex-basis: 50%;
      width: 49%;
      text-align: left !important;
      padding: 0 10px !important;
      margin-bottom: 20px; }
      .footer-contacts_links li:before {
        display: none !important; }

  .copy,
  .creator {
    flex-basis: 50%; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  html {
    font-size: 7px; }

  .headerNav_list a {
    font-size: 13px; }

  .sliderArrowsContainer {
    height: 30px;
    padding-top: 6px;
    padding-left: 6px;
    bottom: auto;
    top: 105%;
    right: 0;
    background: transparent; }

  .sliderArrow {
    height: 20px;
    line-height: 20px; } }
@media only screen and (max-width: 890px) {
  .headerNav_list {
    display: none; }

  .mob-nav-btn {
    display: block; }

  .headerNav {
    background: transparent; }

  .contacts_links li {
    border-right: 0;
    padding: 0 5px; }
    .contacts_links li a,
    .contacts_links li .phone-link {
      font-size: 14px; }

  .search-form {
    top: 0px;
    right: 100%;
    margin-right: 20px;
    padding-right: 25px; }
    .search-form input {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      width: 200px; }
    .search-form ::-webkit-input-placeholder {
      color: #ccc; }
    .search-form ::-moz-placeholder {
      color: #ccc; }
    .search-form :-ms-input-placeholder {
      color: #ccc; }
    .search-form ::placeholder {
      color: #ccc; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .contacts_links {
    display: block;
    flex-basis: 100%;
    margin-top: 25px; }

  .advantages-text {
    letter-spacing: 0; }

  .contacts-form-part {
    padding: 3%; } }
@media only screen and (max-width: 650px) {
  .main-form {
    display: block;
    text-align: center; }
    .main-form input {
      min-width: 60%; } }
@media only screen and (max-width: 600px) {
  .mapContainer {
    display: none; }

  .mob-locations-cont {
    display: block; }

  .contacts-form-part .main-form > div {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0; }
    .contacts-form-part .main-form > div .captcha,
    .contacts-form-part .main-form > div input[type="submit"] {
      flex-basis: 100%;
      display: block; }
    .contacts-form-part .main-form > div input[type="submit"] {
      margin: 20px 50px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 20px; }

  .hex-container {
    width: 42px;
    height: 44px; }

  .headerTop_lang {
    flex-basis: 100%;
    order: -1;
    text-align: left; }

  .logo {
    margin: 0 auto; }

  .mob-nav-btn {
    top: 10px; }

  .mob-locations-list > li {
    flex-basis: 100%; }

  .about-text,
  .contacts-links-part {
    padding-left: 14%; } }
@media only screen and (max-width: 375px) {
  .footer-pages-links {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-pages-links li {
      flex-basis: 100%;
      margin-bottom: 20px;
      padding: 0 10px !important; }

  .footer-contacts_links {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center; }
    .footer-contacts_links li {
      flex-basis: 100%;
      width: 100%;
      margin-bottom: 20px; }
      .footer-contacts_links li:before {
        display: none !important; }

  .footer-bottom {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .copy,
  .creator {
    flex-basis: 100%;
    min-width: 100%;
    margin-bottom: 25px;
    padding-left: 8px; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  h2 {
    font-size: 16px; } }
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .hex-1 {
    animation: blink1 5s 1s infinite; }

  .hex-2 {
    animation: blink1 5s 1.5s infinite; }

  .hex-3 {
    animation: blink1 5s 2s infinite; }

  .mapPin {
    animation: brightness 3s infinite; }
    .mapPin:nth-child(2n) {
      animation-delay: 1s; }
    .mapPin:nth-child(3n) {
      animation-delay: 2s; } }

/*# sourceMappingURL=main.css.map */
