@import url(reset.css);

#wrapper {
	width: 1024px;
	height: 1800px;
	margin: 0 auto;
}

/*========== topLine ===============*/
#topLine {
	height: 18px;
	background-image: url(../images/topLine.png);
	background-repeat: repeat-x;
	background-color: #ccc;
}
/*========== header ===============*/
#header {
	height: 158px;
	background-color: #fff;
	position: relative;
}

#logo {
	width: 214px;
	height: 61px;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	position: absolute;
	left: 71px;
	top: 42px;
}

#logo a {
	display: block;
	cursor: pointer;
	height: 61px;
}

#faq {
	width: 82px;
	height: 164px;
	background-image: url(../images/faq.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 44px;
	top: -19px;
}

#faq a {
	display: block;
	cursor: pointer;
	height: 164px;
}

#topNav {
	position: absolute;
	left: 376px;
	top: 57px;
}

#topNav li {
	float: left;
	margin-right: 27px;
	text-transform: uppercase;
	font: 16px Arial, sans-serif;
}	

#topNav li a {
	color: #3f3f3f;
	text-decoration: none;
}

#topNav li a.active, #topNav li a:hover {
	color: #2c789c;
}

/*========== slogan ===============*/
#slogan {
	height: 404px;
	background-color: #fff;
	background-image: url(../images/peopleBg.jpg);
	background-repeat: no-repeat;
	background-position: 86px 58px;
	position: relative;
}

#peopleImg {
	width: 391px;
	height: 390px;
	position: absolute;
	left: 584px;
	top: 0;
	background-image: url(../images/people.jpg);
	background-repeat: no-repeat;
}

#sloganText {
	width: 358px;
	height: 71px;
	position: absolute;
	left: 33px;
	top: 211px;
	text-align: right;
}

#sloganText h2 {
	font: bold 23px Arial, sans-serif;
	color: #1d1e1b;
	text-transform: uppercase;
}

#sloganText p {
	font: 16px Arial, sans-serif;
	color: #2c789c;
}

#forLine {
	height: 95px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: url(../images/forLine.png);
	background-repeat: repeat-y;
}

/*========== color ===============*/
#color {
	height: 147px;
	padding: 0px 48px 20px 41px;
	background-image: url(../images/colorBgLine.png);
	background-repeat: repeat-y;
}

#blue, #yellow, #green {
	height: 119px;
	float: left;
	padding-top: 15px;
	padding-bottom: 13px;
	background-repeat: no-repeat;
	position: relative;
}

#blue {
	width: 306px;
	background-color: #2c789c;
	background-image: url(../images/bI.png);
	background-position: 250px 9px;
}

#yellow {
	width: 323px;
	background-color: #e5b00d;
	background-image: url(../images/yI.png);
	background-position: 266px 9px;
}

#green {
	width: 306px;
	background-color: #97ba15;
	background-image: url(../images/gI.png);
	background-position: 256px 9px;
}

#bRomb, #yRomb {
	width: 24px;
	height: 49px;
	position: absolute;
	left: 0;
	top: 50px;
	background-repeat: no-repeat;
}

#bRomb {
	background-image: url(../images/bRomb.png);
}

#yRomb {
	background-image: url(../images/yRomb.png);
}

#color h3 {
	font: 19px Arial, sans-serif;
	color: #fff;
	padding-bottom: 12px;
	padding-right: 60px;
}

#blue h3 {
	padding-left: 15px;
}

#yellow h3 {
	padding-left: 21px;
}

#green h3 {
	padding-left: 26px;
}

.ColParag {
	font: 16px Arial, sans-serif;
	color: #fff;
	padding: 0 10px 10px 30px;
	line-height: 16px;
}

#blue .ColParag {
	padding-left: 15px;
	padding-right: 27px;
}

#color a {
	display: block;
	cursor: pointer;
	width: 89px;
	height: 22px;
	margin-left: 30px;
	padding-top: 4px;
	padding-left: 10px;
	background-image: url(../images/readMoreW.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	font: 16px Arial, sans-serif;
	color: #a1a1a1;
	text-decoration: none;
}

#blue a {
	margin-left: 15px;
}

#color a:hover {
	color: #000;
}

a:hover,
a:active {
	text-decoration: underline !important;
}

.clear {
	clear: both;
}
/*========== blackWhite ===============*/
#blackWhite {
	height: 221px;
	position: relative;
	background-image: url(../images/colorBgLine.png);
	background-repeat: repeat-y;
	padding: 0 56px 31px;
}

#BWContent, #BWForm {
	height: 221px;
	float: left;
}

#BWContent {
	width: 600px;
	margin-right: 40px;
	position: relative;
}

#BWContent h3 {
	font: 24px Arial, sans-serif;
	color: #000;
	height: 34px;
}

#BWContent .pStrong {
	font: bold 16px Arial, sans-serif;
	color: #1d1e1b;
	height: 57px;
}

#BWContent p {
	font: 16px Arial, sans-serif;
	color: #7b7d78;
}

#BWContent a {
	text-decoration: none;
	font: 16px Arial, sans-serif;
	color: #cacac9;
	display: block;
	cursor: pointer;
	width: 99px;
	height: 26px;
	background-image: url(../images/ReadMoreB.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	line-height: 26px;
}

#BWForm {
	width: 271px;
	position: relative;
}

#angleL, #angleR {
	position: absolute;
	bottom: 0;
	width: 26px;
	height: 100px;
}

#angleL {
	left: 0;
	background-image: url(../images/AngleL.png);
	background-repeat: no-repeat;
}

#angleR {
	right: 0;
	background-image: url(../images/AngleR.png);
	background-repeat: no-repeat;
}

#bottomLine{
	width: 972px;
	height: 1px;
	background-image: url(../images/bottomLine.png);
	background-repeat: repeat-x;
	position: absolute;
	left: 26px;
	bottom: 0;
}

#BWForm h3 {
	font:24px Arial, sans-serif;
	color: #000;
}

#inputs input {
	width: 247px;
	height: 30px;
	background-color: #fff;
	padding-left: 16px;
	margin-bottom: 12px;
	font: 16px Arial, sans-serif;
	color: #d0d0d0;
	border: 1px solid #dedede;
}

#inputs input:focus {
	color: #000;
	border-color: #000;
}

.sendButton {
	position: absolute;
	left: 0;
	bottom: 0;
}
/*========== dark ===============*/
#dark {
	height: 400px;
	background-color: #1d1e1b;
	padding: 13px 20px 15px 41px;
}

#planning, #team, #blog {
	height: 403px;
	float:left;
}

#planning, #team {
	width: 289px;
	margin-right: 39px;
	position: relative;
}

#blog {
	width: 300px;
}

#img1, #img2 {
	width: 289px;
	height: 115px;
	background-repeat: no-repeat;
	margin-bottom: 6px;
}
#img1 {
	background-image: url(../images/d1.jpg);
}

#img2 {
	background-image: url(../images/d2.jpg);
}

#dark h3 {
	font: 19px Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 6px;
}

#lPosts {
	font: 16px, Arial,; font-family: sans-serif;
	color: #2c789c;
	padding-left: 13px;
	text-transform: lowercase;
}

#dark p {
	font: 13px "Arial Narrow", Arial, sans-serif;
	font-stretch: condensed;
	color: #94998f;
}

#planning p a, #team p a {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	cursor: pointer;
	width: 99px;
	height: 26px;
	text-align: center;
	font: 16px Arial, sans-serif;
	color: #ccd9e2;
	text-decoration: none;
	background-image: url(../images/readMoreBlue.png);
	background-repeat: no-repeat;
	line-height: 26px;
}

#blog h4 {
	font: bold 15px "Arial Narrow", Arial, sans-serif;
	color: #fff;
	font-stretch: condensed;
}

#blog p a {
	color: #2c789c;
	position: absolute;
	bottom: 0;
}

#post1, #post2, #post3 {
	position: relative;
	padding-left: 122px;
	background-repeat: no-repeat;
} 

#post1 {
	height: 79px;
	margin-bottom: 41px;
	background-image: url(../images/d3.jpg);
}

#post2 {
	height: 81px;
	margin-bottom: 38px;
	background-image: url(../images/d4.jpg);
}

#post3 {
	height: 80px;
	background-image: url(../images/d5.jpg);
}

/*========== grey ===============*/
#grey {
	height: 168px;
	padding: 15px 31px 33px 39px;
	background-color: #2e302c;
}

#about, #partners {
	float: left;
	position: relative;
}

#about {
	height: 165px;
	width: 290px;
	margin-right: 40px;
}

#partners {
	width: 624px;
}

#grey h3 {
	font: 19px Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
}

#grey p {
	font: 13px "Arial Narrow", Arial, sans-serif;
	color: #94998f;
	font-stretch: condensed;
	padding-top: 2px;
}

#grey p a {
	font: 16px Arial, sans-serif;
	color: #2c789c;
	text-decoration: none;
	position: absolute;
	bottom: 0;
}

#grey ul {
	float: left;
	width: 280px;
	margin-top: 2px;
}

#list1 {
	margin-right: 54px;
}

#grey ul li {
	margin-bottom: 16px;
	font: 13px "Arial Narrow", Arial, sans-serif;
	color: #94998f;
	font-stretch: condensed;
	background-image: url(../images/mark.png);
	background-repeat: no-repeat;
	background-position: 20px 5px;
	padding-left: 46px;
}

#list2 li {
	padding-left: 52px;
}

/*========== footer ===============*/
#footer {
	height: 106px;
	background-color: #131412;
	padding: 24px 38px 24px 41px;
	position: relative;
}

#copy {
	position: absolute;
	top: 79px;
	left: 40px;
}

#copy, #copy a{
	font: 13px Arial, sans-serif;
	color: #9b9d99;
	text-decoration: none;
}

#footerNav {
	position: absolute;
	top: 79px;
	right: 38px;
	width: 425px;
	height: 15px;
}

#footerNav a {
	float: right;
	margin-left: 23px;
	font: 13px Arial, sans-serif;
	color: #94998f;
	text-decoration: none;
	text-transform: uppercase;
}

#footerNav a.active, #footerNav a:hover {
	color: #2c789c;
}

#footerSoc {
	position: absolute;
	width: 160px;
	height: 22px;
	right: 39px;
	bottom: 24px;
}

#footerSoc li a {
	display: block;
	height: 22px;
	cursor: pointer;
}

#s1, #s2, #s3, #s4 {
	float: right;
	background-repeat: no-repeat;
	margin-left: 6px;
}

#s1 {
	background-image: url(../images/s1.png);
	width: 21px;
}

#s1:hover {
	background-image: url(../images/s1c.png);
}

#s2 {
	background-image: url(../images/s2.png);
	width: 27px;
}

#s2:hover {
	background-image: url(../images/s2c.png);
}

#s3 {
	background-image: url(../images/s3.png);
	width: 22px;
}

#s3:hover {
	background-image: url(../images/s3c.png);
}

#s4 {
	background-image: url(../images/s4.png);
	width: 63px;
}

#s4:hover {
	background-image: url(../images/s4c.png);
}



