
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}

@-webkit-keyframes tail {
	0% { -webkit-transform: rotate(-17deg); transform: rotate(-17deg); height: 86px;}
	60% { -webkit-transform: rotate(47deg); transform: rotate(47deg); height: 145px;}

	62%  { -webkit-transform: rotate(-17deg); transform: rotate(-17deg); height: 86px;}
	100% { -webkit-transform: rotate(-17deg); transform: rotate(-17deg); height: 86px;}
}

@keyframes tail {
	0% { -webkit-transform: rotate(-17deg); transform: rotate(-17deg); height: 86px;}
	60% { -webkit-transform: rotate(47deg); transform: rotate(47deg); height: 145px;}

	62%  { -webkit-transform: rotate(-17deg); transform: rotate(-17deg); height: 86px;}
	100% { -webkit-transform: rotate(-17deg); transform: rotate(-17deg); height: 86px;}
}

@-webkit-keyframes candle {
	0% { top:15%; left: 20px;}
	100% { top:-5%; left: -87px;}
}

@keyframes candle {
	0% { top:15%; left: 20px;}
	100% { top:-5%; left: -87px;}
}

@-webkit-keyframes opa {
	0% {opacity: 1}
	1% {opacity: 0}
	100%  {opacity: 0}
}

@keyframes opa {
	0% {opacity: 1}
	1% {opacity: 0}
	100%  {opacity: 0}
}

@-webkit-keyframes firestarter {
	0% { -webkit-box-shadow: 0 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8); box-shadow: 0px 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8);}
	30% {-webkit-box-shadow: 0 -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);box-shadow: 0px -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);}
	99% {-webkit-box-shadow: 0 -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);box-shadow: 0px -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);}
	100% {-webkit-box-shadow: 0 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8);box-shadow: 0px 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8);}
}

@keyframes firestarter {
	0% { -webkit-box-shadow: 0 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8); box-shadow: 0px 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8);}
	30% {-webkit-box-shadow: 0 -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);box-shadow: 0px -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);}
	99% {-webkit-box-shadow: 0 -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);box-shadow: 0px -15px 23px 13px rgba(255,200,0, 0.3), 0 -38px 27px 47px rgba(231,96,0, 0.8);}
	100% {-webkit-box-shadow: 0 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8);box-shadow: 0px 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8);}
}

@-webkit-keyframes candlefire {
	0% {height: 8px; }
	50% {height: 12px; }
	100% {height: 8px;}
}

@keyframes candlefire {
	0% {height: 8px; }
	50% {height: 12px; }
	100% {height: 8px;}
}

@-webkit-keyframes pic {
	0% {		-webkit-transform: perspective(550px) rotateY(-7deg) rotateX(2deg);		transform: perspective(550px) rotateY(-7deg) rotateX(2deg);}
	100% {		-webkit-transform: perspective(550px) rotateY(-8deg) rotateX(-35deg);		transform: perspective(550px) rotateY(-8deg) rotateX(-35deg);}
}

@keyframes pic {
	0% {		-webkit-transform: perspective(550px) rotateY(-7deg) rotateX(2deg);		transform: perspective(550px) rotateY(-7deg) rotateX(2deg);}
	100% {		-webkit-transform: perspective(550px) rotateY(-8deg) rotateX(-35deg);		transform: perspective(550px) rotateY(-8deg) rotateX(-35deg);}
}

@-webkit-keyframes drop {
	0% {		-webkit-transform: rotate(0deg);		transform: rotate(0deg);}
	10% {		-webkit-transform: rotate(165deg);		transform: rotate(165deg);}
	21%{		-webkit-transform: rotate(130deg);		transform: rotate(130deg);}
	35%{		-webkit-transform: rotate(150deg);		transform: rotate(150deg);}
	50%{		-webkit-transform: rotate(140deg);		transform: rotate(140deg);}
	65%{		-webkit-transform: rotate(148deg);		transform: rotate(148deg);}
	80%{		-webkit-transform: rotate(143deg);		transform: rotate(143deg);}
	100%{		-webkit-transform: rotate(145deg);		transform: rotate(145deg);}
}

@keyframes drop {
	0% {		-webkit-transform: rotate(0deg);		transform: rotate(0deg);}
	10% {		-webkit-transform: rotate(165deg);		transform: rotate(165deg);}
	21%{		-webkit-transform: rotate(130deg);		transform: rotate(130deg);}
	35%{		-webkit-transform: rotate(150deg);		transform: rotate(150deg);}
	50%{		-webkit-transform: rotate(140deg);		transform: rotate(140deg);}
	65%{		-webkit-transform: rotate(148deg);		transform: rotate(148deg);}
	80%{		-webkit-transform: rotate(143deg);		transform: rotate(143deg);}
	100%{		-webkit-transform: rotate(145deg);		transform: rotate(145deg);}
}

@-webkit-keyframes toy {
	0% {left: 73px; top: 367px; 
		-webkit-animation-timing-function: ease-in; 
		        animation-timing-function: ease-in }
	8% {left: 73px; top: 540px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out}

	20% {left: 125px; top: 528px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in}
	27% {left: 151px; top: 572px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
		}

		32% {left: 177px; top: 560px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in}
	40% {left: 212px; top: 580px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
		opacity: 1;}

	90% {
		opacity: 1;
	}

	100% {left: 437px; top: 647px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	opacity: 0;}
}

@keyframes toy {
	0% {left: 73px; top: 367px; 
		-webkit-animation-timing-function: ease-in; 
		        animation-timing-function: ease-in }
	8% {left: 73px; top: 540px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out}

	20% {left: 125px; top: 528px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in}
	27% {left: 151px; top: 572px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
		}

		32% {left: 177px; top: 560px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in}
	40% {left: 212px; top: 580px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
		opacity: 1;}

	90% {
		opacity: 1;
	}

	100% {left: 437px; top: 647px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	opacity: 0;}
}

@-webkit-keyframes leg {
	0% {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg); 
		height: 121px;
	}
	50% {
		-webkit-transform: rotate(-95deg);
		        transform: rotate(-95deg); 
		height: 121px;
	}
	75% {
		-webkit-transform: rotate(-95deg);
		        transform: rotate(-95deg); 
		height: 135px;
	}

	95% {
		-webkit-transform: rotate(-95deg);
		        transform: rotate(-95deg); 
		height: 135px;
	}

	100%  {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg); 
		height: 121px;
	}
}

@keyframes leg {
	0% {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg); 
		height: 121px;
	}
	50% {
		-webkit-transform: rotate(-95deg);
		        transform: rotate(-95deg); 
		height: 121px;
	}
	75% {
		-webkit-transform: rotate(-95deg);
		        transform: rotate(-95deg); 
		height: 135px;
	}

	95% {
		-webkit-transform: rotate(-95deg);
		        transform: rotate(-95deg); 
		height: 135px;
	}

	100%  {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg); 
		height: 121px;
	}
}

@-webkit-keyframes iris {
	0% {left: 5px; top:-16px;}
	3% {left: 5px; top:-16px;}
	6% {left: -5px; top:-16px;}
	8% {left: -5px; top:-16px;}
	9% {left: 5px; top:-3px;}
	10% {left: 5px; top:-3px;}
	25% {left: -5px; top:-3px;}
	34%  {left: -5px; top:-3px;}
	40% {left: -5px; top:-16px;}
	49.1% {left: -5px; top:-16px;}
	49.3% {left: -3px; top: 0px;}
	56% {left: 3px; top: 0px;}
	59% {left: 5px; top:-13px;}
	65% {left: 5px; top:-13px;}
	66% {left: 23px; top: -16px;}
	69% {left: 23px; top: -16px;}
	70% {left: 5px; top:-16px;}
	80% {left: 5px; top:-16px;}
	100% {left: 5px; top:-16px;}
}

@keyframes iris {
	0% {left: 5px; top:-16px;}
	3% {left: 5px; top:-16px;}
	6% {left: -5px; top:-16px;}
	8% {left: -5px; top:-16px;}
	9% {left: 5px; top:-3px;}
	10% {left: 5px; top:-3px;}
	25% {left: -5px; top:-3px;}
	34%  {left: -5px; top:-3px;}
	40% {left: -5px; top:-16px;}
	49.1% {left: -5px; top:-16px;}
	49.3% {left: -3px; top: 0px;}
	56% {left: 3px; top: 0px;}
	59% {left: 5px; top:-13px;}
	65% {left: 5px; top:-13px;}
	66% {left: 23px; top: -16px;}
	69% {left: 23px; top: -16px;}
	70% {left: 5px; top:-16px;}
	80% {left: 5px; top:-16px;}
	100% {left: 5px; top:-16px;}
}

@-webkit-keyframes pupil {
	0% {left: 13px; width: 9px;}
	20% {left: 10px; width: 15px;}
	86% {left: 10px; width: 15px;}
	95% {left: 13px; width: 9px;}
}

@keyframes pupil {
	0% {left: 13px; width: 9px;}
	20% {left: 10px; width: 15px;}
	86% {left: 10px; width: 15px;}
	95% {left: 13px; width: 9px;}
}

@-webkit-keyframes mouth {
	0% {
		border-top: 2px solid #962130;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		top: 104px;
	}

	20% {
		border-top: 7px solid #962130;
		-webkit-transform: rotateX(-114deg);
		transform: rotateX(-114deg);
		top: 120px;
	}

	86% {
		border-top: 8px solid #962130;
		-webkit-transform: rotateX(-114deg);
		transform: rotateX(-114deg);
		top: 120px;
	}

	100% {
		border-top: 2px solid #962130;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		top: 104px;
	}
}

@keyframes mouth {
	0% {
		border-top: 2px solid #962130;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		top: 104px;
	}

	20% {
		border-top: 7px solid #962130;
		-webkit-transform: rotateX(-114deg);
		transform: rotateX(-114deg);
		top: 120px;
	}

	86% {
		border-top: 8px solid #962130;
		-webkit-transform: rotateX(-114deg);
		transform: rotateX(-114deg);
		top: 120px;
	}

	100% {
		border-top: 2px solid #962130;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		top: 104px;
	}
}

@-webkit-keyframes nose {
	0% {height: 6px;}
	15% {height: 18px;}
	86% {height: 18px;}
	100% {height: 6px;}
}

@keyframes nose {
	0% {height: 6px;}
	15% {height: 18px;}
	86% {height: 18px;}
	100% {height: 6px;}
}

@-webkit-keyframes bodym {
	0%, 100% {margin-left: 62px;}
	10%, 30%, 50%, 70%, 90% {margin-left: 64px;}
	20%, 40%, 60%, 80% {margin-left: 60px;}
}
@keyframes bodym {
	0%, 100% {margin-left: 62px;}
	10%, 30%, 50%, 70%, 90% {margin-left: 64px;}
	20%, 40%, 60%, 80% {margin-left: 60px;}
}

body {
	background: #000;
}

div {
	position: absolute;
}

.total_wrap {
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -600px;
	overflow: hidden;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation: drop 3s 35s ease-in-out;
	animation: drop 3s 35s ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE8AA), color-stop(60%, #EEE8AA), color-stop(60%, #762803), color-stop(63%, #140909), color-stop(65%, #762803), color-stop(65%, #CD853F), to(#CD853F));
	background: -webkit-linear-gradient(top, #EEE8AA, #EEE8AA 60%, #762803 60%, #140909 63%, #762803 65%, #CD853F 65%, #CD853F);
	background: -o-linear-gradient(top, #EEE8AA, #EEE8AA 60%, #762803 60%, #140909 63%, #762803 65%, #CD853F 65%, #CD853F);
	background: linear-gradient(180deg, #EEE8AA, #EEE8AA 60%, #762803 60%, #140909 63%, #762803 65%, #CD853F 65%, #CD853F);
}

.curtain {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(left, #663b23 30px, #ffdd00 60px, #663b23 90px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(left, #663b23 30px, #ffdd00 60px, #663b23 90px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(90deg, #663b23 30px, #ffdd00 60px, #663b23 90px) repeat scroll 0 0;
	height: 370px;
	left: 283px;
	top: 0;
	width: 691px;
	z-index: -5;
	-webkit-box-shadow: 0 0 30px 5px #111;
	box-shadow: 0 0 30px 5px #111;

}

.cat_wrapper {
	height: 400px;
	margin-left: 299px;
	margin-top: 120px;
	width: 300px;
	z-index: -2;
	text-align: left;
	width: 23uy

}

.tailwrap {
	height: 86px;
	left: 20px;
	top: 278px;
	-webkit-transform: rotate(-17deg);
	-ms-transform: rotate(-17deg);
	transform: rotate(-17deg);
	-webkit-transform-origin: center top 0;
	-ms-transform-origin: center top 0;
	transform-origin: center top 0;
	width: 100px;
	z-index: -4;
	-webkit-animation: tail 10s 3s linear;
	animation: tail 10s 3s linear;
}

.td1 {
	background: #CD853F none repeat scroll 0 0;
	border-radius: 100% 49% 17% 52%;
	height: 100%;
	border-left: 24px solid #210808;
	border-top: 8px solid #210808;
	width: 100%;
}

.td5 {
	height: 100%;
	width: 32px;
	right: 0;
	background: #CD853F;
}

.td4 {
	background: #210808 none repeat scroll 0 0;
	border-radius: 50%;
	bottom: 0;
	height: 30px;
	left: 18px;
	width: 30px;
}


.cat_body {
	background: -webkit-linear-gradient(left, #33130A, #BAA99A 20%, #BAA99A 80%, #33130A);
	background: -webkit-gradient(linear, left top, right top, from(#33130A), color-stop(20%, #BAA99A), color-stop(80%, #BAA99A), to(#33130A));
	background: -o-linear-gradient(left, #33130A, #BAA99A 20%, #BAA99A 80%, #33130A);
	background: linear-gradient(90deg, #33130A, #BAA99A 20%, #BAA99A 80%, #33130A);
	border-radius: 75% 74% 100% 99%;
	bottom: 80px;
	height: 160px;
	margin-left: 62px;
	width: 150px;
	-webkit-box-shadow: 0px 3px 3px #111;
	box-shadow: 0px 3px 3px #111;
}

.cat_body:hover {
	-webkit-animation: bodym 0.2s;
	animation: bodym 0.2s;
}

.stomach {
	width: 20px;
	height: 0px;
	top: 120px;
	left: 68px;
	-webkit-box-shadow: 0	0	20px 25px #fff;
	box-shadow: 0	0	20px 25px #fff;
}
.leg1 {
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #968173, #baa99a 12%, #baa99a 92%, #978274) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#968173), color-stop(12%, #baa99a), color-stop(92%, #baa99a), to(#978274)) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-linear-gradient(left, #968173, #baa99a 12%, #baa99a 92%, #978274) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, #968173, #baa99a 12%, #baa99a 92%, #978274) repeat scroll 0 0;
	border-radius: 50%;
	height: 121px;
	left: 80px;
	top: 45px;
	-webkit-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	-webkit-transform-origin: right top 0;
	-ms-transform-origin: right top 0;
	transform-origin: right top 0;
	width: 35px;
	-webkit-animation: leg 10s 23s;
	animation: leg 10s 23s;

}

.leg2 {
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #978274, #baa99a 12%, #baa99a 92%, #978274) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#978274), color-stop(12%, #baa99a), color-stop(92%, #baa99a), to(#978274)) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-linear-gradient(left, #978274, #baa99a 12%, #baa99a 92%, #978274) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, #978274, #baa99a 12%, #baa99a 92%, #978274) repeat scroll 0 0;
	border-radius: 50%;
	height: 121px;
	left: 5px;
	top: 45px;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transform-origin: right top 0;
	-ms-transform-origin: right top 0;
	transform-origin: right top 0;
	width: 35px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.leg2:hover {
	height: 110px;
	left: 3px;
}

.fingerbox1 {
	bottom: -5px;
	width: 70px;
	height: 35px;
	-webkit-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
	transform: rotate(12deg);
}

.fingerbox2 {
	height: 35px;
	left: 153px;
	top: 280px;
	width: 70px;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}

.fing {
	height: 15px;
	width: 35px;
	bottom: 0;
	border-radius: 0 50% 10% 20%;
	background: #BAA00A;
	background: -webkit-radial-gradient(70% 30%, circle ,#2D0B02, #BAA99A);
	background: -o-radial-gradient(70% 30%, circle ,#2D0B02, #BAA99A);
	background: radial-gradient(circle at 70% 30% ,#2D0B02, #BAA99A);
	border-right: 2px solid #000;
	border-bottom: 1px solid #000;;

}

.fingerbox2>.fing {
	-webkit-box-shadow: 0px 3px 3px #111;
	box-shadow: 0px 3px 3px #111;
}

.finger1 {
	left: 20px;
	bottom: 4px;
}

.finger2 {
	left: 14px;
	bottom: 2px;

}

.finger3 {
	left: 8px;
}


.backleg1 {
	background: -webkit-radial-gradient(at 50% 80%, #2D0B02,  #CCC0B5);
	background: -o-radial-gradient(at 50% 80%, #2D0B02,  #CCC0B5);
	background: radial-gradient(at 50% 80%, #2D0B02,  #CCC0B5);
	border-radius: 0 50% 40% 25%;
	height: 60px;
	left: 153px;
	top: 239px;
	-webkit-transform: rotate(-28deg);
	-ms-transform: rotate(-28deg);
	transform: rotate(-28deg);
	width: 80px;
	z-index: -3;
}

.backleg1:hover {
	left: 145px;
}

.bl2wr {
	left: 271px;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	z-index: -3;
}

.bl2wr>.fingerbox2:hover {
	top: 270px;
}

.bl1wr>.fingerbox2:hover {
	top: 270px;
}

.cat_head {
	width: 194px;
	height: 140px;
	top: 72px;
	background: -webkit-linear-gradient(left, #522, #D7CCC7 30%, #D7CCC7 75%, #100);
	background: -webkit-gradient(linear, left top, right top, from(#522), color-stop(30%, #D7CCC7), color-stop(75%, #D7CCC7), to(#100));
	background: -o-linear-gradient(left, #522, #D7CCC7 30%, #D7CCC7 75%, #100);
	background: linear-gradient(90deg, #522, #D7CCC7 30%, #D7CCC7 75%, #100);
	border-radius: 54% 54% 100% 101%;
	margin-left: 40px;
	overflow-x: hidden;
	overflow: hidden !important;
	z-index: 1;
}


.f1 {
	background: rgba(0, 0, 0, 0) -webkit-radial-gradient(circle farthest-corner at 68% 77% , #2d0b02, #2d0b02 23%, rgba(227,214,198, 0.0) 60%, rgba(227,214,198, 0.1)) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-radial-gradient(circle farthest-corner at 68% 77% , #2d0b02, #2d0b02 23%, rgba(227,214,198, 0.0) 60%, rgba(227,214,198, 0.1)) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-corner at 68% 77% , #2d0b02, #2d0b02 23%, rgba(227,214,198, 0.0) 60%, rgba(227,214,198, 0.1)) repeat scroll 0 0;
	border-radius: 41% 70% 43% 78%;
	height: 128px;
	left: -10px;
	top: -16px;
	-webkit-transform: rotate(5deg) skewY(-2deg);
	-ms-transform: rotate(5deg) skewY(-2deg);
	transform: rotate(5deg) skewY(-2deg);
	width: 106px;
	-webkit-box-shadow: inset -3px 1px 4px 0px #1E0303, 3px 6px 6px 0px #281A12;
	box-shadow: inset -3px 1px 4px 0px #1E0303, 3px 6px 6px 0px #281A12;
}


.f2 {
	background: -webkit-radial-gradient(circle farthest-corner at 32% 76% , #2d0b02, #2d0b02 23%, rgba(227,214,198, 0.6) 60%, rgba(227,214,198, 0.3));
	background: -o-radial-gradient(circle farthest-corner at 32% 76% , #2d0b02, #2d0b02 23%, rgba(227,214,198, 0.6) 60%, rgba(227,214,198, 0.3));
	background: radial-gradient(circle farthest-corner at 32% 76% , #2d0b02, #2d0b02 23%, rgba(227,214,198, 0.6) 60%, rgba(227,214,198, 0.3));
	border-radius: 70% 50% 78% 43%;
	height: 128px;
	left: 102px;
	top: -16px;
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	width: 106px;
	-webkit-box-shadow: inset 3px 1px 4px 0px #1E0303, -1px 5px 4px 0px #4E3229;
	box-shadow: inset 3px 1px 4px 0px #1E0303, -1px 5px 4px 0px #4E3229;
}

.eyes {
	height: 34px;
	left: 35px;
	top: 71px;
	width: 130px;
	z-index: 2;
}

.eye1, .eye2 {
	height: 24px;
	width: 50px;
	background: -webkit-radial-gradient(at center center, #fff, #555);
	background: -o-radial-gradient(at center center, #fff, #555);
	background: radial-gradient(at center center, #fff, #555);
	border: 2px solid #150000;
	border-top: 5px solid #200505;
	overflow: hidden;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	z-index: 2;
}

.eye1:hover {
	height: 1px;
}

.eye2:hover {
	height: 1px;
}

.eye1 {
	border-radius: 150% 34% 293% 117%;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}

.eye2 {
	right: 0;
	border-radius: 34% 150% 117% 293%;
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.iris {
	width: 36px;
	height: 36px;
	left: 5px;
	top: -16px;
	background: -webkit-radial-gradient(center center, circle, #B9FDFF, #000);
	background: -o-radial-gradient(center center, circle, #B9FDFF, #000);
	background: radial-gradient(circle at center center, #B9FDFF, #000);
	border-radius: 50%;
	-webkit-animation: iris 33s linear;
	animation: iris 33s linear;
}

.pupil {
	background: #151515 ;
	border-radius: 48% 49% 50% 51%;
	height: 17px;
	top: 9px;
	left: 13px;
	width: 9px;
	-webkit-animation: pupil 9s 11.5s;
	animation: pupil 9s 11.5s;
}

.mouth_bg {
	background: -webkit-radial-gradient(center center, circle , #fff, #a0a0a0);
	background: -o-radial-gradient(center center, circle , #fff, #a0a0a0);
	background: radial-gradient(circle at center center , #fff, #a0a0a0);
	border-radius: 50%;
	-webkit-box-shadow: 0 0 6px 0 #fff;
	box-shadow: 0 0 6px 0 #fff;
	height: 45px;
	left: 67px;
	top: 92px;
	width: 68px;
}

.mouth {
	border-radius: 50%;
	border-top: 2px solid #962130;
	height: 50px;
	left: 80px;
	top: 104px;
	width: 40px;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-animation: mouth 9s 11.5s;
	animation: mouth 9s 11.5s;
}

.nose {
	height: 13px;
	left: 86px;
	top: 91px;
	width: 25px;
	z-index: 2;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}

.nose:hover {
	left: 89px;
	top: 91px;
	width: 19px;
}

.nose1 {
	width: 100%;
	height: 7px;
	border-radius: 0% 0% 50% 50%;
	background: #EA91A6;
	border: 1px solid #3C140A;
	border-bottom: 2px solid #3C140A;
	border-top: none;
}

.nose2 {
	background: #EA91A6;
	border-bottom: 2px solid #3c140a;
	border-radius: 0 0 50% 50%;
	border-top: medium none;
	height: 10px;
	left: 28%;
	width: 50.5%;
}

.nose3 {
	background: #962130 none repeat scroll 0 0;
	height: 6px;
	left: 49%;
	top: 9px;
	width: 2px;
	-webkit-animation: nose 9s 11.5s;
	animation: nose 9s 11.5s;
}

.ear {
	background: #2D0B02;
	border-radius: 100% 0;
	height: 75px;
	left: 181px;
	top: 52px;
	-webkit-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	width: 63px;
	z-index: -2;
	-webkit-transition: 10ms;
	-o-transition: 10ms;
	transition: 10ms;
}

.ear:hover {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.ear1 {
	background: #5a4b45 none repeat scroll 0 0;
	border-radius: 100% 0;
	height: 45px;
	left: 24px;
	top: 3px;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	width: 35px;
	z-index: -1;
}

.h1 {
	background: -webkit-radial-gradient(50% 50%, circle , #ddd, #4F383E) ;
	background: -o-radial-gradient(50% 50%, circle , #ddd, #4F383E) ;
	background: radial-gradient(circle at 50% 50% , #ddd, #4F383E) ;
	border-radius: 37% 35% 29% 27%;
	height: 40px;
	left: 25px;
	top: 72px;
	-webkit-transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
	transform: rotate(-18deg);
	width: 177px;
	-webkit-box-shadow: 0 0px 2px 3px #4F383E, inset 0 0px 15px 3px #555, 0 5px 5px 0px #000;
	box-shadow: 0 0px 2px 3px #4F383E, inset 0 0px 15px 3px #555, 0 5px 5px 0px #000;
	z-index: 3;
}

.h2 {
	background: #300 none repeat scroll 0 0;
	border-radius: 38% 76% 0 0;
	height: 38px;
	left: 39px;
	top: 42px;
	-webkit-transform: rotate(-17deg) skewX(1deg);
	-ms-transform: rotate(-17deg) skewX(1deg);
	transform: rotate(-17deg) skewX(1deg);
	width: 135px;
	z-index: 1;
}

.h3 {
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(67deg, #500202, #020000 63%, #6a0000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-linear-gradient(67deg, #500202, #020000 63%, #6a0000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(23deg, #500202, #020000 63%, #6a0000) repeat scroll 0 0;
	-webkit-box-shadow: 0 0 10px 8px #000;
	box-shadow: 0 0 10px 8px #000;
	height: 72px;
	left: 7px;
	top: 5px;
	-webkit-transform: rotate(115deg) skewX(-51deg);
	-ms-transform: rotate(115deg) skewX(-51deg);
	transform: rotate(115deg) skewX(-51deg);
	width: 175px;
	z-index: 4;
}



.h4 {
	background:-webkit-repeating-linear-gradient(344deg, #663b23 30px, #ffdd00 60px, #663b23 90px) repeat scroll 0 0;
	background:-o-repeating-linear-gradient(344deg, #663b23 30px, #ffdd00 60px, #663b23 90px) repeat scroll 0 0;
	background:repeating-linear-gradient(106deg, #663b23 30px, #ffdd00 60px, #663b23 90px) repeat scroll 0 0;
	height: 190px;
	left: 6px;
	top: -134px;
	-webkit-transform: rotate(-16deg);
	-ms-transform: rotate(-16deg);
	transform: rotate(-16deg);
	width: 204px;
	z-index: 5;
}

.h5 {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: -webkit-radial-gradient(50% 40%, circle , #eee, #111) ;
	background: -o-radial-gradient(50% 40%, circle , #eee, #111) ;
	background: radial-gradient(circle at 50% 40% , #eee, #111) ;
	top: 160px;
	left: 53px;
	z-index: 5;
	-webkit-box-shadow: 2px -2px 10px 3px #000;
	box-shadow: 2px -2px 10px 3px #000;
}

.h5:hover {
	left: 48px;
}

.vibrisbox {

	height: 99px;
	left: 98px;
	top: 27px;
	width: 88px;
}

.vibrisbox2 {

	height: 99px;
	left: 14px;
	top: 27px;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	width: 88px;
}

.vibr1 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 35px;
	left: 26px;
	top: 75px;
	width: 58px;
}

.vibr2 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 25px;
	left: 26px;
	top: 71px;
	width: 65px;
}

.vibr3 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 35px;
	left: 23px;
	top: 66px;
	width: 50px;
}

.vibr4 {
	border-left: 1px solid #fff;
	border-radius: 50% 0 0 50%;
	height: 45px;
	left: 38px;
	top: -14px;
	-webkit-transform: rotate(32deg);
	-ms-transform: rotate(32deg);
	transform: rotate(32deg);
	width: 23px;
}

.vibr5 {
	border-left: 1px solid #fff;
	border-radius: 50% 0 0 50%;
	height: 40px;
	left: 46px;
	top: -5px;
	-webkit-transform: rotate(52deg);
	-ms-transform: rotate(52deg);
	transform: rotate(52deg);
	width: 23px;
}

.vibr6 {
	border-left: 1px solid #fff;
	border-radius: 50% 0 0 50%;
	height: 45px;
	left: 43px;
	top: -11px;
	-webkit-transform: rotate(43deg);
	-ms-transform: rotate(43deg);
	transform: rotate(43deg);
	width: 23px;
}

.vibr7 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 15px;
	left: 13px;
	top: 28px;
	width: 26px;
}

.vibr8 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 15px;
	left: 13px;
	top: 24px;
	width: 26px;
}

.vibr9 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 15px;
	left: 10px;
	top: 21px;
	width: 26px;
}

.vibr10 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 15px;
	left: 8px;
	top: 18px;
	width: 29px;
}

.vibr11 {
	border-radius: 50%;
	border-top: 1px solid #fff;
	height: 15px;
	left: 8px;
	top: 20px;
	width: 29px;
}


.vibris2:hover {
	border-radius: 90% 0 0 50%;
}

.vibris:hover {
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}

.candlebox {
	height: 90px;
	left: 314px;
	top: 466px;
	width: 257px;
}

.candle {
	width: 	20px;
	height: 18px;
	background: -webkit-linear-gradient(left, #200, #f00, #200);
	background: -webkit-gradient(linear, left top, right top, from(#200), color-stop(#f00), to(#200));
	background: -o-linear-gradient(left, #200, #f00, #200);
	background: linear-gradient(90deg, #200, #f00, #200);
	border-radius: 20px/9px;
	-webkit-box-shadow: 0 1px 5px #111;
	box-shadow: 0 1px 5px #111;
}

.candle1 {top:35%; left: 0px;}
.candle2 {top:15%; left: 20px;
	-webkit-animation: candle 5.5s 3.5s linear;
	animation: candle 5.5s 3.5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.candle3 {top:35%; left: 40px;}
.candle4 {top:55%; left: 37px;}
.candle5 {top:75%; left: 20px;}
.candle6 {top:100%; left: 0px;}
.candle7 {top:100%; left: 20px;}
.candle8 {top:100%; left: 40px;}

.candle9 {top: 15%; left: 95px;}
.candle10 {top:35%; left: 115px;}
.candle10a {top:55%; left: 118px;}
.candle11 {top:78%; left: 115px;}
.candle12 {top:100%; left: 95px;}
.candle13 {top:78%; left: 75px;}
.candle13a {top:55%; left: 71px;}
.candle14 {top:35%; left: 75px;}

.candle15 {top:15%; left: 149px;}
.candle16 {top:36%; left: 151px;}
.candle17 {top:55%; left: 149px;}
.candle18 {top:75%; left: 151px;}
.candle19 {top:100%; left: 149px;}

.candle20 {top:15%; left: 185px;}
.candle21 {top:15%; left: 205px;}
.candle22 {top:15%; left: 225px;}
.candle23 {top:36%; left: 215px;}
.candle24 {top:55%; left: 205px;}
.candle25 {top:75%; left: 195px;}
.candle26 {top:100%; left: 185px;}

.candlefire {
	background: rgba(0, 0, 0, 0) -webkit-radial-gradient(at 50% 50% , #ff3800, #ff0) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-radial-gradient(at 50% 50% , #ff3800, #ff0) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) radial-gradient(at 50% 50% , #ff3800, #ff0) repeat scroll 0 0;
	border-radius: 100% 0;
	height: 12px;
	left: 5px;
	top: -7px;
	-webkit-transform: rotate(-36deg);
	-ms-transform: rotate(-36deg);
	transform: rotate(-36deg);
	width: 10px;
	z-index: 1;
	-webkit-animation: candlefire 1.5s infinite;
	animation: candlefire 1.5s infinite;
}

.candlefire:hover {

	height: 15px;
	width: 12px;
	top: -14px;
}


.candlefire.del1 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.candlefire.del2 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.treesceleton {
	z-index: -5;
	left: 22px;
	top: 27px;
	width: 300px;
	height: 500px;
}

.tree {
	left: 22px;
	top: 27px;
	width: 300px;
	height: 500px;
	-webkit-animation: opa 50s 12.5s linear;
	animation: opa 50s 12.5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.treeshad {
	background: rgba(0, 0, 0, 0) -webkit-radial-gradient(50% 50%, closest-side , rgba(10, 10, 10, 0.8), transparent 90%) ;
	background: rgba(0, 0, 0, 0) -o-radial-gradient(50% 50%, closest-side , rgba(10, 10, 10, 0.8), transparent 90%) ;
	background: rgba(0, 0, 0, 0) radial-gradient(closest-side at 50% 50% , rgba(10, 10, 10, 0.8), transparent 90%) ;
	height: 247px;
	left: -259px;
	top: 353px;
	width: 473px;

}


.branch {
	width: 100%;
	height: 100%;
	background: -webkit-repeating-linear-gradient(left, #004700, #004700 1px, transparent 2px, transparent 6px);
	background: -o-repeating-linear-gradient(left, #004700, #004700 1px, transparent 2px, transparent 6px);
	background: repeating-linear-gradient(90deg, #004700, #004700 1px, transparent 2px, transparent 6px);
	-webkit-transform: skewX(-55deg) rotateX(1deg);
	transform: skewX(-55deg) rotateX(1deg);
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
	border-bottom: 2px solid rgba(20,0,0,0.3);
}

.branch.br2 {
	-webkit-transform: skewX(55deg) rotateX(180deg);
	transform: skewX(55deg) rotateX(180deg);
}

.branch.br3 {
	-webkit-transform: skewX(72deg) rotateX(114deg);
	transform: skewX(72deg) rotateX(114deg);
	background: -webkit-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 9px);
	background: -o-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 9px);
	background: repeating-linear-gradient(90deg, #004700, #004700 3px, transparent 3px, transparent 9px);
}

.branch.br4 {
	-webkit-transform:skewX(-251deg) rotateX(297deg);
	transform:skewX(-251deg) rotateX(297deg);
	background: -webkit-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 9px);
	background: -o-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 9px);
	background: repeating-linear-gradient(90deg, #004700, #004700 3px, transparent 3px, transparent 9px);
}

.branch.br5 {
	-webkit-transform: skewX(-64deg) rotateX(38deg);
	transform: skewX(-64deg) rotateX(38deg);
	background: -webkit-repeating-linear-gradient(left, #004700, #004700 4px, transparent 8px, transparent 11px);
	background: -o-repeating-linear-gradient(left, #004700, #004700 4px, transparent 8px, transparent 11px);
	background: repeating-linear-gradient(90deg, #004700, #004700 4px, transparent 8px, transparent 11px);
}

.branch.br6 {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(left, #f004700, #f004700 5px, transparent 8px, transparent 11px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(left, #f004700, #f004700 5px, transparent 8px, transparent 11px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(90deg, #f004700, #f004700 5px, transparent 8px, transparent 11px) repeat scroll 0 0;
	-webkit-transform: skewX(-74deg) rotateX(57deg);
	transform: skewX(-74deg) rotateX(57deg);
}



.branch.br7 {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 15px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 15px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(90deg, #004700, #004700 3px, transparent 3px, transparent 15px) repeat scroll 0 0;
	-webkit-transform: skewX(77deg) rotateX(-122deg);
	transform: skewX(77deg) rotateX(-122deg);
}

.branch.br8 {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 7px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(left, #004700, #004700 3px, transparent 3px, transparent 7px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(90deg, #004700, #004700 3px, transparent 3px, transparent 7px) repeat scroll 0 0;
	-webkit-transform: skewX(69deg) rotateX(-142deg);
	transform: skewX(69deg) rotateX(-142deg);
}

.branch.br9 {
	background: -webkit-repeating-linear-gradient(left, #004700, #004700 2px, transparent 2px, transparent 5px) repeat scroll 0 0;
	background: -o-repeating-linear-gradient(left, #004700, #004700 2px, transparent 2px, transparent 5px) repeat scroll 0 0;
	background: repeating-linear-gradient(90deg, #004700, #004700 2px, transparent 2px, transparent 5px) repeat scroll 0 0;
	-webkit-transform: skewX(55deg) rotateX(-180deg);
	transform: skewX(55deg) rotateX(-180deg);
	height: 19px;
}

.bh.bh1 {
	height: 20px;
	left: -40px;
	top: 396px;
	-webkit-transform: rotate(3deg) scale(1.3);
	-ms-transform: rotate(3deg) scale(1.3);
	transform: rotate(3deg) scale(1.3);
	width: 232px;
}

.bh.bh2 {
	height: 20px;
	left: 8px;
	top: 416px;
	-webkit-transform: rotate(22deg) scale(1);
	-ms-transform: rotate(22deg) scale(1);
	transform: rotate(22deg) scale(1);
	width: 102px;
}

.bh.bh3 {
	height: 20px;
	left: -4px;
	top: 371px;
	-webkit-transform: rotate(-26deg) scale(1.3);
	-ms-transform: rotate(-26deg) scale(1.3);
	transform: rotate(-26deg) scale(1.3);
	width: 77px;
}

.bh.bh4 {
	height: 20px;
	left: -8px;
	top: 328px;
	-webkit-transform: rotate(21deg) scale(1.4);
	-ms-transform: rotate(21deg) scale(1.4);
	transform: rotate(21deg) scale(1.4);
	width: 187px;
	z-index: 0;
}

.bh.bh5 {
	height: 20px;
	left: 19px;
	top: 296px;
	-webkit-transform: rotate(-7deg) scale(1);
	-ms-transform: rotate(-7deg) scale(1);
	transform: rotate(-7deg) scale(1);
	width: 190px;
	z-index: 1;
}

.bh.bh6 {
	height: 20px;
	left: 145px;
	top: 336px;
	-webkit-transform: rotate(-31deg) scale(1.3);
	-ms-transform: rotate(-31deg) scale(1.3);
	transform: rotate(-31deg) scale(1.3);
	width: 62px;
	z-index: -2;
}

.bh.bh7 {
	height: 20px;
	left: -25px;
	top: 351px;
	-webkit-transform: rotate(50deg) scale(1);
	-ms-transform: rotate(50deg) scale(1);
	transform: rotate(50deg) scale(1);
	width: 124px;
}

.bh.bh8 {
	height: 20px;
	left: 116px;
	top: 380px;
	-webkit-transform: rotate(69deg) scale(1.2);
	-ms-transform: rotate(69deg) scale(1.2);
	transform: rotate(69deg) scale(1.2);
	width: 52px;
}

.bh.bh9 {
	height: 20px;
	left: 124px;
	top: 309px;
	-webkit-transform: rotate(37deg) scale(1);
	-ms-transform: rotate(37deg) scale(1);
	transform: rotate(37deg) scale(1);
	width: 46px;
}

.bh.bh10 {
	height: 20px;
	left: 54px;
	top: 276px;
	-webkit-transform: rotate(-32deg) scale(1);
	-ms-transform: rotate(-32deg) scale(1);
	transform: rotate(-32deg) scale(1);
	width: 105px;
}

.bh.bh11 {
	height: 20px;
	left: -40px;
	top: 272px;
	-webkit-transform: rotate(-20deg) scale(1.2);
	-ms-transform: rotate(-20deg) scale(1.2);
	transform: rotate(-20deg) scale(1.2);
	width: 124px;
}

.bh.bh12 {
	height: 20px;
	left: -51px;
	top: 353px;
	-webkit-transform: rotate(-21deg) scale(1.1);
	-ms-transform: rotate(-21deg) scale(1.1);
	transform: rotate(-21deg) scale(1.1);
	width: 57px;
}

.bh.bh13 {
	height: 20px;
	left: -25px;
	top: 241px;
	-webkit-transform: rotate(-45deg) scale(1);
	-ms-transform: rotate(-45deg) scale(1);
	transform: rotate(-45deg) scale(1);
	width: 126px;
}

.bh.bh14 {
	height: 20px;
	left: -50px;
	top: 222px;
	-webkit-transform: rotate(-34deg) scale(1.4);
	-ms-transform: rotate(-34deg) scale(1.4);
	transform: rotate(-34deg) scale(1.4);
	width: 78px;
	z-index: -2;
}

.treebox2 {
	left: -75px;
	top: -266px;
	-webkit-transform: rotate(9deg);
	-ms-transform: rotate(9deg);
	transform: rotate(9deg);
}

.treesceleton .bh .branch.branchsceleton {
	background: none !important;
}

.toy1 {
	background: rgba(0, 0, 0, 0) -webkit-radial-gradient(68% 40%, circle , #f00, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-radial-gradient(68% 40%, circle , #f00, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) radial-gradient(circle at 68% 40% , #f00, #000) repeat scroll 0 0;
	border-radius: 50%;
	height: 42px;
	left: 176px;
	top: 307px;
	width: 42px;
	z-index: 0;
}

.toy1:hover {
	left: 167px;
	top: 303px;
}

.toy2 {
	background: rgba(0, 0, 0, 0) -webkit-radial-gradient(68% 40%, circle , #ff0, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-radial-gradient(68% 40%, circle , #ff0, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) radial-gradient(circle at 68% 40% , #ff0, #000) repeat scroll 0 0;
	border-radius: 50%;
	height: 42px;
	left: 62px;
	top: 107px;
	width: 42px;
	z-index: -1;
}

.toy3 {
	background: rgba(0, 0, 0, 0) -webkit-radial-gradient(68% 40%, circle , #0ff, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-radial-gradient(68% 40%, circle , #0ff, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) radial-gradient(circle at 68% 40% , #0ff, #000) repeat scroll 0 0;
	border-radius: 50%;
	height: 42px;
	left: -7px;
	top: 238px;
	width: 42px;
	z-index: -1;
}

.toy4 {
	background: rgba(0, 0, 0, 0) -webkit-radial-gradient(68% 40%, circle , #f0f, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-radial-gradient(68% 40%, circle , #f0f, #000) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) radial-gradient(circle at 68% 40% , #f0f, #000) repeat scroll 0 0;
	border-radius: 50%;
	height: 42px;
	left: 73px;
	top: 367px;
	width: 42px;
	z-index: 0;

	-webkit-animation: toy 3.5s 15.8s;

	animation: toy 3.5s 15.8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.firestarter {
	height: 1px;
	-webkit-box-shadow: 0 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8);
	box-shadow: 0 0px 0px 0px rgba(255,200,0, 0.5), 0 0px 0px 0px rgba(231,96,0, 0.8); 
	border-radius: 50% 50% 0 0 ;
	-webkit-animation: firestarter 3s linear;
	animation: firestarter 3s linear;
	z-index: 2;
}

.firestarter1 { 
	top: 425px;
	left: 205px;
	width: 30px;
	-webkit-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-animation-delay: 10.8s;
	animation-delay: 10.8s;
}

.firestarter2 {
	
	left: 104px;
	top: 431px;
	-webkit-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
	width: 133px;
	-webkit-animation-delay: 11.3s;
	animation-delay: 11.3s;
}

.firestarter3 {
	left: -4px;
	top: 370px;
	-webkit-transform: rotate(14deg);
	-ms-transform: rotate(14deg);
	transform: rotate(14deg);
	width: 194px;
	-webkit-animation-delay: 11.4s;
	animation-delay: 11.4s;
}

.firestarter4 {
	left: 60px;
	top: 297px;
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
	width: 134px;
	-webkit-animation-delay: 11.5s;
	animation-delay: 11.5s;
}

.firestarter5 {
	left: 10px;
	top: 230px;
	-webkit-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	transform: rotate(-12deg);
	width: 68px;
	-webkit-animation-delay: 11.6s;
	animation-delay: 11.6s;
}

.firestarter6 {
	left: 60px;
	top: 120px;
	-webkit-transform: rotate(-31deg);
	-ms-transform: rotate(-31deg);
	transform: rotate(-31deg);
	width: 47px;
	-webkit-animation-delay: 11.6s;
	animation-delay: 11.6s;
}

.firestarter7 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	left: 10px;
	top: 60px;
	-webkit-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
	width: 18px;
	-webkit-animation-delay: 11.9s;
	animation-delay: 11.9s;
}

.picwrap {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 500px;
	perspective: 500px;
	height: 484px;
	left: 578px;
	top: 100px;
	transform-style: preserve-3d;
	width: 375px;
	z-index: 12;
}

.pic {
	bottom: 0;
	border: 3px solid #f0f;
	width: 360px;
	height: 580px;
	-webkit-transform: perspective(550px) rotateY(-7deg) rotateX(2deg);
	transform: perspective(550px) rotateY(-7deg) rotateX(2deg);
	-webkit-transform-origin: center bottom 0;
	-ms-transform-origin: center bottom 0;
	transform-origin: center bottom 0;
	z-index: 12;
	background: -webkit-repeating-linear-gradient(315deg, #B49AFF, #B49AFF 25px, #800 28px, #800 38px, #B49AFF 41px, #B49AFF 63px, #f0f 66px, #f0f 80px,#B49AFF 83px);
	background: -o-repeating-linear-gradient(315deg, #B49AFF, #B49AFF 25px, #800 28px, #800 38px, #B49AFF 41px, #B49AFF 63px, #f0f 66px, #f0f 80px,#B49AFF 83px);
	background: repeating-linear-gradient(135deg, #B49AFF, #B49AFF 25px, #800 28px, #800 38px, #B49AFF 41px, #B49AFF 63px, #f0f 66px, #f0f 80px,#B49AFF 83px);
	border-right: 6px solid #505;
	border-bottom: 2px solid #505;
	-webkit-animation: pic 4s 31s cubic-bezier(.92,.25,.97,.61);
	animation: pic 4s 31s cubic-bezier(.92,.25,.97,.61);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-box-shadow: 0px 3px 7px 1px #111;
	box-shadow: 0px 3px 7px 1px #111;
}

.rib-hor {
	width: 100%;
	height: 30px;
	top: 15%;
	background: #505;
}

.rib-ver {
	width: 30px;
	height: 100%;
	right: 20%;
	background: #505;
}

.ribbon {
	width: 15%;
	height: 100%;
	background: #700;
	left: 50%;
}

.ribbon-h {
	height: 8%;
	width: 100%;
	background: #700;
	top: 40%;
}

.bow {
	border: 1px solid red;
	width: 150px;
	height: 45px;
	top: 0px;
	left: 100px;
}

.bow-p {
	width: 160px;
	height: 80px;
	top: 60px;
	left: 185px;
}

.bowl-l {
	height: 100%;
	width: 50%;
	left: 0;
	bottom: 0;
	border-radius: 50% 50% 40% 50%;
	border-right: 10px solid #508;
	border-top: 20px solid #508;
	border-left: 30px solid #508;
	border-bottom: 20px solid #508;
	-webkit-box-shadow: 5px 8px 13px 1px #333, inset 0px 1px 2px 1px #333;
	box-shadow: 5px 8px 13px 1px #333, inset 0px 1px 2px 1px #333;
}

.bowl-r {
	height: 100%;
	width: 50%;
	right: 0;
	bottom: 0;

	border-radius: 50% 50% 50% 40%;
	border-right: 30px solid #509;
	border-top: 20px solid #509;
	border-left: 10px solid #509;
	border-bottom: 20px solid #509;
	-webkit-box-shadow: 5px 8px 13px 1px #333, inset 0px 1px 2px 1px #333;
	box-shadow: 5px 8px 13px 1px #333, inset 0px 1px 2px 1px #333;
}

.bowl-k {
	height: 40%;
	width: 15%;
	left: 42%;
	top: 26%;
	border-radius: 50%;
	background: -webkit-radial-gradient(#6813AC, #000026);
	background: -o-radial-gradient(#6813AC, #000026);
	background: radial-gradient(#6813AC, #000026);
}


.presentboxes {
	top: 200px;
	left: 795px;
	width: 400px;
	height: 390px;
	z-index: 0;
}

.present1 {
	top: 137px;
	left: 50px;
	border: 1px solid pink;
	width: 250px;
	height: 250px;
}

.pr1 {
	background: -webkit-radial-gradient( #FFC100,  #f0f 30%, #009 60%, #00f);
	background: -o-radial-gradient( #FFC100,  #f0f 30%, #009 60%, #00f);
	background: radial-gradient( #FFC100,  #f0f 30%, #009 60%, #00f);
	background-size: 15% 15%;
	border: 1px solid #008;
}

.pr1-1 {
	width: 250px;
	height: 250px;
	-webkit-box-shadow: 0px 3px 7px 2px #111;
	box-shadow: 0px 3px 7px 2px #111;
}

.pr1-2 {
	width: 60px;
	height: 100%;
	left: 100%;
	top: 2px;
	-webkit-transform: skewY(-35deg);
	-ms-transform: skewY(-35deg);
	transform: skewY(-35deg);
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-box-shadow: 0px 3px 7px #111;
	box-shadow: 0px 3px 7px #111;
}

.pr1-3 {
	width: 249px;
	height: 40px;
	bottom: 100%;
	-webkit-transform: skewX(-56deg);
	-ms-transform: skewX(-56deg);
	transform: skewX(-56deg);
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
}

.present2 {
	height: 60px;
	left: 90px;
	top: -9px;
	width: 120px;

}

.pr2 {
	background: -webkit-repeating-radial-gradient( 0% 0%, circle, #ff0, #080);
	background: -o-repeating-radial-gradient( 0% 0%, circle, #ff0, #080);
	background: repeating-radial-gradient( circle at 0% 0%, #ff0, #080);
	background-size: 8% 15%;
	border: 1px solid #aa0;
}

.pr2-1 {
	height: 140px;
	width: 120px;
	-webkit-box-shadow: 0px 3px 7px #111;
	box-shadow: 0px 3px 7px #111;
}

.pr2-2 {
	height: 232%;
	left: 100%;
	top: 1px;
	-webkit-transform: skewY(-22deg);
	-ms-transform: skewY(-22deg);
	transform: skewY(-22deg);
	-webkit-transform-origin: left bottom 0;
	-ms-transform-origin: left bottom 0;
	transform-origin: left bottom 0;
	width: 31px;
	-webkit-box-shadow: 0px 3px 7px #111;
	box-shadow: 0px 3px 7px #111;
}

.pr2-3 {
	background: #AFD900;
	bottom: 100%;
	height: 11px;
	-webkit-transform: skewX(-66deg);
	-ms-transform: skewX(-66deg);
	transform: skewX(-66deg);
	-webkit-transform-origin: left bottom 0;
	-ms-transform-origin: left bottom 0;
	transform-origin: left bottom 0;
	width: 125px;
}

.present3 {
	background:-webkit-linear-gradient(left, #660018, #ff20c6 75%, #660018);
	background:-webkit-gradient(linear, left top, right top, from(#660018), color-stop(75%, #ff20c6), to(#660018));
	background:-o-linear-gradient(left, #660018, #ff20c6 75%, #660018);
	background:linear-gradient(90deg, #660018, #ff20c6 75%, #660018);
	border-radius: 30px / 7px;
	height: 152px;
	left: 141px;
	top: -164px;
	width: 67px;
	-webkit-box-shadow: inset 0 25px #650035;
	box-shadow: inset 0 25px #650035;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;

}

.present3:hover {
	left: 138px;
	top: -167px;

}

.present4 {
	background: #0aa none repeat scroll 0 0;
	height: 246px;
	left: 246px;
	top: -109px;
	-webkit-transform: skewY(-37deg) skewX(14deg);
	-ms-transform: skewY(-37deg) skewX(14deg);
	transform: skewY(-37deg) skewX(14deg);
	width: 57px;
	-webkit-box-shadow: -3px 0 #B8BCF4;
	box-shadow: -3px 0 #B8BCF4;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.present4:hover {
	top: -115px;
}

.p4-top {
	background: #0aa none repeat scroll 0 0;
	height: 262px;
	left: 0;
	top: -70px;
	-webkit-transform: skewY(51deg) skewX(0deg);
	-ms-transform: skewY(51deg) skewX(0deg);
	transform: skewY(51deg) skewX(0deg);
	width: 100%;
	-webkit-box-shadow: -3px 0 #B8BCF4;
	box-shadow: -3px 0 #B8BCF4;
}