@charset "UTF-8";
section {
  padding: 55px 0;
}

.righted {
  color: #353f68 !important;
}

.text-section {
  background-image: url(../img/commonImgs/bgp.png);
  background-position: -68px 0;
}

/*del*/
.modal-type-2 {
  padding-bottom: 40px;
}

.modal-type-2 .modal-top:before {
  content: "";
  display: inline-block;
}

.modal-type-2 .modal-close {
  font-size: 24px;
}

.modal-type-2 .modal-top {
  margin-bottom: 10px;
}

.modal-type-2 .modal-form .submit-wrap {
  max-width: 100%;
}

.modal-type-2 input[type="submit"] {
  font-size: 16px;
}

.modal-type-2 p {
  font-family: OpenSansBold, sans-serif;
  text-align: center;
  line-height: 1.2;
  font-size: 14px;
  margin-bottom: 16px;
}

.modal-2-call {
  display: block;
  width: 94%;
  max-width: 410px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 40px auto;
  white-space: nowrap;
}

.modal-title {
  font-family: OpenSansBold, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.list-imaged {
  position: relative;
  font-family: OpenSansBold, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 50px 0 !important;
  padding-left: 0 !important;
  list-style-type: none !important;
}

.list-imaged > li {
  position: relative;
  padding-left: 70px !important;
  margin-bottom: 30px !important;
}

.list-imaged > li:before {
  display: none !important;
}

.list-imaged > li > img {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.list-imaged a {
  display: inline-block;
  border-bottom: 1px solid #353f68;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.list-imaged a:hover {
  border-bottom-color: transparent;
}

.resume-form-section.new {
  padding-top: 30px;
  color: #fff;
  background-image: url(../img/commonImgs/bgnew.jpg);
}

.resume-form-section.new textarea {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 18px;
  padding: 10px 30px;
  background-color: #fff;
  resize: none;
  overflow: hidden;
  height: 90px;
  border-radius: 28px;
  width: 100%;
  margin-bottom: 20px;
}

.resume-form-section.new h4,
.resume-form-section.new p {
  text-align: center;
}

.resume-form-section.new h4 {
  margin-bottom: 16px;
}

.resume-form-section.new .submit-wrap {
  margin-bottom: 40px;
}

.resume-form-section.new strong {
  font-family: OpenSansBold, sans-serif;
  white-space: nowrap;
}

.marked {
  padding-left: 20px;
  list-style-type: disc;
  list-style-position: outside;
}

.marked li {
  margin-bottom: 10px;
}

.marked li:first-child {
  margin-top: 20px;
}

.marked li:before {
  display: none;
}

.center-subtitle {
  font-family: GaramoundBold, serif;
  font-size: 34px;
  margin: 40px 0 20px;
  text-align: center;
}

.center-subtitle.top-padded,
.center-heading.top-padded {
  padding-top: 90px;
}

.subtitle {
  position: relative;
  padding-left: 70px;
  font-family: OpenSansBold, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 70px 0 16px;
}

.subtitle img {
  width: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-right: 12px;
}

.text-section:last-of-type {
  padding-bottom: 10rem;
}

.article-section .righted br {
  display: block;
}

.article-section .center-heading {
  margin-top: 40px;
}

.article-section ul {
  padding-left: 24px;
  margin-top: 0 !important;
  list-style-type: disc;
  list-style-position: outside;
}

.article-section ul li {
  margin-bottom: 10px;
}

.article-section ul li:first-child {
  margin-top: 20px;
}

.article-section ul li:before {
  display: none;
}

.article-section ul li ul {
  list-style-type: circle;
}

.text-section.dot-pattern {
  background-image: url(../img/commonImgs/e.jpg);
}

/*/*/
/*для "интеллектуальная собственность"*/
.ip-section {
  background-image: none;
}

#animation_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  opacity: .5;
}

.font-reduced {
  font-size: 62px;
}

.list-imaged > li > img {
  max-height: 50px;
}

.marked {
  margin-top: 0 !important;
}

.scheme-block-wr {
  text-align: center;
  background-color: #fff;
}

.scheme-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 700px;
  max-width: 100%;
}

.scheme-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: OpenSansBold, sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
}

.scheme-link:hover {
  text-decoration: none;
}

.scheme-link img {
  display: block;
  margin-right: 10px;
}

.schemes-delimiter {
  width: 100%;
  height: 7px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(#353f68), to(transparent));
  background: -webkit-linear-gradient(right, transparent, #353f68, transparent);
  background: -o-linear-gradient(right, transparent, #353f68, transparent);
  background: linear-gradient(to left, transparent, #353f68, transparent);
  margin: 40px 0;
}

.down-arr {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.down-arr span {
  display: inline-block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.list-animated {
  margin-top: 0 !important;
}

.list-animated li {
  padding-left: 20px;
  position: relative;
}

.list-animated li:before {
  display: none;
}

.list-animated li > span {
  position: absolute;
  left: 0;
  top: 10px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #353f68;
  margin-right: 10px;
}

.list-animated li > span > span,
.list-animated li > span > i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #353f68;
}

.list-animated li > span {
  -webkit-animation: anim1 6s infinite;
          animation: anim1 6s infinite;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.list-animated li > span > span {
  -webkit-animation: anim2 6s infinite;
          animation: anim2 6s infinite;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

@-webkit-keyframes anim1 {
  0% {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    background-color: #353f68;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  28% {
    background-color: #353f68;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anim1 {
  0% {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    background-color: #353f68;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  28% {
    background-color: #353f68;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes anim2 {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  15% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(4) translate(-50%, -50%);
            transform: scale(4) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(4) translate(-50%, -50%);
            transform: scale(4) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes anim2 {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  15% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(4) translate(-50%, -50%);
            transform: scale(4) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(4) translate(-50%, -50%);
            transform: scale(4) translate(-50%, -50%);
    opacity: 0;
  }
}

@media only screen and (max-width: 1399px) {
  .resume-form-section.new {
    background-image: url(../img/commonImgs/bgnew2.jpg);
    background-position: 0 0;
  }
  .resume-form-section.new h4 {
    text-shadow: 1px 1px 2px #353f68, -1px -1px 2px #353f68, 1px -1px 2px #353f68, -1px 1px 2px #353f68;
  }
  .resume-form-section.new p {
    text-shadow: 1px 1px 2px #353f68, -1px -1px 2px #353f68, 1px -1px 2px #353f68, -1px 1px 2px #353f68;
  }
}

/*<=1399px;*/
@media only screen and (max-width: 1023px) {
  .center-heading {
    font-size: 36px;
  }
  .center-subtitle {
    font-size: 30px;
  }
  .list-imaged {
    font-size: 16px;
  }
}

/*<=1023px;*/
@media only screen and (max-width: 991px) {
  .font-reduced {
    font-size: 42px !important;
  }
}

@media only screen and (max-width: 767px) {
  .resume-form-section.new {
    background-image: url(../img/commonImgs/bg-mob-2.png);
    background-position: -40px 0;
    padding-bottom: 50px;
  }
  .resume-form-section.new textarea {
    max-width: 500px;
    height: 240px;
  }
  .resume-form-section.new h4 {
    font-size: 26px;
  }
  .resume-form-section.new p {
    font-size: 16px;
  }
  .resume-form-section.new .submit-wrap {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .center-heading {
    font-size: 28px;
  }
  .center-subtitle {
    font-size: 22px;
  }
  .center-heading.top-padded,
  .center-subtitle.top-padded {
    padding-top: 30px;
  }
  .list-imaged {
    font-size: 14px;
  }
  .modal-2-call {
    font-size: 14px;
  }
  .list-imaged a {
    border-bottom: 0;
    text-decoration: underline;
  }
  .list-imaged > li {
    padding-left: 60px !important;
  }
  .license-links.styled li {
    margin-bottom: 20px;
  }
  .license-links.styled li:before {
    display: none;
  }
  .text-section.dot-pattern {
    background-position: -300px 0;
  }
  .font-reduced {
    font-size: 32px !important;
  }
  .ip-section:before {
    background-position: 50% 100px;
  }
  .list-animated li {
    padding-left: 30px;
  }
  .list-animated li > span {
    left: 8px;
  }
  .scheme-link {
    font-size: 14px;
  }
  .scheme-block {
    min-width: 0;
  }
}

/*<=767px;*/
@media only screen and (max-width: 479px) {
  .center-heading {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }
  .font-reduced {
    font-size: 24px !important;
  }
}

/*<=480px;*/
.scheme-l,
.scheme-r,
.scheme-c {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 10px 0;
}

.scheme-l:after,
.scheme-r:after,
.scheme-c:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/commonImgs/12.png);
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
}

.scheme-l:after,
.scheme-r:after {
  width: 25px;
  height: 30px;
  top: 50%;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

.scheme-l {
  padding-right: 35px;
}

.scheme-l:after {
  right: 0;
  -webkit-transform: rotate(-90deg) translateY(-50%);
      -ms-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
}

.scheme-r {
  padding-left: 35px;
}

.scheme-r:after {
  left: 0;
  -webkit-transform: rotate(90deg) translateY(-50%);
      -ms-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
}

.scheme-c {
  margin-bottom: 20px;
}

.scheme-c:after {
  width: 30px;
  height: 38px;
  bottom: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.no-arr:after {
  display: none;
}

.single {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: 100%;
}

.shrink {
  -webkit-box-flex: 0;
      -ms-flex: 0 5 20%;
          flex: 0 5 20%;
}

@media only screen and (max-width: 1023px) {
  .scheme-link {
    font-size: 14px;
  }
}

/*<=1023px;*/
@media only screen and (max-width: 767px) {
  .scheme-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .penult {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .last {
    margin-top: 30px;
  }
  .penult,
  .last {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .scheme-link img {
    width: 35px;
    margin-right: 0;
    margin-bottom: 6px;
  }
  .scheme-link span {
    display: block;
    width: 100%;
  }
  .scheme-link {
    font-size: 11px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .scheme-l,
  .scheme-r,
  .single.first {
    padding-left: 2px;
    padding-right: 2px;
    min-width: 0;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    margin-bottom: 0;
  }
  .scheme-l:after,
  .scheme-r:after {
    left: 50%;
    right: auto;
    bottom: auto;
    top: 100%;
    -webkit-transform: rotate(0deg) translateX(-50%);
        -ms-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
  }
  .scheme-c.first:after {
    top: 100%;
    bottom: 0;
    width: 25px;
    height: 30px;
  }
}

/*<=767px;*/

/*# sourceMappingURL=new.css.map */
