
/* ==================== css-animations ======================= */

// @keyframes advantagesBgMobile {
//   0% {
//     background-color: #fff;
//   }
//   2% {
//     background-color: red;
//   }
//   25% {
//     background-color: red;
//   }
//   27% {
// 	background-color: #fff;
//   }
//   99% {
//   	background-color: #fff;
//   }
//   100% {
// 	background-color: #fff;
//   }
// }


@keyframes advantagesBg1 {
  0% {
    top: 100%;
  	bottom: -100%;
  	left: 0;
  	right: 0;
  }
  2% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  25% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  27% {
	top: 0;
  	bottom: 0;
  	left: 100%;
  	right: -100%;
  }
  99% {
  	top: 100%;
  	bottom: -100%;
  	left: 100%;
  	right: -100%;
  }
  100% {
	top: 100%;
  	bottom: -100%;
  	left: 0;
  	right: 0;
  }
}

@keyframes advantagesBg2 {
  0% {
  	top: 0;
  	bottom: 0;
  	left: -100%;
  	right: 100%;
  }
  2% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  25% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  27% {
	top: 100%;
  	bottom: -100%;
  	left: 0;
  	right: 0;
  }
  99% {
  	top: 100%;
  	bottom: -100%;
  	left: -100%;
  	right: 100%;
  }
  100% {
	top: 0;
  	bottom: 0;
  	left: -100%;
  	right: 100%;
  }
}

@keyframes advantagesBg3 {
  0% {
    top: -100%;
  	bottom: 100%;
  	left: 0;
  	right: 0;
  }
  2% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  25% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  27% {
	top: 0;
  	bottom: 0;
  	left: -100%;
  	right: 100%;
  }
  99% {
  	top: -100%;
  	bottom: 100%;
  	left: -100%;
  	right: 100%;
  }
  100% {
	top: -100%;
  	bottom: 100%;
  	left: 0;
  	right: 0;
  }
}

@keyframes advantagesBg4 {
  0% {
    top: 0;
  	bottom: 0;
  	left: 100%;
  	right: -100%;
  }
  2% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  25% {
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  27% {
	top: -100%;
  	bottom: 100%;
  	left: 0;
  	right: 0;
  }
  99% {
  	top: -100%;
  	bottom: 100%;
  	left: 100%;
  	right: -100%;
  }
  100% {
	top: 0;
  	bottom: 0;
  	left: 100%;
  	right: -100%;
  }
}


@keyframes fontColor {
  0% {
    color: #191919;
  }
  2% {
    color: #fff;
  }
  25% {
    color: #fff;
  }
  27% {
	color: #191919;
  }
  100% {
	color: #191919;
  }
}

@keyframes iconColor {
  0% {
    background-image: url(../img/sprite/advSprite.png);
  }
  2% {
    background-image: url(../img/sprite/advSprite-white.png);
  }
  25% {
    background-image: url(../img/sprite/advSprite-white.png);
  }
  27% {
	background-image: url(../img/sprite/advSprite.png);
  }
  100% {
	background-image: url(../img/sprite/advSprite.png);
  }
}



@keyframes numbersBg {
  0% {
    left: -100%;
    right: 100%;
  }
  4% {
    left: 0;
    right: 0;
  }
  50% {
    left: 0;
    right: 0;
  }
  54% {
    left: 100%;
    right: -100%;
  }
  100% {
    left: 100%;
    right: -100%;
  }
}