
/* ==================== variables ======================= */

$dark: #191919;
$blue: #6699e2;

$reg: "Roboto-Regular", sans-serif;
$light: "Roboto-Light", sans-serif;
$bold: "Roboto-Bold", sans-serif;
$black: "Roboto-Black", sans-serif;
