
/* ==================== preloader ======================= */

body {
  background: red;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  overflow: hidden;
  z-index: 999;
}

.loader_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 60px;
}

.loader_line_wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  overflow: hidden;
  -webkit-animation: preloader_anim 1s cubic-bezier(.175, .885, .32, 1.275) infinite;
  animation: preloader_anim 1s cubic-bezier(.175, .885, .32, 1.275) infinite;
}

.loader_line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  border-radius: 100%;
  margin: 0 auto;
}

.loader_line_wrap:nth-child(1) { -webkit-animation-delay: -50ms; animation-delay: -50ms; }
.loader_line_wrap:nth-child(2) { -webkit-animation-delay: -100ms; animation-delay: -100ms; }
.loader_line_wrap:nth-child(3) { -webkit-animation-delay: -150ms; animation-delay: -150ms; }
.loader_line_wrap:nth-child(4) { -webkit-animation-delay: -200ms; animation-delay: -200ms; }
.loader_line_wrap:nth-child(5) { -webkit-animation-delay: -250ms; animation-delay: -250ms; }

.loader_line_wrap:nth-child(1) .loader_line {
  border-color: #9D0F17;
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader_line_wrap:nth-child(2) .loader_line {
  border-color: #E4B200;
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader_line_wrap:nth-child(3) .loader_line {
  border-color: #00912C;
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader_line_wrap:nth-child(4) .loader_line {
  border-color: #00BCDB;
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader_line_wrap:nth-child(5) .loader_line {
  border-color: #0000FF;
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes preloader_anim {
  0%, 15% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% {  -webkit-transform: rotate(360deg);  transform: rotate(360deg);  }
}
