/*==========  Desktop First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	header {
		height: 65px;
		padding-top: 5px;
	}

	ul.main_menu {
		line-height: 65px;
	}

	.banner {
		height: auto;
		background-size: auto 105%;
	}

	.banner_bg {
			background-size: 100% 100%;
	}

	.slide_buttons_wrapper {
		bottom: 0;
	}

	.slide_button {
		width: 1.1rem;
		height: 1.4rem;
	}

	.page_top {
		background-size: 100% 100%;
	}

	h2.slogan, .lets_start_button {
		float: none;
		width: 100%;
	}

	h2.slogan {
		text-align: center;
		font-size: 2.8rem;
		padding-top: 0.5rem;
	}

	.lets_start_button, .lets_start_button:hover  {
		background-position: 50% 0;
		height: 7rem;
		margin: 1rem auto;

	}

	.widgets_row {
	margin: -2rem auto 0;
	padding-top: 0;
}

	.widget {
		width: 49%;
		margin: 0 1.9% 1.9% 0;
	}

	.widget:nth-child(2n) {
		margin-right: 0;
	}

	.w_img {
		float: left;
		width: 31%;
	}

	.widget h2 {
		padding: 0;
		margin: 0 3% 0 37%;
		font-size: 1.8rem;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.posts_row {
		padding: 0.5rem 0;
	}

	.posts, .about {
		float: none;
		width: auto;
	}
	
	.post {
		width: 48%;
		margin: 1% 4% 1% 0;
	}

	.post:nth-child(2n) {
		margin-right: 0;
	}

	.about h3 {
		padding-top: 2.3rem;
	}

	.about p {
		padding-top: 0.6rem;
	}

	.social_bar p, .social_bar ul {
		float: none;
		margin: 0 auto 1rem;
		text-align: center;
	}

	.social_bar p {
		line-height: 1.2rem;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu_wrapper {
		float: none;
		position: absolute;
		top: 100%;
		left: 5%;
		width: 90%;
		display: none;
	}

	ul.main_menu li,
	ul.main_menu li.active {
		display: block;
		height: 35px;
		margin: 0;
		background: -webkit-gradient(linear, left top, left bottom, from(#788197), color-stop(45%, #ECF1FD));
		background: -webkit-linear-gradient(top, #788197, #ECF1FD 45%);
		background: -o-linear-gradient(top, #788197, #ECF1FD 45%);
		background: linear-gradient(180deg, #788197, #ECF1FD 45%);
		z-index: 2;
		border-radius: 6px;
		opacity: 0.95;
		border: 1px solid #677086;
	}

	ul.main_menu li.active a,
	ul.main_menu a:hover,
	ul.main_menu a:active {
		text-decoration: underline;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.menu_toggle {
		display: block;
	}

	h2.slogan {
		font-size: 2.3rem;
	}

	.widget {
		float: none;
		width: 100%;
	}

	.w_img {
		width: 45%;
	}
	
	.widget h2 {
		margin-left: 50%;
	}

	.post {
		float: none;
		width: 100%;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid #565F81;
	}

	.about {
		line-height: 2rem;
	}

	footer {
		padding: 1.2rem 1.5rem;
	}

	.social_bar, .footer_info {
		float: none;
		width: 100%;
	}

	.footer_menu {
		text-align: center;
	} 

	.footer_menu li {
		padding: 10px 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 html {
 	font-size: 9px;
 }

 	.slide_button {
		width: 0.8rem;
		height: 1rem;
	}

	h2.slogan {
		font-size: 2rem;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.logo {
		float: right;
		right: 0;
	}

	.menu_toggle {
		float: left;
		left: 0;
	}
}

