    $s-basket: 0px 153px 0px -153px 24px 17px 24px 287px 'sprite.png';
    $s-cart: 0px 235px 0px -235px 22px 21px 24px 287px 'sprite.png';
    $s-fb: 0px 21px 0px -21px 6px 11px 24px 287px 'sprite.png';
    $s-gp: 0px 42px 0px -42px 14px 11px 24px 287px 'sprite.png';
    $s-ig: 0px 63px 0px -63px 11px 11px 24px 287px 'sprite.png';
    $s-like: 0px 127px 0px -127px 19px 16px 24px 287px 'sprite.png';
    $s-mail: 0px 0px 0px 0px 18px 11px 24px 287px 'sprite.png';
    $s-phone: 0px 105px 0px -105px 12px 12px 24px 287px 'sprite.png';
    $s-search: 0px 207px 0px -207px 18px 18px 24px 287px 'sprite.png';
    $s-share: 0px 180px 0px -180px 19px 17px 24px 287px 'sprite.png';
    $s-tw: 0px 84px 0px -84px 14px 11px 24px 287px 'sprite.png';
    $s-user: 0px 266px 0px -266px 20px 21px 24px 287px 'sprite.png';
