AddDefaultCharset UTF-8 

# Begin Muse Generated redirects
# End Muse Generated redirects

RewriteRule ^index.html$ / [R=301,L] #дубль с index.html на /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://justjump.club/$1 [R=301,L]


