@font-face {
	font-family: "ProximaNovaReg";
	src: url("../fonts/Proxima-Nova-Cyr/ProximaNova-Reg.woff") format('woff'),
	url("../fonts/Proxima-Nova-Cyr/ProximaNova-Reg.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaLight";
	src: url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.woff") format('woff'),
	url("../fonts/Proxima-Nova-Cyr/ProximaNova-Light.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/Proxima-Nova-Cyr/ProximaNova-Bold.woff") format('woff'),
	url("../fonts/Proxima-Nova-Cyr/ProximaNova-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaBlack";
	src: url("../fonts/Proxima-Nova-Cyr/ProximaNova-Black.woff") format('woff'),
	url("../fonts/Proxima-Nova-Cyr/ProximaNova-Black.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}