
/* ==================== fonts ======================= */

@font-face {
	font-family: "PFDinTextCondPro-Regular";
	src: url("../fonts/PFDin/PFDinTextCondPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "PFDinTextCondPro-Medium";
	src: url("../fonts/PFDin/PFDinTextCondPro-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "CodePro-Bold";
	src: url("../fonts/CodePro/Code-Pro-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "CodePro-Reg";
	src: url("../fonts/CodePro/Code-Pro.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
