* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;}


body {
	background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, from(#13003a), color-stop(28%, #000), color-stop(75%, #000), to(#200020));
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top, #13003a, #000 28%, #000 75%, #200020 100%);
	background: rgba(0, 0, 0, 0) -o-linear-gradient(top, #13003a, #000 28%, #000 75%, #200020 100%);
	background: rgba(0, 0, 0, 0) linear-gradient(180deg, #13003a, #000 28%, #000 75%, #200020 100%);
}

div {position: absolute;}

.main_wrapper {

	width: 1000px;
	height: 650px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	left: -125px;
}

.moon, .moonshadow {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.moon {
	background: -webkit-radial-gradient(80% 80%, circle, #FF6B00, #900 50%);
	background: -o-radial-gradient(80% 80%, circle, #FF6B00, #900 50%);
	background: radial-gradient(circle at 80% 80%, #FF6B00, #900 50%);
	top: 50px;
	left: 550px;
}

.moonshadow {
	background: -webkit-linear-gradient(top, #0D0028, #060014);
	background: -webkit-gradient(linear, left top, left bottom, from(#0D0028), to(#060014));
	background: -o-linear-gradient(top, #0D0028, #060014);
	background: linear-gradient(180deg, #0D0028, #060014);
	top: 45px;
	left: 545px;
}

.moonlight {
	width: 0px;
	height: 0px;
	background: #f0f;
	top: 90px;
	left: 590px;
	-webkit-box-shadow: 0px 0px 120px 30px  #FFA900;
	box-shadow: 0px 0px 120px 30px  #FFA900;
}

.skystar {
	width: 2px;
	height: 2px;
	background: #8ff;
}

.skystar_sm {
	width: 1px;
	height: 1px;
	background: #8ff;
	-webkit-animation: sky 10s infinite;
	        animation: sky 10s infinite;
}

.skystar1 {top: 15px;	left: 800px;}
.skystar2 {top: 20px;	left: 60px;}
.skystar3 {top: 23px;	left: 190px;}
.skystar4 {top: 30px;	left: 520px;}
.skystar5 {top: 55px;	left: 315px;}

.skystar6 {
	top: 14px;	left: 720px;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
.skystar7 {
	top: 95px;	left: 511px;
	-webkit-animation-delay: 7s;
	        animation-delay: 7s;
}
.skystar8 {
	top: 100px;	left: 190px;
	-webkit-animation-delay: 5.5s;
	        animation-delay: 5.5s;
}
.skystar9 {
	top: 135px;	left: 220px;
	-webkit-animation-delay: 4.5s;
	        animation-delay: 4.5s;
}
.skystar10 {
	top: 150px;	left: 720px;
}

.falling_star {
	-webkit-animation: falling_star 8s 2s linear infinite;
	        animation: falling_star 8s 2s linear infinite;
}
.house_wrap {
	height: 330px;
	width: 650px;
	top: 200px;
	left: 0px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; 
}

.front {
	height: 330px;
	width: 400px;
	position: absolute;
	left: 50px;
	-webkit-transform: perspective(1000px) rotateY(-45deg);
	        transform: perspective(1000px) rotateY(-45deg);
	-webkit-transform-origin: right;
	        -ms-transform-origin: right;
	        transform-origin: right;
}

.triangle_under {
	
	width: 268px;
	height: 268px;
	position: absolute;
	top: -6px;
	left: 50px;
	-webkit-transform: rotate(45deg);
	        -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	overflow: hidden;
}

.tri_shad1{
	background: lime none repeat scroll 0 0;
	-webkit-box-shadow: 3px 13px 19px 18px lime;
	box-shadow: 3px 13px 19px 18px lime;
	height: 0;
	top: 10px;
	-webkit-transform: scale(3);
	        -ms-transform: scale(3);
	        transform: scale(3);
	width: 26%;
	-webkit-animation: color_shadow1 10s infinite;
	        animation: color_shadow1 10s infinite;
}

.tri_shad2 {
	background: lime none repeat scroll 0 0;
	-webkit-box-shadow: 13px 3px 19px 18px lime;
	box-shadow: 13px 3px 19px 18px lime;
	height: 26%;
	left: 20px;
	-webkit-transform: scale(3);
	        -ms-transform: scale(3);
	        transform: scale(3);
	width: 0px;
	-webkit-animation: color_shadow2 10s infinite;
	        animation: color_shadow2 10s infinite;
}

.front_top_triangle {
	width: 268px;
	height: 268px;
	background: -webkit-repeating-linear-gradient(135deg, rgba(5,5,5, 0.6), rgba(0,0,0, 1) 8px, rgba(5,5,5, 0.6) 9px);
	background: -o-repeating-linear-gradient(135deg, rgba(5,5,5, 0.6), rgba(0,0,0, 1) 8px, rgba(5,5,5, 0.6) 9px);
	background: repeating-linear-gradient(-45deg, rgba(5,5,5, 0.6), rgba(0,0,0, 1) 8px, rgba(5,5,5, 0.6) 9px);
	position: absolute;
	top: -11px;
	left: 55px;
	-webkit-transform: rotate(45deg);
	        -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	overflow: hidden;
}

.front_bottom {
	width: 380px;
	height: 200px;
	background: -webkit-repeating-linear-gradient(bottom, rgba(5,5,5, 0.9), rgba(0,0,0, 1) 8px, rgba(5,5,5, 0.5) 9px);
	background: -o-repeating-linear-gradient(bottom, rgba(5,5,5, 0.9), rgba(0,0,0, 1) 8px, rgba(5,5,5, 0.5) 9px);
	background: repeating-linear-gradient(0deg, rgba(5,5,5, 0.9), rgba(0,0,0, 1) 8px, rgba(5,5,5, 0.5) 9px);
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.window {
	background: -webkit-radial-gradient(at top right, #FFDD00, #900);
	background: -o-radial-gradient(at top right, #FFDD00, #900);
	background: radial-gradient(at top right, #FFDD00, #900);
	border: 4px dotted #00f;
	height: 120px;
	left: 44px;
	top: 137px;
	width: 100px;
	background-clip: padding-box;
}

.win1, .win2 {
	-webkit-box-shadow: inset 15px 7px 0px #300, inset 0px -5px 0px #300;
	box-shadow: inset 15px 7px 0px #300, inset 0px -5px 0px #300;
}

.win3 {
	-webkit-box-shadow: inset 15px 7px 0px #300;
	box-shadow: inset 15px 7px 0px #300;
}

.win4 {
	-webkit-box-shadow: inset -15px 7px 0px #300, inset 0px -5px 0px #300;
	box-shadow: inset -15px 7px 0px #300, inset 0px -5px 0px #300;
	background: -webkit-radial-gradient(at 50% 0%, #FFDD00, #900);
	background: -o-radial-gradient(at 50% 0%, #FFDD00, #900);
	background: radial-gradient(at 50% 0%, #FFDD00, #900);
	background-clip: padding-box;
}

.win5 {
	-webkit-box-shadow: inset -15px 7px 0px #300, inset 0px -5px 0px #300;
	box-shadow: inset -15px 7px 0px #300, inset 0px -5px 0px #300;
	background: -webkit-radial-gradient(at 0% 0%, #FFDD00, #900);
	background: -o-radial-gradient(at 0% 0%, #FFDD00, #900);
	background: radial-gradient(at 0% 0%, #FFDD00, #900);
	background-clip: padding-box;
}

.halfh {
	width: 100%;
	height: 40%;
	top:0;
	border-bottom: 5px solid #222;
}


.for3 {
	width: 100%;
	height: 50%;
	left:0;
	bottom:0;
}

.for3a {
	left:0;
	bottom:0;
	border-right: 5px solid #222;
	width: 60%;
	height: 100%;
	left:0;
	bottom:0;
}

.win2 {
	left: 225px;
	top: 137px;
}

.win3 {
	height: 80px;
	left: 140px;
	top: 0px;
	width: 80px;
}

.win4 {
	height: 116px;
	left: 36px;
	top: 7px;
	width: 150px;
}

.win5 {
	height: 116px;
	left: 455px;
	top: 9px;
	width: 150px;
}

.visor {
	background: #030305;
	height: 168px;
	left: 258px;
	top: -30px;
	-webkit-transform: skewX(-28deg);
	        -ms-transform: skewX(-28deg);
	        transform: skewX(-28deg);
	width: 15px;
	overflow: hidden;
}

.gar_visorl_bg {
	left: 0px;
	width: 3px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.gar_visorl_per {
	left: 0px;
	width: 3px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: -o-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: radial-gradient( transparent, transparent 2px,  #000 3px);
	background-size: 8px 4px;
}

.gar_visorb_bg {
	bottom: 0;
	width: 200%;
	height: 4px;
	background: -webkit-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to right,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.gar_visorb_per {
	bottom: 0;
	background: -webkit-radial-gradient( transparent, transparent 1px,  #000 2px);
	background: -o-radial-gradient( transparent, transparent 1px,  #000 2px);
	background: radial-gradient( transparent, transparent 1px,  #000 2px);
	width: 100%;
	height: 4px;
	background-size: 6px 6px;
}

.light_visor{
	width: 4px;
	height: 7px;
	border-radius: 50%;
	background: lime;
	left: 9px;
	-webkit-box-shadow: inset 5px 5px lime;
	box-shadow: inset 5px 5px lime;
	-webkit-animation: light_visor_an 10s infinite;
	        animation: light_visor_an 10s infinite;
}

.lv1 {
	top: 7%;
}
.lv2 {
	top: 14%;
}
.lv3 {
	top: 21%;
}
.lv4 {
	top: 28%;
}
.lv5 {
	top: 35%;
}
.lv6 {
	top: 42%;
}
.lv7 {
	top: 49%;
}
.lv8 {
	top: 56%;
}
.lv9 {
	top: 63%;
}
.lv10 {
	top: 70%;
}

.roof_mask {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 1), rgba(15, 0, 15, 1) 15px, rgba(0, 0, 0, 1) 17px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(left, rgba(0, 0, 0, 1), rgba(15, 0, 15, 1) 15px, rgba(0, 0, 0, 1) 17px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(15, 0, 15, 1) 15px, rgba(0, 0, 0, 1) 17px) repeat scroll 0 0;
	height: 277px;
	left: 405px;
	overflow: hidden;
	top: -113px;
	-webkit-transform: perspective(1000px) rotateY(49deg) rotateX(46deg) rotateZ(6deg) translateZ(54px);
	        transform: perspective(1000px) rotateY(49deg) rotateX(46deg) rotateZ(6deg) translateZ(54px);
	-webkit-transform-origin: left bottom 0;
	        -ms-transform-origin: left bottom 0;
	        transform-origin: left bottom 0;
	width: 700px;
}

.roof_under {
	height: 231px;
	left: 429px;
	overflow: hidden;
	top: -123px;
	-webkit-transform: perspective(1000px) rotateY(48deg) rotateX(45deg) rotateZ(8deg) translateZ(-21px);
	        transform: perspective(1000px) rotateY(48deg) rotateX(45deg) rotateZ(8deg) translateZ(-21px);
	-webkit-transform-origin: left bottom 0;
	        -ms-transform-origin: left bottom 0;
	        transform-origin: left bottom 0;
	width: 100%;
}

.wall {
	top: 130px;
	left: 435px;
	width: 650px;
	height: 200px;
	background: -webkit-repeating-linear-gradient(bottom, rgba(20,20,30, 0.3), rgba(0,0,0, 1) 8px, rgba(20,20,30, 0.3) 9px);
	background: -o-repeating-linear-gradient(bottom, rgba(20,20,30, 0.3), rgba(0,0,0, 1) 8px, rgba(20,20,30, 0.3) 9px);
	background: repeating-linear-gradient(0deg, rgba(20,20,30, 0.3), rgba(0,0,0, 1) 8px, rgba(20,20,30, 0.3) 9px);
	-webkit-transform: perspective(1000px) rotateY(45deg);
	        transform: perspective(1000px) rotateY(45deg);
	-webkit-transform-origin: left;
	        -ms-transform-origin: left;
	        transform-origin: left;
	overflow: hidden;

}

.wall_under {
	top: 130px;
	left: 435px;
	width: 650px;
	height: 200px;
	-webkit-transform: perspective(1000px) rotateY(45deg);
	        transform: perspective(1000px) rotateY(45deg);
	-webkit-transform-origin: left;
	        -ms-transform-origin: left;
	        transform-origin: left;
	overflow: hidden;
}

.door {
	background: #230808;
	background: -webkit-linear-gradient(top, #230808, #080000);
	background: -webkit-gradient(linear, left top, left bottom, from(#230808), to(#080000));
	background: -o-linear-gradient(top, #230808, #080000);
	background: linear-gradient(180deg, #230808, #080000);
	border: 4px dotted #00f;
	height: 160px;
	left: 263px;
	top: 15px;
	width: 135px;
	-webkit-box-shadow: inset -15px 5px 0px #020202, inset 0px -6px 0px #000;
	box-shadow: inset -15px 5px 0px #020202, inset 0px -6px 0px #000;
}

.sq {
	width: 100px;
	height: 50px;
	border: 7px solid #050000;
	top: 20px;
	left: 10px;
}

.sq2 {
	top: 80px;
}

.wreath {
	height: 40px;
	width: 40px;
	background: #104500;
	top: 10px;
	left: 40px;
}

.wreath:before {
	height: 40px;
	width: 40px;
	background: #104500;
	content:"";
	position: absolute;
	-webkit-transform: rotate(30deg);
	        -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
}

.wreath:after {
	height: 40px;
	width: 40px;
	background: #104500;
	content:"";
	position: absolute;
	-webkit-transform: rotate(-30deg);
	        -ms-transform: rotate(-30deg);
	        transform: rotate(-30deg);
}

.wreath_in {
	height: 26px;
	width: 26px;
	background: #300;
	top: 17px;
	left: 47px;
	border-radius: 50%;
}

.w_shadow1 {
	width: 10%;
	left:0;
	height: 0px;
	background: lime;
	-webkit-box-shadow: 0px 10px 20px 12px lime;
	box-shadow: 0px 10px 20px 12px lime;
	-webkit-transform: scale(3);
	        -ms-transform: scale(3);
	        transform: scale(3);
	-webkit-animation: color_shadow_wall 10s infinite;
	        animation: color_shadow_wall 10s infinite;
}

.w_shadow2 {
	width: 10%;
	right:0;
	height: 0px;
	background: lime;
	-webkit-box-shadow: 0px 10px 20px 12px lime;
	box-shadow: 0px 10px 20px 12px lime;
	-webkit-transform: scale(3);
	        -ms-transform: scale(3);
	        transform: scale(3);
	-webkit-animation: color_shadow_wall 10s infinite;
	        animation: color_shadow_wall 10s infinite;
}

.found {
	left: 0px;
	right: 0;
	width: 101%;
	height: 15px;
	background: #000;
	bottom: 0;
}

.found1 {
	width: 99%;
	-webkit-box-shadow: -80px 105px 136px 11px rgba(0,255,0, 0.5);
	box-shadow: -80px 105px 136px 11px rgba(0,255,0, 0.5);
	-webkit-animation: found1anim 10s infinite;
	        animation: found1anim 10s infinite;
}

.gar_rb_bg {
	bottom: 0;
	width: 200%;
	height: 8px;
	background: -webkit-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to right,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	-webkit-transform: skewX(-45deg);
	        -ms-transform: skewX(-45deg);
	        transform: skewX(-45deg);
}

.gar_rb_per {
	bottom: 0;
	background: -webkit-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: -o-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: radial-gradient( transparent, transparent 2px,  #000 3px);
	width: 100%;
	height: 8px;
	background-size: 12px 8px;
}

.gar_rt_bg {
	top: 0;
	width: 200%;
	height: 8px;
	background: -webkit-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to right,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	-webkit-transform: skewX(-45deg);
	        -ms-transform: skewX(-45deg);
	        transform: skewX(-45deg);
}

.gar_rt_per {
	top: 0;
	background: -webkit-radial-gradient( transparent, transparent 3px,  #000 4px);
	background: -o-radial-gradient( transparent, transparent 3px,  #000 4px);
	background: radial-gradient( transparent, transparent 3px,  #000 4px);
	width: 100%;
	height: 8px;
	background-size: 12px 8px;
	-webkit-transform: skewX(-45deg);
	        -ms-transform: skewX(-45deg);
	        transform: skewX(-45deg);
}

.gar_wl_bg {
	left: 0;
	width: 5px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.gar_wl_per {
	left: 0;
	width: 8px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 2px,  #080808 2px);
	background: -o-radial-gradient( transparent, transparent 2px,  #080808 2px);
	background: radial-gradient( transparent, transparent 2px,  #080808 2px);
	background-size: 7px 7px;
}

.gar_wr_bg {
	right: 0;
	width: 5px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: any 10s -10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s -10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.gar_wr_per {
	right: 0;
	width: 8px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: -o-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: radial-gradient( transparent, transparent 2px,  #000 3px);
	background-size: 7px 3px;
}

.gar_rl_bg {
	left: 1px;
	width: 6px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.gar_rl_per {
	left: 1px;
	width: 8px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 3px,  #000 3px);
	background: -o-radial-gradient( transparent, transparent 3px,  #000 3px);
	background: radial-gradient( transparent, transparent 3px,  #000 3px);
	background-size: 8px 5px;
}

.gar_rr_bg {
	right: 0;
	width: 5px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.gar_rr_per {
	right: 0;
	width: 8px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: -o-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: radial-gradient( transparent, transparent 2px,  #000 3px);
	background-size: 7px 4px;
}

.gar_frbl_bg {
	left: 0;
	width: 5px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 8px, cyan 8px, cyan 11px, black 12px, black 16px, lime 16px, lime 18px, black 19px, black 22px, magenta 22px, magenta 25px, black 26px, black 29px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.gar_frbl_per {
	left: 0;
	width: 8px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: -o-radial-gradient( transparent, transparent 2px,  #000 3px);
	background: radial-gradient( transparent, transparent 2px,  #000 3px);
	background-size: 7px 4px;
}

.porch_wrapper {
	height: 300px;
	left: 575px;
	top: 81px;
	width: 187px;

}

.elem3 {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(299deg, rgba(0, 0, 0, 1), rgba(40, 0, 40, 1) 3px, rgba(0, 0, 0, 1) 4px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(299deg, rgba(0, 0, 0, 1), rgba(40, 0, 40, 1) 3px, rgba(0, 0, 0, 1) 4px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(151deg, rgba(0, 0, 0, 1), rgba(40, 0, 40, 1) 3px, rgba(0, 0, 0, 1) 4px) repeat scroll 0 0;
	height: 53px;
	left: 4px;
	top: 18px;
	-webkit-transform: skewX(40deg) rotateZ(5deg);
	        -ms-transform: skewX(40deg) rotate(5deg);
	        transform: skewX(40deg) rotateZ(5deg);
	width: 92px;
	z-index: 3;
}

.elem4su {
	-webkit-animation: 10s ease infinite color_bg;
	        animation: 10s ease infinite color_bg;
	background: lime none repeat scroll 0 0;
	height: 39px;
	left: 78px;
	top: 37px;
	-webkit-transform: skewX(40deg) rotateZ(5deg);
	        -ms-transform: skewX(40deg) rotate(5deg);
	        transform: skewX(40deg) rotateZ(5deg);
	width: 63px;
	z-index: 3;
}

.elem4 {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(top, rgba(0, 0, 0, 1), rgba(40, 0, 40, 0.6) 3px, rgba(0, 0, 0, 1) 5px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(top, rgba(0, 0, 0, 1), rgba(40, 0, 40, 0.6) 3px, rgba(0, 0, 0, 1) 5px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(40, 0, 40, 0.6) 3px, rgba(0, 0, 0, 1) 5px) repeat scroll 0 0;
	height: 44px;
	left: 70px;
	top: 37px;
	-webkit-transform: skewX(40deg) rotateZ(5deg);
	        -ms-transform: skewX(40deg) rotate(5deg);
	        transform: skewX(40deg) rotateZ(5deg);
	width: 73px;
	z-index: 4;
}


.porchroof {
	background: rgba(0, 0, 0, 0) -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 1), rgba(40, 0, 40, 1) 9px, rgba(0, 0, 0, 1) 11px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) -o-repeating-linear-gradient(left, rgba(0, 0, 0, 1), rgba(40, 0, 40, 1) 9px, rgba(0, 0, 0, 1) 11px) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) repeating-linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(40, 0, 40, 1) 9px, rgba(0, 0, 0, 1) 11px) repeat scroll 0 0;
	height: 45px;
	left: 15px;
	top: 22px;
	-webkit-transform: skewX(-52deg) rotateZ(6deg);
	        -ms-transform: skewX(-52deg) rotate(6deg);
	        transform: skewX(-52deg) rotateZ(6deg);
	-webkit-transform-origin: left bottom 0;
	        -ms-transform-origin: left bottom 0;
	        transform-origin: left bottom 0;
	width: 75px;
	z-index: 5;
	overflow: hidden;
}

.porch_1_bg {
	bottom:0;
	width: 200%;
	height: 5px;
	background: -webkit-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: -o-repeating-linear-gradient(left,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	background: repeating-linear-gradient(to right,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 46px);
	-webkit-animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: anx 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.porch_1_per {
	bottom:-1px;
	width: 200%;
	height: 6px;
	background: -webkit-radial-gradient( transparent, transparent 2px,  #100010 2px);
	background: -o-radial-gradient( transparent, transparent 2px,  #100010 2px);
	background: radial-gradient( transparent, transparent 2px,  #100010 2px);
	background-size: 12px 7px;
}

.porch_2_bg {
	right:0;
	width: 6px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 34px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 34px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 34px);
	-webkit-animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.porch_2_per {
	right:0;
	width: 8px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 1px,  #150015 2px);
	background: -o-radial-gradient( transparent, transparent 1px,  #150015 2px);
	background: radial-gradient( transparent, transparent 1px,  #150015 2px);
	background-size: 8px 8px;
}

.porchroof_back {
	background: #090009;
	height: 54px;
	left: 77px;
	top: 27px;
	-webkit-transform: skewX(40deg) rotateZ(7deg);
	        -ms-transform: skewX(40deg) rotate(7deg);
	        transform: skewX(40deg) rotateZ(7deg);
	width: 79px;
	z-index: 2;
	overflow: hidden;
}

.light_porch {
	width: 4px;
	height: 7px;
	border-radius: 50%;
	background: lime;
	right:10px;
	-webkit-box-shadow: inset 5px 5px lime;
	box-shadow: inset 5px 5px lime;
	-webkit-animation: light_visor_an 10s infinite;
	        animation: light_visor_an 10s infinite;
}

.lp1 {
	top: 20%;
}

.lp2 {
	top: 40%;
}

.lp3 {
	top: 60%;
}

.lp4 {
	top: 80%;
}


.porchroof_2_bg {
	right:0;
	width: 4px;
	height: 200%;
	background: -webkit-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 34px);
	background: -o-repeating-linear-gradient(bottom,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 34px);
	background: repeating-linear-gradient(to top,
		red, red 1px, black 3px, black 7px, cyan 8px, cyan 11px, black 12px, black 15px, lime 16px, lime 18px, black 19px, black 21px, magenta 22px, magenta 25px, black 26px, black 28px, yellow 29px, yellow 31px, black 32px, black 34px);
	-webkit-animation: any 10s -10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
	        animation: any 10s -10s alternate infinite cubic-bezier(.5, 0,.5, 1.0);
}

.porchroof_2_per {
	right:0;
	width: 6px;
	height: 200%;
	background: -webkit-radial-gradient( transparent, transparent 1px,  #090009 2px);
	background: -o-radial-gradient( transparent, transparent 1px,  #090009 2px);
	background: radial-gradient( transparent, transparent 1px,  #090009 2px);
	background-size: 8px 4px;
}


.stair {
	height: 20px;
	left: -12px;
	top: 217px;
	-webkit-transform: skewX(70deg) rotateZ(-4deg);
	        -ms-transform: skewX(70deg) rotate(-4deg);
	        transform: skewX(70deg) rotateZ(-4deg);
	width: 170px;
	background: #101010;
	z-index: 0;
}

.stair1 {
	background: #070707 none repeat scroll 0 0;
	height: 12px;
	left: 32px;
	top: 237px;
	-webkit-transform: skewY(-6deg) rotateZ(1deg);
	        -ms-transform: skewY(-6deg) rotate(1deg);
	        transform: skewY(-6deg) rotateZ(1deg);
	width: 135px;
	z-index: -1;
}


.stair2 {
	height: 20px;
	left: -12px;
	top: 230px;
	-webkit-transform: skewX(70deg) rotateZ(-4deg);
	        -ms-transform: skewX(70deg) rotate(-4deg);
	        transform: skewX(70deg) rotateZ(-4deg);
	width: 170px;
	background: #050505;
	z-index: -1;
	-webkit-box-shadow: 0px 60px 3px 60px rgba(20,03,05,0.5);
	box-shadow: 0px 60px 3px 60px rgba(20,03,05,0.5);
}

.stair3 {

	height: 0px;
	left: -140px;
	top: 239px;
	-webkit-transform: skewX(70deg) rotateZ(-4deg);
	        -ms-transform: skewX(70deg) rotate(-4deg);
	        transform: skewX(70deg) rotateZ(-4deg);
	width: 370px;
	z-index: -2;
	-webkit-box-shadow: 0 38px 35px 22px rgba(0, 255, 0, 0.2);
	box-shadow: 0 38px 35px 22px rgba(0, 255, 0, 0.2);
	-webkit-animation: foundanim 10s infinite;
	        animation: foundanim 10s infinite;
}

.column {
	width: 8px;
}

.col_1 {
	top: 65px;
	left: 65px;
	height: 192px;
}

.column1_bg {
	background: lime;
	-webkit-animation: color_bg 10s infinite;
	        animation: color_bg 10s infinite;
}

.column1 {
	background: -webkit-radial-gradient(at 0% 40%, rgba(50, 50, 50, 0.6), rgba(0,0,0,1) 50%);
	background: -o-radial-gradient(at 0% 40%, rgba(50, 50, 50, 0.6), rgba(0,0,0,1) 50%);
	background: radial-gradient(at 0% 40%, rgba(50, 50, 50, 0.6), rgba(0,0,0,1) 50%);
}

.col_2 {
	top: 73px;
	left: 143px;
	height: 176px;
	z-index: 2;
}

.column2_bg {
	background: lime;
	-webkit-animation: color_bg 10s infinite;
	        animation: color_bg 10s infinite;
}

.column2 {
	background: -webkit-radial-gradient(at 0% 40%, rgba(50, 50, 50, 0.6), rgba(0,0,0,1) 35%);
	background: -o-radial-gradient(at 0% 40%, rgba(50, 50, 50, 0.6), rgba(0,0,0,1) 35%);
	background: radial-gradient(at 0% 40%, rgba(50, 50, 50, 0.6), rgba(0,0,0,1) 35%);
}

/*=======================================porch end*/
/*==================================Xtree start*/
.xtree_wrapper {
	height: 450px;
	left: 793px;
	top: 7px;
	width: 156px;
}

.star_wrapper {
	height: 32px;
	top: 125px;
	left: 65px;
	width: 32px;
	z-index: 2;
}

.xtree_body_wrapper {
	height: 75%;
	bottom: 0;
	width: 100%;
}

.disc {
	border-radius: 50%;
	-webkit-transform: rotateZ(-5deg) rotateX(56deg);
	        transform: rotateZ(-5deg) rotateX(56deg);
	width: 100%;
	margin: 0 auto;
}

.discbottom {
	background: -webkit-repeating-linear-gradient(left, #000 0px, #000 3px, transparent 3px, transparent 5px);
	background: -o-repeating-linear-gradient(left, #000 0px, #000 3px, transparent 3px, transparent 5px);
	background: repeating-linear-gradient(90deg, #000 0px, #000 3px, transparent 3px, transparent 5px);
	height:50px;
	width: 100%;
	margin: 0 auto;
}

.discmask {
	background: #000;
	bottom: 12px;
	height: 85%;
	left: -1px;
	-webkit-transform: rotateZ(5deg);
	        -ms-transform: rotate(5deg);
	        transform: rotateZ(5deg);
	width: 97%;
}

.discground {
	background: #00f;
	width: 100%;
	height: 50px;
	-webkit-animation: xtree_color 4s infinite;
	        animation: xtree_color 4s infinite;
}

.disc .discground_du {
	-webkit-transform: rotateX(20deg);
	        transform: rotateX(20deg);
}

.du {
	bottom: -2%;
	width: 100%;
	-webkit-transform: rotateX(50deg);
	        transform: rotateX(50deg);
	-webkit-box-shadow: 0 40px 50px 10px #53f;
	box-shadow: 0 40px 50px 10px #53f;
}

.dub, .d0b {
	-webkit-box-shadow: inset 0px 0px 15px #53f;
	box-shadow: inset 0px 0px 15px #53f;
}


.dua {
	height:50px;
	width: 100%;
	margin: 0 auto;
	-webkit-transform: rotateZ(0deg);
	        -ms-transform: rotate(0deg);
	        transform: rotateZ(0deg);
}

.dub {
	bottom: 5px;
	height: 76%;
	-webkit-transform: rotateZ(-1deg);
	        -ms-transform: rotate(-1deg);
	        transform: rotateZ(-1deg);
	width: 100%;
}

.d0 {
	bottom: 0;
	width: 100%;
}

.d1 {
	bottom: 5%;
	width: 95%;
	margin-left: 2.5%;
}

.d2	{
	bottom: 10%;
	width: 90%;
	margin-left: 5%;
}

.d3 {
	bottom: 15%;
	width: 85%;
	margin-left: 7.5%;
}

.d4 {
	bottom: 20%;
	width: 80%;
	margin-left: 10%;
}

.d5 {
	bottom: 25%;
	width: 75%;
	margin-left: 12.5%;
}

.d6 {
	bottom: 30%;
	width: 70%;
	margin-left: 15%;
}

.d7 {
	bottom: 35%;
	width: 65%;
	margin-left: 17.5%;
}

.d8 {
	bottom: 40%;
	width: 60%;
	margin-left: 20%;
}

.d9 {
	bottom: 45%;
	width: 55%;
	margin-left: 22.5%;
}

.d10 {
	bottom: 50%;
	width: 50%;
	margin-left: 25%;
}

.d11 {
	bottom: 55%;
	width: 45%;
	margin-left: 27.5%;
}

.d12 {
	bottom: 60%;
	width: 40%;
	margin-left: 30%;
}

.d13 {
	bottom: 65%;
	width: 35%;
	margin-left: 32.5%;
}

.d14 {
	bottom: 70%;
	width: 30%;
	margin-left: 35%;
}

.d15 {
	bottom: 75%;
	width: 25%;
	margin-left: 37.5%;
}

.d16 {
	bottom: 80%;
	width: 20%;
	margin-left: 40%;
}

.d17 {
	bottom: 85%;
	width: 15%;
	margin-left: 42.5%;
}

.d18 {
	bottom: 90%;
	width: 10%;
	margin-left: 45%;
}

.d19 {
	bottom: 95%;
	width: 5%;
	margin-left: 47.5%;
}

.du>.discground {
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}
.d0>.discground {
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}
.d1>.discground {
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.d2>.discground {
	-webkit-animation-delay: 0.75s;
	        animation-delay: 0.75s;
}
.d3>.discground {
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
.d4>.discground {
	-webkit-animation-delay: 1.25s;
	        animation-delay: 1.25s;
}
.d5>.discground {
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}
.d6>.discground {
	-webkit-animation-delay: 1.75s;
	        animation-delay: 1.75s;
}
.d7>.discground {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
.d8>.discground {
	-webkit-animation-delay: 2.25s;
	        animation-delay: 2.25s;
}
.d9>.discground {
	-webkit-animation-delay: 2.5s;
	        animation-delay: 2.5s;
}
.d10>.discground {
	-webkit-animation-delay: 2.75s;
	        animation-delay: 2.75s;
}
.d11>.discground {
	-webkit-animation-delay: 3s;
	        animation-delay: 3s;
}
.d12>.discground {
	-webkit-animation-delay: 3.25s;
	        animation-delay: 3.25s;
}
.d13>.discground {
	-webkit-animation-delay: 3.5s;
	        animation-delay: 3.5s;
}
.d14>.discground {
	-webkit-animation-delay: 3.75s;
	        animation-delay: 3.75s;
}
.d15>.discground {
	-webkit-animation-delay: 4s;
	        animation-delay: 4s;
}
.d16>.discground {
	-webkit-animation-delay: 4.25s;
	        animation-delay: 4.25s;
}
.d17>.discground {
	-webkit-animation-delay: 4.5s;
	        animation-delay: 4.5s;
}
.d18>.discground {
	-webkit-animation-delay: 5s;
	        animation-delay: 5s;
}
.d19>.discground {
	-webkit-animation-delay: 5.25s;
	        animation-delay: 5.25s;
}

/*====================   star*/
.star0 {
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent; 
	border-right: 14px solid transparent; 
	border-bottom: 25px solid #FFA600;
	-webkit-transform: scale(1.2);
	        -ms-transform: scale(1.2);
	        transform: scale(1.2);
	z-index: 0;
	top: 0px;
	-webkit-animation: star_color 12s infinite;
	        animation: star_color 12s infinite;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

.star0:after {
	content:"";
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent; 
	border-right: 16px solid transparent; 
	border-top: 25px solid #FFA600;
	margin: 7px 0 0 -16px;
	-webkit-animation: star_af_color 12s infinite;
	        animation: star_af_color 12s infinite;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

.star1 {
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent; 
	border-right: 14px solid transparent; 
	border-bottom: 25px solid #f00;
	-webkit-animation: star_color 12s infinite;
	        animation: star_color 12s infinite;
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
	z-index: 1;
}

.star1:after {
	content:"";
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent; 
	border-right: 16px solid transparent; 
	border-top: 25px solid #f00;
	margin: 9px 0 0 -16px;
	-webkit-animation: star_af_color 12s infinite;
	        animation: star_af_color 12s infinite;
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}

.star2 {
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent; 
	border-right: 14px solid transparent; 
	border-bottom: 25px solid #500;
	-webkit-transform: scale(0.6);
	        -ms-transform: scale(0.6);
	        transform: scale(0.6);
	margin-top: 1px;
	-webkit-animation: star_color 12s infinite;
	        animation: star_color 12s infinite;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
	z-index: 2;

}

.star2:after {
	content:"";
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent; 
	border-right: 16px solid transparent; 
	border-top: 25px solid #500;
	margin: 9px 0 0 -16px;
	-webkit-animation: star_af_color 12s infinite;
	        animation: star_af_color 12s infinite;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}

.snowman_wrapper {
	height: 150px;
	left: 900px;
	top: 391px;
	width: 150px;
}

.sman_bottom, .sman_middle, .sman_top {
	background: -webkit-radial-gradient(0% 10%, circle, rgba(190,80,0,0.5), #050505 60%);
	background: -o-radial-gradient(0% 10%, circle, rgba(190,80,0,0.5), #050505 60%);
	background: radial-gradient(circle at 0% 10%, rgba(190,80,0,0.5), #050505 60%);
	-webkit-box-shadow: 0 3px 3px #101;
	box-shadow: 0 3px 3px #101;
	border-radius: 50%;
}

.sman_an {
	background: lime;
	border-radius: 50%;
	-webkit-animation: color_bg 10s infinite;
	        animation: color_bg 10s infinite;
}

.sman_bottom_bg {
	background: lime;
	top: 82px;
	left: 2px;
	width: 65px;
	height: 60px;
}

.sman_middle_bg{
	height: 48px;
	left: 10px;
	top: 40px;
	width: 50px;
}

.sman_top_bg {
	height: 34px;
	left: 16px;
	top: 11px;
	width: 35px;
}

.sman_bottom {
	top: 80px;
	width: 70px;
	height: 65px;
	z-index: 5;
	left: 2px;
}

.sman_middle{
	height: 50px;
	left: 10px;
	top: 40px;
	width: 55px;
	z-index: 6;
}

.sman_top {
	height: 35px;
	left: 16px;
	top: 11px;
	width: 40px;
	z-index: 7;
}

.hat_bg {
	width: 32px;
	left: 18px;
	top: -4px;
	height: 21px;
	background: lime;
	z-index: 8;
	border-radius: 80% 80% 10% 10%;
}

.hat {
	width: 35px;
	left: 18px;
	top: -5px;
	height: 23px;
	background: -webkit-radial-gradient(0% 10%, circle, rgba(200,10,80,0.7), #020202 60%);
	background: -o-radial-gradient(0% 10%, circle, rgba(200,10,80,0.7), #020202 60%);
	background: radial-gradient(circle at 0% 10%, rgba(200,10,80,0.7), #020202 60%);
	z-index: 9;
	border-radius: 80% 80% 10% 10%;
	-webkit-box-shadow: 0 3px 3px #000;
	box-shadow: 0 3px 3px #000;
}

.eye1, .eye2 {
	width: 5px;
	height: 5px;
	background: #101;
	top: 12px;
	left: 18px;
	border-radius: 50%;
}

.eye2 {
	left: 5px;
	background: #101;
}

.nose {
	width: 2px;
	height: 5px;
	background: #101;
	top: 16px;
	left: 13px;
}

.mouth {
	width: 15px;
	height: 10px;
	border-radius: 50%;
	top: 17px;
	left: 6px;
	border-bottom: 3px solid #100;
}

.los1 {
	-webkit-box-shadow: 12px 50px 40px 42px rgba(170,38,0, 0.5);
	box-shadow: 12px 50px 40px 42px rgba(170,38,0, 0.5);
	height: 0;
	left: 84px;
	top: 531px;
	-webkit-transform: rotateZ(20deg) skewX(134deg);
	        -ms-transform: rotate(20deg) skewX(134deg);
	        transform: rotateZ(20deg) skewX(134deg);
	width: 0px;
}

.los2 {
	-webkit-box-shadow: 10px 50px 40px 42px rgba(170,38,0, 0.5);
	box-shadow: 10px 50px 40px 42px rgba(170,38,0, 0.5);
	height: 0;
	left: 200px;
	top: 550px;
	-webkit-transform: rotateZ(20deg) skewX(134deg);
	        -ms-transform: rotate(20deg) skewX(134deg);
	        transform: rotateZ(20deg) skewX(134deg);
	width: 0px;
}

.los3 {
	-webkit-box-shadow: 0px 0px 35px 33px rgba(170,38,0, 0.5);
	box-shadow: 0px 0px 35px 33px rgba(170,38,0, 0.5);
	height: 0;
	left: 465px;
	top: 585px;
	-webkit-transform: rotateZ(-16deg) skewX(50deg);
	        -ms-transform: rotate(-16deg) skewX(50deg);
	        transform: rotateZ(-16deg) skewX(50deg);
	width: 39px;
}

.los4 {
	-webkit-box-shadow: 0 0 36px 28px rgba(170, 38, 0, 0.5);
	box-shadow: 0 0 36px 28px rgba(170, 38, 0, 0.5);
	height: 0;
	left: 713px;
	top: 534px;
	-webkit-transform: rotateZ(-16deg) skewX(56deg);
	        -ms-transform: rotate(-16deg) skewX(56deg);
	        transform: rotateZ(-16deg) skewX(56deg);
	width: 4px;
}

@-webkit-keyframes anx {
	0% {-webkit-transform:translateX(-50%);transform:translateX(-50%)}
	100% {-webkit-transform:translateX(0);transform:translateX(0)}
}

@keyframes anx {
	0% {-webkit-transform:translateX(-50%);transform:translateX(-50%)}
	100% {-webkit-transform:translateX(0);transform:translateX(0)}
}

@-webkit-keyframes any {
	0% {-webkit-transform:translateY(0);transform:translateY(0)}
	100% {-webkit-transform:translateY(-50%);transform:translateY(-50%)}
}

@keyframes any {
	0% {-webkit-transform:translateY(0);transform:translateY(0)}
	100% {-webkit-transform:translateY(-50%);transform:translateY(-50%)}
}

@-webkit-keyframes color_shadow_wall {
	0% {-webkit-box-shadow: 0px 10px 20px 12px black;box-shadow: 0px 10px 20px 12px black;}
	10% {-webkit-box-shadow: 0px 10px 20px 12px black;box-shadow: 0px 10px 20px 12px black;}
	30% {-webkit-box-shadow: 0px 10px 20px 12px lime;box-shadow: 0px 10px 20px 12px lime;}
	45% {-webkit-box-shadow: 0px 10px 20px 12px red;box-shadow: 0px 10px 20px 12px red;}
	60%	{-webkit-box-shadow: 0px 10px 20px 12px cyan;box-shadow: 0px 10px 20px 12px cyan;}
	75%	{-webkit-box-shadow: 0px 10px 20px 12px magenta;box-shadow: 0px 10px 20px 12px magenta;}
	100% {-webkit-box-shadow: 0px 10px 20px 12px black;box-shadow: 0px 10px 20px 12px black;}
}

@keyframes color_shadow_wall {
	0% {-webkit-box-shadow: 0px 10px 20px 12px black;box-shadow: 0px 10px 20px 12px black;}
	10% {-webkit-box-shadow: 0px 10px 20px 12px black;box-shadow: 0px 10px 20px 12px black;}
	30% {-webkit-box-shadow: 0px 10px 20px 12px lime;box-shadow: 0px 10px 20px 12px lime;}
	45% {-webkit-box-shadow: 0px 10px 20px 12px red;box-shadow: 0px 10px 20px 12px red;}
	60%	{-webkit-box-shadow: 0px 10px 20px 12px cyan;box-shadow: 0px 10px 20px 12px cyan;}
	75%	{-webkit-box-shadow: 0px 10px 20px 12px magenta;box-shadow: 0px 10px 20px 12px magenta;}
	100% {-webkit-box-shadow: 0px 10px 20px 12px black;box-shadow: 0px 10px 20px 12px black;}
}

@-webkit-keyframes color_shadow1 {
	0% {-webkit-box-shadow: 3px 13px 19px 18px black;box-shadow: 3px 13px 19px 18px black;}
	10% {-webkit-box-shadow: 3px 13px 19px 18px black;box-shadow: 3px 13px 19px 18px black;}
	30% {-webkit-box-shadow:  3px 13px 19px 18px  lime;box-shadow:  3px 13px 19px 18px  lime;}
	45% {-webkit-box-shadow:  3px 13px 19px 18px  red;box-shadow:  3px 13px 19px 18px  red;}
	60%	{-webkit-box-shadow:  3px 13px 19px 18px  cyan;box-shadow:  3px 13px 19px 18px  cyan;}
	75%	{-webkit-box-shadow:  3px 13px 19px 18px  magenta;box-shadow:  3px 13px 19px 18px  magenta;}
	100% {-webkit-box-shadow:  3px 13px 19px 18px  black;box-shadow:  3px 13px 19px 18px  black;}
}

@keyframes color_shadow1 {
	0% {-webkit-box-shadow: 3px 13px 19px 18px black;box-shadow: 3px 13px 19px 18px black;}
	10% {-webkit-box-shadow: 3px 13px 19px 18px black;box-shadow: 3px 13px 19px 18px black;}
	30% {-webkit-box-shadow:  3px 13px 19px 18px  lime;box-shadow:  3px 13px 19px 18px  lime;}
	45% {-webkit-box-shadow:  3px 13px 19px 18px  red;box-shadow:  3px 13px 19px 18px  red;}
	60%	{-webkit-box-shadow:  3px 13px 19px 18px  cyan;box-shadow:  3px 13px 19px 18px  cyan;}
	75%	{-webkit-box-shadow:  3px 13px 19px 18px  magenta;box-shadow:  3px 13px 19px 18px  magenta;}
	100% {-webkit-box-shadow:  3px 13px 19px 18px  black;box-shadow:  3px 13px 19px 18px  black;}
}

@-webkit-keyframes color_shadow2 {
	0% {-webkit-box-shadow:  13px 3px 19px 18px  black;box-shadow:  13px 3px 19px 18px  black;}
	10% {-webkit-box-shadow:  13px 3px 19px 18px  black;box-shadow:  13px 3px 19px 18px  black;}
	30% {-webkit-box-shadow:  13px 3px 19px 18px  lime;box-shadow:  13px 3px 19px 18px  lime;}
	45% {-webkit-box-shadow:  13px 3px 19px 18px  red;box-shadow:  13px 3px 19px 18px  red;}
	60%	{-webkit-box-shadow: 13px 3px 19px 18px cyan;box-shadow: 13px 3px 19px 18px cyan;}
	75%	{-webkit-box-shadow:  13px 3px 19px 18px  magenta;box-shadow:  13px 3px 19px 18px  magenta;}
	100% {-webkit-box-shadow:  13px 3px 19px 18px  black;box-shadow:  13px 3px 19px 18px  black;}
}

@keyframes color_shadow2 {
	0% {-webkit-box-shadow:  13px 3px 19px 18px  black;box-shadow:  13px 3px 19px 18px  black;}
	10% {-webkit-box-shadow:  13px 3px 19px 18px  black;box-shadow:  13px 3px 19px 18px  black;}
	30% {-webkit-box-shadow:  13px 3px 19px 18px  lime;box-shadow:  13px 3px 19px 18px  lime;}
	45% {-webkit-box-shadow:  13px 3px 19px 18px  red;box-shadow:  13px 3px 19px 18px  red;}
	60%	{-webkit-box-shadow: 13px 3px 19px 18px cyan;box-shadow: 13px 3px 19px 18px cyan;}
	75%	{-webkit-box-shadow:  13px 3px 19px 18px  magenta;box-shadow:  13px 3px 19px 18px  magenta;}
	100% {-webkit-box-shadow:  13px 3px 19px 18px  black;box-shadow:  13px 3px 19px 18px  black;}
}

@-webkit-keyframes color_bg {
	0% {background: black;}
	10%  {background: black;}
	30% {background: lime;}
	45% {background: red;}
	60%	{background: cyan;}
	75%	{background: magenta;}
	100% {background: black;}
}

@keyframes color_bg {
	0% {background: black;}
	10%  {background: black;}
	30% {background: lime;}
	45% {background: red;}
	60%	{background: cyan;}
	75%	{background: magenta;}
	100% {background: black;}
}


@-webkit-keyframes light_visor_an {
	0% {-webkit-box-shadow: inset 5px 5px black;box-shadow: inset 5px 5px black;}
	10% {-webkit-box-shadow: inset 5px 5px black;box-shadow: inset 5px 5px black;}
	30% {-webkit-box-shadow: inset 5px 5px lime;box-shadow: inset 5px 5px lime;}
	45% {-webkit-box-shadow: inset 5px 5px red;box-shadow: inset 5px 5px red;}
	60%	{-webkit-box-shadow: inset 5px 5px cyan;box-shadow: inset 5px 5px cyan;}
	75%	{-webkit-box-shadow: inset 5px 5px magenta;box-shadow: inset 5px 5px magenta;}
	100% {-webkit-box-shadow: inset 5px 5px black;box-shadow: inset 5px 5px black;}
}


@keyframes light_visor_an {
	0% {-webkit-box-shadow: inset 5px 5px black;box-shadow: inset 5px 5px black;}
	10% {-webkit-box-shadow: inset 5px 5px black;box-shadow: inset 5px 5px black;}
	30% {-webkit-box-shadow: inset 5px 5px lime;box-shadow: inset 5px 5px lime;}
	45% {-webkit-box-shadow: inset 5px 5px red;box-shadow: inset 5px 5px red;}
	60%	{-webkit-box-shadow: inset 5px 5px cyan;box-shadow: inset 5px 5px cyan;}
	75%	{-webkit-box-shadow: inset 5px 5px magenta;box-shadow: inset 5px 5px magenta;}
	100% {-webkit-box-shadow: inset 5px 5px black;box-shadow: inset 5px 5px black;}
}

@-webkit-keyframes xtree_color {
	0% {-webkit-box-shadow: inset 50px 50px 50px orange;box-shadow: inset 50px 50px 50px orange;}
	30% {-webkit-box-shadow: inset 50px 50px 50px lime;box-shadow: inset 50px 50px 50px lime;}
	45% {-webkit-box-shadow: inset 50px 50px 50px red;box-shadow: inset 50px 50px 50px red;}
	60%	{-webkit-box-shadow: inset 50px 50px 50px cyan;box-shadow: inset 50px 50px 50px cyan;}
	75%	{-webkit-box-shadow: inset 50px 50px 50px magenta;box-shadow: inset 50px 50px 50px magenta;}
	100% {-webkit-box-shadow: inset 50px 50px 50px orange;box-shadow: inset 50px 50px 50px orange;}
}

@keyframes xtree_color {
	0% {-webkit-box-shadow: inset 50px 50px 50px orange;box-shadow: inset 50px 50px 50px orange;}
	30% {-webkit-box-shadow: inset 50px 50px 50px lime;box-shadow: inset 50px 50px 50px lime;}
	45% {-webkit-box-shadow: inset 50px 50px 50px red;box-shadow: inset 50px 50px 50px red;}
	60%	{-webkit-box-shadow: inset 50px 50px 50px cyan;box-shadow: inset 50px 50px 50px cyan;}
	75%	{-webkit-box-shadow: inset 50px 50px 50px magenta;box-shadow: inset 50px 50px 50px magenta;}
	100% {-webkit-box-shadow: inset 50px 50px 50px orange;box-shadow: inset 50px 50px 50px orange;}
}

@-webkit-keyframes star_af_color {
	0% {border-top: 25px solid #f30;}
	10% {border-top: 25px solid #200;}
	20% {border-top: 25px solid #0f0;}
	30% {border-top: 25px solid #200;}
	40% {border-top: 25px solid #f0f;}
	50% {border-top: 25px solid #200;}
	60% {border-top: 25px solid #fd0;}
	70% {border-top: 25px solid #200;}
	80% {border-top: 25px solid #0af;}
	90% {border-top: 25px solid #200;}
	100% {border-top: 25px solid #f00;}
}

@keyframes star_af_color {
	0% {border-top: 25px solid #f30;}
	10% {border-top: 25px solid #200;}
	20% {border-top: 25px solid #0f0;}
	30% {border-top: 25px solid #200;}
	40% {border-top: 25px solid #f0f;}
	50% {border-top: 25px solid #200;}
	60% {border-top: 25px solid #fd0;}
	70% {border-top: 25px solid #200;}
	80% {border-top: 25px solid #0af;}
	90% {border-top: 25px solid #200;}
	100% {border-top: 25px solid #f00;}
}

@-webkit-keyframes star_color {
	0% {border-bottom: 25px solid #f30;}
	10% {border-bottom: 25px solid #200;}
	20% {border-bottom: 25px solid #0f0;}
	30% {border-bottom: 25px solid #200;}
	40% {border-bottom: 25px solid #f0f;}
	50% {border-bottom: 25px solid #200;}
	60% {border-bottom: 25px solid #fd0;}
	70% {border-bottom: 25px solid #200;}
	80% {border-bottom: 25px solid #0af;}
	90% {border-bottom: 25px solid #200;}
	100% {border-bottom: 25px solid #f00;}
}

@keyframes star_color {
	0% {border-bottom: 25px solid #f30;}
	10% {border-bottom: 25px solid #200;}
	20% {border-bottom: 25px solid #0f0;}
	30% {border-bottom: 25px solid #200;}
	40% {border-bottom: 25px solid #f0f;}
	50% {border-bottom: 25px solid #200;}
	60% {border-bottom: 25px solid #fd0;}
	70% {border-bottom: 25px solid #200;}
	80% {border-bottom: 25px solid #0af;}
	90% {border-bottom: 25px solid #200;}
	100% {border-bottom: 25px solid #f00;}
}

@-webkit-keyframes sky {
	0% {width: 1px; height: 1px;}
	9% {width: 1px; height: 1px;}
	10% {width: 3px; height: 3px;}
	15% {width: 1px; height: 1px;}
	100% {width: 1px; height: 1px;}
}

@keyframes sky {
	0% {width: 1px; height: 1px;}
	9% {width: 1px; height: 1px;}
	10% {width: 3px; height: 3px;}
	15% {width: 1px; height: 1px;}
	100% {width: 1px; height: 1px;}
}

@-webkit-keyframes falling_star {
	0% {top: -20px; left: 300px; width: 6px; height: 6px;}
	5% {top: 175px; left: 800px; width: 0px; height: 0px;}
	100% {top: 175px; left: 800px; width: 0px; height: 0px;}
}

@keyframes falling_star {
	0% {top: -20px; left: 300px; width: 6px; height: 6px;}
	5% {top: 175px; left: 800px; width: 0px; height: 0px;}
	100% {top: 175px; left: 800px; width: 0px; height: 0px;}
}

@-webkit-keyframes found1anim {
	0% {-webkit-box-shadow: none;box-shadow: none;}
	10% {-webkit-box-shadow: none;box-shadow: none;}
	30% {-webkit-box-shadow: -80px 105px 136px 11px rgba(0,255,0, 0.5);box-shadow: -80px 105px 136px 11px rgba(0,255,0, 0.5);}
	45% {-webkit-box-shadow: -80px 105px 136px 11px rgba(255,0,0, 0.5);box-shadow: -80px 105px 136px 11px rgba(255,0,0, 0.5);}
	60%	{-webkit-box-shadow: -80px 105px 136px 11px rgba(0,255,255, 0.5);box-shadow: -80px 105px 136px 11px rgba(0,255,255, 0.5);}
	75%	{-webkit-box-shadow: -80px 105px 136px 11px rgba(255,0,255, 0.5);box-shadow: -80px 105px 136px 11px rgba(255,0,255, 0.5);}
	100% {-webkit-box-shadow: none;box-shadow: none;}
}

@keyframes found1anim {
	0% {-webkit-box-shadow: none;box-shadow: none;}
	10% {-webkit-box-shadow: none;box-shadow: none;}
	30% {-webkit-box-shadow: -80px 105px 136px 11px rgba(0,255,0, 0.5);box-shadow: -80px 105px 136px 11px rgba(0,255,0, 0.5);}
	45% {-webkit-box-shadow: -80px 105px 136px 11px rgba(255,0,0, 0.5);box-shadow: -80px 105px 136px 11px rgba(255,0,0, 0.5);}
	60%	{-webkit-box-shadow: -80px 105px 136px 11px rgba(0,255,255, 0.5);box-shadow: -80px 105px 136px 11px rgba(0,255,255, 0.5);}
	75%	{-webkit-box-shadow: -80px 105px 136px 11px rgba(255,0,255, 0.5);box-shadow: -80px 105px 136px 11px rgba(255,0,255, 0.5);}
	100% {-webkit-box-shadow: none;box-shadow: none;}
}

@-webkit-keyframes foundanim {
	0% {-webkit-box-shadow: none;box-shadow: none;}
	10% {-webkit-box-shadow: none;box-shadow: none;}
	30% {-webkit-box-shadow: 0 40px 40px 22px rgba(0,255,0, 0.3);box-shadow: 0 40px 40px 22px rgba(0,255,0, 0.3);}
	45% {-webkit-box-shadow: 0 40px 40px 22px rgba(255,0,0, 0.3);box-shadow: 0 40px 40px 22px rgba(255,0,0, 0.3);}
	60%	{-webkit-box-shadow: 0 40px 40px 22px rgba(0,255,255, 0.3);box-shadow: 0 40px 40px 22px rgba(0,255,255, 0.3);}
	75%	{-webkit-box-shadow: 0 40px 40px 22px rgba(255,0,255, 0.3);box-shadow: 0 40px 40px 22px rgba(255,0,255, 0.3);}
	100% {-webkit-box-shadow: none;box-shadow: none;}
}

@keyframes foundanim {
	0% {-webkit-box-shadow: none;box-shadow: none;}
	10% {-webkit-box-shadow: none;box-shadow: none;}
	30% {-webkit-box-shadow: 0 40px 40px 22px rgba(0,255,0, 0.3);box-shadow: 0 40px 40px 22px rgba(0,255,0, 0.3);}
	45% {-webkit-box-shadow: 0 40px 40px 22px rgba(255,0,0, 0.3);box-shadow: 0 40px 40px 22px rgba(255,0,0, 0.3);}
	60%	{-webkit-box-shadow: 0 40px 40px 22px rgba(0,255,255, 0.3);box-shadow: 0 40px 40px 22px rgba(0,255,255, 0.3);}
	75%	{-webkit-box-shadow: 0 40px 40px 22px rgba(255,0,255, 0.3);box-shadow: 0 40px 40px 22px rgba(255,0,255, 0.3);}
	100% {-webkit-box-shadow: none;box-shadow: none;}
}

