#to-top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  font-size: 3rem;
  color: #fff;
  background-color: rgba(59,67,76,0.9);
  border: 2px solid #fff;
  outline: 0;
  border-radius: 10px;
  padding: 0rem 0.8rem;
  cursor: pointer;
}


.header-social__link--ig {
  @include sprite($s-ig);
}

//захлест
transition: all 1.2s cubic-bezier(0.17, 1.84, 0.58, 0.89);


//remove default arrow in number-input
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


// счетчик
ul.classname {
  list-style: none;
  counter-reset: liCounter;
}
ul.classname > li:before {
  content: counter(liCounter) ".";
  counter-increment: liCounter;
  padding: 0 28px 0 34px;
}

//счетчик 2
.steps-cont {
  counter-reset: div;
}
.steps-cont .step:before {
  content: "0" counter(div);
  counter-increment: div;
}
