$reg: "AcromRegular", sans-serif;
$light: "AcromLight", sans-serif;
$th: "AcromThin", sans-serif;
$med: "AcromMedium", sans-serif;
$bold: "AcromBold", sans-serif;
$xb: "AcromExtrabold", sans-serif;

$blue: #3963dc;
$red: #cf2d2d;