
/* ==================== css-animations ======================= */
/*
@keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1);}
}
*/
/*
@keyframes pulse-sm {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
}
*/
// @keyframes rotation {
// 	0% {transform: rotateY(90deg);}
// 	10% {transform: rotateY(-90deg);}
// 	20% {transform: rotateY(80deg);}
// 	30% {transform: rotateY(-70deg);}
// 	40% {transform: rotateY(60deg);}
// 	50% {transform: rotateY(-55deg);}
// 	60% {transform: rotateY(50deg);}
// 	70% {transform: rotateY(-45deg);}
// 	80% {transform: rotateY(40deg);}
// 	90% {transform: rotateY(-35deg);}
// 	100% {transform: rotateY(0deg);}
// }