
/* ==================== fonts ======================= */

@font-face {
	font-family: "PFDinTextCondPro-Regular";
	src: url("../fonts/PFDin/PFDinTextCondPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "PFDinTextCondPro-Medium";
	src: url("../fonts/PFDin/PFDinTextCondPro-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "CodePro-Bold";
	src: url("../fonts/CodePro/Code-Pro-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "CodePro-Reg";
	src: url("../fonts/CodePro/Code-Pro.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}


/*
@font-face {
	font-family: "Helvetica Neue Cyr Regular";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}





@font-face {
	font-family: "Helvetica Neue Cyr Medium";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Helvetica Neue Cyr Bold";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Helvetica Neue Cyr Light";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Helvetica Neue Cyr Thin";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Gilroy Extra Bold";
	src: url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "Gilroy Light";
	src: url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}
*/