
/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/
$green: #B5E200;
$red: #FF000C;
$or: #FBA01E;

$tsh: 0px 3px 2px rgba(0,0,0,0.4),
  0px 6px 10px rgba(0,0,0,0.1),
  0px 13px 16px rgba(0,0,0,0.1);


// $hreg: "Helvetica Neue Cyr Regular", sans-serif;

$preg: "PFDinTextCondPro-Regular", sans-serif;
$pmed: "PFDinTextCondPro-Medium", sans-serif;
$cpr: "CodePro-Reg", sans-serif;
$cpbold: "CodePro-Bold", sans-serif;
