.map-cont {
  position: relative;
  max-width: 600px;
  outline: 1px solid red;
  // &:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 40%;
  //   left: 30%;
  //   width: 30%;
  //   height: 40%;
  //   background: repeating-linear-gradient(45deg, #01ABFE, #01ABFE 6px, #0089DC 7px);
  //   transform: rotate(35deg);
  //   z-index: -1;
  // }
}

.region-list {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: 20px;
  }
}

.region-list a.active {
  color: #0f0;
}

