/* ==================== Media queries ======================= */
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1299px) {
  .wrapper.wide {
    max-width: 1140px;
    left: 0;
    padding-left: 0 !important; }

  .catalog-items-cont {
    justify-content: space-around; }

  .top-back {
    padding-left: 0; } }
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  html {
    font-size: 3px; }

  .header-top {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .header .logo-cont {
    margin-bottom: 10px; }

  .header-nav li {
    margin-right: 10px; }

  .main-img-section .wrapper {
    position: relative;
    transform: none;
    left: 0;
    width: 100%;
    max-width: 100%; }

  .action-slider-cont {
    position: static;
    max-width: 100%;
    transform: none;
    padding: 15px; }

  .action-slide-content h2 {
    font-size: 36px;
    margin-bottom: 15px; }

  .action-slide-content {
    min-height: 0; }

  .slider-arr-cont {
    position: static;
    text-align: right; }

  .js-popular-slider .slick-track,
  .offer-slider-cont .slick-track,
  .popular-slide {
    background: #224451; }

  .popular-slide {
    display: block; }

  .popular-slide img {
    max-width: 100%; }

  .offer-slide .slide-text,
  .slide-text {
    max-width: 100%;
    width: 100%;
    padding: 15px; }

  .offer-slide .slide-title,
  .slide-title {
    max-width: 100%;
    font-size: 24px !important; }

  .popular-slide .transparent-button {
    margin-left: 6px; }

  .slick-dots {
    bottom: auto !important;
    top: 102% !important;
    left: 0 !important;
    transform: none !important; }

  .offer-slide {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
    .offer-slide .slide-text {
      position: static;
      flex-basis: 100%; }
    .offer-slide .slide-type {
      margin-bottom: 32px; }
    .offer-slide .slide-title {
      margin-bottom: 7px; }

  .news-item {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .news-prev {
    max-width: 100%; }

  .news-content {
    max-width: 100%;
    padding: 10px 0; }

  .main-char-cont {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .product-parameters {
    order: 2;
    max-width: 100%;
    flex-basis: 100%;
    margin-right: 0; }

  .product-slider-cont {
    max-width: 100%;
    flex-basis: 100%; }

  .param-table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; }
    .param-table td {
      padding-left: 10px;
      padding-right: 10px; }

  .to-fav-cont {
    padding-left: 0; }

  .scheme-section .wrapper {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .form-buttons-block > div {
    flex-basis: 100%; }

  .stage-animation-cont {
    margin: 0 auto; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  h1,
  h2 {
    font-size: 36px !important;
    margin-bottom: 20px !important; }

  h3 {
    font-size: 30px !important; }

  .header-nav {
    display: none; }

  .btn-menu {
    display: block; }

  .fav-container {
    left: 0;
    right: auto; }

  .catalog-section .wrapper {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .aside {
    max-width: 100%;
    flex-basis: 100%; }

  .aside-filters {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px; }
    .aside-filters > div {
      flex-grow: 1;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 15px; }
    .aside-filters p {
      margin: 0 auto 15px; }

  .filter-form {
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around; }
    .filter-form > div {
      margin-bottom: 0; }

  .filter-block {
    padding-left: 10px;
    padding-right: 10px; }

  .aside-filters h2 {
    text-align: center; }

  .aside-banner {
    order: -1;
    margin-top: 20px; }
    .aside-banner img {
      max-height: 60vh; }

  .aside-banner-text {
    min-height: 0;
    padding: 15px; }

  .pagin-cont {
    -ms-align-items: flex-start;
    align-items: flex-start; }

  .about-section h2 {
    margin-left: 0; }

  .about-content,
  .features-section .wrapper {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }

  .about-img-cont img {
    max-width: 100%; }

  .about-text,
  .project-descr {
    max-width: 100%;
    padding-top: 15px;
    padding-right: 0; }

  .offer-slide img {
    margin-right: 0;
    margin-bottom: 10px; }

  .project-descr,
  .project-scheme {
    flex-basis: 100%;
    padding-top: 20px; }

  .project-scheme {
    padding-left: 0; }

  .features-slider-cont {
    padding-top: 40px; }

  /**/
  .footer-contacts-cont {
    flex-basis: 100%;
    min-width: 100%;
    padding-left: 0; }

  .footer-contacts-cont:before {
    display: none; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .header-links {
    white-space: normal;
    padding-left: 0; }

  .header-links:before {
    display: none; }

  .header-links .button {
    display: block;
    margin: 10px 0; }

  .path-section .wrapper.wide {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start; }

  .path-cont {
    width: 100%; }

  .slide-imgs div:first-child {
    margin-right: 0; }

  /**/
  .footer-nav-cont {
    flex-basis: 100%;
    min-width: 100%; }
    .footer-nav-cont ul {
      padding-left: 0; } }
@media only screen and (max-width: 600px) {
  .filter-block {
    width: 100%; }

  .index-catalog-section .filter-block {
    width: auto; }

  .form-buttons-block a,
  .form-buttons-block span {
    display: block; }

  .form-buttons-block > div {
    margin-bottom: 40px; }

  .features-slider-cont {
    max-width: 100%; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 30px !important; }

  h3 {
    font-size: 24px !important; }

  /**/
  .logo-cont img {
    margin-right: 15px; }

  .logo-text {
    min-width: 147px; }

  .logo-text p {
    font-size: 15px; } }
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .popular-offers-section:after,
  .product-offer-section:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 55.5%;
    width: 100vw;
    background: #f8f8f8;
    z-index: -1; }

  .about-section .wrapper:after {
    content: "";
    display: block;
    width: 250px;
    height: 315px;
    position: absolute;
    top: 0;
    left: -30px;
    background: #f8f8f8;
    z-index: -1; }

  .about-img-cont:after {
    content: "";
    display: block;
    width: 575px;
    height: 390px;
    position: absolute;
    top: 0;
    right: -50px;
    background: #f8f8f8;
    z-index: -1; }

  .windows-slider-section:after,
  .offers-section:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 58%;
    width: 100vw;
    background: #f8f8f8;
    z-index: -1; }

  .news-section .wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    right: 30%;
    background: #f8f8f8;
    z-index: -1; }

  .scheme-section .wrapper:before,
  .features-section .wrapper:before {
    content: "";
    display: block;
    position: absolute;
    width: 243px;
    height: 288px;
    background-image: url(../img/common/wood-pattern.jpg);
    background-repeat: no-repeat;
    z-index: -1; }

  .scheme-section .wrapper:before {
    top: 70px;
    left: -20px; }

  .features-section .wrapper:before {
    top: -30px;
    left: -40px;
    outline: 1px solid lime; }

  .features-slider-cont:after {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    right: -85px;
    width: 570px;
    height: 390px;
    background: #f8f8f8;
    z-index: -1; }

  .slide-imgs:hover + .slide-text, .slide-imgs:active + .slide-text {
    transform: translateX(-100%); }

  .window-slider-cont .slick-dots li {
    border-color: #fff; }
  .window-slider-cont .slick-dots li.slick-active {
    background: #fff; }

  .stage-animation-cont {
    margin: 0 -20px; }

  .viewport-dark {
    display: block;
    max-width: calc(100% - 20px);
    animation: stages1 14s linear infinite;
    z-index: 1; }
    .viewport-dark .decor-line {
      background: #dcdcdc; }

  .viewport-light {
    display: block;
    max-width: calc(100% - 20px);
    animation: stages2 14s linear infinite;
    z-index: 1; }
    .viewport-light .decor-line {
      background: #dcdcdc; } }

/*# sourceMappingURL=_media.css.map */
