
/* $reg_font: ProximaNovaReg;*/
/* $lig_col:#fff;*/

$reg: "Lato Regular", sans-serif;
$med: "Lato Medium", sans-serif;
$heavy: "Lato Heavy", sans-serif;
$bolditalic: "Lato Bold Italic", sans-serif;

$color1: #1e414e;

$grtr: rgba(29,64,77, .8);
$bsh1: 0px 15px 15px rgba(170,170,170,.3);


