@media screen and (max-width: 1850px) {
	.item__content table td:nth-child(2) span {
		left: 20px;
	}
	.partners-page .item {
		max-width: 400px;
	}
	.feedback-page .item {
		max-width: 380px;
	}
}

@media screen and (max-width: 1730px) {
	.item__content {
		padding: 108px 15px 0;
	}
	.input-item {
    	padding: 28px 15px 19px;
	}
	.item__title {
		padding: 24px 15px 18px;
	}
	.item-center .item {
		max-width: 440px;
	}
	.get_feedback-page .item {
		max-width: 917px;
	}
	.partners-page .item {
		max-width: 340px;
	}
	.settings-page .item__title {
		font-size: 21px;
	}
	.settings-page .btn.btn-bold {
		width: calc(100% - 30px);
		left: 15px;
	}
	.item__delete-data .btn.btn-bold {
		width: 100%;
	}

	.item-thanks__text {
		padding: 80px 15px 40px;
	}
}

@media screen and (max-width: 1660px) {
	.feedback-page .item {
    	max-width: 320px;
	}
}

@media screen and (max-width: 1560px) {
	.content .page {
		padding-left: 360px;
	}
	.main-page {
		padding: 120px 20px 120px 360px;
	}
	.menu {
		left: 360px;
	}
	.content .aplication-page {
		padding-right: 20px;
	}
	.page.settings-page {
		padding-right: 20px;
	}
}

@media screen and (max-width: 1500px) {
	.partners-page .item {
		max-width: 300px;
	}
	.grey-block {
		font-size: 20px;
	}
}


@media screen and (max-width: 1420px) {
	.item__content table td:nth-child(1) {
		padding-left: 40px;
	}
	.item__content table td:nth-child(1) span {
		left: 0;
	}
	.item__content table td:nth-child(2) {
		padding-left: 25px;
		padding-right: 5px;
	}
	.item__content table td:nth-child(2) span {
		left: 10px;
	}
	.feedback-page .item {
		max-width: 280px;
	}
	.settings-page .item__title {
		font-size: 20px;
	}
}

@media screen and (max-width: 1360px) {
	* {
		font-size: 14px;
	}
	.item__content table td {
		height: 46px;
	}
	.item__content table td, .item__content table th {
		font-size: 14px;
	}
	.item__content table td:nth-child(2) {
		font-size: 12px;
	}
	.item__title {
		font-size: 18px;
	}
	input[type="checkbox"]#checkbox-telegram + label {
		margin-right: 30px;
	}
	.grey-block {
		font-size: 17px;
	}
	.partners-page .grey-block {
		margin-bottom: 20px;
	}
	.partners-page .item__content--title {
    	margin-bottom: 10px;
	}
	.partners-page .item {
		max-width: 260px;
	}
	.item__content--title br {
		display: none;
	}
	.left-col {
		max-width: 240px;
		padding: 40px 20px 20px;
	}
	.nav li a.active::before {
		left: -20px;
	}
	.content .page {
		padding-left: 260px;
	}
	.contacts-page .item {
		width: 40%;
	}
	.menu {
		left: 260px;
	}
	.settings-page .item__title {
		font-size: 18px;
	}
	.item-thanks__par-1,
	.item-thanks__par-1 span {
		font-size: 18px;
		line-height: 24px;
	} 
}

@media screen and (max-width: 1199px) {
	.exchange-res::before {
		width: 20px;
		height: 20px;
	}
	.aplication-page .exchange-res::before {
    	top: calc(50% - 10px);
	}
	.btn.btn-bold {
		font-size: 18px;
	}
	.feedback-page .item {
		max-width: 250px;
	}
	.programs-page .item {
		min-width: auto;
		width: 46%;
		margin-right: 20px;
	}
}

@media screen and (max-width: 1150px) {
	.item__content table td, .item__content table th {
		font-size: 12px;
	}
	.item__content table td:nth-child(2) {
		font-size: 10px;
		padding-left: 15px;
	}
	.item__content table td:nth-child(2) span {
		width: 7px;
		height: 8px;
		left: 4px;
	}
	.exchange-res__currency {
		padding-left: 20px;
	}
	.exchange-res__currency::before {
		width: 12px;
		height: 14px;
		-webkit-background-size: contain;
		background-size: contain;
		top: calc(50% - 8px);
	}
	.exchange-res__sum {
		font-size: 12px;
		position: relative;
		top: 2px;
	}
	.partners-page .item {
		max-width: 210px;
	}
	.partners-page .item {
		font-size: 14px;
	}
	.item__title {
		font-size: 14px;
	}
	.reg__aplication-page .item__title {
		font-size: 18px;
	}
	.grey-block {
		padding-left: 15px;
		font-size: 13px;
	}
	.page input[type="text"] {
		font-size: 18px;
	}
	.settings-page .grey-block ::-webkit-input-placeholder { color: #000; font-size: 18px; opacity: 1; }
	.settings-page .grey-block ::-moz-placeholder          { color: #000; font-size: 18px; opacity: 1; } 
	.settings-page .grey-block :-moz-placeholder           { color: #000; font-size: 18px; opacity: 1; } 
	.settings-page .grey-block :-ms-input-placeholder      { color: #000; font-size: 18px; opacity: 1; }
	
	.partners-page .item__content {
		padding-top: 108px;
	}

	.contacts-page .item__content,
	.registration-page .item__content {
		padding-top: 80px;
	}

	.aplication-page .item__content {
		padding-top: 70px;
	}

	select, textarea {
		height: 50px;
	}
}

@media screen and (max-width: 1024px) {
	.item {
		height: 100%;
		max-width: 350px;
	}
	.item__content table td {
		height: 30px;
	}
	.menu__nav li a {
		padding-right: 20px;
	}
	.item__content--social a {
		width: 65px;
	}
	.not-work-page p {
		font-size: 20px;
	}
	.not-work-page img:nth-child(1) {
		width: 140px;
	}
	.not-work-page img:nth-child(2) {
		width: 160px;
	}
}

@media screen and (max-width: 800px) {
	.feedback-page .item {
		max-width: 230px;
	}
}
@media (max-width: 768px) {
	.questions-page {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 768px) {
	.btn_nav {display: block;}
	.logo {width: 142px;margin: 0 auto;}
	.nav {padding: 0 15px;}
	.left-col {max-width: 767px;height: auto; max-height: 100%; padding: 20px 0;}
	.nav li a.active::before {left: -15px;}
	.nav__wrapper {display: none;}
	.item {width: 90%; text-align: left;}
	.content .page {justify-content: space-around; padding-left: 0; padding-bottom: 5px;}
	.content .partners-page { padding-left: 30px; }
	.partners-page .page__items {
		margin-left: -30px;
	}
	.content .main-page {padding: 120px 0 40px 0;}
	.content .registration-page { padding-top: 108px; }
	
	.input-item {padding: 28px 20px 19px;}
	.item__content,
	.partners-page .item__content {padding: 108px 20px 0;}
	.item__content table td:nth-child(1) {padding-left: 50px;}
	.nav__desctop { display: none; }

	.questions-page .item {
		width: 35%;
	}

	.content .feedback-page {
		padding-bottom: 0;
	}

	.feedback-page .item {
		max-width: 260px;
	}
	.contacts-page.item-center .item {
		max-width: 340px;
		margin: auto;
	}
	.page .page-in {
		padding-top: 50px;
	}
	.menu {
		top: 100px;
		left: 20px;
	}
	.left-col__buttons,
	.left-col__copy {
		margin: 0 auto;
	}

	.main-page .item {
		opacity: 0;
		animation-name: main-page-items;
		animation-duration: .8s;
		animation-delay: 5.8s;
		animation-fill-mode: forwards;
	}
	
	.main-page .item-send {
		animation-delay: 5s;
	}

	.main-page .item-get {
		animation-delay: 5.4s;
	}
	
	.main-page .item.no-delay,
	.main-page .item-send.no-delay,
	.main-page .item-get.no-delay {
		animation-delay: 1s;
	}

	.settings-page .btn.btn-bold {
		bottom: 5px;
	}
	.settings-page .item__content {
		height: calc(100% - 65px);
	}

	.content .get_feedback-page {
		padding-top: 170px;
	}

	textarea {
		min-height: 170px;
		margin-bottom: 0;
	}
	.get_feedback-page .item__content {
		padding-top: 80px;
	}
}

@media screen and (max-width: 600px) {
	.feedback-page .item {
		max-width: 240px;
	}
	.not-work-page p br {
		display: none;
	}
}

@media screen and (max-width: 560px) {
	.item {
		max-width: 300px;
	}
	.conditions-page .item {
		width: 90%;
	}
	.content .about__service-page .item {
		min-width: auto;
		width: 90%;
	}
	.contacts-page.item-center .item {
		max-width: 300px;
	}
	.item-center .item {
		width: 90%;
		min-width: auto;
	}
	.menu {
		width: 100%;
		left: 0;
		padding: 0 10px;
	}
	.menu__nav {
		text-align: center;
	}
	.menu__nav li a {
		padding: 5px 20px 5px 0;
	}
	.content .aplication-page,
	.content .programs-page,
	.content .settings-page,
	.content .get_feedback-page {
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 479px) {
	.item__content table td:nth-child(2) span {left: 0px;}

	.aplication-page .item,
	.settings-page .item {
		max-width: 270px;
	}
}

@media screen and (max-width: 420px) {
	.item {
		max-width: 250px;
	}
	.content .questions-page .item .item__content {
		padding: 108px 5px 0;	
	}
	.content .questions-page .item .item__content a,
	.content .questions-page .item .item__content .item__content--title {
		font-size: 12px;
	}

	.contacts-page.item-center .item {
		max-width: 240px;
	}

	.aplication-page .item,
	.settings-page .item {
		max-width: 235px;
	}
}

@media screen and (max-width: 330px) {
	.aplication-page .item {
		max-width: 225px;
	}
	.page input[type="text"] {
		margin-bottom: 10px;
	}
}


@media screen and (max-height: 1030px) {
	.partners-page .item__content--title {
		margin-bottom: 10px;
	}	
	.partners-page .grey-block {
		margin-bottom: 10px;
	}
	.registration-form {
		padding-top: 5px;
	}
	.registration-page .item__content--title {
		margin-bottom: 10px;
	}
	.registration-form button {
		margin-top: 15px;
	}
	.item__content--agreement {
		margin-top: 10px;
	}
	textarea {
		min-height: 380px;
	}
}

@media screen and (max-height: 1030px) and (min-width: 1200px) {
	.btn.btn-bold {
		font-size: 20px;
	}
}


@media screen and (max-height: 970px) {
	.item__content_row {
		padding-bottom: 10px;
	}
	.item__content--title {
		margin-bottom: 5px;
	}
	textarea {
		min-height: 300px;
	}
}


@media screen and (max-height: 930px) {
	.aplication-page .item__content--middle {
		margin: 15px 0 20px;
	}
}


@media screen and (max-height: 930px) and (min-width: 1151px) {
	.grey-block {
		font-size: 18px;
	}
}


@media screen and (max-height: 900px) {
	.feedback-page .item__content--title {
		min-height: auto;
		height: calc(100% - 50px);
		overflow: auto;
	}
	.feedback-page .feedback__stars {
		position: absolute;
		bottom: 0;
		left: 15px;
	}
}

@media screen and (max-height: 900px) and (min-width: 769px) {
	textarea {
		min-height: 420px;
	}
}

@media screen and (max-height: 850px) and (min-width: 768px) {
	.content .feedback-page {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.left-col {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media screen and (max-height: 800px) and (min-width: 769px) {
	textarea {
		min-height: 340px;
	} 
}

@media screen and (max-height: 750px) {
	
	.page input[type="text"] {
		height: 44px;
		margin-bottom: 10px;
	}
	.main-page table {
		margin-top: 70px;/*30px;*/
	}
	.item__content table td {
		height: 30px;
	}	
	.item__content--title {
		font-size: 12px;
	}
	.feedback-page .item {
    	height: calc(100% - 10px);
	}	
	.nav li a {
		padding: 10px 0;
	}
	.btn {
		padding: 10px 0 9px;
	}
}

@media screen and (max-height: 750px) and (min-width: 769px) {
	textarea {
		min-height: 280px;
	}
}


@media screen and (max-height: 700px) and (min-width: 1151px) {
	.item__title {
		font-size: 18px;
	}
	.partners-page .item__content {
		padding-top: 108px;
	}
	.partners-page .grey-block {
		margin-bottom: 20px;
	}
	.grey-block {
		font-size: 15px;
		padding: 11px 10px 11px 26px;
	}
}

@media screen and (max-height: 650px) {
	.contacts-page .item .item__content--title:first-child {
		margin-bottom: 30px;
	}
	.contacts-page .item:last-child .item__content--title:first-child {
		margin-bottom: 10px;
	}
	.contacts-page .item .item__content--title {
		margin-top: 20px;
	}
	.registration-page .item__content--title {
		margin-bottom: 5px;
	}
	.registration-form {
		padding-top: 5px;
	}
}

@media screen and (max-height: 650px) and (min-width: 769px) {
	textarea {
		min-height: 230px;
		margin-bottom: 5px;
	}
}

@media screen and (max-height: 600px) {

}

@media screen and (min-width: 768px) {
	.content .page {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}


@media screen and (max-height: 900px) and (min-width: 768px) {
	.main-page {
		padding: 40px 20px 40px 360px;
	}
	
	.content .aplication-page,
	.content .programs-page,
	.content .settings-page,
	.content .get_feedback-page {
		padding-top: 80px;
	}
	.menu {
		top: 20px;
	}
}
@media (max-width: 480px) {
	.feedback-page .item__content {
		padding-top: 75px 
	}
	.content .page.questions-page .slick-slide{
		padding-right: 10px;
		padding-left: 10px  
	}
}
@media (min-width: 1024px) {
	.registration-page .item {
		position: relative;
		right: 10px;
	}
}
@media (max-width: 375px) {
	input[type="checkbox"]#checkbox-telegram + label {
		margin-right: 0;
	}
}
.main-page table {
		margin-top: 100px
	}
@media (min-width: 1200px) {
	.item__content {
		padding-top: 80px
	}
}
@media (min-height: 750px){
	.main-page table {
		margin-top: 150px;
	}
}