@font-face {
	font-family: "Circe-Regular";
	src: url("../fonts/Circe-Regular.ttf");
}
@font-face {
	font-family: "Circe-Bold";
	src: url("../fonts/Circe-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Circe-Regular", sans-serif;
}

ul {
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

input, button {
	border: none;
	outline: none;
	cursor: pointer;
}

::-webkit-scrollbar{
	width: 4px;
	display: none;
}

::-webkit-input-placeholder { color: #75858f; font-size: 16px; opacity: .5; }
::-moz-placeholder          { color: #75858f; font-size: 16px; opacity: .5; } 
:-moz-placeholder           { color: #75858f; font-size: 16px; opacity: .5; } 
:-ms-input-placeholder      { color: #75858f; font-size: 16px; opacity: .5; }

.btn {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding: 20px 0 19px;
	background: linear-gradient(to right bottom, #f0b93c, #f9e03f);
	transition: all .4s;
}
.btn.btn-bold {
	font-weight: bold;
	font-size: 24px;
	padding: 13px 0;
}
.btn.btn-grey {
	background: #eaeef1;
	color: #75858f;
}
.btn:hover {
	box-shadow: 0 0 3px rgba(165, 179, 187, 1);
}
.page input[type="text"] {
	display: block;
	width: 100%;
	height: 62px;
	padding: 10px 10px 10px 26px;
	background-color: #eaeef1;
	font-size: 24px;
	color: #384045;
	margin-bottom: 19px;
}

.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #75858f;
}

.left-col {
	position: absolute;
	top: 0;
	left: -30%;
	width: 100%;
	max-width: 340px;
	height: 100%;
	box-shadow: 0 0 13px rgba(165, 179, 187, 1);
	background-color: #fff;
	padding: 120px 55px 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	z-index: 1;

	-webkit-animation-name: left_bar;
	-o-animation-name: left_bar;
	animation-name: left_bar;
	-webkit-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
	-webkit-animation-timing-function: 1;
	-o-animation-timing-function: 1;
	animation-timing-function: 1;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	overflow-y: auto;
}
.user-name {
	color: #2a2c20;
	margin: 15px 0;
	text-align: center;
}
.user-name.nav__desctop {
	text-align: left;
}
.btn_nav {
    position: absolute;
    width: 40px;
    top: 30px;
    left: 30px;
    padding: 17px 5px;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}
.btn_nav span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000;
	position: relative;
}
.btn_nav span::before,
.btn_nav span::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #000;
}
.btn_nav span::before {
	top: -9px;
}
.btn_nav.btn_nav-active {
	border: 1px solid #bebebe;
}
.btn_nav.btn_nav-active span {
	background-color: transparent;
}
.btn_nav.btn_nav-active span::before {
	transform: translate(0px, 9px) rotate(-45deg);
}
.btn_nav span::after {
	bottom: -9px;
}
.btn_nav.btn_nav-active span::after {
	transform: translate(0px, -9px) rotate(45deg);
}
.nav li a {
	display: block;
	color: #a5b3bb;
	font-size: 16px;
	padding: 17.5px 0;
	position: relative;
}
.nav__mob li a {
	text-align: center;
}
.nav li a.active {
	color: #75858f;
}
.nav li a.active::before {
	content: "";
	position: absolute;
	left: -55px;
	top: 0;
	height: 100%;
	width: 6px;
	background-image: linear-gradient(to bottom, #f0b93c, #f9e03f);
}
.nav__mob {
	display: none;
	padding-left: 20px;
}

.menu {
	position: absolute;
	top: 65px;
	left: 430px;
	z-index: 1
}
.menu__nav {
	list-style: none;
}
.menu__nav li {
	display: inline-block;
}
.menu__nav li a {
	color: #a5b3bb;
	display: block;
	padding: 10px 32px 10px 0;
}


.left-col__buttons {
	width: 230px;
	max-width: 100%;
}
.nav__desctop.left-col__buttons {
	margin-left: -200%;
}
.left-col__buttons .btn {
	margin-bottom: 18px;
}

.left-col__copy {
	font-size: 14px;
	color: #a5b3bb;
	line-height: normal;
	letter-spacing: 0px;
	max-width: 230px;
}
.nav__desctop.left-col__copy {
	margin-left: -200%;
}


.content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.content .page {
    background: #F3F7FA;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -120%;
	padding-left: 430px;
	opacity: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	align-items: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	
	-webkit-animation-name: page-close;
	-o-animation-name: page-close;
	animation-name: page-close;

	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s; 

	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards; 
}
.content .page.item-center {
	justify-content: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: center;
	-ms-flex-pack: justify;
}
.content .page.item-rows {
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
}
.content .page.open {
	animation-name: page-open;
	animation-duration: 1s; 
	animation-fill-mode: forwards; 
}
/*.page.login-page {
	-ms-align-items: center;
	align-items: center;
}*/

@keyframes page-open { 
	0% { left: -120%; opacity: 0; } 
	1% { left: 120%; opacity: 0; } 
	2% { left: 120%; opacity: 1; }  
	100% { left: 0%; opacity: 1; } 
}

@keyframes page-close { 
	0% { left: 0%; opacity: 1; } 
	100% { left: -120%; opacity: 0; } 
}

.page .page-in {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	align-items: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
}
.page__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	align-items: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	height: calc(100% - 96px);
}

.item {
	width: 31%;
	max-width: 436px;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(165, 179, 187, 1);
	height: 100%;
	cursor: pointer;
}
.login-page .item {
	max-height: 768px;
}
.item__title {
	width: 100%;
	padding: 24px 44px 18px;
	background-color: #eaeef1;
	color: #75858f;
	font-size: 24px;
	position: relative;
	z-index: 2;

	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item__title:hover {
	white-space: normal;
}
.item__content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	padding: 108px 42px 0;
	overflow-y: auto;
	z-index: 0;
}
.input-item {
	padding: 28px 42px 19px;
	background-color: #fff;
	/*
	background-image: linear-gradient( 180deg, #fff 0%, #fff 90%, transparent 60%, transparent  60%);
	*/
	position: relative;
	z-index: 1;
}
.support-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: space-between;
	padding-bottom: 70px !important;
}

.support-info .item__content--info {
	width: 100%;
}

.support-info .item-title {
	margin-bottom: 10px !important;
}

.item__content table {
	width: 100%;
	border-spacing: 0 20px;
}
.item__content table td,
.item__content table th {
	width: 50%;
	color: #75858f;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}
.item__content table td {
	height: 62px;
	position: relative;
}
.item__content table td:nth-child(2),
.item__content table th:nth-child(2) {
	text-align: right;
	padding-right: 25px;
}
.item__content table td:nth-child(1) {
	padding-left: 66px;
}
.item__content table td:nth-child(1)::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom,  #f0b93c, #f9e03f);
	display: none;
}
.item__content table td:nth-child(2) {
	font-size: 14px;
}
.item__content table td:nth-child(1) span {
	position: absolute;
	height: 28px;
	width: 34px;
	top: calc(50% - 14px);
	left: 15px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: .3;
}
.item__content table td:nth-child(2) span {
	position: absolute;
	width: 9px;
	height: 12px;
	top: calc(50% - 6px);
	left: 50px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.item__content table td:nth-child(2) span.arrow-top {
	background-image: url(../img/arrow-top.png);
}
.item__content table td:nth-child(2) span.arrow-bottom {
	background-image: url(../img/arrow-bottom.png);	
}
.item__content tbody tr:hover,
.item__content tbody tr.active {
	background-color: #eaeef1;
}
.item__content tbody tr:hover td:nth-child(1)::before,
.item__content tbody tr.active td:nth-child(1)::before {
	display: block;
}
.item__content tbody tr:hover td span,
.item__content tbody tr.active td span {
	opacity: 1;
}
.item__content table td span.bitcoin {
	background-image: url(../img/currency/bitcoin.png);
}
.item__content table td span.ethereum {
	background-image: url(../img/currency/ethereum.png);
}
.item__content table td span.litecoin {
	background-image: url(../img/currency/litecoin.png);
}
.item__content table td span.dash {
	background-image: url(../img/currency/dash.png);
}
.item__content table td span.neo {
	background-image: url(../img/currency/neo.png);
}
.item__content table td span.bcc {
	background-image: url(../img/currency/bcc.png);
}
.item__content table td span.sberonline {
	background-image: url(../img/currency/sberonline.png);
}
.item__content table td span.alfabank {
	background-image: url(../img/currency/alfabank.png);
}
.item__content table th {
	padding: 5px 0 10px;
}


.exchange-res {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 26px;
	border-bottom: 1px solid #dbe2e6;
}
.exchange-res__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	padding: 2px 0;
}
.exchange-res::before {
	content: "";
	position: absolute;
	width: 36px;
	height: 36px;
	left: calc(50% - 18px + 15px);
	top: calc(50% - 18px);
	background-image: url(../img/exchange-icon.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.exchange-res__currency {
	position: relative;
	padding-left: 40px;
}
.exchange-res__currency::before {
	content: "";
	position: absolute;
	width: 34px;
	height: 28px;
	left: 0;
	top: calc(50% - 14px);
	background-position: 0% 50%;
	background-repeat: no-repeat;
}
.exchange-res__currency--btc::before {
	background-image: url(../img/currency/bitcoin.png);
}
.exchange-res__currency--rub::before {
	background-image: url(../img/currency/rub.png);
}
.exchange-res__sum {
	font-size: 14px;
	line-height: 16px;
}


.item__content--title {
	display: block;
	margin-bottom: 16px;
}
.item__content--text {
	display: block;
	font-size: 20px;
	color: #384045;
	margin: 0 0 16px;
}
.item__content--messanger {
	padding: 12px 0 26px;
	display: flex;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
input[type="checkbox"] + label {
  position: relative;
  padding: 0 5px 0 30px;
  cursor: pointer;
}
input[type="checkbox"]#checkbox-telegram + label {
	margin-right: 80px;
}
input[type="checkbox"]#checkbox-agree + label {
	color: #a5b3bb;
}
input[type="checkbox"] + label span {
	opacity: .5;
}
input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  background: #eaeef1;
  border: none;
}
input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
input[type="checkbox"]:checked + label span {
	opacity: 1;
}
input[type="checkbox"]:checked + label:before {
  background: linear-gradient(to bottom, #f0b93c, #f9e03f);
  border: none;
}
input[type="checkbox"]#checkbox-agree:checked + label:before {
	background: #a5b3bb;
}
input[type="checkbox"]:checked + label:after {
  background-image: url(../img/checked-icon.png);
}

select, textarea {
	display: block;
    width: 100%;
    height: 62px;
    padding: 10px 10px 10px 24px;
    background-color: #eaeef1;
    font-size: 16px;
    color: #000;
    margin-bottom: 19px;
    outline: none;
    border: none;
    cursor: pointer;
}
select {
	-webkit-appearance: none;
	background-image: url('/images/stories/select-arrow-pink.png');
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 1em;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	/*for WebKit*/
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	background-image: url('../img/down-arrow.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
select::-ms-expand {
	display: none;
}
select::-ms-expand {
  display: none;
}
option {color: #384045;padding:10px 10px 10px 24px;line-height: 20px;}
textarea {
	min-height: 450px;
}

.item__content--agreement {
	margin-top: 20px;
}
.item__content--agreement a {
	color: #a5b3bb;
	text-decoration: underline;
}
.item__content--agreement span {
	color: #a5b3bb;
}


.grey-block {
	display: block;
	width: 100%;
	background-color: #eaeef1;
	font-size: 24px;
	color: #384045;
	padding: 16px 10px 16px 26px;
	position: relative;
}
.grey-block::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom, #f0b93c, #f9e03f);
}

.feedback__stars {
	padding: 10px 0; 
}
.feedback__stars .stars {
	width: 26px;
	height: 26px;
	background-image: url(../img/star_white.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}
.feedback__stars .stars.stars__active {
	background-image: url(../img/star.png);
}



/*.content .page {
	display: none;
}*/


.main-page {
	padding: 120px 90px 120px 0; 
}
.main-page table {
	margin-top: 80px;
}
.main-page .item {
	opacity: 0;
	animation-name: main-page-items;
	animation-duration: .8s;
	animation-delay: 7.2s;
	animation-fill-mode: forwards;
}
.main-page .item-send {
	animation-delay: 6.4s;
}
.main-page .item-get {
	animation-delay: 6.8s;
}

@keyframes main-page-items {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


.content .registration-page {
	padding: 160px 0 160px 430px;
}
.registration-form {
	padding-top: 30px;
}
.registration-form button {
	margin-top: 32px;
}


.content .partners-page {
	padding: 120px 30px 124px 430px;
}
.partners-page .page__items {
	margin-right: -30px;
}
.partners-page .item {
	cursor: -webkit-grab; 
	cursor: grab;
}
.partners-page .item:focus,
.partners-page .item:active {
	cursor: -webkit-grabbing; 
	cursor: grabbing;
}
.partners-page .item__content {
	padding-top: 150px;
}
.partners-page .item__content--title {
	margin-bottom: 30px;
}
.partners-page .grey-block {
	margin-bottom: 50px;
}
.partners-page .grey-block:last-child {
	margin-bottom: 0;
}




.content .conditions-page {
	padding: 120px 0px 124px 430px;
}
.conditions-page .item {
	width: 66%;
	max-width: 917px;
}
.item__content_row {
	padding-bottom: 30px;
}
.item__term,
.item__definition {
	display: inline;
}
.item__term {
	font-weight: bold;
}


.content .about__service-page {
	padding: 120px 0px 124px 430px;
}
.content .about__service-page .item {
	min-width: 430px;
}


.content .questions-page {
	justify-content: space-evenly;
	padding: 120px 0px 124px 430px;
}
.questions-page .item:last-child {
	width: 62%;
	max-width: 917px;
	position: relative;
}
.item__answers__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.item__answers__active {
	display: block;
}
.questions-page li {
	margin-bottom: 18px;
}
.questions-page a {
	color: #75858f;
	border-bottom: 1px solid #75858f;
}
.questions-page a.active_link {
	font-weight: bold;
}


.content .feedback-page {
	padding: 120px 0px 124px 430px;
}
.feedback-page .item {
	height: calc(100% - 46px);
}
.feedback-page .item__content--title {
	min-height: 120px;
}


.content .contacts-page {
	padding: 120px 0px 124px 430px;
}
.contacts-page .item {
	max-height: 570px;
	margin: 0 25px;
}
.contacts-page .item .item__content--title {
	margin-top: 50px;
	margin-bottom: 10px;
}
.contacts-page .item .item__content--title:first-child {
	margin-top: 0;
	margin-bottom: 65px;
}
.contacts-page .item:last-child .item__content--title:first-child {
	margin-top: 0;
	margin-bottom: 36px;
}
.contacts-page .item:last-child .item__content--title:nth-child(2) {
	margin: 10px 0 10px 30px;
}
.contacts-page button {cursor: pointer;}



.content .reg__aplication-page {
	padding: 160px 0 160px 430px;
}
.reg__aplication-page .item {
	min-width: 430px;
}


.content .aplication-page {
	padding: 120px 86px 110px 430px;
}
.content .aplication-page .mob-slider
.aplication-page .item__content {
	padding-bottom: 20px;
}
.aplication-page .exchange-res {
	margin-bottom: 0;
	border-bottom: none;
}
.aplication-page .exchange-res__sum {
	/*padding-top: 8px;*/
}
.exchange-res__item:nth-child(2) {
	padding-top: 8px;
}
.aplication-page .item__content--title {
	margin-top: 14px;
	margin-bottom: 8px;
}
.aplication-page .grey-block {
	font-size: 16px;
}
.aplication-page .item:nth-child(3) .grey-block {
	color: #000000;
	text-transform: uppercase;
}
.aplication-page .exchange-res {
	padding-bottom: 0;
}
.aplication-page .exchange-res::before {
	top: calc(50% - 18px);
	left: calc(50% - 18px + 5px);
}
.aplication-page .item__content--middle {
	margin: 35px 0 50px;
	font-size: 14px;
}
.aplication-page .item {
	opacity: 0;
	animation-name: aplication-page-items;
	animation-duration: .8s;
	animation-delay: 6.4s;
	animation-fill-mode: forwards;
}
.aplication-page .item-2 {
	animation-delay: 6.8s;
}
.aplication-page .item-3 {
	animation-delay: 7.2s;
}

@keyframes aplication-page-items {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


.content .programs-page {
	justify-content: flex-start;
	padding: 120px 0px 124px 430px;
}
.programs-page .page-in {
	justify-content: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: justify;
}
.programs-page .item {
	margin-right: 46px;
	min-width: 440px;
}
.programs-page .item__content--title-first {
	margin-bottom: 80px;
}
.programs-page .grey-block-middle {
	font-size: 16px;
}
.programs-page .item__content--title-middle {
	margin: 25px 0 30px;
}
.item__content--social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
}
.item__content--social a {
	width: 75px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center center;
}
.item__content--social a.ic_fb {
	background-image: url(../img/fb.png);
	background-color: #35508b;
}
.item__content--social a.ic_vk {
	background-image: url(../img/vk.png);
	background-color: #4f7397;
}
.item__content--social a.ic_tw {
	background-image: url(../img/tw.png);
	background-color: #59adec;
}
.item__content--social a.ic_tg {
	background-image: url(../img/tg.png);
	background-color: #1589ca;
}

.content .settings-page {
	justify-content: flex-start;
	padding: 120px 88px 110px 430px;
}

.settings-page .grey-block {
	padding: 0;
}
.settings-page .grey-block ::-webkit-input-placeholder { color: #000; font-size: 24px; opacity: 1; }
.settings-page .grey-block ::-moz-placeholder          { color: #000; font-size: 24px; opacity: 1; } 
.settings-page .grey-block :-moz-placeholder           { color: #000; font-size: 24px; opacity: 1; } 
.settings-page .grey-block :-ms-input-placeholder      { color: #000; font-size: 24px; opacity: 1; }
.settings-page input[type="checkbox"] + label span {opacity: 1;}
.settings-page input[type="checkbox"] + label {padding: 0 0 0 40px;}
.settings-page input[type="checkbox"] + label:before,
.settings-page input[type="checkbox"] + label:after {
	width: 30px;
	height: 28px;
    top: calc(25% - 7.5px);
}
.settings-page .btn.btn-bold {
    position: absolute;
    bottom: 35px;
    width: calc(100% - 84px);
    left: 42px;
}
.settings-page .item__content {
	height: calc(100% - 120px);
}

.content .get_feedback-page {
	padding: 200px 0px 110px 430px;
}
.get_feedback-page .item {
	max-width: 917px;
	width: 90%;
}
.get_feedback-page .feedback__stars {
	margin: auto;
	width: 145px;
}
.get_feedback-page .item__content {
	padding-bottom: 55px;
}
.content .get_feedback-page {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}



.not-work-page {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
	background-color: #fff;
	display: none;
}
.not-work-page.open {
	display: block;
}
.not-work-page__inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;

	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;	

	justify-content: space-around;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-around;
	-ms-flex-pack: justify;
}

.not-work-page p {
	font-size: 28px;
	text-align: center;
}


.item-thanks {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	display: none;
}
.item__close {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 30px;
	right: 30px;
	z-index: 2;
	cursor: pointer;
}
.item-thanks .item__close {
	z-index: 4
}
.item__close--line {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: calc(50% - 1px);
	background-color: #75858f;
	transform: rotate(42deg);
}
.item__close--line:last-child {
	transform: rotate(-42deg);
}

.item-thanks__text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 80px 40px 40px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;

	justify-content: space-around;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-around;
	-ms-flex-pack: justify;
}

.item-thanks__par-1 {
	font-size: 24px;
	line-height: 34px;
}
.item-thanks__par-1 span {
	font-size: 24px;
	color: #000000;
	font-weight: bold;
}


.item__delete-data {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 3;
	display: none;
}
.item__delete-data .item__title {
	padding-right: 50px
}
.item__delete-data-text {
	/*position: absolute;*/
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 30px 44px 40px;

}
.item__delete-data .btn.btn-bold {
	position: static;
	width: 100%;
	margin-top: 100px;
}

/* validation error */
.validation {
	border: 1px solid transparent;
}
.validation--error {
	animation-name: errorNotification;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
@keyframes errorNotification {
    0% {
    	border: transparent 1px solid;    
    }
    100% {
    	border: red 1px solid;
    }
}
.item__answers__inner img {
	width: 100%;
}
@media (max-width: 480px) {
	.nav__mob {
		padding-left: 0; 
		height: 100vh;
	}
}
.feedback-page .item {
	cursor: -webkit-grab;
}



.item__content tbody tr td {
	background: #fff;
	height: 30px !important;
	overflow: hidden;
	padding-top: 10px !important;
	padding-bottom: 10px !important;		 
}
.item__content tbody tr:hover td, .item__content tbody tr.active td{
	background: #eaeef1;
}
@media (max-width: 480px) {
	.item__title {
	    padding: 14px 15px 10px !important;
	}
	.item__content {
		padding-top: 55px !important;
		padding-bottom: 10px !important; 
	}
}
.item__head {
	display: flex;
	background: #fff;

	z-index: 10;
	position: relative;
}
.item__head--left {
	width: 70%;
    padding-left: 20px;
}
.item__head--right {
	padding-left: 0
}

.order-item {
	z-index: 100;
    background: #fff;
    box-shadow: 0 0 3px rgba(165, 179, 187, 1);
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;

    transition: 0.5s all;
}
.order-item:after {
    content: "▲";
    position: absolute;
    transform: scale(4, -1.5) translate(0px, -21px);
    color: #fff;
    text-shadow: 0px -2px 1px rgba(165, 179, 187);
}