
/* ==================== common styles ======================= */

html {
  font-size: 10px;
  /*used for rem-units*/
}

body {
  min-width: 320px;
  overflow-x: hidden;
  color: #333;
  font-family: $reg;
  background: #fff9fa;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .5);
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  outline: none;
  border: none;
}

input,
input:focus {
  outline: none;
}

/*remove default arrow in number-input*/
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

::placeholder {
  color: #888;
}

section {
  position: relative;
  padding: 20px 0;
}

.wrapper {
  position: relative;
  width: 1110px;
  max-width: 96%;
  margin: 0 auto;

  outline: 1px solid cyan;
}

h2 {
  font-size: 36px;
  color: #000;
  font-family: $bold;
}

/*------------------------------ header ------------------------------*/
.header {
  position: relative;
  background-color: #c5c5c5;
  min-height: 590px;
  overflow: hidden;
  // background-image: url(../img/commonImgs/main.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -67px;
    width: 100%;
    height: 213px;
    background-image: url(../img/commonImgs/clouds.png);
    background-repeat: repeat-x;
  }
  
}
.main-img {
  width: 100%;
  min-width: 1700px;
}
.header-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1110px;
  max-width: 96%;
  height: 100%;
  padding: 5rem 0 0;
  // height: 100vh;
  // max-height: 700px;
  // justify-content: space-between;
  // align-content: space-between;
  // flex-wrap: wrap;
  // &:after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 3px;
  //   background: #f00;
  // }
}

.header-top {
  width: 100%;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.desktop-header-nav ul{
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  li {
    margin-right: 28px;
  }
  a {
    border-bottom: 1px solid transparent;
    transition: all .4s;
    &:hover {
      border-bottom-color: #fff;
    }
  }
}
.header-link  {
  position: relative;
  display: inline-block;
  height: 46px;
  text-transform: uppercase;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;

  .call-btn {
    font-family: $med;
    font-size: 12px;
    letter-spacing: 2.3px;
    border-bottom: 1px solid #fff;
    transition: all .4s;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}



.order-price-container {
  font-family: $reg;
  font-size: 10px;
}

.header-link-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50px;
  height: 46px;
  background-repeat: no-repeat;
}

.header-link-phone {
  line-height: 1.2;
  padding-left: 54px;
  a {
    font-size: 20px;
  }

  .header-link-icon {
    background-image: url(../img/contactsIcons/whatsapp.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.header-link-order {
  letter-spacing: 2px;
  padding-left: 48px;
  margin-left: 67px;
  .header-link-icon {
    background-image: url(../img/commonImgs/cart.png);
  }
}

.order-price-container {
  white-space: nowrap;
  text-transform: lowercase;
  position: absolute;
  top: 3px;
  right: 20px;
  letter-spacing: 0;
}


.header-center {
  position: absolute;
  left: 0;
  top: 20%;
  //transform: translateY(-50%);

}

.header-logo {
  display: block;
  margin-bottom: 2.2rem;
}

.header-text {
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 20px;
}

.button {
  display: block;
  border: none;
  outline: none;
  font-family: $med;
  font-size: 12px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  background: $pink1;
  cursor: pointer;
  transition: all .4s;
  &:hover {
    background: $pink2;
  }
}

.header-call-btn {
  width: 255px;
  background: #ff568b;
  letter-spacing: 2.4px;
  font-family: $reg;
}


.mob-menu-btn {
    position: fixed;
    top: 24px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: #ff568b;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    z-index: 3;
    //display: none;
    span {
      display: block;
      background: #fff;
      position: absolute;
      top: 19px;
      left: 8px;
      right: 8px;
      height: 2px;
      border: none;
      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
      }
      &:before {
        top: -10px;
      }
      &:after {
        top: 10px;
      }
    }
}

/*------------------------------ advantages-section ------------------------------*/

.advantages-section {
  text-align: center;
  padding: 2rem 0 5rem;
  .wrapper {
    outline: none;
  }
  
  h2 {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -23px;
      transform: translateX(-50%);
      height: 10px;
      width: 107%;
      background-image: url(../img/commonImgs/heading-decor.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

.adv-container {
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 27px;
  padding: 3.9rem 1rem 3.6rem;
  box-shadow: 0 0 40px #f9e7ea;
}

.adv-item {


  width: 25%;
  padding: 10px 10px;
  p {
    font-family: $bold;
    color: #464545;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    line-height: 1.9;
    text-align: center;
    max-width: 165px;
    margin: 0 auto;
  }
}

.adv-img-container {
  width: 150px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 auto 14px;
  img {
    vertical-align: middle;
  }
}

/*------------------------------ catalog section ------------------------------*/
.catalog-section {
  text-align: center;
  padding: 1rem 0 2rem;
}
.catalog-section-heading {
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 7.5rem;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -23px;
    transform: translateX(-50%);
    height: 10px;
    width: 105%;
    background-image: url(../img/commonImgs/heading-decor.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.call-us-parag {
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: 5rem;
  a {
    font-family: $bold;
    display: inline-block;
    border-bottom: 1px solid #000;
    transition: all .4s;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}
.cat-inline-list {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
  li {
    margin-left: 20px;
    flex-basis: 27%;
    margin-bottom: 13px;
    a {
      display: block;
      height: 46px;
      line-height: 30px;
      width: 100%;
      text-align: center;
      font-family: $bold;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      color: #fff;
      border-radius: 28px;
      padding: 10px;
      background: #f5cad0;
      transition: all .4s;
      &:hover {
        background: #ffedec;
        color: #f34970;
      }
    }
  }
}

li.birth-girl {
  flex-basis: 280px;
  margin-left: 32px;
}

li.birth-boy{
  flex-basis: 280px;
}

li.birth-foil{
  flex-basis: 445px;
}

li.birth-set {
  flex-basis: 400px;

  margin-left: 0;
}

li.kid-set {
  flex-basis: 320px;
  margin-left: 20px;
  //margin-right: 9px;

}

li.kid-foil {
  flex-basis: 350px;
}

li.discharge-girl {
  flex-basis: 275px;
  margin-left: 32px;
}

li.discharge-boy {
  flex-basis: 280px;
}

li.walking-fig {
  flex-basis: 445px;
}
.catalog-wrapper {

}
.categories-heading {
  font-family: $bold;
  font-size: 36px;
  margin-bottom: 3rem;
  text-align: left;
}

.categories-accordion {
  width: 255px;
  text-align: left;
  li ul {
    display: none;
  }
  >li {
    position: relative;
    width: 100%;
    //height: 56px;
    background: #f5cad0;
    color: #fff;
    transition: all .4s;
    cursor: pointer;
    &:hover {
      background: #ffedec;
      color: #f34970;
    }
    h4 {
      line-height: 56px;
      font-family: $bold;
      font-size: 15px;
      border-bottom: 3px solid #fff9fa;
      >a {
        display: block;
        width: 100%;
        height: 100%;

        padding: 0 17px;
      }
      >span {
        position: relative;
        padding: 0 17px;

      }
    }
    &.active {
      background: #f34970;
      color: #fff;
    }
  }
}

li.extended {

  h4 {

    transition: all .4s;
    >span {
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        right: -35px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 5px 15px rgba(0,0,0,.1);
        background-image: url(../img/commonImgs/shevron-down.png);
        background-repeat: no-repeat;
        background-position: 50% 55%;

        transition: all .4s;
      }
    }
  }
  &.active {
    h4 {
      background: #ffedec;
      color: #f34970;
      >span:after {
        background-color: #ff568b;
        background-image: url(../img/commonImgs/shevron-up.png);
        background-position: 50% 50%;
      }
    }
  }
}

.categories-accordion .hit  h4 {
  text-transform: uppercase;
  font-size: 18px;
}

.new-mark {
  position: absolute;
  right: -3px;
  top: 14px;
}

.extended ul li {
  border-bottom: 3px solid #fff9fa;
  a {
    display: block;
    height: 60px;
    line-height: 40px;
    font-family: $bold;
    font-size: 15px;
    padding: 10px 17px;
    color: #f34970;
    background: #ffedec;
    transition: all .4s;
    &:hover,
    &:active,
    &.active {
      background: #f34970;
      color: #fff;
    }

  }
}

.catalog-items-container {
  position: relative;
  outline: 1px solid red;
  flex-grow: 1;
  padding-left: 3rem;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  &:after {
    content: "";
    display: inline-block;
    width: 255px;
    height: 1px;
  }
}

.product-item {
  position: relative;
  width: 255px;
  text-align: left;
  margin-bottom: 26px;
  
  box-shadow: 0 0 40px #f9e7ea;
  img {
    display: block;
  }
  h4 {
    font-family: $bold;
    font-size: 15px;
    line-height: 1.2;
    max-width: 120px;
    margin-bottom: 7px;
  }
  p {
    font-size: 12px;
    line-height: 1.2;
    font-family: $med;
    letter-spacing: .3px;
    &:first-of-type {
      margin-bottom: 15px;
    }
  }
}
.single-unit-item {
  padding-bottom: 80px;
}
.product-text {
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 26px 9px;
}
.product-desc {
  width: 100%;
}
.cost {
  font-family: $bold;
  font-size: 18px;
  margin: 11px 9px 13px 0;
  text-align: center;
}
.product-action {
  position: absolute;
  bottom: 14px; 
  left: 0;
  width: 100%;
  text-align: center;
}
.mult {
  font-size: 7px;
  color: #b3b3b3;
  margin-right: 9px;
}


.single-item-form {
  word-spacing: 0;
  input[type="submit"] {
    display: inline-block;
    border: none;
    outline: none;
    width: 73px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    background: #f34970;
    font-family: $bold;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    margin-left: -3px;
    border-radius: 0 17px 17px 0;
    transition: all .4s;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
      background: #c0194d;
    }
  }
}

.count-container {
  padding: 0 5px;
  border: 1px solid #eaeaea;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
 

  input[type="number"] {
    border: none;
    outline: none;
    width: 21px;
    font-size: 10px;
    text-align: center;
    color: #989696;
    font-family: $bold;
  }
}

.minus,
.plus {
  color: #989696;
  cursor: pointer;
}

.set-item {
  padding-bottom: 130px;
  h4 {
    margin-bottom: 5px;
  }
  .product-text {
    padding: 20px 45px 5px;
  }
}

.set-action {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
}
.set-form {

  label {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    font-family: $bold;
    color: #aeaeae;
    border: 1px solid #e8e8e8;
    border-radius: 9px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: all .7s;
  }
  input[type="submit"]{
    width: 120px;
    height: 35px;
    margin: 11px auto 0;
    line-height: 35px;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: #f34970;
    transition: all .4s;
    &:hover {
      background: #c0194d;
    }
  }
}
.toggler-area {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 40px;
  height: 17px;
  border-radius: 9px;
  background: #ffefee;
  box-shadow: inset 0 0 10px rgba(0,0,0, .3);
}

.toggler {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 17px;
  border-radius: 9px;
  left: 0px;
  
  background: #ffefee;
  box-shadow: inset 0 0 10px rgba(0,0,0, .3);
  transition: all .4s;
  img {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: -2px 3px 10px rgba(0,0,0,.5);
    transition: all .4s;
  }
}
.set-form input[type="radio"]:checked+label {
  color: #716f6f;
}
.set-form input[type="radio"]:checked+label .toggler {
  background: #f1486f;
  width: 40px;

  img {
    box-shadow: 2px 3px 10px rgba(0,0,0,.5);
  }
}
.set-variant {
  flex-grow: 1;
  text-align: center;
}

.load-more-container {
  width: 100%;
  text-align: center;
  margin: 18px 0 20px;
}
.load-more-btn {
  display: inline-block;
  width: 280px;
  height: 47px;
  line-height: 47px;
  font-size: 11px;
  letter-spacing: 3.2px;


}


/*------------------------------ about balloons section ------------------------------*/

.about-balloons-section {
  padding: 1.5rem 0 1.5rem;
  .wrapper {
    justify-content: flex-end;
  }
}

.about-balloons-content {
  width: 825px;
  
}
.about-block {
  background: #fff;
  border-radius: 27px;
  box-shadow: 0 0 40px #f9e7ea;
  padding: 4rem 6.5rem 4.3rem;
  h2 {
    font-size: 30px;
    margin-bottom: 2.7rem;
  }
}
.about-text {

  padding-left: 30px;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  p {
    margin-bottom: 2.4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

}

.locations-container {
  padding: 6rem 0 1rem;
  justify-content: space-between;
}

.locations-list {
  flex-basis: 350px;
  li {
    margin-bottom: 30px;
  }
  a {
    font-size: 18px;
    font-family: $bold;
    color: #333;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all .4s;
    letter-spacing: -.1px;
    &:hover {
      border-bottom-color: #333;
    }
  }
}

/*------------------------------ footer ------------------------------*/
.footer{
  padding: 4.5rem 0 5rem;
  background: #292929;
}

.footer-top {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  align-content: center;
  margin-bottom: 5px;
  padding-left: 4px;

}

.footer-logo {
  position: relative;
  top: -5px;
  max-width: 232px;
  img {
    max-width: 100%;
  }
}
.footer-nav {
  padding: 9px 0;
}
.footer-nav a {
  font-family: $bold;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all .4s;
  &:hover {
    border-bottom-color: #fff;
  }
}

.footer-nav {
  li {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
    padding: 14px 0;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.footer-top-right {
  -ms-align-items: center;
  align-items: center;
  margin-left: 20px;
}

.footer-link-phone {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  font-family: $bold;
  color: #fff;
  font-size: 18px;
  padding-left: 35px;
  background-image: url(../img/contactsIcons/whatsapp.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 27px 27px;
  margin-right: 30px;
}

.footer-link-order {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 40px;
  background-image: url(../img/commonImgs/cart.png);
  -webkit-background-size: contain;
  background-size: contain;
  >span {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #fff;
    white-space: nowrap;
  }
}

.footer-bottom {
  text-align: right;
}
.payments-block {
  display: inline-block;
  h5 {
    font-size: 14px;
    font-family: $med;
    color: #575757;
    margin-bottom: 8px;
    transition: all .4s;
  }
  &:hover {
    h5 {
      filter: brightness(200%);
    }
  }
}

.payments-methods {
  li {
    display: inline-block;
    margin-left: 9px;
  }
  a {
    transition: all .4s;
    &:hover {
      filter: brightness(200%);
    }
  }
}