/* ==================== Media queries ======================= */

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1700px) {
  .main-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width : 1300px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width : 1199px) {
  .main-img {
    left: 40%;
  }
  .desktop-header-nav ul {
    font-size: 15px;
  }
  .header-logo {
    max-width: 520px;
  }

  .header-link-order {
    margin-left: 35px;
  }
  .catalog-wrapper {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .categories-accordion-wrapper,
  .categories-accordion {
    width: 100%;
  }
  .categories-accordion > li {
    display: inline-block;
    width: 33%;
  }
  .categories-accordion li ul {
    position: absolute;
    width: 100%;
    z-index: 2;
    //box-shadow: 0 0 20px #fff;
    border: 8px solid #fff;
  }
  .categories-accordion > li h4 {
    line-height: 40px;
  }
  .new-mark {
    top: 5px;
  }
  .categories-accordion > li h4,
  .extended ul li a {
    font-size: 13px;
  }
  .categories-accordion .hit h4 {
    font-size: 14px;
  }
  .extended ul li a {
    height: 40px;
    line-height: 20px;
  }
  .categories-accordion > li h4 > span,
  .categories-accordion > li h4 > a {
    padding: 0 8px;
  }

}



/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .desktop-header-nav {
    display: none;
  }

  .mob-menu-btn {
    display: block;
  }
  .main-img {
    min-width: 1500px;
    opacity: .6;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  h2 {
    font-size: 30px;
  }
  .header {
    min-height: 520px;
  }
  .main-img {
    min-width: 1300px;
    left: 20%;
  }
  .categories-accordion > li {
    width: 49.8%;
  }
  .adv-item{
    width: 50%;
  }

}

@media only screen and (max-width : 600px) {
  .header-logo {
    max-width: 90%;
  }
  .header-text {
    line-height: 1.2;
    p {
      margin-bottom: 10px;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  h2 {
    font-size: 28px;
  }
  .categories-accordion > li {
        width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {
  .adv-item{
    width: 100%;
  }
}

@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
