/*-------------------------------
preloader
--------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	overflow: hidden;
	z-index: 999;
}

.loader_inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100px;
	height: 60px;
}

.loader_line_wrap {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100px;
	height: 50px;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	overflow: hidden;
	-webkit-animation: preloader_anim 2s cubic-bezier(.175, .885, .32, 1.275) infinite;
	animation: preloader_anim 2s cubic-bezier(.175, .885, .32, 1.275) infinite;
}


.loader_line {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 2px solid transparent;
	border-radius: 100%;
	margin: 0 auto;	
}

.loader_line_wrap:nth-child(1) { -webkit-animation-delay: -50ms; animation-delay: -50ms; }
.loader_line_wrap:nth-child(2) { -webkit-animation-delay: -100ms; animation-delay: -100ms; }
.loader_line_wrap:nth-child(3) { -webkit-animation-delay: -150ms; animation-delay: -150ms; }
.loader_line_wrap:nth-child(4) { -webkit-animation-delay: -200ms; animation-delay: -200ms; }
.loader_line_wrap:nth-child(5) { -webkit-animation-delay: -250ms; animation-delay: -250ms; }

.loader_line_wrap:nth-child(1) .loader_line {
	border-color: #9D0F17;
	height: 90px;
	width: 90px;
	top: 7px;
}
.loader_line_wrap:nth-child(2) .loader_line {
	border-color: #E4B200;
	height: 76px;
	width: 76px;
	top: 14px;
}
.loader_line_wrap:nth-child(3) .loader_line {
	border-color: #00912C;
	height: 62px;
	width: 62px;
	top: 21px;
}
.loader_line_wrap:nth-child(4) .loader_line {
	border-color: #00BCDB;
	height: 48px;
	width: 48px;
	top: 28px;
}
.loader_line_wrap:nth-child(5) .loader_line {
	border-color: #0000FF;
	height: 34px;
	width: 34px;
	top: 35px;
}

@-webkit-keyframes preloader_anim {
	0%, 15% { -webkit-transform: rotate(0); transform: rotate(0); }
	100% {	-webkit-transform: rotate(360deg);	transform: rotate(360deg);	}
}

@keyframes preloader_anim {
	0%, 15% { -webkit-transform: rotate(0); transform: rotate(0); }
	100% {	-webkit-transform: rotate(360deg);	transform: rotate(360deg);	}
}

/*===========================================
							preloader end
===========================================*/

@import "compass/reset";

$main-font: "Open Sans", sans-serif;
$main-color: #333;
$accent-color: #157B4E;
$hover-color:  #00361C;
$font-size: 15px;

@mixin box-shadow($x, $y, $blur, $color){
	-webkit-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin transition($property, $duration, $timing, $delay){
	-webkit-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #98FED1;
	background: -webkit-gradient(linear, left top, right top, from(#98FED1), color-stop(30%, #FFF), color-stop(70%, #FFF), to(#98FED1));
	background: -webkit-linear-gradient(left, #98FED1, #FFF 30%, #FFF 70%, #98FED1);
	background: -o-linear-gradient(left, #98FED1, #FFF 30%, #FFF 70%, #98FED1);
	background: linear-gradient(90deg, #98FED1, #FFF 30%, #FFF 70%, #98FED1);
	font-family: $main-font;
	color: $main-color;
	margin: 0;
	padding: 0;
}

p {
	margin: 10px;
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
}

.wrap-site{
	background-color: #FFF;
	max-width: 1680px;
	min-width: 320px;
	margin: 0 auto;
	padding-top: 65px;
	@include box-shadow(0, 2px, 5px, #555);
}

a{
	color: $main-color;
	text-decoration: none;
	outline: 0;
	&:active,
	&:focus,
	&:hover {
		color: $main-color;
		text-decoration: none;
		outline: 0;
	}
}

.site-header {
	background-color: rgba(255,255,255, .9);
	margin: 0;
	padding: 5px;
	max-width:1680px;
	width: 100%;
	min-height: 55px;
	position: fixed;
	top: 0;
	z-index: 3;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;

	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;

	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;

	img {
		max-height: 52px;
	}
}

.top-menu {
	ul {
		margin: 0;
		padding: 0;
		white-space: nowrap;
		li {
			margin: 0 10px;
			text-transform: uppercase;
			display: inline-block;

			a{
				color: $accent-color;
				font-weight: 900;
				border-bottom: 1px solid transparent;
				@include transition(all, .7s, ease, 0s);
				&:hover{
					color: $hover-color;
					border-color: $hover-color;
				}
			}
		}
	}
}

.btn-menu {
	display: none;
}

.hidden-menu {
	display: none;
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
	left: 0;
	top:0;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		height: 100%;

		display: -webkit-flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;

		-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-flow: column nowrap;

		-webkit-justify-content: center;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;

		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;

		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		-webkit-box-align: stretch;
		align-items: stretch;

		li {
			a {
				display: block;
				margin: 40px auto;
				color: #fff;
			}
		}
	}
}

.top-phone {
	font-size: $font-size*1.1;
	white-space: nowrap;
}

.btn-menu {
	text-align: center;
	width: 60px;
	line-height: 60px;
	height: 60px;
	background-color: #fff;
	color: $accent-color;
	cursor: pointer;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5;
	font-size: $font-size*2;
	@include transition( all, .7s, ease, 0s);
	&:hover {
		color: $hover-color;
	}
}

.line {
	width: 95%;
	margin: auto;
	height: 1px;
	background-color: #DDD;
}

.movement-section,
.offers-section,
.categories-section,
.routes-section,
.contacts-section {
	padding: 30px 10px;
}

.main-title {
	font-size: $font-size*2;
	letter-spacing: 4px;
	margin: 0;
	padding: 10px 20px;
}

.main-img-cont {
	height: 450px;
	overflow: hidden;
	/* @include box-shadow(0, 2px, 5px, #555);*/
}

.main-img {
	margin-top: -130px;
	height: 150%;
	background: url(../img/bg_lg.jpg) no-repeat;
	background-position: 0% 0%;
}

#js-slick .item {
	margin: 5px;
}

#js-slick .item img {
	display: block;
	width: 100%;
	height: auto;
	@include box-shadow(0, 2px, 5px, #333);
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: $font-size*1.3;
	font-weight: 900;
	margin: 10px;
	color: $accent-color;
}

.container {
	width: 95%;
	margin: 0 auto;
	max-width: 1200px;
}

.movement-desc {
	margin: 40px 10px 20px;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;

	-moz-column-rule: 1px solid $accent-color;
	-webkit-column-rule: 1px solid $accent-color;
	column-rule: 1px solid $accent-color;

	p {
		margin: 0 10px;
	}
}

.wrap-offers {
	max-width: 960px;
	margin: 0 auto;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;

	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;

	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;

	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

.offer-item {
	text-align: center;
	width: 280px;
	margin: 20px;
	p {
		text-indent: 0;
	}
	img {
		width: 200px;
		height: 200px;
		@include box-shadow(0, 2px, 7px, #555);
		@include border-radius (50%);
	}
}

.item-title {
	color: $accent-color;
	text-transform: uppercase;
	font-size: $font-size*1.1;
	margin: 10px auto 5px;
}

.categories-tabs {
	text-align: center;
}

li.r-tabs-state-active a {
	background: $accent-color;
	color: #fff;
}

.r-tabs-anchor {
	display: inline-block;
	text-align: center;
	margin: 10px;
	padding: 5px 10px;
	color: $accent-color;
	border: 1px solid $accent-color;
	@include border-radius(3px);
	@include transition(all, .5s, ease, 0s);
	&:hover {
		color: $hover-color;
		border-color: $hover-color;
	}
}
.categories-item-img {
	img {
		display: block;
		margin: auto;
		max-width: 96%;
		max-height: 400px;
		@include border-radius(5px);
		@include box-shadow(0, 5px, 7px, #555);
	}
}

.categories-item-desc {
	padding: 20px 0 0;

	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;

	-moz-column-rule: 1px solid $accent-color;
	-webkit-column-rule: 1px solid $accent-color;
	column-rule: 1px solid $accent-color;

	p {
		margin: 0 10px;
	}
}

.routes-item {
	margin: 20px 0;
	padding:15px;
	border: 1px solid $accent-color;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row nowrap;

	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	-webkit-box-pack: start;
	justify-content: flex-start;

	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;

	-ms-flex-line-pack: stretch;
	-webkit-align-content: stretch;
	align-content: stretch;

	@include border-radius(5px);
	img {
		display:  block;
		margin: auto;
		width: 300px;
		height: 200px;
		@include border-radius(5px);
		@include box-shadow(0, 5px, 7px, #555);
	}
}

.routes-item h3 {
	text-align: center;
	margin: 20px 10px 10px;
}

.routes-item-desc {
	padding: 0 15px;
	max-width: calc(100% - 300px);
	
	p {
		font-style: italic;
		font-size:  $font-size * 0.9;
		margin: 0 10px;
	}
	.desc-text {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}

}

.routes-item-line {
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($accent-color), to(transparent)) ;
	background: -webkit-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: -o-linear-gradient(left, transparent, $accent-color, transparent) ;
	background: linear-gradient(90deg, transparent, $accent-color, transparent) ;
	height: 12px;
	margin-top: 10px;
}

.wrap-contacts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row nowrap;

	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;

	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;

	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

#map {
	height: 450px;
	@include box-shadow(0, 5px, 7px, #555);
	-webkit-flex: 0 1 49%;
	-ms-flex: 0 1 49%;
	-webkit-box-flex: 0;
	flex: 0 1 49%;
}

.wrap-form {
	-webkit-flex: 0 1 49%;
	-ms-flex: 0 1 49%;
	-webkit-box-flex: 0;
	flex: 0 1 49%;
}

.form-item {
	margin: 10px 0;
	label,
	input,
	textarea {
		display: block;
		width: 100%;
		font-size: $font-size;
	}
}

input.error, 
textarea.error {
	outline: 0;
	border: 1px solid #f00;
	-webkit-box-shadow: 0 0 5px #f00;
	box-shadow: 0 0 5px #f00;
}

label.error {
	color: #f00;
	font-weight: 600;
}



/* input.valid {*/
/* 	outline: 0;*/
/* 	border: 1px solid #0f0;*/
/* 	box-shadow: 0 0 5px #0f0;*/
/* }*/

.submit {
	background-color: $accent-color;
	color: #fff;
	border: 0;
	padding: 10px 15px;
	font-size: $font-size * 1.1;
	cursor: pointer;
	@include transition(all, .5s, ease, 0s);
	@include border-radius(5px);
	&:hover {
		background-color: $hover-color;
	}
}

.site-footer {
	background-color: $accent-color;
	color: #fff;
	padding: 30px 15px;
	.copyright {
		font-style: italic;
		font-size: $font-size * 0.8;
	}
}

