@media only screen and (max-width: 960px) {

	.main-img-cont {
		height: 260px;
	}

	.main-img {
		background: url(../img/bg_md.jpg) no-repeat;
		background-position: 0% -20px;
	}

	.movement-desc,
	.categories-item-desc {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}

	.routes-item-desc .desc-text {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (max-width: 768px) {

	.top-menu {
		display: none;
	}

	.btn-menu {
		display: block;
	}

	.top-phone {
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 180px;
		-ms-flex: 0 1 180px;
		flex: 0 1 180px;
	}

	.main-title {
		font-size: 24px;
	}

	.section-title {
		font-size: 16px;
	}

	.r-tabs-anchor {
		display: block;
	}

	.movement-desc ,
	.categories-item-desc ,
	.routes-item-desc  {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	.routes-item-desc {
		max-width: 100%;
	}

	.routes-item {
		-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-flow: column nowrap;
	}

	.wrap-contacts {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}
}

@media only screen and (max-width: 480px) {
	.top-phone {
		display: none;
	}

	.top-logo {
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 90%;
		-ms-flex: 0 1 90%;
		flex: 0 1 90%;
	}

	.main-title {
		font-size: 18px;
	}

	.main-img-cont {
		height: 200px;
	}

	.main-img {
		margin-top: -90px;
		background: url(../img/bg_sm.jpg) no-repeat;
		background-position: 60% 0%;
	}
}