
/* NEW STYLES */
body {
  min-width: 320px;
}

.catalog_section {
  padding: 70px 0 40px;
}

.wrapper {
  width: 1170px;
  max-width: 96%;
  margin: 0 auto;
}

.h_lg {
  font-family: GothamProMedium, sans-serif;
  font-size: 30px;
  color: #191919;
  margin-bottom: 60px;
}

.h_md {
  font-family: GothamProMedium, sans-serif;
  font-size: 24px;
  color: #191919;
  margin-bottom: 30px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin: 0 -10px;
}

.grid:before, .grid:after {
  content: "";
  display: inline-block;
  height: 1px;
}

.grid:before {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.item {
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
}

.item,
.grid:before,
.grid:after {
  margin-left: 10px;
  margin-right: 10px;
}

.grid .item, .grid:before, .grid:after {
  width: 200px;
}

.grid.grid_wide {
  margin: 0 -15px;
}

.grid.grid_wide .item, .grid.grid_wide:before, .grid.grid_wide:after {
  width: 270px;
}

.item_img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ededed;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.grid_wide .item_img_wrap {
  height: 270px;
}

.item_img_wrap img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.item:hover .item_img_wrap img {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.name_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}

.item_name {
  font-family: GothamProMedium, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  color: #191919;
}

.item_desc {
  font-family: GothamProMedium, sans-serif;
  color: #808080;
  font-size: 12px;
  line-height: 1.5;
}

.grid_wide .item_name {
  font-size: 14px;
  padding-right: 10px;
}

.grid_wide .item_desc {
  font-size: 14px;
}

.grid_wide .item_price {
  color: #ff2828;
  margin-bottom: 0;
}

.item_price {
  font-family: GothamProBold, sans-serif;
  font-size: 18px;
  color: #191919;
  white-space: nowrap;
  margin-bottom: 3px;
}

.flex_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside {
  min-width: 270px;
  margin-right: 30px;
  font-family: "GothamProMedium";
}

.filter_form {
  margin-bottom: 26px;
}

.filter_heading_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.filter_heading {
  font-size: 18px;
}

.filter_reset {
  font-size: 12px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.filter_reset:after {
  content: "\2716";
  color: #ff2828;
  padding-left: 7px;
  font-size: 14px;
  line-height: 0.8;
  vertical-align: middle;
}

.filter_reset:hover {
  border-color: #d1d1d1;
}

.filters_content {
  background-color: #fdfdfd;
  border: 1px solid #ececec;
  margin-bottom: 22px;
}

.inputs_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 230px;
  margin-bottom: 36px;
}

.inputs_wrap:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 1px;
  background-color: #d1d1d1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.inputs_wrap input[type="number"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 104px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 36px;
  line-height: 34px;
  padding: 0 8px;
  border: 1px solid #d1d1d1;
  outline: none;
  text-align: center;
  font-family: "GothamProMedium";
  font-size: 16px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.inputs_wrap input[type="number"]:focus {
  border-color: #364657;
}

.inputs_wrap input[type="number"]:last-child {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.filters_block {
  padding: 20px 12px 10px;
  border-bottom: 1px solid #ececec;
}

.filters_block:last-child {
  border-bottom: none;
}

.filter_title {
  font-size: 14px;
  margin-bottom: 15px;
}

.ui-widget.ui-widget-content {
  position: relative;
  height: 4px;
  max-width: 230px;
  background-color: #e3e3e3;
  margin-bottom: 5px;
  cursor: pointer;
}

.ui-slider-horizontal .ui-slider-range {
  position: absolute;
  height: 4px;
  background-color: #414141;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  position: absolute;
  top: -23px;
  display: block;
  width: 20px;
  height: 40px;
  margin-left: -10px;
  cursor: pointer;
  background-image: url(../img/mark.png);
  background-repeat: no-repeat;
  background-position: top center;
  outline: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.slider_limits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  color: #b8b8b8;
  margin-bottom: 10px;
  max-width: 230px;
}

.check_wrap {
  white-space: nowrap;
}

.aside label {
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.aside label:last-child {
  margin-right: 0;
}

.aside label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 1px solid #c1c1c1;
  background-color: #fdfdfd;
  -webkit-box-shadow: inset 0 0 0 2px #fdfdfd;
          box-shadow: inset 0 0 0 2px #fdfdfd;
  margin-right: 10px;
  margin-bottom: 3px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.aside input[type="checkbox"],
.aside input[type="radio"] {
  display: none;
}

.aside input[type="checkbox"]:checked + label:before,
.aside input[type="radio"]:checked + label:before {
  background-color: #364657;
}

.apply_btn {
  display: inline-block;
  min-width: 108px;
  height: 44px;
  line-height: 42px;
  outline: none;
  border: 1px solid #FF2828;
  padding: 0 5px;
  font-family: "GothamProBold";
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #FF2828;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.apply_btn:hover {
  color: #FF2828;
  background-color: #fff;
}

.accordion {
  font-size: 0;
  cursor: pointer;
}

.accordion > li {
  position: relative;
  font-family: "GothamProBold";
  font-size: 14px;
}

.accordion > li > a,
.accordion > li > span {
  display: block;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 32px 0 15px;
  white-space: nowrap;
  border: 1px solid #ececec;
  border-top: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.accordion > li > a:after,
.accordion > li > span:after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/arr1.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.accordion > li > a:hover,
.accordion > li > span:hover {
  background-color: #364657;
  color: #fff;
}

.accordion > li > a:hover:after,
.accordion > li > span:hover:after {
  background-image: url(../img/arr2.png);
}

.accordion > li a,
.accordion > li span {
  display: block;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.accordion > li.active > a,
.accordion > li.active > span {
  background-color: #364657;
  color: #fff;
}

.accordion > li.active > a:after,
.accordion > li.active > span:after {
  background-image: url(../img/arr2.png);
}

.accordion > li.active > a:after,
.accordion > li.active > span:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.accordion > li:first-child > span,
.accordion > li:first-child > a {
  border-top: 1px solid #ececec;
}

.accordion ul {
  display: none;
  border-bottom: 1px solid #ececec;
}

.accordion ul li a,
.accordion ul li span {
  font-family: "GothamProRegular";
  color: #191919;
  height: 46px;
  line-height: 46px;
  background-color: #fdfdfd;
  padding: 0 8px 0 25px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.accordion ul li a:hover,
.accordion ul li span:hover {
  color: #fff;
  background-color: #6D7D8E;
}

.product_outer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.padded .h_md {
  padding: 35px 0 0 20px;
  margin-bottom: 54px;
}

.product_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  margin-bottom: 40px;
}

.sliders_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sm_slider_cont {
  width: 82px;
  margin-right: 10px;
}

.lg_slider_cont {
  width: 308px;
}

.slider_arr {
  display: block;
  height: 19px;
  background-image: url(../img/arr3.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  opacity: .7;
}

.slider_arr:hover {
  opacity: 1;
}

.slider_arr_prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sm_slider .slick-slide,
.sm_slider .slick-vertical .slick-slide,
.lg_slider .slick-slide,
.lg_slider .slick-vertical .slick-slide {
  outline: none;
  border: 1px solid #ededed;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.sm_slider .slick-slide {
  margin: 4px 0;
  cursor: pointer;
}

.sm_slider .slick-center {
  border: 1px solid #888;
}

.product_text {
  font-size: 14px;
  line-height: 1.3;
  padding-left: 20px;
}

.item_avail {
  font-size: 18px;
  color: #37dd17;
  margin-bottom: 9px;
}

.item_num {
  font-size: 16px;
  color: #757575;
  margin-bottom: 26px;
}

.price_cont {
  margin-bottom: 14px;
}

.actual_price {
  font-family: "GothamProBold";
  font-size: 30px;
}

.former_price {
  font-family: "GothamProBold";
  font-size: 16px;
  color: #a7a7a7;
  vertical-align: top;
  text-decoration: line-through;
}

.former_price .currency.rub:before {
  vertical-align: top;
}

.btns_cont {
  margin-top: 16px;
}

.btns_cont input[type="file"] {
  display: none;
}

.btns_cont .apply_btn {
  width: 185px;
  margin-right: 24px;
  margin-bottom: 20px;
}

.btns_cont form {
  display: inline-block;
}

.upl_btn {
  font-family: "GothamProBold";
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}

.upl_btn:hover {
  text-decoration: underline;
}

.upl_btn:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 23px;
  background-image: url(../img/upl.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.tabs_container {
  font-size: 14px;
  line-height: 1.3;
}

.tabs_container ul {
  padding-left: 15px;
}

.tabs_container li {
  list-style-type: disc;
  list-style-position: outside;
}

@media only screen and (max-width: 1024px) {
  .h_lg {
    margin-bottom: 30px;
  }
  .product_top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
  }
  .padded .h_md {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .sliders_cont {
    margin-bottom: 20px;
  }
  .product_text {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .accordion_block {
    min-width: 100%;
  }
  .accordion > li {
    display: inline-block;
    width: 33.2%;
  }
  .accordion > li a,
  .accordion > li span {
    border-top: 1px solid #ececec;
    padding-left: 10px;
  }
  .accordion ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  .accordion ul li a,
  .accordion ul li span {
    background-color: #F0F0F0;
    border-bottom: 1px solid #707070;
    padding-left: 10px;
  }
  .flex_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aside {
    min-width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter_form {
    min-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 24px;
  }
  .filters_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter_reset {
    margin-right: 8px;
  }
  .item_img_wrap {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .filters_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filters_block {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .accordion > li {
    width: 49.5%;
  }
}

@media only screen and (max-width: 500px) {
  .accordion > li {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .product_outer {
    max-width: 100%;
  }
  .sliders_cont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sm_slider_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 96vw;
    padding-top: 12px;
    margin-right: 0;
    overflow: hidden;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sm_slider {
    width: 220px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .sm_slider .slick-slide {
    margin: 0 4px;
  }
  .slider_arr {
    width: 20px;
    height: 20px;
  }
  .slider_arr_prev {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .slider_arr_next {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
