
/* ==================== common styles ======================= */
html {
  font-size: 18px;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #fff;
  color: $colorTextRegular;
  font-family: $fontRegular;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .5);
  z-index: 9;
}

.flex {
  display: flex;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
button {
  outline: none;
  border: none;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

input,
input:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: $fontRegular;
}

::-moz-placeholder {
  color: #333;
  font-size: 16px;
  font-family: $fontRegular;
}

:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: $fontRegular;
}

::placeholder {
  color: #333;
  font-size: 16px;
  font-family: $fontRegular;
}

section {
  position: relative;
  padding: 6.4% 0 1.5%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 96%;
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontEmphasis;
  color: $colorTextHeader;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

.button {
  display: block;
  min-width: 220px;
  height: 55px;
  line-height: 55px;
  font-family: $fontEmphasis;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  transition: all .4s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 30px 60px rgba( 0,0,0, .3);
  }
}

.button-light {
  color: $colorTextHeader;
  background: $colorLightest;
}

.button-bright {
  color: $colorLightest;
  background: $colorBright;
}

.banner-button {
  position: relative;
  top: 0;
  margin-bottom: 8%;
  &:hover {
    box-shadow: 0 30px 60px rgba( 0,0,0, .3);
    top: -1px;
  }
}

/*------------------------------ Header ------------------------------*/
.header {
  position: relative;
  background: #555;
  overflow: hidden;
  color: $colorLightest;
  overflow: hidden;
}

.slide-item {
  display: block;
  width: 100vw;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
   .wrapper {
    justify-content: space-between;
   }
}

.prev,
.next {
  display: block;
  cursor: pointer;
  opacity: 0.8;
  transition: all .4s;
  &:hover {
    opacity: 1;
  }
}

.prev {
  @include sprite($s-leftangle);
}

.next{
  @include sprite($s-rightangle);
}

.header-content,
.header-content .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.header-content {
  width: 100%;
  .wrapper {
    padding: 1% 0 5%;
    align-content: space-between;
    flex-wrap: wrap;
  }
}
    
.header-top__contacts,
.header-nav {
  width: 100%;
  flex-basis: 100%;
}

.header-social {
  white-space: nowrap;
  li,
  a {
    display: inline-block;
  }
  li {
    margin-right: 4px;
  }
  a {
    opacity: 0.8;
    transition: all .4s;
    &:hover {
      opacity: 1;
    }
  }
}

.header-social__link--tw {
  @include sprite($s-tw);
}

.header-social__link--ig {
  @include sprite($s-ig);
}

.header-social__link--fb {
  @include sprite($s-fb);
}

.header-top__contacts {
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-contacts {
  align-items: center;
  font-size: 16px;
  li,
  a {
    display: inline-block;
    white-space: nowrap;
  }
  li {
    margin-left: 30px;
  }
  a:before {
    content: "";
    display: inline-block;
    margin-right: 21px;
    vertical-align: middle;
  }
}

.decorated {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background: $colorLightest;
    transition: all .4s;
  }
  &:hover,
  &:active {
    &:after {
      width: 100%;
    }
  }
}

.header-contacts__link--map {
  &:before {
    @include sprite($s-mappin);
  }
}

.header-contacts__link--phone {
  &:before {
    @include sprite($s-phone);
  }
}
.header-contacts__link--mail {
  &:before {
    @include sprite($s-mail);
  }
}

/*main navigation*/
.header-nav {
  justify-content: center;
}

.header-logo {
  width: 20%;
  .logo {
    width: 100%;
  }
}

.nav-links {
  justify-content: space-around;
  align-items: flex-end;
  flex-basis: 40%;
  flex-grow: 1;
  li {
    padding: 0 1%;
  }
  a {
    position: relative;
    font-size: 17px;
    display: inline-block;
    font-family: $fontEmphasis;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 0;
    white-space: nowrap;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 4px;
      transition: all .4s;
      background: $colorBright;
    }
    &:hover,
    &:active,
    &.active {
      &:before {
        width: 100%;
      }
    }
  }
}

.mobile-nav {
  .nav-links {
    a:before {
      background: $colorLightest;
    }
  }
}



/*mobile menu button*/
.mob-nav__btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: $colorBright;
  border: 1px solid $colorLightest;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  display: none;
  z-index: 5;
  span {
    display: block;
    background: $colorLightest;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    border: none;
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background: $colorLightest;
    }
    &:before {
      top: -10px;
    }
    &:after {
      top: 10px;
    }
  }
}

/*mobile menu*/
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -320px;
    width: 320px;
    height: 100vh;
    overflow-y: scroll;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding: 30px 20px 20px;
    background: rgba(253,50,43, .8);
    transition: all .4s;
    z-index: 10;
    &.active {
      left: 0;
    }
    .nav-links {
      padding-bottom: 20px;
    }
  }

  .mobile-nav__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $colorLightest;
    font-size: 36px;
    cursor: pointer;
  }

  .mobile-contacts {
    position: relative;
    padding-top: 20px;
    &:before{
      content: "";
      display: block;
      position: absolute;
      left: 10%;
      right: 10%;
      top: 0;
      width: 80%;
      height: 1px;
      background: $colorLightest;
    }
  }
  
  .mobile-contacts,
  .footer-contacts {
    li {
      margin-bottom: 19px;
    }
    a {
      display: inline-block;
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
      }
    }
  }

  .mobile-contacts__link--map:before,
  .footer-contacts__link--map:before {
    @include sprite($s-mappinLight);
  }

  .mobile-contacts__link--phone:before,
  .footer-contacts__link--phone:before {
    @include sprite($s-phoneLight);
  }

  .mobile-contacts__link--mail:before,
  .footer-contacts__link--mail:before {
    @include sprite($s-mailLight);
  }

/*------------------------------ banner section ------------------------------*/
.banner-section {
  padding: 0;
  background-image: url(../img/bannerBg.jpg);
  background-repeat: repeat;
  background-position: 50% 50%;
 
  .wrapper  {
    height: 100vh;
    min-height: 370px;
    max-height: 645px;
    align-content: center;
    align-items: center;
  }
}

.banner-content {
  max-width: 540px;
  position: relative;
  z-index: 3;
  color: $colorLightest;
  h2 {
    width: 100%;
    color: $colorLightest;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 3%;
  }
  p {
    font-size: 18px;
    margin-bottom: 11%;
  }
}

/*------------------------------ news section ------------------------------*/
.news-section {
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 45vw;
    height: 45vw;
    background-image: url(../img/newspapers.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    z-index: -1;
  }
}

.about {
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.about-text {
  flex-basis: 400px;
  flex-grow: 1;
  margin-right: 30px;
  margin-bottom: 5%;
  padding-top: 5px;
  h2 {
    font-size: 48px;
    margin-bottom: 18px;
  }
  h4 {
    font-size: 20px;
    max-width: 470px;
    line-height: 1.4;
    margin-bottom: 18px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 27px;
    &:last-of-type {
      margin-bottom: 43px;
    }
  }
  .price {
    font-size: 24px;
  }
}

.about-calculate {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px;
  &:after {
    content: "";
    width: 396px;
    height: 0;
  }
  span {
    font-size: 20px;
  }
}

.about-button {
  color: $colorLightest;
  background: $colorBright;
}

.about-img {
  flex-basis: 540px;
 
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
  }
}

.news-block {
  h2 {
    font-size: 48px;
    margin-bottom: 93px;
    text-align: center;
  }
}

.news-list {
  max-width: 735px;
}

.news-item {
  margin-bottom: 28px;
  justify-content: center;
  align-items: center;
}

.news-img {
  flex-basis: 255px;
  flex-shrink: 0;
  height: 160px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.news-content {
  flex-basis: 480px;
  flex-grow: 1;
  padding: 11px 4%; 
  h3 {
    font-size: 24px;
    margin-bottom: 13px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 18px;
  }
}

.read-more {
  font-family: $fontEmphasis;
  font-size: 19px;
  letter-spacing: 1px;
  &:after {
    content: "";
    display: inline-block;
    @include sprite($s-readMoreArrow);
    margin-left: 10px;
  }
}

/*------------------------------ map section ------------------------------*/
.map-section {
  padding: 0;
}

.map {
  height: 100vh;
  min-height: 240px;
  max-height: 480px;
  background: #888;
  filter: grayscale(100%);
}

/*------------------------------ footer  ------------------------------*/

.footer {
  background: $colorBright;
  color: $colorLightest;
  font-size: 16px;
  padding: 57px 0 53px;
}

/*footer top*/
.footer-top {
  justify-content: space-between;
}

.footer-logo {
  max-width: 275px;
  .logo {
    margin: 5px 0 22px;
    width: 160px;
    height: 160px;
  }
  p {
    margin-bottom: 14px;
  }
}

.footer-nav {
  justify-content: flex-start;
  flex-grow: 1;
  max-width: 400px;
}

.footer-nav__links {
  //flex-grow: 1;
  padding: 0 10px;
  max-width: 190px;
  li {
    margin-bottom: 10px;
  }
  a {
    display: inline-block;
    position: relative;
    font-family: $fontEmphasis;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 8px;
    padding-top: 0;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background: $colorLightest;
      transition: all .4s;
    }
    &:hover,
    &:active,
    &.active {
      &:after {
        width: 100%;
      }
    }
  }
}

.footer-contacts {
  max-width: 255px;
}


/*footer bottom*/
.footer-bottom {
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}

.footer-social {
  li {
    display: inline-block;
    margin-right: 6px;
  }
  a {
    opacity: .8;
    transition: all .4s;
    &:hover {
      opacity: 1;
    }
  }
}

.footer-social__link--tw {
  display: block;
  @include sprite($s-tw);
}

.footer-social__link--ig {
  display: block;
  @include sprite($s-ig);
}

.footer-social__link--fb {
  display: block;
  @include sprite($s-fb);
}

.copy {
  position: relative;
  top: -9px;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-align: center;
  span {
    font-size: 20px;
  }
}

.empty {
  width: 70px;
}

/*works*/
.works-section {
  .works-item {
    margin-bottom: 30px;
  }
  .description {
    padding-top: 29%;
    p {
      max-width: 80%;
    }
  }
  .loading-button {
    margin-top: 1.5%;
  }
}

.heading {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5%;
  flex-wrap: wrap;
  h2 {
    font-size: 48px;
    margin-right: 20px;
  }
}

.select-container {
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
  margin-right: 30px;
}

.car-make-select,
.work-type-select {
  width: 220px;
}

.loading-button {
  width: 100%;
  padding-bottom: 10px;
  .button {
    margin: 0 auto;
  }
}

/*video*/
.video-section {
  padding: 6% 0 7%;
  .heading {
    flex-wrap:wrap;
  }
}

.period-select__container {
  margin-right: 65px;
  box-sizing: border-box;
}

.period-select {
  width: 190px;
  border: 1px solid #000;
  .selecter-options {
    box-sizing: content-box;
    border: 1px solid #000;
    border-top-width: 0;
    left: -1px;
  }
}

.video-list {
  flex-wrap: wrap;
}

.video-item {
  margin-bottom: 3.3%;
  flex-wrap: wrap;
}

.video-wrapper {
  flex-basis: 450px;
  flex-grow: 1;
}

.player-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-description {
  flex-basis: 450px;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 10px 30px;
  overflow: hidden;
  h3 {
    margin: 0 32px 20px;
    width: 100%;
  }
  p {
    width: 85%;
    font-size: 16px;
  }
}



/*contacts*/
.contacts-section {
  padding-top: 11.5%;
  padding-bottom: 7%;
  .heading {
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4%;
    h2 {
      position: relative;
      top: -6px;
    }
  }
}

.contacts-list {

  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 450px;
  li {
    flex-basis: 48%;
  }
}

.contacts__link--phone,
.contacts__link--map,
.contacts__link--mail {
  position: relative;
  display: inline-block;
  padding-left: 45px;
  font-size: 16px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    margin-right: 20px;
  }
}

.contacts__link--map {
  max-width: 190px;
  padding-top: 2px;
  padding-bottom: 0;
  line-height: 1.4;
  &:before {
    @include sprite($s-mappinGrey);
  }
}

.contacts__link--phone {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  &:before {
    @include sprite($s-phoneGrey);
  }
}

.contacts__link--mail {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  &:before {
    @include sprite($s-mailGrey);
  }
}

form {
  flex-wrap: wrap;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="phone"] {
  flex-basis: 48.6%;
  border: 1px solid #000000;
  padding: 14px 25px;
  margin-bottom: 30px;
}

textarea {
  resize: none;
  flex-basis: 100%;
  height: 145px;
  border: 1px solid #000000;
  padding: 14px 25px;
  margin-bottom: 30px;
}

input[type="submit"] {
  margin: 0 auto;
}


/*------------------------------ actions ------------------------------*/
.action-info-section {
  padding-top: 3%;
  p {
    font-size: 16px;
  }
}

.actions-heading {
  text-align: center;
  margin: 8.7% 0 2%;
}

.action-banner-section {
  padding: 2% 0;
  .wrapper {
    background-image: url(../img/bannerBg.jpg);
    background-repeat: repeat;
    background-position: 50% 50%;
    height: 100vh;
    min-height: 255px;
    max-height: 355px;
    overflow: hidden;


  p {
      line-height: 1.2;
    }
  }
  .banner-content {
    max-width: 635px;
    padding-top: 5.5%;
    padding-left: 8%;
  }
  h2 {
    margin-bottom: 2%;
  }
  p {
    margin-bottom: 7%;
  }
}

.action-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 13px;
}

.action-presentation {
  text-align: center;
  max-width: 85%;
  margin: 0 auto 5.6%;
}

.action-details {
  flex-wrap: wrap;
  margin-bottom: 3.5%;
}

.action-details__text,
.action-details__img  {
  flex: 1 1 410px;
}

.action-details__text {
  margin-right: 10px;
}

.action-details__img {
  padding-top: 5px;
  margin-left: 10px;
  img {
    width: 100%;
  }
}

/*------------------------------ end actions ------------------------------*/

/*------------------------------ prides ------------------------------*/
.prides-container {
  flex-wrap: wrap;
  h2 {
    flex: 1 1 320px;
  }
}

.prides-list {
  flex-wrap: wrap;
  flex: 0 1 730px;
  padding-top: 10px;
}

.prides-item {
  flex: 1 0 300px;
  margin-bottom: 43px;
}

.prides-img {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: $colorBright;
  margin-top: 5px;
  margin-right: 8%;
  flex-shrink: 0;
}

.prides-text {
  flex: 0 1 255px;
  h3 {
    margin-bottom: 7px;
  }
  p {
    font-size: 16px;
    line-height: 1.2;
  }
}

/*------------------------------ end prides ------------------------------*/

/*------------------------------ gallery ------------------------------*/


.gallery-section {
  padding-top: 3.2%;
  padding-bottom: 5%;

  h2 {
    margin-bottom: 3%;
    background: gold;
  }
  &.about-gallery-section {
    .wrapper {
      margin-bottom: none;
    }
  }
}

.gallery-bordered {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 96%;
    height: 2px;
    max-width: 1110px;
    //d1d1d1
    background: #f0f;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

.about-section__work {
  .about {
    margin-bottom: 7px;
  }
}


/*------------------------------ end gallery ------------------------------*/
.col-2-container,
.col-3-container {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 18px;
  .item {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 34px;
    a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
    }
  }
}

.col-2-container {
  .item {
    max-width: 48.7%;
    .description {
      h3 {
        margin: 22% 0 3%;
      }
      p {
        max-width: 430px;
        margin-bottom: 13%;
      }
    }
  }
}

.col-3-container {
  .item {
    max-width: 31.6%;
    p {
      max-width: 430px;
    }
  }
}

.item {
  color: $colorLightest;
  position: relative;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  h3 {
    color: $colorLightest;
  }
  >h3 {
    position: absolute;
    bottom: 40px;
    left: 5%;
    font-size: 24px;
    transition: all .4s;
    z-index: 2;
  }
}

.item__hover-descripted {

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $colorTextRegular;
    opacity: .7;
    transition: all .4s;
    z-index: 1;
  }

  &:hover,
  &:active {

    &:after {
      top: -100%;
      bottom: 100%;
    }

    >h3 {
    opacity: 0;
    }

    .description {
      top: 0;
    }
  }
}

.description {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 5%;
  position: absolute;
  background: rgba(253,50,43,.9);
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all .4s;
  z-index: 2;
  h3 {
    font-size: 24px;
    margin-bottom: 17px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  a {
    font-size: 16px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/*------------------------------ services-list ------------------------------*/
.services-section {
  padding-bottom: 6%;
}

.services-list,
.works-list {
  flex-wrap: wrap;
  justify-content: space-between;
  color: $colorLightest;
  h3 {
    color: $colorLightest;
  }
}

.service-item {
  max-width: 350px;
  flex-basis: 32%;
  height: 265px;
}

.works-item {
  flex-basis: 49%;
  min-height: 280px;
  height: 410px;
  max-width: 540px;
}

.service-item,
.works-item  {
  position: relative;
  flex-shrink: 0;
  margin-bottom: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $colorTextRegular;
    opacity: .7;
    transition: all .4s;
    z-index: 1;
  }
  >h3 {
    position: absolute;
    bottom: 40px;
    left: 28px;
    font-size: 24px;
    transition: all .4s;
    z-index: 2;
  }
  .description {
    position: absolute;
    opacity: 0.9;
    background: $colorBright;
    transition: all .4s;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &:hover {
    &:after {
      top: 100%;
      bottom: -100%;
    }
    >h3 {
    opacity: 0;
    }
    .description {
      top: 0;
    }
  }
}

// .description {
//   padding: 54px 25px;
//   h3 {
//     font-size: 24px;
//     margin-bottom: 17px;
//   }
//   p {
//     font-size: 16px;
//     line-height: 1.5;
//     margin-bottom: 40px;
//     max-width: 230px;
//   }
//   a {
//     font-size: 16px;
//     text-decoration: underline;
//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

.powder-painting {
  background-image: url(../img/servicesThumbs/service-1.jpg);
}

.immersion-print {
  background-image: url(../img/servicesThumbs/service-2.jpg);
}

.chemical-metallization {
  background-image: url(../img/servicesThumbs/service-3.jpg);
}

.sandblasting {
  background-image: url(../img/servicesThumbs/service-4.jpg);
}

.shot-blasting {
  background-image: url(../img/servicesThumbs/service-5.jpg);
}

.spraygun-painting {
  background-image: url(../img/servicesThumbs/service-6.jpg);
}

.candy-painting {
  background-image: url(../img/servicesThumbs/service-7.jpg);
}

.aerography {
  background-image: url(../img/servicesThumbs/service-8.jpg);
}

.tire-fitting {
  background-image: url(../img/servicesThumbs/service-9.jpg);
}


/*------------------------------ single work or service pages ------------------------------*/
.back-button__container {
  padding: 47px 0 42px;
}

.back-button {
  display: inline-block;
  font-size: 18px;
  font-family: $fontEmphasis;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #e8e8e8;
    background-image: url(../img/back.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}

.about-section__work,
.about-section__service {
  padding-top: 0;
}

.about-section__service {
  .about {
    margin-bottom: 25px;
  }
}


/*replace!*/
.about {
  .work-name {
    margin-bottom: 32px;
  }
  .service-name {
    margin-bottom: 26px;
  }
}

.similar-section {
  padding-bottom: 2.2%;
  h2 {
    margin-bottom: 4.7%;
  }
}

.finished-section {
  padding-bottom: 4%;
  h2 {
    margin-bottom: 4.6%;
  }
}

.associated-section {
  padding-bottom: 4.5%;
  h2 {
    margin-bottom: 6%;
  }
}

.about-text__service {
  margin-bottom: .2%;
}



