
/* ==================== fonts ======================= */

@font-face {
     font-family: "PT-mono";
     
     src: url("../fonts/PTMono-Regular.eot");
     src: url("../fonts/PTMono-Regular.eot?#iefix")format("embedded-opentype"),
     url("../fonts/PTMono-Regular.ttf") format("truetype");


     font-style: normal;
     font-weight: normal;
}

 @font-face {
      font-family: "rodchenkoctt";

      src: url("../fonts/RodchenkoCTT.eot");
      src: url("../fonts/RodchenkoCTT.eot?#iefix")format("embedded-opentype"),
      url("../fonts/RodchenkoCTT.ttf") format("truetype");

      font-style: normal;
      font-weight: normal;
}
