/* ==================== Media queries ======================= */

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    /*header and navigations*/

    .header-logo {
        width: 15%;
    }

    .header-contacts a {
        font-size: 13px;
    }

    .header-contacts a:before {
        margin-right: 10px;
    }

    .header-nav__links a {
        font-size: 15px;
    }

    /*works and services img galleries*/
    .services-list {
       justify-content: space-around;
    }
    .service-item {
        flex-basis: 40%;
    }
    

    .works-item {
      flex-basis: 100%;
      margin: 0 auto;
      .description {
        padding-top: 10%;
        p {
          max-width: 100%;
        }
      }
    }

    .item .description h3 {
        margin-top: 3%;
    }
    
    /*news section*/
    .about-img {
      flex-basis: 100%;
      margin-top: 6%;
    }

    .news-section:after {
        opacity: .4;
    }

    /*video page*/
    .video-description p {
        width: 100%;
    }
}

@media only screen and (max-width : 868px) {
    /*footer*/
    .footer-top {
        flex-wrap: wrap;
    }

    .footer-logo {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        p {
            padding: 0 20px;
        }
    }

    .footer-bottom {
        flex-wrap: wrap;
        justify-content: center;
        .copy {
            width: 100%;
        }
    }

    .footer-social {
        margin-bottom: 20px;
    }

    .empty {
        display: none;
    }

    .contacts-list {
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
        li {
            flex-basis: 100%;
            white-space: nowrap;
            margin: 10px 0px;
        }
        .contacts__link--map {
            padding-top: 0;
            height: 30px;
            line-height: 30px;
            max-width: 100%;
        }
    }

    /*action page*/
    .action-details__img {
        margin: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    /*header and navigations*/
    .header-content .wrapper {
        padding-top: 2%;
    }

    .header-nav {
        .nav-links {
            display: none;
        }
    }
    
    .mob-nav__btn {
        display: block;
    }

    .header-contacts {
        margin-bottom: 20px;
    }
    
    .header-social {
        width: 100%;
        margin-bottom: 20px;
    }

    .header-social li {
        margin: 0 2px;
    }

    .header-contacts li {
        margin: 0 15px;
    }

    .slider-controls {
        display: none;
    }

    /*common headers on different pages*/
    h2 {
        font-size: 30px;
    }

    /*action banner section*/
    // .banner-section {
    //   background-image: url(../img/bannerBg-sm.jpg);
    // }

    /*news section*/
    .news-item {
        flex-wrap: wrap;
    }

    .news-section:after {
        background-image: url(../img/newspapers-sm.jpg);
    }

    /*works and services img galleries*/
    .service-item {
        flex-basis: 100%;
    }

    .col-3-container .item {
        max-width: 49%;
    }

    .about-calculate {
      flex-wrap: wrap;
    }

    
    /*footer*/
    .footer-nav,
    .footer-contacts {
        flex-grow: 1;
    }
    .footer-nav {
        max-width: 100%;
        width: 100%;
        justify-content: center;
        margin-bottom: 35px;
    }
    .footer-contacts {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    /*common paragraphes on different pages*/
     p {
        line-height: 1.2;
    }
}

@media only screen and (max-width : 700px) {

    /*header*/
    .header-contacts {
        flex-wrap: wrap;
        width: auto;
        text-align: left;
        padding: 0 20px;
        li {
            display: block;
            width: 100%;
        }
    }
    .header-top__contacts {
        flex-wrap: nowrap;
    }
    .header-social {
        width: auto;
    }

    /*works and services img galleries*/
    .col-2-container .item {
        max-width: 400px;
        margin: 0 auto 28px;
    }
    .item p {
        line-height: 1.2;
        margin-bottom: 4%;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    /*header*/
    .header-top__contacts {
        .header-contacts {
            display: none;
        }
    }
    
    /*works and services img galleries*/
    .col-3-container .item {
        max-width: 100%;
    }
    
    /*contacts form*/
    input[type="text"],
    input[type="email"],
    input[type="phone"] {
      flex-basis: 100%;
      width: 100%; /*for IE10, 11 fix*/
      max-width: 100%;
    }

    /*action banner*/
    .banner-content {
        padding-left: 5%;
    }
    .banner-content h2 {
        font-size: 45px;
    }

    /*footer*/
    .footer-logo .logo {
        width: 100px;
        height: 100px;
    }


}

// /* Custom, iPhone Retina */
// @media only screen and (max-width : 320px) {

// }


// /*==========  Mobile First Method  ==========*/

// /* Custom, iPhone Retina */
// @media only screen and (min-width : 320px) {

// }

// /* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px) {

// }

// /* Small Devices, Tablets */
// @media only screen and (min-width : 768px) {

// }

// /* Medium Devices, Desktops */
// @media only screen and (min-width : 992px) {

// }

// /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {

// }
