    $s-back: 0px 23px 0px -23px 25px 17px 40px 632px 'sprite.png';
    $s-fb: 0px 492px 0px -492px 40px 40px 40px 632px 'sprite.png';
    $s-ig: 0px 542px 0px -542px 40px 40px 40px 632px 'sprite.png';
    $s-leftangle: 0px 410px 0px -410px 18px 31px 40px 632px 'sprite.png';
    $s-mail: 0px 130px 0px -130px 26px 30px 40px 632px 'sprite.png';
    $s-mailGrey: 0px 170px 0px -170px 26px 30px 40px 632px 'sprite.png';
    $s-mailLight: 0px 210px 0px -210px 26px 30px 40px 632px 'sprite.png';
    $s-mappin: 0px 250px 0px -250px 21px 30px 40px 632px 'sprite.png';
    $s-mappinGrey: 0px 50px 0px -50px 21px 30px 40px 632px 'sprite.png';
    $s-mappinLight: 0px 330px 0px -330px 21px 30px 40px 632px 'sprite.png';
    $s-phone: 0px 370px 0px -370px 30px 30px 40px 632px 'sprite.png';
    $s-phoneGrey: 0px 290px 0px -290px 30px 30px 40px 632px 'sprite.png';
    $s-phoneLight: 0px 90px 0px -90px 30px 30px 40px 632px 'sprite.png';
    $s-readMoreArrow: 0px 0px 0px 0px 21px 13px 40px 632px 'sprite.png';
    $s-rightangle: 0px 451px 0px -451px 18px 31px 40px 632px 'sprite.png';
    $s-tw: 0px 592px 0px -592px 40px 40px 40px 632px 'sprite.png';
