/* ==================== styles reset ======================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================== fonts ======================= */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/opensans/opensans.woff") format("woff"), url("../fonts/opensans/opensans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts//opensans/opensansbold.woff") format("woff"), url("../fonts/opensans/opensansbold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSansXBold";
  src: url("../fonts/opensans/opensansextrabold.woff") format("woff"), url("../fonts/opensans/opensansextrabold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/opensans/opensanssemibold.woff") format("woff"), url("../fonts/opensans/opensanssemibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/opensans/opensanslight.woff") format("woff"), url("../fonts/opensans/opensanslight.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "PrataRegular";
  src: url("../fonts/prata/Prata.woff") format("woff"), url("../fonts/prata/Prata.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* ==================== common styles ======================= */
html {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  padding-top: 177px;
  overflow-x: hidden;
  color: #000;
  font-family: PrataRegular, sans-serif;
  font-size: 18px;
  -webkit-transition: all 0s .4s;
  -o-transition: all 0s .4s;
  transition: all 0s .4s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

img,
a,
input,
input:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

::-ms-input-placeholder {
  color: #888;
}

::placeholder {
  color: #888;
}

section {
  position: relative;
}

.wrapper {
  position: relative;
  width: 96%;
  max-width: 1110px;
  margin: 0 auto;
}

.wrapper-w {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper-w .wrapper {
  width: 100%;
}

h2 {
  font-family: OpenSansXBold, sans-serif;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 5px;
  color: #191919;
}

h3 {
  font-family: OpenSansXBold, sans-serif;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 5px;
  color: #191919;
}

.button {
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%;
  max-width: 255px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #739d03;
  color: #fff;
  font-family: OpenSansXBold, sans-serif;
  border-radius: 28px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.button:hover {
  top: -2px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

p {
  font-family: PrataRegular, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: #0a0a0a;
  margin-bottom: 26px;
}

/*------------------------------ header ------------------------------*/
.header {
  z-index: 3;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.92);
}

.header.fixed {
  -webkit-box-shadow: 0px 5px 5px rgba(80, 80, 80, 0.1);
          box-shadow: 0px 5px 5px rgba(80, 80, 80, 0.1);
}

.header.fixed .header-top {
  padding: .8% 0 .3%;
}

.header.fixed .logo {
  width: 160px;
  margin-right: 40px;
}

.header.fixed .header-button {
  margin-bottom: 2px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}

.header.fixed .header-bottom {
  padding-bottom: 4px;
}

.header.fixed .nav-links a {
  padding-top: 2px;
  font-size: 16px;
}

.header-top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 32px 0 11px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.top-contacts {
  margin: 14px 0 20px;
}

.phone {
  font-family: OpenSansXBold, sans-serif;
  font-size: 18px;
  color: #0d0d0d;
  margin: 0 47px 10px 0;
}

.mail {
  font-family: OpenSansRegular, sans-serif;
  font-size: 18px;
  color: #0d0d0d;
}

.logo {
  margin-right: 44px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  width: 224px;
  text-align: center;
}

.logo img {
  max-width: 100%;
}

.header-button {
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  margin: 0 0 20px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header-bottom {
  padding-bottom: 18px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.nav-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links li {
  padding: 0 27px;
}

.nav-links a {
  display: inline-block;
  font-family: OpenSansRegular, sans-serif;
  padding: 10px 0 5px;
  font-size: 18px;
  color: #0d0d0d;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.nav-links a:hover {
  border-bottom-color: #0d0d0d;
}

/*------------------------------ main slider section ------------------------------*/
.main-slider-section {
  padding: 57px 0 3%;
  background-image: url(../img/mainSliderBg.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.main-slider-item {
  position: relative;
  white-space: nowrap;
  min-height: 70vh;
  overflow: hidden;
}

.main-slider-item:before {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  vertical-align: top;
}

.main-slider-text {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 43.6%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40%;
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}

.main-slider-heading {
  position: relative;
  left: 0;
  font-size: 90px;
  color: #191919;
  font-family: OpenSansXBold, sans-serif;
  margin-bottom: 65px;
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
  white-space: normal;
  line-height: 1.1;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.collection-link {
  display: inline-block;
  position: relative;
  left: 0;
  padding-left: 38px;
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 18px;
  color: #191919;
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
  z-index: 2;
}

.collection-link:hover {
  text-decoration: underline;
}

.collection-link:before, .collection-link:after {
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.collection-link:before {
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 16px;
  -webkit-box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.collection-link:after {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px 0px;
  width: 31px;
  height: 12px;
  top: 68%;
  right: -35px;
}

.main-slider-img {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.main-slider-img img {
  max-width: 90%;
  margin: 0 auto;
}

.slick-slide {
  opacity: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slick-active {
  opacity: 1;
}

.slick-active .main-slider-heading {
  left: 0;
}

.slick-active .collection-link {
  left: 0;
}

.main-slider-item-img {
  max-height: 70vh;
  margin: 0 auto;
}

.js-main-slider .slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.js-main-slider .slick-dots li {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #cecece;
  margin-bottom: 10px;
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
  cursor: pointer;
}

.js-main-slider .slick-dots li.slick-active {
  height: 50px;
  background: #739d03;
}

.js-main-slider .slick-dots li button {
  display: none;
}

/*------------------------------ category section ------------------------------*/
.categories-section {
  margin-bottom: 5.9%;
}

.categories-container {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 3.5%;
}

.category-item {
  display: inline-block;
  position: relative;
  width: 25%;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  overflow: hidden;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.category-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.category-item img {
  display: block;
  width: 100%;
}

.category-text {
  position: absolute;
  left: 12%;
  bottom: 11%;
  line-height: 1.2;
  font-size: 30px;
  font-family: OpenSansXBold, sans-serif;
  color: #fff;
  max-width: 66.7%;
}

/*------------------------------ small form section ------------------------------*/
.smallForm-section .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  font-family: OpenSansXBold, sans-serif;
  font-size: 36px;
  color: #000;
  line-height: 1.3;
  margin-bottom: -2px;
}

.heading-after {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 18px;
  color: #191919;
  margin-bottom: 10px;
}

.small-form input[type="email"] {
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid #000000;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  margin-bottom: 10px;
  margin-right: 68px;
  width: 284px;
}

.small-form input[type="email"]:focus {
  border-bottom-color: #739d03;
}

.small-form input[type="submit"] {
  width: 183px;
}

.smallForm-heading {
  display: inline-block;
  width: 49%;
}

.smallForm-container {
  display: inline-block;
  white-space: nowrap;
  width: 50%;
  text-align: right;
}

.smallForm-container ::-webkit-input-placeholder {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 14px;
  color: #a3a3a3;
  letter-spacing: 1px;
}

.smallForm-container :-ms-input-placeholder {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 14px;
  color: #a3a3a3;
  letter-spacing: 1px;
}

.smallForm-container ::-ms-input-placeholder {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 14px;
  color: #a3a3a3;
  letter-spacing: 1px;
}

.smallForm-container ::placeholder {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 14px;
  color: #a3a3a3;
  letter-spacing: 1px;
}

/*------------------------------ works slider ------------------------------*/
.works-section {
  position: relative;
}

.works-slider-container {
  margin: 20px 0;
}

.works-slider-item {
  position: relative;
  height: 590px;
}

.works-slider-item .wrapper {
  height: 100%;
}

.works-slider-item .heading {
  line-height: 1.1;
  margin-bottom: 17px;
}

.works-slider-item .heading-after {
  margin-bottom: 25px;
}

.works-slider-item .button {
  width: 235px;
}

.works-slide-textPart {
  padding-left: 17px;
  margin-left: -17px;
  max-width: 445px;
  height: 100%;
  padding-top: 7.8%;
  background: rgba(255, 255, 255, 0.7);
}

.works-slide-imgPart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: #fff;
}

.works-slide-imgPart img {
  position: relative;
  width: 100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.works-slide-imgPart .heading {
  position: absolute;
  bottom: 10%;
  font-size: 34px;
  padding-left: 12%;
}

.button.slide-button {
  height: 60px;
  line-height: 60px;
  font-family: OpenSansBold, sans-serif;
  font-size: 16px;
}

.slider-custom-arrows {
  position: absolute;
  bottom: 0;
}

.slider-custom-arrows span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider-custom-arrows span:hover, .slider-custom-arrows span:active {
  opacity: 1;
}

.slider-custom-prev {
  background-image: url(../img/arrows/arrow-l-sm.png);
}

.slider-custom-next {
  background-image: url(../img/arrows/arrow-r-sm.png);
}

.js-works-slider .slick-dots,
.js-manufactory-slider .slick-dots {
  position: absolute;
  bottom: 4%;
  left: 55.7%;
}

.js-works-slider .slick-dots li,
.js-manufactory-slider .slick-dots li {
  display: inline-block;
}

.js-works-slider .slick-dots li button,
.js-manufactory-slider .slick-dots li button {
  outline: none;
  font-size: 0;
  margin: 0 6px;
  border: 1px solid #cecece;
  background: #cecece;
  cursor: pointer;
}

.works-slider-container .slider-custom-arrows {
  right: 21%;
}

.works-slider-container .slick-dots li,
.manufactory-slider-container .slick-dots li {
  display: inline-block;
}

.works-slider-container .slick-dots li button,
.manufactory-slider-container .slick-dots li button {
  font-size: 0;
  padding: 0 4px;
  border-radius: 50%;
  width: 10px !important;
  max-width: 10px;
  height: 10px;
}

.works-slider-container .slick-dots li.slick-active button,
.manufactory-slider-container .slick-dots li.slick-active button {
  background: transparent;
}

.leaves {
  position: absolute;
  top: 54%;
  z-index: -1;
}

.leaves-l {
  left: -40px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transition: all 3s cubic-bezier(0.53, 1.9, 0.35, 0.89);
  -o-transition: all 3s cubic-bezier(0.53, 1.9, 0.35, 0.89);
  transition: all 3s cubic-bezier(0.53, 1.9, 0.35, 0.89);
}

/*------------------------------ manufactory section  ------------------------------*/
.manufactory-section {
  position: relative;
}

.manufactory-section .wrapper {
  background: rgba(255, 255, 255, 0.7);
}

.manufactory-section .heading {
  margin-bottom: 5px;
  max-width: 400px;
}

.manufactory-section .heading-after {
  margin-bottom: 26px;
}

.manufactory-section .slider-custom-arrows {
  left: 40.5%;
  bottom: 15%;
}

.manufactory-section .slider-custom-arrows span {
  background-color: #fff;
}

.manuf-slider-item {
  position: relative;
}

.manuf-slide-imgPart {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.manuf-slide-imgPart .heading {
  position: absolute;
  left: 20.8vw;
  bottom: 20%;
  color: #fff;
  font-size: 34px;
}

.manuf-slide-imgPart img {
  max-width: 100%;
  width: 100%;
}

.manuf-slide-imgPart .video-prev-container {
  max-width: 100%;
}

.manuf-slide-textPart {
  padding-left: 59.5%;
  min-height: 710px;
  height: 100%;
  padding-top: 12.8%;
}

.manuf-slide-textPart .button.slide-button {
  max-width: 280px;
}

.video-prev-container {
  outline: none;
  display: block;
  position: relative;
  z-index: 2;
}

.video-prev-container:after {
  content: "";
  display: block;
  width: 108px;
  height: 76px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/youtube-logo.png);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.video-prev-container:hover:after {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.video-prev-container .button.slide-button {
  max-width: 280px;
}

.js-manufactory-slider .slick-dots {
  left: 20.5vw;
  right: auto;
  bottom: 18.1%;
}

.leaves-r {
  right: 0;
  -webkit-transition: all 4s cubic-bezier(0.53, 1.9, 0.35, 0.89);
  -o-transition: all 4s cubic-bezier(0.53, 1.9, 0.35, 0.89);
  transition: all 4s cubic-bezier(0.53, 1.9, 0.35, 0.89);
}

/*------------------------------ materials section ------------------------------*/
.materials-section {
  padding: 3% 0;
}

.materials-section .heading {
  margin-bottom: 17px;
}

.materials-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -5px;
}

.material-item {
  -ms-flex-preferred-size: 11.11%;
      flex-basis: 11.11%;
  max-width: 11.11%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px 5px;
}

.material-item img {
  max-width: 100%;
}

.material-item h4 {
  font-family: OpenSansBold, sans-serif;
  font-size: 16px;
  color: #0a0a0a;
  margin-bottom: 6%;
  line-height: 1.2;
}

/*------------------------------ about section ------------------------------*/
.about-section {
  margin-bottom: 4.4%;
}

.about-section .wrapper {
  white-space: nowrap;
}

.features-part,
.about-text-part {
  display: inline-block;
  width: 49.9%;
  white-space: normal;
  padding-top: 14%;
}

.features-part h3,
.about-text-part h3 {
  line-height: 1.2;
  margin-bottom: 25px;
  max-width: 55%;
}

.about-text-part {
  position: relative;
  vertical-align: top;
  padding: 14% .8% 6% 9.4%;
}

.about-text-part:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200vw;
  background: #f3f3f3;
  z-index: -1;
}

.about-text-part h2 {
  font-size: 37px;
  margin-bottom: 5%;
}

.about-text-part h4 {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 18px;
  color: #0a0a0a;
  margin-bottom: 6%;
  max-width: 285px;
  line-height: 1.2;
}

.about-text-part p {
  margin-bottom: 5%;
}

.about-text-part .button {
  font-size: 16px;
  width: 255px;
  height: 55px;
  line-height: 55px;
}

.feature-text {
  font-size: 16px;
  color: #000;
  font-family: OpenSansRegular, sans-serif;
}

.feature-img {
  margin-bottom: 17px;
}

.feature-proection {
  margin-bottom: 34px;
}

.proection-img {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -220px;
  width: 63px;
  height: 63px;
}

.time-img {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -293px;
  width: 48px;
  height: 65px;
}

.eco-img {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -368px;
  width: 68px;
  height: 68px;
}

.feature-manufacturing > span {
  display: inline-block;
  margin-right: 14%;
  margin-bottom: 15px;
}

/*------------------------------ testimonials section ------------------------------*/
.tesimonials-section {
  padding: 5% 0 6%;
  background: url(../img/wood.jpg);
}

.testimonials-heading {
  font-family: OpenSansXBold, sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 8px;
}

.testimonials-subheading {
  font-family: OpenSansSemiBold, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  max-width: 285px;
  margin-bottom: 42px;
}

.testimonial-link {
  display: block;
  padding: 10px 15px;
}

.testimonial-link img {
  max-width: 100%;
}

.testimonials-slider-container {
  position: relative;
  margin: 0 -15px;
}

.testimonials-slider-container .wrapper {
  overflow: hidden;
}

.testimonials-slider-container .slick-dots {
  text-align: center;
  padding-top: 20px;
}

.testimonials-slider-container .slick-dots li {
  display: inline-block;
}

.testimonials-slider-container .slick-dots li button {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin: 10px 5px;
  padding: 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.testimonials-slider-container .slick-dots .slick-active button {
  font-family: OpenSansBold, sans-serif;
  border-bottom-color: #fff;
}

.testimonial-arrow {
  position: absolute;
  bottom: 4px;
  display: inline-block;
  opacity: .7;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.testimonial-arrow:hover, .testimonial-arrow:active {
  opacity: 1;
}

.testimonial-prev {
  left: 15px;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -185px;
  width: 42px;
  height: 25px;
}

.testimonial-next {
  right: 15px;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -150px;
  width: 42px;
  height: 25px;
}

.compensate-for-scrollbar {
  margin-right: 0 !important;
}

/*------------------------------ clients section ------------------------------*/
.clients-section {
  padding: 2.8% 0 2.4%;
}

.clients-slider-container {
  position: relative;
}

.clients-slider-container img {
  display: block;
  padding: 10px 50px;
}

.clients-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  opacity: .7;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.clients-arrow:hover, .clients-arrow:active {
  opacity: 1;
}

.clients-prev {
  left: 0;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -90px;
  width: 35px;
  height: 20px;
}

.clients-next {
  right: 0;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -120px;
  width: 35px;
  height: 20px;
}

/*------------------------------ contacts section ------------------------------*/
.contacts-section {
  position: relative;
}

.contacts-section .wrapper {
  position: relative;
}

.map {
  height: 80vh;
  min-height: 240px;
  max-height: 470px;
  background: #888;
}

.main-form-container {
  position: absolute;
  left: 0;
  top: -510px;
  background: #292929;
  padding: 5% 6% 60px;
  width: 445px;
  max-width: 90%;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.form-heading {
  font-family: OpenSansXBold, sans-serif;
  font-size: 24px;
  color: #fff;
  padding-bottom: 7%;
}

.main-form {
  position: relative;
}

.main-form ::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.main-form :-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.main-form ::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.main-form ::placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.main-form input[type="text"],
.main-form input[type="tel"],
.main-form input[type="email"] {
  font-family: OpenSansRegular, sans-serif;
  height: 58px;
  line-height: 38px;
  padding: 15px 0 5px;
  background: transparent;
  width: 100%;
  font-size: 18px;
  margin-bottom: 8.3%;
  border-bottom: 2px solid #e8e8e8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  color: #fff;
}

.main-form input[type="text"]:focus,
.main-form input[type="tel"]:focus,
.main-form input[type="email"]:focus {
  border-color: #739d03;
}

.main-form textarea {
  height: 110px;
  resize: none;
  background: transparent;
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #e8e8e8;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  color: #fff;
  font-family: OpenSansRegular, sans-serif;
  overflow: hidden;
}

.main-form textarea:focus {
  border-color: #739d03;
}

.main-form input[type="submit"] {
  position: absolute;
  right: 0;
  bottom: -100px;
  display: inline-block;
  width: 82px;
  height: 83px;
  border-radius: 50%;
  background: transparent;
  background-image: url(../img/send-btn.png);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

/*------------------------------ footer ------------------------------*/
.footer {
  padding: 4.9% 0 4.5%;
}

.footer-nav li {
  padding: 0 23px;
}

.footer-nav li:last-child {
  padding-right: 0;
}

.footer-top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5.6%;
  border-bottom: 1px solid #7f7f7f;
}

.footer-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  margin: 10px 0 10px;
  font-family: OpenSansLight, sans-serif;
  font-size: 14px;
  color: #191919;
}

.footer-logo {
  max-width: 190px;
}

/*------------------------------ modal form ------------------------------*/
.modal-container {
  display: none;
  position: fixed;
  max-height: 100vh;
  padding-bottom: 55px;
  top: 50%;
  left: 50%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: auto;
  z-index: 8;
}

.modal-container .main-form-container {
  position: relative;
  top: 0;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #739d03;
  font-size: 28px;
  cursor: pointer;
}

/* ==================== Media queries ======================= */
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1400px) {
  .works-slide-textPart,
  .manuf-slide-textPart {
    padding-top: 1%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .wrapper-w {
    width: 96%;
    max-width: 1110px;
  }
  .main-slider-section {
    height: auto;
    max-height: none;
    margin-bottom: 20px;
  }
  .main-slider-item:before {
    display: none;
  }
  .main-slider-heading {
    font-size: 60px;
  }
  .main-slider-text {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .main-slider-item {
    text-align: center;
  }
  .main-slider-img {
    width: 90%;
  }
  .main-slider-heading {
    margin-bottom: 30px;
  }
  .materials-container {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .material-item {
    -ms-flex-preferred-size: 22.22%;
        flex-basis: 22.22%;
    max-width: 22.22%;
  }
  .category-text {
    font-size: 20px;
    max-width: 80%;
    bottom: 3%;
    line-height: 1;
  }
  .collection-link {
    margin-bottom: 40px;
    margin-left: -62px;
  }
  .smallForm-section .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .smallForm-container {
    text-align: center;
  }
  .smallForm-heading {
    margin-bottom: 10px;
  }
  .smallForm-heading,
  .smallForm-container {
    display: block;
    width: 100%;
  }
  .works-slide-imgPart {
    position: static;
  }
  .works-slide-textPart {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .works-slider-item {
    height: auto;
  }
  .works-slide-imgPart .heading {
    font-size: 25px;
    padding-left: 1%;
    bottom: 2%;
  }
  .manuf-slide-imgPart {
    position: static;
  }
  .manuf-slide-imgPart img {
    margin: 0 auto;
  }
  .manuf-slide-textPart {
    padding: 1%;
    min-height: 0px;
  }
  .js-manufactory-slider .slick-dots {
    left: auto;
    right: 43%;
    bottom: 4%;
  }
  .manufactory-section .slider-custom-arrows {
    left: auto;
    right: 21%;
    bottom: 0px;
  }
  .manuf-slide-imgPart .heading {
    font-size: 25px;
    padding-left: 1%;
    bottom: 2%;
    right: auto;
    left: 2%;
  }
  .button.slide-button {
    margin-bottom: 20px;
  }
  .main-form-container {
    position: static;
    margin: 10px auto;
  }
  .leaves {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  .main-slider-heading {
    font-size: 40px;
  }
  .category-item {
    width: 33.3%;
  }
  .works-slider-container .slider-custom-arrows,
  .manufactory-section .slider-custom-arrows {
    position: static;
    margin-top: 15px;
  }
  .js-works-slider .slick-dots,
  .js-manufactory-slider .slick-dots {
    position: static;
  }
  .works-slide-imgPart,
  .manuf-slide-imgPart {
    width: 100%;
  }
  .works-slide-imgPart img,
  .manuf-slide-imgPart img {
    max-height: 100vh;
  }
  .button.slide-button {
    margin-bottom: 25px;
  }
  .features-part,
  .about-text-part {
    padding: 3% 1%;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-logo {
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .footer-nav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer-bottom {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copy {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .header {
    position: relative;
  }
  body {
    padding-top: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .material-item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .about-section .wrapper {
    white-space: normal;
  }
  .features-part, .about-text-part {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  .header-top {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-button,
  .top-contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .header-nav-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-nav-links li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 10px;
    text-align: center;
  }
  .category-item {
    width: 50%;
  }
  .heading {
    font-size: 28px;
  }
  .small-form input {
    display: block;
    width: 100%;
    margin: 0 auto 20px !important;
  }
  .works-slide-textPart,
  .manuf-slide-textPart,
  .features-part,
  .about-text-part {
    text-align: center;
  }
  .manufactory-section .heading,
  .features-part h3,
  .about-text-part h3 {
    max-width: 100%;
  }
  .feature span:not(.feature-img) {
    margin: 10px 15px !important;
    text-align: center;
  }
  .feature-img {
    margin: 0 auto;
  }
  .about-text-part h4 {
    margin: 0 auto 6%;
  }
  .button.slide-button {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .works-slider-item .button {
    width: 150px;
  }
  .testimonials-heading,
  .testimonials-subheading {
    text-align: center;
    max-width: 100%;
  }
  .footer .footer-nav-links {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-nav-links li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    padding: 0 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header.fixed .header-button {
    margin-bottom: 15px;
  }
  .header-nav-links li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main-slider-heading {
    font-size: 24px;
  }
  .main-slider-img {
    max-width: 100%;
  }
  .collection-link {
    padding-left: 0;
    margin-left: -31px;
  }
  .collection-link:before {
    display: none;
  }
  .slider-custom-next,
  .slider-custom-prev {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .material-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .testimonials-heading {
    font-size: 28px;
  }
  .testimonials-subheading {
    font-size: 16px;
  }
  .form-heading {
    font-size: 20px;
  }
  .form-heading {
    font-size: 17px;
  }
}

@media only screen and (max-width: 375px) {
  .category-item {
    width: 100%;
  }
  .material-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .feature {
    text-align: center;
  }
  .feature-manufacturing > span {
    margin-right: 0;
    text-align: center;
  }
  .feature-img {
    margin: 0 auto 17px;
  }
  .features-part h3 {
    max-width: 100%;
    text-align: center;
  }
  .footer .footer-nav-links li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer .phone,
  .footer .mail {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .main-slider-heading {
    left: 150vw;
  }
  .collection-link {
    left: -150vw;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    padding-top: 215px;
  }
}

/*# sourceMappingURL=main.css.map */
