/* ==================== Media queries ======================= */

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	html {
		//font-size: 5px;
	}
	.header-top {
		padding: 10px 0;
	}
	.header-top .wrapper {
		flex-wrap: wrap;
	}
	.header-nav-links a {
		font-size: 16px;
	}
	.top-links {
		order: 2;
		width: 100%;
		padding-top: 20px;
		text-align: center;
	}
	.cost {
		font-size: 26px;
	}
	.footer-left {
		flex-basis: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.footer .work-info,
	.footer .logo-link {
		margin-bottom: 0;
	}
	.footer-right {
		flex-basis: 100%;
	}
	.footer-right-top {
		flex-wrap: wrap;
		margin-bottom: 30px;

	}
	.footer .social {
		order: -1;
		flex-basis: 100%;
		margin-bottom: 15px;
	}
	.footer-nav-list li {
		margin-bottom: 15px;
	}
	.modal {
		width: 560px;
		font-size: 16px;
		letter-spacing: 0px;
		padding: 30px;
		border-width: 7px;
	}
	.modal-heading {
		font-size: 24px;
		letter-spacing: 0px;
	}
	.modal-heading,
	.modal .row,
	.modal .row-justified {
		margin-bottom: 20px;
	}
	.auth-social-cont {
		padding-top: 15px;
	}
	.modal-link {
		margin-left: 6px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.header-bottom.sticky .sticky-logo {
		display: none;
	}
	.header-bottom.sticky .header-nav-links li a {
		font-size: 14px;
	}
	.slider-cont .slick-dots {
		position: static;
		transform: none;
		max-width: 100%;
		text-align: center;
	}
	.slider-cont .slick-dots li {
		width: 12px;
		height: 12px;
		border-width: 2px;
		margin-right: 16px;
	}
	.type-link {
		display: block;
		text-align: center;
		font-size: 26px;
		text-decoration: underline;
		margin: 0 auto 30px;
	}
	.type-link:after {
		display: none;
	}
	.products-cont {
		margin-left: 0;
		margin-right: 0;
	}
	.products-cont:after,
	.item {
		flex-basis: 310px;
		width: 100%;
		max-width: 390px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.item {

		margin-bottom: 30px;
	}
	.right-bordered {
		&:after {
			display: none;
		}
	}
	.cost {
		font-size: 22px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.header-top-r {
		padding-right: 70px;
	}
	.top-links,
	.header .work-info,
	.header .phone-cont,
	.header-bottom {
		display: none;
	}
	.header {
		.logo-link img {
			max-height: 40px;
		}
	}
	.auth-btn {
		height: 43px;
		line-height: 41px;
	}
	.btn-menu {
		display: block;
	}
	.footer-links {
		width: 100%;
	}
	.footer-nav-list {
		width: 33%;
	}
	.modal {
		font-size: 14px;
		border-width: 3px;
		padding: 25px 15px;
	}
	.modal-heading {
		font-size: 18px;
	}
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	.modal input[type="submit"] {
		height: 40px;
		line-height: 38px;
		padding: 0 15px;
		font-size: 14px;
	}
	.modal input[type="checkbox"] + label {
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	.auth-social-cont {
		flex-wrap: wrap;
		padding-top: 0;
		.social {
			padding-top: 20px;
			width: 100%;
		}
	}
	.modal label+span {
		display: inline-block;
		padding-top: 6px;
	}
	// .modal-link {
	// 	text-align: right;
	// 	text-decoration: underline;
	// 	&:after {
	// 		display: none;
	// 	}
	// }
	.authorization-modal {
		.row,
		.row-justified {
			flex-wrap: wrap;
			.modal-link {
				width: 100%;
				margin: 10px 0 0;
				text-decoration: underline;
				&:after {
					display: none;
				}
			}
		}
	}
	.modal .top-padded {
		margin: 10px 0;
	}
	.row .modal-link {
		margin: 7px 0;
	}



	::-webkit-input-placeholder {
	  font-size: 14px;
	}

	::-moz-placeholder {
	  font-size: 14px;
	}

	:-ms-input-placeholder {
	  font-size: 14px;
	}

	::placeholder {
	  font-size: 14px;
	}
}

@media only screen and (max-width : 680px) {
	.footer-links {
		flex-wrap: wrap;
		li {
			flex-basis: 100%;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer-nav-list {
		width: 50%;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.item {
		padding-left: 0;
		padding-right: 0;
		border-bottom: 1px solid #ddd;
	}
	.products-cont:after {
		display: none;
	}
	.footer-nav-list > li:first-child a {
		font-size: 16px;
	}
	.footer-nav-list a {
		font-size: 14px;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.footer-nav-list {
		width: 100%;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {
	.info-btn:hover {
		background-image:url(../img/icons/info-red.png);
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
