
/* ==================== variables ======================= */
$reg: "Helvetica Neue Cyr Regular", sans-serif;
$med: "Helvetica Neue Cyr Medium", sans-serif;
$bold: "Helvetica Neue Cyr Bold", sans-serif;
$light: "Helvetica Neue Cyr Light", sans-serif;
$thin: "Helvetica Neue Cyr Thin", sans-serif;
$gxb: "Gilroy Extra Bold", sans-serif;
$gl: "Gilroy Light", sans-serif;

$red: #e41f28;
$gray: #f5f5f5;

