
/* ==================== fonts ======================= */

@font-face {
	font-family: "FuturaDemiC";
	src: url("../fonts/FuturaDemiC.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FuturaBookC";
	src: url("../fonts/FuturaBookC.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FuturaMediumC";
	src: url("../fonts/FuturaMediumC.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNova-Bold";
	src: url("../fonts/ProximaNova-Bold.woff") format("woff");
	font-style: normal;
	font-weight: bold;
}
