/* ==================== Media queries ======================= */

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1024px) {
	.top-content {
		opacity: 0;
		left: 200vw;
		transition: all 1.5s 1.5s;
		&.visible {
			opacity: 1;
			left: 0;
		}	
	}

	.back-text {
		opacity: 0;
		left: -200vw;
		transition: all 3.5s 2.5s;
		&.visible {
			opacity: 0.05;
			left: 0;
		}
	}

	.top-headings:before {
		opacity: 0;
		animation: opacity 1s 1s;
		animation-fill-mode: forwards;
	}

	.slick-current.slick-active {
	  .slide-back {
	    opacity: 1;
	    //animation: move 15s;

	  }
	}
}
