$futreg: FuturaDemiC, sans-serif;
$futbook: FuturaBookC, sans-serif;
$futmed: FuturaMediumC, sans-serif;
$proxreg: ProximaNova-Regular, sans-serif;
$proxbold: ProximaNova-Bold, sans-serif;

$c1: #1d40dd;
$c2: #292929;

